<?xml version="1.0" encoding="utf-8"?>
<Domain Key="915d0c3a-0000-0000-0000-000000000000" Alias="/change-into-action/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="ef6a9ddd-5683-4bf4-b433-57f9709da781">/Change Into Action</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>