<?xml version="1.0" encoding="utf-8"?>
<Domain Key="730a412d-0000-0000-0000-000000000000" Alias="legacy.wmnetwork.co.uk">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="b2224239-6f8b-4b2c-9e92-0cbe554bf315">/Legacy Wmnetwork (1)</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>