<?xml version="1.0" encoding="utf-8"?>
<Domain Key="d441e51c-0000-0000-0000-000000000000" Alias="/safer-travel/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="fe122f10-4b2d-4c38-b841-a4e3f2f59ef5">/Safer Travel</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>