<?xml version="1.0" encoding="utf-8"?>
<Domain Key="9dba5caf-0000-0000-0000-000000000000" Alias="www.midlandsconnect.uk">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="ba5299dd-422e-4f18-8dbf-d981c34ef23c">/Midlands Connect</Root>
    <SortOrder>2</SortOrder>
  </Info>
</Domain>