@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Wmca.Models.Content;

@{
    var content = (ContentModels.BlogLayoutBlock)Model.Content;
    // var settings = (ContentModels.BlogLayoutBlock)Model.Settings;
    // var contentItem = Umbraco.AssignedContentItem;
    // var homePage = contentItem.Root(); // Get the homepage
    // var siteProps = homePage.ChildrenOfType("siteProperties"); // Get site properties by docType will return null if not found
    // var siteSet = siteProps.First().Children.Where(x => x.ContentType.Alias == "siteSettings").First(); //Get the site setings
}

<main id="ds-main-content" class="ds-container ds-container--main">
    <div class="ds-grid ds-grid--justify-between ds-grid--spacing-2-lg ds-grid--spacing-md-2-lg">
        <div class="ds-col-1 ds-col-md-2-3 main-content">
            <h2>Blog article</h2>
            @content.Content
            @foreach (var blockItem in content.Content)
            {
                var blockItemContent = (ContentModels.BlogLayoutBlock)blockItem.Content;
                <h2>@blockItemContent.Content</h2>
            }
        </div>
        <div class="ds-col-1 ds-col-md-1-3">
            @Html.GetBlockListHtml(content.Sidebar)
        </div>
    </div>
</main>