@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Wmca.Models.Content;

@{
    var content = (ContentModels.VideoBlock)Model.Content;
}

<div class='ds-video-embed'>
  <iframe src='https://www.youtube.com/embed/@content.Youtube' frameborder='0' allowfullscreen></iframe>
</div>