@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
    
<div class="ds-accordion ds-m-b-md">
  <button aria-controls="accordion-01" class="ds-accordion__summary-wrapper" aria-expanded="false">
    <!-- accordion summary -->
    <div class="ds-accordion__summary">
      <h4 class="ds-m-b-none">@Model.Content.Value("accordionTitle")</h4>
    </div>
    <!-- plus icon -->
    <svg class="ds-accordion__icon">
      <use xlink:href="#ds-general-expand" href="#ds-general-expand"></use>
    </svg>
    <!-- minus icon -->
    <svg class="ds-accordion__icon ds-accordion__icon--minimise">
      <use xlink:href="#ds-general-minimise" href="#ds-general-minimise"></use>
    </svg>
  </button>

  <!-- accordion content -->
  <div class="ds-accordion__content" id="accordion-01">
    @Model.Content.Value("accordionContent")
  </div>
</div>