@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var image1 = Model.Content.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("image1");
    var image2 = Model.Content.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("image2");
    var image3 = Model.Content.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("image3");
    
    <div class="ds-grid">
    @if (image1 != null)
    {
        <div class="ds-col-1 ds-col-sm-1-2 ds-col-md-1-3 ds-p-xs">
            <img src="@image1.MediaUrl()" />
        </div>
    } else {
        <p>Missing image</p>
    }
    
    @if (image2 != null)
    {
        <div class="ds-col-1 ds-col-sm-1-2 ds-col-md-1-3 ds-p-xs">
            <img src="@image2.MediaUrl()" />
        </div>
    } else {
        <p>Missing image</p>
    }
    
    @if (image3 != null)
    {
        <div class="ds-col-1 ds-col-sm-1-2 ds-col-md-1-3 ds-p-xs">
            <img src="@image3.MediaUrl()" />
        </div>
    } else {
        <p>Missing image</p>
    }
    </div>
}
