<?xml version="1.0" encoding="utf-8"?>
<User Key="00000003-0000-0000-0000-000000000000" Alias="george.everett@wmca.org.uk">
  <Info>
    <Comments />
    <Name>George Everett</Name>
    <Username>george.everett@wmca.org.uk</Username>
    <Email>george.everett@wmca.org.uk</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-GB</Language>
    <RawPassword>AQAAAAIAAYagAAAAEPtq570C855rXV9V2qfY6zy05hF+9TgKqiU/2O8kB+7f9O1H0GImSRxxZ9y3gU8guQ==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>