<?xml version="1.0" encoding="utf-8"?>
<User Key="00000001-0000-0000-0000-000000000000" Alias="nathan.rogan@wmca.org.uk">
  <Info>
    <Comments />
    <Name>Nathan Rogan</Name>
    <Username>nathan.rogan@wmca.org.uk</Username>
    <Email>nathan.rogan@wmca.org.uk</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-GB</Language>
    <RawPassword>AQAAAAIAAYagAAAAEOX4I3GfAJVShPnrHMr0p39y9XLpx/Smsba5tmVMqv6GMfrU0BF3sn5HoVXFyvMv7w==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>