<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="website@wmca.org.uk">
  <Info>
    <Comments />
    <Name>Webmaster</Name>
    <Username>website@wmca.org.uk</Username>
    <Email>website@wmca.org.uk</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEG57999p32zpzesiYTTw4i+n8ttjX1jcw/QtF6Cnbob6HVWW6zlbH2C2f5GePLMECw==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>