<div class="umb-property-editor umb-prevalues-multivalues cd-prevalues-editor" ng-controller="Our.Umbraco.ConditionalDisplayers.cdMultiValuesController">
    <div class="control-group umb-prevalues-multivalues__add cd-prevalues-multivalues">
        <div class="umb-prevalues-multivalues__left cd-prevalues-multivalues__first">
            <label>Value</label>
            <input overlay-submit-on-enter="false" name="newItem" focus-when="{{focusOnNew}}" ng-keydown="createNew($event)" type="text" ng-model="newItem.value" val-highlight="{{hasError}}" />
        </div>
        <div class="umb-prevalues-multivalues__left cd-prevalue-wrap__first">
            <label>Show when selected</label>
            <input type="text" ng-model="newItem.show" val-server="item_{{$index}}" placeholder="Properties' aliases" />
        </div>
        <div class="umb-prevalues-multivalues__left cd-prevalue-wrap__last">
            <label>Hide when selected</label>
            <input type="text" ng-model="newItem.hide" val-server="item_{{$index}}" placeholder="Properties' aliases" />
        </div>
        <div class="align-bottom umb-prevalues-multivalues__right">
            <button class="btn btn-info align-bottom" ng-click="add($event)">Add</button>
        </div>
    </div>
    <div ui-sortable="sortableOptions" class="control-group cd-prevalues-sortable">
        <div class="control-group umb-prevalues-multivalues__listitem cd-prevalues-multivalues" ng-repeat="item in model.value">
            <i class="icon icon-navigation handle"></i>
            <div class="umb-prevalues-multivalues__left cd-prevalues-multivalues__first">
                <input type="text" ng-model="item.value" val-server="item_{{$index}}" />
            </div>
            <div class="umb-prevalues-multivalues__left cd-prevalue-wrap__first">
                <input type="text" ng-model="item.show" val-server="item_{{$index}}" placeholder="Properties' aliases" />
            </div>
            <div class="umb-prevalues-multivalues__left cd-prevalue-wrap__last">
                <input type="text" ng-model="item.hide" val-server="item_{{$index}}" placeholder="Properties' aliases" />
            </div>
            <div class="umb-prevalues-multivalues__right">
                <button class="umb-node-preview__action umb-node-preview__action--red" ng-click="remove(item, $event)">Remove</button>
            </div>
        </div>
    </div>
</div>
