<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb34c6c1-0cb4-42df-83f4-21d808f4be5d" Alias="IMG 6978" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG6978</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-09T12:02:54</CreateDate>
    <NodeName Default="IMG 6978" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Mountain view 6978]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y5ddjs3u/img_6978.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>