<?xml version="1.0" encoding="utf-8"?>
<Media Key="3367be64-8431-45bd-803a-170abe8e17ef" Alias="IMG 7377" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG7377</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T09:07:15</CreateDate>
    <NodeName Default="IMG 7377" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Sea View]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mk5gomzr/img_7377.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>