<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e459a8e-f427-4299-b6f8-cf5c7f873959" Alias="Lukas Blazek Gnvurwjskay Unsplash" Level="5">
  <Info>
    <Parent Key="15a2a141-06dc-4446-a9fd-6e30e8e46ced">Placeholders</Parent>
    <Path>/Media/WMCA/Blog/Placeholders/LukasBlazekGnvurwjskayUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-16T09:18:42</CreateDate>
    <NodeName Default="Lukas Blazek Gnvurwjskay Unsplash" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rcnekxrh/lukas-blazek-gnvurwjskay-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>