<?xml version="1.0" encoding="utf-8"?>
<Media Key="74c1c78a-7409-4597-9c1b-08b1f6a07a2c" Alias="Newark Report" Level="5">
  <Info>
    <Parent Key="49db9636-36fc-46a2-8f15-4767e609b01f">Publications</Parent>
    <Path>/Media/MidlandsConnect/Documents/Publications/NewarkReport</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-24T12:27:06</CreateDate>
    <NodeName Default="Newark Report" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/utdnc3aj/newark-report.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>