<?xml version="1.0" encoding="utf-8"?>
<Media Key="750d0979-a6c1-4a2e-a6ae-4112cd826659" Alias="Nick Abell" Level="4">
  <Info>
    <Parent Key="8a84b833-e037-4787-8d8c-5fff749c93dc">Biographies</Parent>
    <Path>/Media/MidlandsConnect/Biographies/NickAbell</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T11:04:46</CreateDate>
    <NodeName Default="Nick Abell" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Portrait photo of Nick Abell]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p2eb03ob/nick-abell.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>