<?xml version="1.0" encoding="utf-8"?>
<Media Key="17955805-33f7-416c-8228-35643870a1f1" Alias="Partners" Level="3">
  <Info>
    <Parent Key="fa42d7f6-b8d5-4730-bf44-0a66e395f888">Safer Travel</Parent>
    <Path>/Media/SaferTravel/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-23T11:13:30</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>