<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed6ff049-cd55-48ce-b084-80af7c7316bf" Alias="Rail" Level="5">
  <Info>
    <Parent Key="34104160-1866-4fb4-a242-1c09dd41972e">Projects</Parent>
    <Path>/Media/MidlandsConnect/AboutUs/Projects/Rail</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-05T11:30:59</CreateDate>
    <NodeName Default="Rail" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>