<?xml version="1.0" encoding="utf-8"?>
<Media Key="127ec148-673b-44b2-b7e6-1decc122f809" Alias="Road" Level="5">
  <Info>
    <Parent Key="34104160-1866-4fb4-a242-1c09dd41972e">Projects</Parent>
    <Path>/Media/MidlandsConnect/AboutUs/Projects/Road</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-08T08:47:37</CreateDate>
    <NodeName Default="Road" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>