<?xml version="1.0" encoding="utf-8"?>
<User Key="00000007-0000-0000-0000-000000000000" Alias="EveMills@midlandsconnect.uk">
  <Info>
    <Comments />
    <Name>Eve Mills</Name>
    <Username>EveMills@midlandsconnect.uk</Username>
    <Email>EveMills@midlandsconnect.uk</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>___UIDEMPTYPWORD__AQAAAAIAAYagAAAAEOKdgIxd1ilmVEmJXh3vf5l0NzbOM89b/0534N/uSDCq0eH5ReFEB6eLp9V8b1hDsA==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>editorsMC</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>