<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="b4fb2188-0000-0000-0000-000000000000" Alias="editorsWMCABlog">
  <Info>
    <Sections>content,media</Sections>
    <Icon>icon-users</Icon>
    <Name>Umbraco Multisite - Editors - WMCA – Blog</Name>
    <StartContentId>c66668c7-dfd8-4362-8b7f-60d466b2846d</StartContentId>
    <StartMediaId>1e85a3b9-5246-4955-9f88-f6f92854ed12</StartMediaId>
    <Permission><![CDATA[K,F,ï,D,C,N,U,Z,A,O,M,S]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>false</HasAccessToAllLanguages>
  </Languages>
</UserGroup>