<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="d1ed9b67-0000-0000-0000-000000000000" Alias="SeoToolkit">
  <Info>
    <Sections>SeoToolkit</Sections>
    <Icon>icon-globe-alt</Icon>
    <Name>SEO Toolkit</Name>
    <StartContentId>fffffff6-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>fffffff6-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>false</HasAccessToAllLanguages>
  </Languages>
</UserGroup>