<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="f4967b63-0000-0000-0000-000000000000" Alias="writersST">
  <Info>
    <Sections>content,media</Sections>
    <Icon>icon-users</Icon>
    <Name>Umbraco Multisite - Writers – ST</Name>
    <StartContentId>fe122f10-4b2d-4c38-b841-a4e3f2f59ef5</StartContentId>
    <StartMediaId>fa42d7f6-b8d5-4730-bf44-0a66e395f888</StartMediaId>
    <Permission><![CDATA[F,C,H,A]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>false</HasAccessToAllLanguages>
  </Languages>
</UserGroup>