<?xml version="1.0" encoding="utf-8"?>
<Media Key="9cd65c8e-f33d-444b-a289-3dee8d231316" Alias="37267 1" Level="4">
  <Info>
    <Parent Key="d1f8e910-fbe5-49d3-b6a3-e4f3c2528e27">Images</Parent>
    <Path>/Media/MidlandsConnect/Images/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:53:51</CreateDate>
    <NodeName Default="37267 1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rbonnhb3/37267-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>