<?xml version="1.0" encoding="utf-8"?>
<Media Key="9958fbb3-4f98-4155-99fe-a76cb6e8aa04" Alias="81901 Tfem Mc Joint Priorities Summary 2022 Final" Level="6">
  <Info>
    <Parent Key="07e387ec-7f0d-40fb-99d1-d9d5254c3968">PDFs</Parent>
    <Path>/Media/MidlandsConnect/Documents/Publications/PDFs/TfemMcJointPrioritiesSummary2022Final</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-26T17:02:50</CreateDate>
    <NodeName Default="81901 Tfem Mc Joint Priorities Summary 2022 Final" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tx3frgmy/81901_tfem-mc_joint_priorities_summary_2022_final.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>