<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3db1965-50b8-482b-a2da-b07fba0217b4" Alias="A46 Evesham 0004" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/A46Evesham0004</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-29T14:30:01</CreateDate>
    <NodeName Default="A46 Evesham 0004" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Roundabout on A46 at Evesham]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mmmnx23y/a46-evesham-0004.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>