<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e24907e-4d23-4453-a930-a17b1d26ec87" Alias="A46 Newark Bypass" Level="6">
  <Info>
    <Parent Key="127ec148-673b-44b2-b7e6-1decc122f809">Road</Parent>
    <Path>/Media/MidlandsConnect/AboutUs/Projects/Road/A46NewarkBypass</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T09:35:17</CreateDate>
    <NodeName Default="A46 Newark Bypass" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Aerial shot of A46 Newark Bypass]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pcicidrd/a46-newark-bypass.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>