<?xml version="1.0" encoding="utf-8"?>
<Media Key="820d3aae-1f7c-44ae-8e2a-1cb6401b450b" Alias="A5 A426 Gibbet Hill Junction" Level="6">
  <Info>
    <Parent Key="127ec148-673b-44b2-b7e6-1decc122f809">Road</Parent>
    <Path>/Media/MidlandsConnect/AboutUs/Projects/Road/A5A426GibbetHillJunction</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T09:35:40</CreateDate>
    <NodeName Default="A5 A426 Gibbet Hill Junction" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Aerial shot of A5 A426, also known as Gibbet Hill Junction]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/va3a1at2/a5-a426-gibbet-hill-junction.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>