<?xml version="1.0" encoding="utf-8"?>
<Media Key="f191b405-29e1-4436-aa5d-812b1d603935" Alias="A50 A500 Sideway Roundabout 0003 (1)" Level="6">
  <Info>
    <Parent Key="127ec148-673b-44b2-b7e6-1decc122f809">Road</Parent>
    <Path>/Media/MidlandsConnect/AboutUs/Projects/Road/A50A500SidewayRoundabout00031</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T14:20:52</CreateDate>
    <NodeName Default="A50 A500 Sideway Roundabout 0003 (1)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ao0jd2pb/a50_a500-sideway-roundabout-0003-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>