<?xml version="1.0" encoding="utf-8"?>
<Media Key="8efc8699-dce5-4a0d-9166-77b54b19da48" Alias="A50 Central Section Derby Uttoxeter" Level="6">
  <Info>
    <Parent Key="127ec148-673b-44b2-b7e6-1decc122f809">Road</Parent>
    <Path>/Media/MidlandsConnect/AboutUs/Projects/Road/A50CentralSectionDerbyUttoxeter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T09:35:11</CreateDate>
    <NodeName Default="A50 Central Section Derby Uttoxeter" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Aerial shot of A50 at Derby]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t4dpzdxf/a50-central-section-derby-uttoxeter.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>