<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d96be2e-f247-484f-9b96-91d8c0be12f8" Alias="A614 A6097 3" Level="6">
  <Info>
    <Parent Key="127ec148-673b-44b2-b7e6-1decc122f809">Road</Parent>
    <Path>/Media/MidlandsConnect/AboutUs/Projects/Road/A614A60973</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-26T16:19:12</CreateDate>
    <NodeName Default="A614 A6097 3" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fc5jmxkh/a614-a6097-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>