<?xml version="1.0" encoding="utf-8"?>
<Media Key="a50fb39a-53cc-4159-bc71-98b914fbd717" Alias="Alternative Fuels Summary Report" Level="6">
  <Info>
    <Parent Key="07e387ec-7f0d-40fb-99d1-d9d5254c3968">PDFs</Parent>
    <Path>/Media/MidlandsConnect/Documents/Publications/PDFs/AlternativeFuelsSummaryReport</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-26T17:02:30</CreateDate>
    <NodeName Default="Alternative Fuels Summary Report" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wszb5jom/alternative-fuels-summary-report.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>