<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1099891-f1b8-45be-853e-0e4c81f6600a" Alias="Alternative Fuels Summary Report" Level="5">
  <Info>
    <Parent Key="49db9636-36fc-46a2-8f15-4767e609b01f">Publications</Parent>
    <Path>/Media/MidlandsConnect/Documents/Publications/AlternativeFuelsSummaryReport</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-01-26T16:20:53</CreateDate>
    <NodeName Default="Alternative Fuels Summary Report" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rgmatuny/alternative-fuels-summary-report.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>