<?xml version="1.0" encoding="utf-8"?>
<Media Key="f065e12d-1e49-4aa8-954e-9b14d93fd981" Alias="Andy Clark" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/AndyClark</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-18T14:15:13</CreateDate>
    <NodeName Default="Andy Clark" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Andy Clark]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fpqhl2cj/andy-clark-2.jpg",
  "crops": [
    {
      "alias": "Banner",
      "coordinates": {
        "x1": 0,
        "y1": 0.16704689502328704,
        "x2": 0,
        "y2": 0.5002811473047553
      }
    },
    {
      "alias": "Content Card - Square",
      "coordinates": {
        "x1": 0,
        "y1": 0.03448226953828835,
        "x2": 0,
        "y2": 0.3001738151177963
      }
    },
    {
      "alias": "Content Card - Rectangle",
      "coordinates": {
        "x1": 0,
        "y1": 0.1682806599556103,
        "x2": 0,
        "y2": 0.45746338766343736
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>