<?xml version="1.0" encoding="utf-8"?>
<Media Key="6593db1e-b205-468c-bec5-982f926af68c" Alias="Announcement 20240229 1" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/Announcement202402291</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-05T15:27:08</CreateDate>
    <NodeName Default="Announcement 20240229 1" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ddnjgzif/announcement-20240229-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>