<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba29603e-1701-434d-b98b-3096ef4b9a93" Alias="Avon Mill Hunters Lane 2" Level="6">
  <Info>
    <Parent Key="127ec148-673b-44b2-b7e6-1decc122f809">Road</Parent>
    <Path>/Media/MidlandsConnect/AboutUs/Projects/Road/AvonMillHuntersLane2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-26T16:29:22</CreateDate>
    <NodeName Default="Avon Mill Hunters Lane 2" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hbqctoqb/avon-mill-hunters-lane-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>