<?xml version="1.0" encoding="utf-8"?>
<Media Key="055a7e70-4919-4200-b263-af36c1517ef0" Alias="Bc040 Midlands Connect Glossy Report Web Accessibility" Level="5">
  <Info>
    <Parent Key="49db9636-36fc-46a2-8f15-4767e609b01f">Publications</Parent>
    <Path>/Media/MidlandsConnect/Documents/Publications/Bc040MidlandsConnectGlossyReportWebAccessibility</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-26T16:55:50</CreateDate>
    <NodeName Default="Bc040 Midlands Connect Glossy Report Web Accessibility" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lz5fubiz/bc040-midlands-connect-glossy-report-web-accessibility.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>