<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0ac3307-ecb2-44bd-9445-e5324b81377a" Alias="Bcc Logo" Level="4">
  <Info>
    <Parent Key="35124d03-6f61-4709-b374-452cac2d2f3f">Partners</Parent>
    <Path>/Media/ChangeIntoAction/Partners/BccLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-07-22T12:54:54</CreateDate>
    <NodeName Default="Bcc Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gyzlzmfs/bcc-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>