<?xml version="1.0" encoding="utf-8"?>
<Media Key="d250f7e6-06c2-495b-815e-b772185c3a2d" Alias="BHAM MOOR ST 0010" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/BHAMMOORST0010</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-06T15:16:21</CreateDate>
    <NodeName Default="BHAM MOOR ST 0010" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Train pulled in at Birmingham Moor Street.]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2d1fbuwc/bham_moor_st_0010.jpg",
  "crops": [
    {
      "alias": "Content Card - Square",
      "coordinates": {
        "x1": 0.03443453825259055,
        "y1": 0,
        "x2": 0.35958992535278334,
        "y2": 0
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>