<?xml version="1.0" encoding="utf-8"?>
<Media Key="bba2e93c-2942-44d2-b249-5f8bae41412b" Alias="Bharat Pathania (1)" Level="4">
  <Info>
    <Parent Key="8a84b833-e037-4787-8d8c-5fff749c93dc">Biographies</Parent>
    <Path>/Media/MidlandsConnect/Biographies/BharatPathania1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-02T12:08:02</CreateDate>
    <NodeName Default="Bharat Pathania (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Bharat Pathania]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hlulfo0c/bharat-pathania.jpg",
  "crops": [
    {
      "alias": "Content Card - Square",
      "coordinates": {
        "x1": 0,
        "y1": 0,
        "x2": 0,
        "y2": 0.3346560846560847
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>