<?xml version="1.0" encoding="utf-8"?>
<Media Key="380d379c-11f5-4a38-a76d-ab73582b91b8" Alias="Bharat Pathania" Level="4">
  <Info>
    <Parent Key="8a84b833-e037-4787-8d8c-5fff749c93dc">Biographies</Parent>
    <Path>/Media/MidlandsConnect/Biographies/BharatPathania</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-01T10:47:42</CreateDate>
    <NodeName Default="Bharat Pathania" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Bharat Pathania]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ti1b0ohv/bharat-pathania.jpg",
  "crops": [
    {
      "alias": "Content Card - Square",
      "coordinates": {
        "x1": 0.1026435725271015,
        "y1": 0,
        "x2": 0.06513278817660073,
        "y2": 0.44628506538883894
      }
    },
    {
      "alias": "Content Card - Rectangle",
      "coordinates": {
        "x1": 0,
        "y1": 0.024213268177908025,
        "x2": 0,
        "y2": 0.6015307794411395
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>