<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b6eb059-8a85-4fbb-a231-97da06da3dd3" Alias="Birmingham New Street" Level="4">
  <Info>
    <Parent Key="a53cfb0d-207d-4db1-b38a-eacda7370b36">News</Parent>
    <Path>/Media/MidlandsConnect/News/BirminghamNewStreet</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-01T12:47:43</CreateDate>
    <NodeName Default="Birmingham New Street" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Concourse at Birmingham New Street Station]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l4yg242f/birmingham-new-street.jpg",
  "crops": [
    {
      "alias": "Banner",
      "coordinates": {
        "x1": 0,
        "y1": 0.12522510822510827,
        "x2": 0,
        "y2": 0.12477489177489176
      }
    },
    {
      "alias": "Content Card - Square",
      "coordinates": {
        "x1": 0.08447463258546388,
        "y1": 0,
        "x2": 0.24885870074786945,
        "y2": 0
      }
    },
    {
      "alias": "Content Card - Rectangle",
      "coordinates": {
        "x1": 0,
        "y1": 0.07835254850088182,
        "x2": 0,
        "y2": 0.07789745149911813
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>