<?xml version="1.0" encoding="utf-8"?>
<Media Key="9aaf7ea9-d6cb-41fd-b82a-9591598fc6d0" Alias="Birmingham New Street" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/BirminghamNewStreet</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-06T15:16:20</CreateDate>
    <NodeName Default="Birmingham New Street" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Concourse at Birmingham New Street]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v35k5gwl/birmingham-new-street.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>