<?xml version="1.0" encoding="utf-8"?>
<Media Key="c33f5938-6a71-4d91-a2ee-fc703205de21" Alias="Birmingham Aerial Shot" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/BirminghamAerialShot</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-29T14:40:30</CreateDate>
    <NodeName Default="Birmingham Aerial Shot" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Aerial photo of Birmingham city centre]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hzmd5q1r/birmingham-aerial-shot.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>