<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e85a3b9-5246-4955-9f88-f6f92854ed12" Alias="Blog" Level="3">
  <Info>
    <Parent Key="3d53df0e-2dc0-485b-87d5-e6e6d4880af5">WMCA</Parent>
    <Path>/Media/WMCA/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-16T09:18:16</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>