<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ffdf28d-2919-4798-88fe-4fe5779381ff" Alias="Btp Logo" Level="4">
  <Info>
    <Parent Key="17955805-33f7-416c-8228-35643870a1f1">Partners</Parent>
    <Path>/Media/SaferTravel/Partners/BtpLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-23T11:13:44</CreateDate>
    <NodeName Default="Btp Logo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rpzp05yz/btp-logo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>