<?xml version="1.0" encoding="utf-8"?>
<Media Key="faa4d5cf-c17d-4912-8f31-2289ce4e8df7" Alias="Btp Logo 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BtpLogo1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-04T17:09:47</CreateDate>
    <NodeName Default="Btp Logo 1" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zhklj4t3/btp-logo-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>