<?xml version="1.0" encoding="utf-8"?>
<Media Key="441b7e13-20fc-4bf7-afb1-7d7438d0b4e8" Alias="Caution" Level="4">
  <Info>
    <Parent Key="a7199340-d449-41a6-86dc-029ea3cc3a9a">What we do</Parent>
    <Path>/Media/SaferTravel/WhatWeDo/Caution</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-25T16:06:14</CreateDate>
    <NodeName Default="Caution" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cv5bwrh2/caution.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>