<?xml version="1.0" encoding="utf-8"?>
<Media Key="8922164a-bfff-471a-8d5c-1d0b2dea2284" Alias="Chesterfield 0018" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/Chesterfield0018</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-06T15:16:22</CreateDate>
    <NodeName Default="Chesterfield 0018" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Passengers boarding a train pulled in at Chesterfield station]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jqlcfcp5/chesterfield-0018.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>