<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb6521fd-b277-4aca-9663-da17d70322a3" Alias="Cia Outside On Street Looking At Bag" Level="3">
  <Info>
    <Parent Key="cdd43217-b0fd-4239-bbec-363f53203eaa">Change Into Action</Parent>
    <Path>/Media/ChangeIntoAction/CiaOutsideOnStreetLookingAtBag</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-23T10:33:22</CreateDate>
    <NodeName Default="Cia Outside On Street Looking At Bag" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5mqhlo1x/cia-outside-on-street-looking-at-bag.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>