<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d4f565e-feb6-4945-9943-11ecff88242d" Alias="Coventry 027" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/Coventry027</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-06T15:16:25</CreateDate>
    <NodeName Default="Coventry 027" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Train pulled in at Coventry station]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lble45nw/coventry-027.jpg",
  "crops": [
    {
      "alias": "Banner",
      "coordinates": {
        "x1": 2.360714935516E-16,
        "y1": 0.09939327562885873,
        "x2": 0,
        "y2": 0.09867987917192526
      }
    },
    {
      "alias": "Content Card - Square",
      "coordinates": {
        "x1": 0.1467794060383222,
        "y1": 0,
        "x2": 0.22972232477006727,
        "y2": 1.121725088521E-16
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>