<?xml version="1.0" encoding="utf-8"?>
<Media Key="3717c59e-6b53-4fe7-9900-581c1366bf93" Alias="Doughnut Economics 2" Level="4">
  <Info>
    <Parent Key="cd01ebd9-1e9a-4574-a6d6-fd5e24070143">Inclusive Growth</Parent>
    <Path>/Media/Blog/InclusiveGrowth/DoughnutEconomics2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-17T08:59:43</CreateDate>
    <NodeName Default="Doughnut Economics 2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tdcbon0t/doughnut-economics-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>