<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d8daed5-c0b9-4abc-9f9e-dcff64533152" Alias="EV Charging 3 (2)" Level="5">
  <Info>
    <Parent Key="34104160-1866-4fb4-a242-1c09dd41972e">Projects</Parent>
    <Path>/Media/MidlandsConnect/AboutUs/Projects/EVCharging32</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-27T11:18:00</CreateDate>
    <NodeName Default="EV Charging 3 (2)" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0oxi01nz/ev-charging-3-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>