<?xml version="1.0" encoding="utf-8"?>
<Media Key="76665d67-fc58-4fa3-a1fe-e22af5a8e27f" Alias="EV Charging" Level="4">
  <Info>
    <Parent Key="a53cfb0d-207d-4db1-b38a-eacda7370b36">News</Parent>
    <Path>/Media/MidlandsConnect/News/EVCharging</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-01T13:04:59</CreateDate>
    <NodeName Default="EV Charging" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mfohm3sy/ev-charging.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>