<?xml version="1.0" encoding="utf-8"?>
<Media Key="df3473b2-46f3-4846-8eca-9b984f5c181a" Alias="Favicon" Level="4">
  <Info>
    <Parent Key="d1f8e910-fbe5-49d3-b6a3-e4f3c2528e27">Images</Parent>
    <Path>/Media/MidlandsConnect/Images/Favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-06T14:40:22</CreateDate>
    <NodeName Default="Favicon" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wrzdjx5t/favicon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>