<?xml version="1.0" encoding="utf-8"?>
<Media Key="d050492e-20d9-48bb-81a7-316a7b0e49b6" Alias="General Bus (2)" Level="4">
  <Info>
    <Parent Key="e1b391fc-7498-4984-be8a-fb6a0bbd059b">Transport</Parent>
    <Path>/Media/Blog/Transport/GeneralBus2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-22T15:37:56</CreateDate>
    <NodeName Default="General Bus (2)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fbefbugz/general-bus-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>