<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bdabb2a-daeb-406d-9692-a2d73d66ee46" Alias="Health and wellbeing" Level="3">
  <Info>
    <Parent Key="1e85a3b9-5246-4955-9f88-f6f92854ed12">Blog</Parent>
    <Path>/Media/Blog/HealthAndWellbeing</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-15T14:17:36</CreateDate>
    <NodeName Default="Health and wellbeing" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>