<?xml version="1.0" encoding="utf-8"?>
<Media Key="15e4246a-0a4f-44ae-9b75-8a83b4163dd8" Alias="IMG 6912" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG6912</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-09T10:11:13</CreateDate>
    <NodeName Default="IMG 6912" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Mountain View]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nqsoifkp/img_6912.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>