<?xml version="1.0" encoding="utf-8"?>
<Media Key="3637729c-b038-44ed-ab14-04f4961edb6a" Alias="IMG 2010" Level="4">
  <Info>
    <Parent Key="94260d40-3494-4614-a533-45920ab0448f">ESHC</Parent>
    <Path>/Media/Blog/ESHC/IMG2010</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-02-29T13:45:13</CreateDate>
    <NodeName Default="IMG 2010" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qrzdonry/img_2010.heic]]></Value>
    </umbracoFile>
  </Properties>
</Media>