<?xml version="1.0" encoding="utf-8"?>
<Media Key="bca04d5e-1bb6-4b18-b61b-fb228b335d41" Alias="Inclusive Growth" Level="4">
  <Info>
    <Parent Key="cd01ebd9-1e9a-4574-a6d6-fd5e24070143">Inclusive Growth</Parent>
    <Path>/Media/Blog/InclusiveGrowth/InclusiveGrowth</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-05T15:41:06</CreateDate>
    <NodeName Default="Inclusive Growth" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lbglbpfw/inclusive-growth.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>