<?xml version="1.0" encoding="utf-8"?>
<Media Key="6678344f-fc10-40ad-8379-6766c57d5e9f" Alias="Inclusive Growth Doughnut" Level="4">
  <Info>
    <Parent Key="cd01ebd9-1e9a-4574-a6d6-fd5e24070143">Inclusive Growth</Parent>
    <Path>/Media/Blog/InclusiveGrowth/InclusiveGrowthDoughnut</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-04T16:31:00</CreateDate>
    <NodeName Default="Inclusive Growth Doughnut" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/je0hqzqq/inclusive-growth-doughnut.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>