<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd01ebd9-1e9a-4574-a6d6-fd5e24070143" Alias="Inclusive Growth" Level="3">
  <Info>
    <Parent Key="1e85a3b9-5246-4955-9f88-f6f92854ed12">Blog</Parent>
    <Path>/Media/Blog/InclusiveGrowth</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-04T16:30:16</CreateDate>
    <NodeName Default="Inclusive Growth" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>