<?xml version="1.0" encoding="utf-8"?>
<Media Key="97e11ecf-4da8-47cb-bfd9-9a7c58694fbc" Alias="Jess Bailey Q10vitrvyum Unsplash" Level="5">
  <Info>
    <Parent Key="15a2a141-06dc-4446-a9fd-6e30e8e46ced">Placeholders</Parent>
    <Path>/Media/WMCA/Blog/Placeholders/JessBaileyQ10vitrvyumUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-16T09:18:42</CreateDate>
    <NodeName Default="Jess Bailey Q10vitrvyum Unsplash" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zepodf3i/jess-bailey-q10vitrvyum-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>