<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe4dbec8-3eeb-47e9-8547-8beb7fdd2aea" Alias="Karen Heppenstall Headshot" Level="4">
  <Info>
    <Parent Key="8a84b833-e037-4787-8d8c-5fff749c93dc">Biographies</Parent>
    <Path>/Media/MidlandsConnect/Biographies/KarenHeppenstallHeadshot</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-01T10:46:22</CreateDate>
    <NodeName Default="Karen Heppenstall Headshot" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Karen Heppenstall]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z05e15xl/karen-heppenstall-headshot.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>