<?xml version="1.0" encoding="utf-8"?>
<Media Key="68ca105d-b0be-477f-93bd-203906b6f95a" Alias="Levelling Up Lessons From Germany" Level="4">
  <Info>
    <Parent Key="cd01ebd9-1e9a-4574-a6d6-fd5e24070143">Inclusive Growth</Parent>
    <Path>/Media/Blog/InclusiveGrowth/LevellingUpLessonsFromGermany</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-01T09:04:14</CreateDate>
    <NodeName Default="Levelling Up Lessons From Germany" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lmimu0f4/levelling-up-lessons-from-germany.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>