<?xml version="1.0" encoding="utf-8"?>
<Media Key="dca5e0dd-847c-4f29-8bbf-7d9bbe903252" Alias="Lincoln 0009" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/Lincoln0009</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-06T15:16:24</CreateDate>
    <NodeName Default="Lincoln 0009" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Train pulled in at Lincoln station]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1pqklxd2/lincoln-0009.jpg",
  "crops": [
    {
      "alias": "Content Card - Square",
      "coordinates": {
        "x1": 0.3401930945967687,
        "y1": 0,
        "x2": 0.029835828035190862,
        "y2": 0
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>