<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e091544-47f8-414a-88ab-39bd0d93e551" Alias="M1junc 28 0001" Level="4">
  <Info>
    <Parent Key="a53cfb0d-207d-4db1-b38a-eacda7370b36">News</Parent>
    <Path>/Media/MidlandsConnect/News/M1junc280001</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-01T12:52:31</CreateDate>
    <NodeName Default="M1junc 28 0001" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Aerial photo of junction 28 of M1]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iikbs1xy/m1junc-28-0001.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>