<?xml version="1.0" encoding="utf-8"?>
<Media Key="229acc2e-332a-4ddd-a296-63299908f1b9" Alias="M1junc 28 0004" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/M1junc280004</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-29T14:35:30</CreateDate>
    <NodeName Default="M1junc 28 0004" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Junction 28 between M1 and A38]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fdgjuirk/m1junc-28-0004.jpg",
  "crops": [
    {
      "alias": "Content Card - Square",
      "coordinates": {
        "x1": 0.09670212225093094,
        "y1": 0,
        "x2": 0.15335261827895746,
        "y2": 1.121725088521125E-16
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>