<?xml version="1.0" encoding="utf-8"?>
<Media Key="87ec7935-0141-4b6d-8e62-7eed77460b56" Alias="M6 Junction 15 To 16" Level="6">
  <Info>
    <Parent Key="127ec148-673b-44b2-b7e6-1decc122f809">Road</Parent>
    <Path>/Media/MidlandsConnect/AboutUs/Projects/Road/M6Junction15To16</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T09:35:39</CreateDate>
    <NodeName Default="M6 Junction 15 To 16" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Aerial shot of M6 Junction 15 to 16]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gn2pzb0b/m6-junction-15-to-16.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>