<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ec4ad88-5b4c-4234-af2a-6354dd0cbdab" Alias="Marten Bjork Rh8o0fhfpfw Unsplash" Level="4">
  <Info>
    <Parent Key="15a2a141-06dc-4446-a9fd-6e30e8e46ced">Placeholders</Parent>
    <Path>/Media/Blog/Placeholders/MartenBjorkRh8o0fhfpfwUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-16T09:18:42</CreateDate>
    <NodeName Default="Marten Bjork Rh8o0fhfpfw Unsplash" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r0wnilsm/marten-bjork-rh8o0fhfpfw-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>