<?xml version="1.0" encoding="utf-8"?>
<Media Key="11fbbc63-3916-4198-b9d5-4d8946b666fe" Alias="Midlands Rail Hub: A Summary of Our Outline Business Case" Level="5">
  <Info>
    <Parent Key="49db9636-36fc-46a2-8f15-4767e609b01f">Publications</Parent>
    <Path>/Media/MidlandsConnect/Documents/Publications/MidlandsRailHubASummaryOfOurOutlineBusinessCase</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-01-26T16:35:50</CreateDate>
    <NodeName Default="Midlands Rail Hub: A Summary of Our Outline Business Case" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/po4pweiw/midlands-connect-mrh-report-accessibilitychecked.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>