<?xml version="1.0" encoding="utf-8"?>
<Media Key="88bc1be8-3815-40a9-98a0-1059aad2100b" Alias="Midlands Connect Summary Document" Level="4">
  <Info>
    <Parent Key="0697e180-5d46-4fdf-b5a5-f23401d8063d">Documents</Parent>
    <Path>/Media/MidlandsConnect/Documents/MidlandsConnectSummaryDocument</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-11-13T16:59:09</CreateDate>
    <NodeName Default="Midlands Connect Summary Document" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yynlzcav/midlands-connect-summary-document.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>