<?xml version="1.0" encoding="utf-8"?>
<Media Key="b88fb060-b490-48ec-969d-6d08874aba7c" Alias="Mike Bull" Level="4">
  <Info>
    <Parent Key="8a84b833-e037-4787-8d8c-5fff749c93dc">Biographies</Parent>
    <Path>/Media/MidlandsConnect/Biographies/MikeBull</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-04T12:06:07</CreateDate>
    <NodeName Default="Mike Bull" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m0yi5oeq/mike-bull.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>