<?xml version="1.0" encoding="utf-8"?>
<Media Key="28600681-ab61-4865-86ec-7240eeaa3c02" Alias="News" Level="3">
  <Info>
    <Parent Key="fa42d7f6-b8d5-4730-bf44-0a66e395f888">Safer Travel</Parent>
    <Path>/Media/SaferTravel/News</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-01-24T15:05:33</CreateDate>
    <NodeName Default="News" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>