<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a109889-b1da-41f9-a7e8-1d0d371b7241" Alias="Nottingham 0030 (1)" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/Nottingham00301</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-06T15:16:23</CreateDate>
    <NodeName Default="Nottingham 0030 (1)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Train pulled in at Nottingham station]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r4mbaww0/nottingham-0030.jpg",
  "crops": [
    {
      "alias": "Content Card - Square",
      "coordinates": {
        "x1": 0.3301755647429153,
        "y1": 0,
        "x2": 0.188688448524083,
        "y2": 0
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>