<?xml version="1.0" encoding="utf-8"?>
<Media Key="077d2cf0-ada8-48ef-89b9-02b4be7c6d79" Alias="Nottingham 0013" Level="6">
  <Info>
    <Parent Key="ed6ff049-cd55-48ce-b084-80af7c7316bf">Rail</Parent>
    <Path>/Media/MidlandsConnect/AboutUs/Projects/Rail/Nottingham0013</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-30T09:15:47</CreateDate>
    <NodeName Default="Nottingham 0013" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Photo of a platform at Nottingham station. Three trains are pulled up on the tracks. ]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4ywh0b3i/nottingham-0013.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>