<?xml version="1.0" encoding="utf-8"?>
<Media Key="c911fa84-f106-4929-a5d1-92f0fb40e566" Alias="Our Shared Vision for the East Midlands" Level="5">
  <Info>
    <Parent Key="49db9636-36fc-46a2-8f15-4767e609b01f">Publications</Parent>
    <Path>/Media/MidlandsConnect/Documents/Publications/OurSharedVisionForTheEastMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-01-26T16:36:27</CreateDate>
    <NodeName Default="Our Shared Vision for the East Midlands" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tt3bdsig/81901_tfem-mc_joint_priorities_summary_2022_final.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>