<?xml version="1.0" encoding="utf-8"?>
<Media Key="25e27976-9fc5-4332-ac0f-43f5402842e5" Alias="Paul Butters (1)" Level="4">
  <Info>
    <Parent Key="8a84b833-e037-4787-8d8c-5fff749c93dc">Biographies</Parent>
    <Path>/Media/MidlandsConnect/Biographies/PaulButters1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-30T09:11:25</CreateDate>
    <NodeName Default="Paul Butters (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Portrait photo of Paul Butters]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ob2pejof/paul-butters.jpg",
  "crops": [
    {
      "alias": "Content Card - Square",
      "coordinates": {
        "x1": 0,
        "y1": 0.039523248515958884,
        "x2": 0,
        "y2": 0.29513283614012564
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>