<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0330da7-22b6-4911-ae22-c4818ea504b0" Alias="Paul Butters" Level="4">
  <Info>
    <Parent Key="8a84b833-e037-4787-8d8c-5fff749c93dc">Biographies</Parent>
    <Path>/Media/MidlandsConnect/Biographies/PaulButters</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T11:55:44</CreateDate>
    <NodeName Default="Paul Butters" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uegdhifw/paul-butters.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>