<?xml version="1.0" encoding="utf-8"?>
<Media Key="be3fbd7e-57dc-438a-b9ce-91bd135324e1" Alias="Pexels Sarah Chai 7262348" Level="4">
  <Info>
    <Parent Key="a9c527ba-87c9-44f1-9f99-82e3dc181c9c">f&amp;b</Parent>
    <Path>/Media/Blog/fb/PexelsSarahChai7262348</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-13T23:08:37</CreateDate>
    <NodeName Default="Pexels Sarah Chai 7262348" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pc4d5pw2/pexels-sarah-chai-7262348.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>