<?xml version="1.0" encoding="utf-8"?>
<Media Key="dec609b0-1c68-4187-874f-b879ce0d5ce9" Alias="Pexels Fauxels 3184465" Level="4">
  <Info>
    <Parent Key="d61cc520-5828-45de-ab53-4a86462aa119">Job</Parent>
    <Path>/Media/Blog/Job/PexelsFauxels3184465</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T21:23:28</CreateDate>
    <NodeName Default="Pexels Fauxels 3184465" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wyennxti/pexels-fauxels-3184465.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>