<?xml version="1.0" encoding="utf-8"?>
<Media Key="14689252-6a5a-4892-9132-a95ac907c1e7" Alias="Rachel Martin" Level="4">
  <Info>
    <Parent Key="8a84b833-e037-4787-8d8c-5fff749c93dc">Biographies</Parent>
    <Path>/Media/MidlandsConnect/Biographies/RachelMartin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T11:55:47</CreateDate>
    <NodeName Default="Rachel Martin" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Portrait photo of Rachel Martin]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ksjgqfc0/rachel-martin.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>