<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fd1bd4d-f0bc-4519-b0d7-83e94bdcb822" Alias="Safer Travel Antisocial Behaviour Policy" Level="4">
  <Info>
    <Parent Key="94459e54-955a-49b9-976f-d8fd7b45f47d">Documents</Parent>
    <Path>/Media/SaferTravel/Documents/SaferTravelAntisocialBehaviourPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-26T12:41:58</CreateDate>
    <NodeName Default="Safer Travel Antisocial Behaviour Policy" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mo4nc132/safer-travel-antisocial-behaviour-policy.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>