<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c36f5e1-72b3-48e3-97a7-5cff959b22a9" Alias="Safer Travel And Bus Stations CCTV Code Of Practice 25Th January 2024" Level="4">
  <Info>
    <Parent Key="94459e54-955a-49b9-976f-d8fd7b45f47d">Documents</Parent>
    <Path>/Media/SaferTravel/Documents/SaferTravelAndBusStationsCCTVCodeOfPractice25ThJanuary2024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-03-22T11:48:44</CreateDate>
    <NodeName Default="Safer Travel And Bus Stations CCTV Code Of Practice 25Th January 2024" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z50dm1ft/safer-travel-and-bus-stations-cctv-code-of-practice-25th-january-2024.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>