<?xml version="1.0" encoding="utf-8"?>
<Media Key="76586b05-02c7-4108-afe0-9ab9282a2e31" Alias="Safer Travel And Bus Stations Cctv Code Of Practice January 2024 V2" Level="4">
  <Info>
    <Parent Key="94459e54-955a-49b9-976f-d8fd7b45f47d">Documents</Parent>
    <Path>/Media/SaferTravel/Documents/SaferTravelAndBusStationsCctvCodeOfPracticeJanuary2024V2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-26T12:39:42</CreateDate>
    <NodeName Default="Safer Travel And Bus Stations Cctv Code Of Practice January 2024 V2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fnvfq3wh/safer-travel-and-bus-stations-cctv-code-of-practice-january-2024-v2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>