<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa42d7f6-b8d5-4730-bf44-0a66e395f888" Alias="Safer Travel" Level="2">
  <Info>
    <Parent Key="87015b49-abca-4026-a32f-13ef45071f22">Media</Parent>
    <Path>/Media/SaferTravel</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-17T15:40:17</CreateDate>
    <NodeName Default="Safer Travel" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>