<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbbbc2e1-0535-4890-b02a-13ff33348300" Alias="Screenshot 2023 09 22 At 12.10 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20230922At12102</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-07T16:05:02</CreateDate>
    <NodeName Default="Screenshot 2023 09 22 At 12.10 2" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/25blxozv/screenshot-2023-09-22-at-1210-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>