<?xml version="1.0" encoding="utf-8"?>
<Media Key="164c0811-680d-4896-882e-5025c90ca5f1" Alias="Screenshot 2023 09 22 At 12.10 2 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20230922At121021</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-07T16:14:10</CreateDate>
    <NodeName Default="Screenshot 2023 09 22 At 12.10 2 (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c2eeyfqn/screenshot-2023-09-22-at-1210-2-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>