<?xml version="1.0" encoding="utf-8"?>
<Media Key="99c40ff5-c2b5-4f69-bded-05c9da8b98c2" Alias="Screenshot 2023 09 22 At 12.10 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20230922At12101</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-07T15:24:05</CreateDate>
    <NodeName Default="Screenshot 2023 09 22 At 12.10 1" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4mhnjgnv/screenshot-2023-09-22-at-1210-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>