<?xml version="1.0" encoding="utf-8"?>
<Media Key="eef8f7cf-afad-4610-8a3e-c9138c04cf09" Alias="STP Summary Document" Level="5">
  <Info>
    <Parent Key="49db9636-36fc-46a2-8f15-4767e609b01f">Publications</Parent>
    <Path>/Media/MidlandsConnect/Documents/Publications/STPSummaryDocument</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-01-26T16:40:29</CreateDate>
    <NodeName Default="STP Summary Document" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/051pr1vn/summary-document-midlands-connect.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>