<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a1fdcad-c592-4c70-a104-36a80c63b72d" Alias="Supercharging the Midlands" Level="5">
  <Info>
    <Parent Key="49db9636-36fc-46a2-8f15-4767e609b01f">Publications</Parent>
    <Path>/Media/MidlandsConnect/Documents/Publications/SuperchargingTheMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-01-26T16:21:25</CreateDate>
    <NodeName Default="Supercharging the Midlands" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wxob5gus/mc-supercharging-the-midlands-document.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>