<?xml version="1.0" encoding="utf-8"?>
<Media Key="25b58a18-9113-4677-afd9-0e9f0dfe95ef" Alias="Swift Ticketing 2021 1" Level="3">
  <Info>
    <Parent Key="4dd44f76-7774-4861-88ef-8d0e9242fad5">Midlands Connect</Parent>
    <Path>/Media/MidlandsConnect/SwiftTicketing20211</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-17T10:54:17</CreateDate>
    <NodeName Default="Swift Ticketing 2021 1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d0flkjit/swift-_-ticketing-2021-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>