<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f37579f-4078-4249-aa8f-14c6d5213e9d" Alias="Swift Ticketing 2021 1" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/SwiftTicketing20211</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-29T14:46:26</CreateDate>
    <NodeName Default="Swift Ticketing 2021 1" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Person tapping transport card at machine]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tfldo51y/swift-_-ticketing-2021-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>