<?xml version="1.0" encoding="utf-8"?>
<Media Key="98c733af-8e5a-4072-9507-17458b51912f" Alias="Tfem Shared Vision 2024" Level="5">
  <Info>
    <Parent Key="49db9636-36fc-46a2-8f15-4767e609b01f">Publications</Parent>
    <Path>/Media/MidlandsConnect/Documents/Publications/TfemSharedVision2024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-05-13T10:01:52</CreateDate>
    <NodeName Default="Tfem Shared Vision 2024" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qeznpgc0/tfem-shared-vision-2024.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>