<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff181a0d-5bc8-4102-bbc2-8439bee31715" Alias="Time To Talk CV (1)" Level="3">
  <Info>
    <Parent Key="fa42d7f6-b8d5-4730-bf44-0a66e395f888">Safer Travel</Parent>
    <Path>/Media/SaferTravel/TimeToTalkCV1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-14T15:22:40</CreateDate>
    <NodeName Default="Time To Talk CV (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bmnbr54i/time-to-talk-cv.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>