<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d90d55f-7018-4ce2-9e64-2d758dc0a808" Alias="Time To Talk Bilston Edit" Level="4">
  <Info>
    <Parent Key="28600681-ab61-4865-86ec-7240eeaa3c02">News</Parent>
    <Path>/Media/SaferTravel/News/TimeToTalkBilstonEdit</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-24T15:11:37</CreateDate>
    <NodeName Default="Time To Talk Bilston Edit" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lhkjbdiy/time-to-talk-bilston-edit.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>