<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f70de22-aeb6-47a3-9e29-dbab09986d69" Alias="Time To Talk WB Jpg" Level="3">
  <Info>
    <Parent Key="fa42d7f6-b8d5-4730-bf44-0a66e395f888">Safer Travel</Parent>
    <Path>/Media/SaferTravel/TimeToTalkWBJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-21T07:57:30</CreateDate>
    <NodeName Default="Time To Talk WB Jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/etphad3w/time-to-talk-wb-jpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>