<?xml version="1.0" encoding="utf-8"?>
<Media Key="3664f12e-77f3-4cd5-b094-809a492a28c7" Alias="Time To Talk CV" Level="3">
  <Info>
    <Parent Key="fa42d7f6-b8d5-4730-bf44-0a66e395f888">Safer Travel</Parent>
    <Path>/Media/SaferTravel/TimeToTalkCV</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-03-14T15:20:33</CreateDate>
    <NodeName Default="Time To Talk CV" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/adyhinxt/time-to-talk-cv.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>