<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1b391fc-7498-4984-be8a-fb6a0bbd059b" Alias="Transport" Level="3">
  <Info>
    <Parent Key="1e85a3b9-5246-4955-9f88-f6f92854ed12">Blog</Parent>
    <Path>/Media/Blog/Transport</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-22T15:31:59</CreateDate>
    <NodeName Default="Transport" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>