<?xml version="1.0" encoding="utf-8"?>
<Media Key="9eaf306e-c82b-4f1c-9ee8-73f3de516dc7" Alias="Untitled Design (1)" Level="4">
  <Info>
    <Parent Key="323ec68e-5ae9-49c6-8a11-501537419f33">Life in West Midlands</Parent>
    <Path>/Media/Blog/LifeInWestMidlands/UntitledDesign1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-16T10:15:14</CreateDate>
    <NodeName Default="Untitled Design (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nayk5hrl/untitled-design-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>