<?xml version="1.0" encoding="utf-8"?>
<Media Key="19c6a024-c59b-4056-bdcd-6ed1e5f9da77" Alias="Untitled Design" Level="4">
  <Info>
    <Parent Key="323ec68e-5ae9-49c6-8a11-501537419f33">Life in West Midlands</Parent>
    <Path>/Media/Blog/LifeInWestMidlands/UntitledDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-07T16:14:13</CreateDate>
    <NodeName Default="Untitled Design" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ekqmmgm1/untitled-design.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>