<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4a6b27a-6a48-4c65-abe9-aae1eb190d45" Alias="Untitled 2500 800Px" Level="4">
  <Info>
    <Parent Key="d1f8e910-fbe5-49d3-b6a3-e4f3c2528e27">Images</Parent>
    <Path>/Media/MidlandsConnect/Images/Untitled2500800Px</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T15:26:36</CreateDate>
    <NodeName Default="Untitled 2500 800Px" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pszknzci/untitled-2500-800px.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>