<?xml version="1.0" encoding="utf-8"?>
<Media Key="a71c147d-f615-4c98-8e2d-ff467ed7221a" Alias="Untitled Design (5)" Level="4">
  <Info>
    <Parent Key="323ec68e-5ae9-49c6-8a11-501537419f33">Life in West Midlands</Parent>
    <Path>/Media/Blog/LifeInWestMidlands/UntitledDesign5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-20T11:15:19</CreateDate>
    <NodeName Default="Untitled Design (5)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pmkbzjyv/untitled-design.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>