<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc271f14-c626-4501-8bde-e9794a6b7aa8" Alias="Warwickshire Aerial" Level="4">
  <Info>
    <Parent Key="b4fff119-1f68-4836-bbf5-067c7f71b219">Newsroom</Parent>
    <Path>/Media/MidlandsConnect/Newsroom/WarwickshireAerial</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-29T14:50:33</CreateDate>
    <NodeName Default="Warwickshire Aerial" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Stratford-upon-Avon]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cipdppbg/warwickshire-aerial.jpg",
  "crops": [
    {
      "alias": "Content Card - Square",
      "coordinates": {
        "x1": 0.035191593855754155,
        "y1": 0,
        "x2": 0.29814173947757894,
        "y2": 0
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>