<?xml version="1.0" encoding="utf-8"?>
<Media Key="1537ca67-6fd0-4e95-9a8d-693d5d7704b7" Alias="What Is Inclusive Growth YT" Level="4">
  <Info>
    <Parent Key="cd01ebd9-1e9a-4574-a6d6-fd5e24070143">Inclusive Growth</Parent>
    <Path>/Media/Blog/InclusiveGrowth/WhatIsInclusiveGrowthYT</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-04T16:37:54</CreateDate>
    <NodeName Default="What Is Inclusive Growth YT" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mhfdofoq/what-is-inclusive-growth-yt.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>