<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c65f856-8f24-4934-86f3-5f24928256ed" Alias="Whats on" Level="3">
  <Info>
    <Parent Key="1e85a3b9-5246-4955-9f88-f6f92854ed12">Blog</Parent>
    <Path>/Media/Blog/WhatsOn</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-03T08:09:37</CreateDate>
    <NodeName Default="Whats on" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>