<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a351904-5160-4ce7-85c7-013095576bba" Alias="Wm Police Logo (1)" Level="4">
  <Info>
    <Parent Key="17955805-33f7-416c-8228-35643870a1f1">Partners</Parent>
    <Path>/Media/SaferTravel/Partners/WmPoliceLogo1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-23T11:21:32</CreateDate>
    <NodeName Default="Wm Police Logo (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gumdkcta/wm-police-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>