<?xml version="1.0" encoding="utf-8"?>
<Media Key="8fedcd47-b54e-4d07-bb1d-ff1132eacaed" Alias="Wm Police Logo" Level="4">
  <Info>
    <Parent Key="17955805-33f7-416c-8228-35643870a1f1">Partners</Parent>
    <Path>/Media/SaferTravel/Partners/WmPoliceLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-23T11:13:41</CreateDate>
    <NodeName Default="Wm Police Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ihgp1d0o/wm-police-logo.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>