<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0ee0442-fa5d-4f7d-a291-5c29674c3954" Alias="Wmca Mayor Logos" Level="4">
  <Info>
    <Parent Key="35124d03-6f61-4709-b374-452cac2d2f3f">Partners</Parent>
    <Path>/Media/ChangeIntoAction/Partners/WmcaMayorLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-07-22T12:54:55</CreateDate>
    <NodeName Default="Wmca Mayor Logos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/omco3qc3/wmca-mayor-logos.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>