@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
    
@*<div class="ds-css-grid-3-col ds-m-b-xl">*@
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
@*</div>*@