@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var image = Model.Content.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("image");
    if (image != null)
    {
        <img class="ds-m-t-md ds-m-b-lg" src="@image.MediaUrl()" alt="@image.Value("altText", fallback: Fallback.ToDefaultValue, defaultValue: @image.Name)" />
    } else {
        <p>Missing image</p>
    }
}
