@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

<div class="ds-inset-text ds-m-t-md ds-m-b-md">
  @Model.Content.Value("insetText")
</div>