@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using Umbraco.Cms.Core.Models

@{
    var contentItem = Umbraco.AssignedContentItem;
}
    
<div class="ds-page-contents ds-dynamic-page-contents">
    <h2 class="ds-h3">Page contents</h2>
    <div>@contentItem.Name</div>
</div>