@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using Umbraco.Cms.Core.Models

@{
    var childPages = Model.Content.Value("showChildLinks");
    var links = Model.Content.Value<IEnumerable<Link>>("links");
}

<h2>Related links</h2>

@{
    if (links.Any())
    {
        <ul class="ds-bare-list ds-m-t-lg">
            @foreach (var link in links)
            {
                <li><a href="@link.Url" target="@link.Target">@link.Name</a></li>
            }
        </ul>
    }
}
