@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
<div class="ds-m-b-lg">
    <div class="ds-content-card ds-p-md">
        <h2>Stay up to date</h2>
        <p>Subscribe today to our newsletter to keep up to date on vital information.</p>
        <form class="js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="92D4C54F0FEC16E5ADC2B1904DE9ED1A92A4795AA0224519AF43E2E877D437DBFF4E317F3535B8B58EF8968106B08CED866D1178618ACFF5F561B0270727993F">
            <div class="ds-fe-group ds-m-b-md">
                <label class="ds-fe-label">Email address</label>
                <input class="ds-fe-input" autocomplete="Email" aria-label="Email" class="js-cm-email-input qa-input-email" id="fieldEmail" maxlength="200" name="cm-vihlyy-vihlyy" required="" type="email">
            </div>
            <button class="ds-btn ds-btn--primary" type="submit">Sign up to newsletter</button>
        </form>
    </div>
</div>
<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
