@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using Dawoe.OEmbedPickerPropertyEditor.Core.Models
@using Dawoe.OEmbedPickerPropertyEditor.Core.Extensions

@foreach (var item in Model.Content.Value<IEnumerable<OEmbedItem>>("video"))
{
    <div class='ds-video-embed'>
        @item.EmbedCode
        @* <iframe src='@item.GetEmbedSrc()' frameborder='0' allowfullscreen></iframe> *@
    </div>
}
