@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Error>
@using ContentModels = Wmca.Models.Content;
@{
	Layout = "Shared.cshtml";
}

<main id="ds-main-content" class="ds-container ds-m-t-lg homepage">
    <h1>Page not found</h1>
    <h2>Status code: 404</h2>
    
    <p>This might be because:</p>
    <ul>
        <li>We’ve moved, updated or deleted the page you are looking for</li>
        <li>We’ve recently reorganised the website, so the page you are looking for may have a new web address</li>
        <li>You’re using an old bookmark or you’ve typed the wrong web address.</li>
    </ul>
    <p>If you entered a web address, check it is correct.</p>
</main>