@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.News>
@using ContentModels = Wmca.Models.Content;
@{
    Layout = "SaferTravel.cshtml";
}

<script defer="defer" src="~/assets/apps/st-newsroom/static/js/main.c76a139f.js"></script>
<link href="~/assets/apps/st-newsroom/static/css/main.51a6e80e.css" rel="stylesheet" />

<noscript>You need to enable JavaScript to run this app.</noscript>
<main id="ds-main-content" class="ds-container">
    <div id="root"></div>
</main>
