<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8270f4ad-5ffc-41de-aa6e-3a89b4af4789" Alias="areaCia" Level="3">
  <Info>
    <Name>Area</Name>
    <Icon>icon-map-location color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sites/Change+Into+Action</Folder>
    <Compositions>
      <Composition Key="fc025dce-ab18-4928-a1ae-638b5f6da5c1">homepageBanner</Composition>
    </Compositions>
    <DefaultTemplate>AreaCia</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="99952ca6-8ff4-4488-a2af-7b5f0928930e">AreaCia</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d9268a1b-aa3e-49f1-a75d-fc368eca92cf" SortOrder="0">sitePropertiesCia</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d27b7ff6-41d1-4eb7-9032-eb9af7ad1c17</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>310acba9-1349-46f7-8079-08bdf7c55e82</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3cf2bc7c-11c0-4c48-b095-9c178ac40f45</Key>
      <Name>Left button icon</Name>
      <Alias>leftButtonIcon</Alias>
      <Definition>a465c437-6a54-4493-8030-32f5cfa23923</Definition>
      <Type>our.iconic</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>971cadd4-1ad1-4756-83e2-578495345742</Key>
      <Name>Left button link</Name>
      <Alias>leftButtonLink</Alias>
      <Definition>859e31ff-2e2d-4101-a76f-aea78fc2a8d9</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>af9db568-11f5-45d8-b996-bab629300e87</Key>
      <Name>Right button icon</Name>
      <Alias>rightButtonIcon</Alias>
      <Definition>a465c437-6a54-4493-8030-32f5cfa23923</Definition>
      <Type>our.iconic</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>066ba5aa-0070-44fe-8965-01f544150d03</Key>
      <Name>Right button link</Name>
      <Alias>rightButtonLink</Alias>
      <Definition>859e31ff-2e2d-4101-a76f-aea78fc2a8d9</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b7cab69c-51c3-4302-8aa1-82f10cae1adc</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>c7444f5d-84a6-4c42-ad1c-7fa4b2ff22e9</Key>
      <Caption>Banner</Caption>
      <Alias>banner</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>