<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="04588e3c-6062-4d1a-b60f-ee4844e67857" Alias="authors" Level="3">
  <Info>
    <Name>Authors</Name>
    <Icon>icon-users color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sites/West+Midlands+Combined+Authority</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4392d5d1-f09f-4abe-8503-18914fbb4764" SortOrder="0">author</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>