<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ed620008-27f5-4cb3-a462-7120bd3570d3" Alias="blogLayoutBlock" Level="4">
  <Info>
    <Name>Blog Layout</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Block+Lists/Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9bbfd147-b7a9-4111-ad05-d3dcdd7caeaf</Key>
      <Name>Sidebar</Name>
      <Alias>sidebar</Alias>
      <Definition>ae48d135-f8cf-4b7b-a079-796aa89863dd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sidebar">Sidebar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4e9e5f83-2714-43e5-b903-29c861339b7a</Key>
      <Caption>Blog Content</Caption>
      <Alias>blogContent</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f5477b11-91e2-4b86-8553-8a4621f67a06</Key>
      <Caption>Sidebar</Caption>
      <Alias>sidebar</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>