<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="358d0ec0-2304-4687-9e0c-9c171df1323e" Alias="error" Level="3">
  <Info>
    <Name>Error</Name>
    <Icon>icon-application-error color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sites/Shared</Folder>
    <Compositions />
    <DefaultTemplate>Error</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6e36daa7-9fa0-4603-9be5-8389d25dee54">Error</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>