<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="333d2ac6-1928-46c0-b9f3-798f3ec114dc" Alias="homepageMidlandsConnect" Level="3">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sites/Midlands+Connect</Folder>
    <Compositions>
      <Composition Key="2a331693-e1cc-42dc-92e1-7faf79891c3b">emergencyBanner</Composition>
      <Composition Key="fc025dce-ab18-4928-a1ae-638b5f6da5c1">homepageBanner</Composition>
    </Compositions>
    <DefaultTemplate>HomepageMidlandsConnect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2ec9dc5a-e39f-4d29-a34c-9399520a43b7">HomepageMidlandsConnect</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="92d27d8b-f569-4dcb-8709-4539ddfb29c3" SortOrder="0">siteProperties</ContentType>
    <ContentType Key="52f4858f-a61a-4c51-86b4-99ef5c743f93" SortOrder="1">contentPageMidlandsConnect</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e5251b4c-5623-4828-a9a8-395d93995172</Key>
      <Name>Homepage Content Cards</Name>
      <Alias>homepageContentCards</Alias>
      <Definition>8c5786cc-7daa-4f11-9b09-9cec83a12831</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentCards">Content Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7397d1c0-2cf8-40f7-a119-00230ab8ed63</Key>
      <Caption>Content Cards</Caption>
      <Alias>contentCards</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>