<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9a62e77a-9133-4816-90cd-ce5a5435f15f" Alias="homepageSaferTravel" Level="3">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sites/Safer+Travel</Folder>
    <Compositions>
      <Composition Key="fc025dce-ab18-4928-a1ae-638b5f6da5c1">homepageBanner</Composition>
    </Compositions>
    <DefaultTemplate>HomepageSaferTravel</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c2c04574-3b20-417c-8a83-e2477404f519">HomepageSaferTravel</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="92d27d8b-f569-4dcb-8709-4539ddfb29c3" SortOrder="0">siteProperties</ContentType>
    <ContentType Key="4c738209-0c77-4890-94c0-553c98997085" SortOrder="1">contentPageSaferTravel</ContentType>
    <ContentType Key="85eaf4fe-6267-4a43-9806-4641d62b1bfd" SortOrder="2">searchSaferTravel</ContentType>
    <ContentType Key="358d0ec0-2304-4687-9e0c-9c171df1323e" SortOrder="3">error</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>