<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7cff94c1-114c-42b7-ab79-dd8d425fd682" Alias="homepageWmca" Level="3">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sites/West+Midlands+Combined+Authority</Folder>
    <Compositions />
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3259f0bd-20c5-4589-934c-d91284c612ca">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b7e98f62-7900-4141-b400-327ec026636e" SortOrder="0">blog</ContentType>
    <ContentType Key="04588e3c-6062-4d1a-b60f-ee4844e67857" SortOrder="1">authors</ContentType>
    <ContentType Key="92d27d8b-f569-4dcb-8709-4539ddfb29c3" SortOrder="2">siteProperties</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>