<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7cff94c1-114c-42b7-ab79-dd8d425fd682" Alias="homepageWmca" Level="3">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sites/West+Midlands+Combined+Authority</Folder>
    <Compositions>
      <Composition Key="fc025dce-ab18-4928-a1ae-638b5f6da5c1">homepageBanner</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3259f0bd-20c5-4589-934c-d91284c612ca">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9d036f3b-a2a9-4640-a570-0b099c2d8a50" SortOrder="0">contentPageWmca</ContentType>
    <ContentType Key="b7e98f62-7900-4141-b400-327ec026636e" SortOrder="1">blog</ContentType>
    <ContentType Key="04588e3c-6062-4d1a-b60f-ee4844e67857" SortOrder="2">authors</ContentType>
    <ContentType Key="139062b2-f1e7-452d-b204-8dfbbae457cd" SortOrder="3">searchWmca</ContentType>
    <ContentType Key="92d27d8b-f569-4dcb-8709-4539ddfb29c3" SortOrder="4">siteProperties</ContentType>
    <ContentType Key="358d0ec0-2304-4687-9e0c-9c171df1323e" SortOrder="5">error</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>