<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a5f4aa0f-74be-4511-8f18-c8ed28f6b01a" Alias="newsArticleSaferTravel" Level="3">
  <Info>
    <Name>News Article</Name>
    <Icon>icon-newspaper-alt color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sites/Safer+Travel</Folder>
    <Compositions />
    <DefaultTemplate>NewsArticle11</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
      <Template Key="44e99593-8d72-4c58-a642-948472667f05">NewsArticle11</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="52f4858f-a61a-4c51-86b4-99ef5c743f93" SortOrder="0">contentPageMidlandsConnect</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>22bcfe5e-21c7-4564-98a3-b86134cad99c</Key>
      <Name>Date</Name>
      <Alias>date</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf95cf3e-bd09-4fb0-b28b-77e6204fed89</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>4b9973e8-b10d-4716-b46d-bc4b1d3f9fa1</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>55abb756-6424-44ec-ad73-75ed26c4a228</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>7ed7f8ac-ca16-4702-905f-628504d89b87</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bf739bc-5109-4a57-b640-b9d45c55b6db</Key>
      <Name>Thumbnail</Name>
      <Alias>thumbnail</Alias>
      <Definition>9023ee44-4101-400e-aa01-73b3ee92d736</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1f5d97f0-5cfd-49fd-95ab-c66a79998ed2</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>af121b6b-c133-4279-8fc6-00c3999292fa</Key>
      <Caption>Information</Caption>
      <Alias>information</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>