<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e2ae659-ab8f-45c9-8541-5c04eccdaac7" Alias="newsArticleMidlandsConnect" Level="3">
  <Info>
    <Name>News Article</Name>
    <Icon>icon-newspaper-alt color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sites/Midlands+Connect</Folder>
    <Compositions />
    <DefaultTemplate>NewsArticle111</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
      <Template Key="5ec009c0-71bd-4732-a1e2-0e15798c7498">NewsArticle111</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="52f4858f-a61a-4c51-86b4-99ef5c743f93" SortOrder="0">contentPageMidlandsConnect</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2179fffe-f225-4ab8-ba36-4a9c9a35fdee</Key>
      <Name>Date</Name>
      <Alias>date</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7586bea-4175-4763-9e05-4e28843dfc67</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>4b9973e8-b10d-4716-b46d-bc4b1d3f9fa1</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f666552-a627-4fbb-b4a5-8bf354778991</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>7ed7f8ac-ca16-4702-905f-628504d89b87</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dd9a4a4e-5632-4331-a4eb-0daf424646d7</Key>
      <Name>Thumbnail</Name>
      <Alias>thumbnail</Alias>
      <Definition>5182ff35-8257-43ce-a965-37ceeddd5eb3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b33584a1-52de-4764-8fdb-30f5507e643a</Key>
      <Caption>Information</Caption>
      <Alias>information</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>ebb84ffc-8990-4029-8984-9b3f7efdf809</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>