<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ae9f3a57-2c40-42ba-8207-40bf8c4c6717" Alias="searchMidlandsConnect" Level="3">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sites/Midlands+Connect</Folder>
    <Compositions />
    <DefaultTemplate>Search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4de10b3f-2e76-488e-87ba-38e040052b42">Search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>