<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="0a21b0a5-0000-0000-0000-000000000000" Alias="editorsST">
  <Info>
    <Sections>content,media</Sections>
    <Icon>icon-users</Icon>
    <Name>Umbraco Multisite - Editors – ST</Name>
    <StartContentId>fe122f10-4b2d-4c38-b841-a4e3f2f59ef5</StartContentId>
    <StartMediaId>fa42d7f6-b8d5-4730-bf44-0a66e395f888</StartMediaId>
    <Permission><![CDATA[K,F,ï,D,C,N,U,Z,A,O,M,S]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>false</HasAccessToAllLanguages>
  </Languages>
</UserGroup>