<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae20d20a-a8ec-4625-ac9d-70a09edc6c27" Alias="£2 billion Midlands Rail Hub plans “the most ambitious for a generation” as government is urged: don’t ignore the Midlands" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/billionMidlandsRailHubPlansTheMostAmbitiousForAGenerationAsGovernmentIsUrgedDonTIgnoreTheMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-06-26T00:00:00</CreateDate>
    <NodeName Default="£2 billion Midlands Rail Hub plans “the most ambitious for a generation” as government is urged: don’t ignore the Midlands" />
    <SortOrder>53</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li><strong>Midlands Rail Hub plans, submitted to government by Midlands Connect, outline up to £2 billion of new and improved infrastructure, to be completed between 2024-2033;</strong></li>
<li><strong>Upgrades make space for 24 new passenger trains an hour across the network, 85,000 seats a day in and out of Birmingham, and an estimated six million more journeys each year; </strong></li>
<li><strong>East-west travel transformed with Birmingham, Nottingham, Leicester, Derby, Coventry, Hereford &amp; Worcester to benefit from faster and more frequent services;</strong></li>
<li><strong>47 partner organisations back the plans, including local authorities, LEPs, chambers of commerce, HS2 and Network Rail;</strong></li>
<li><strong>West Midlands Mayor Andy Street urges government to invest in the proposals, as well as deliver HS2 in its entirety.</strong></li>
<li><strong>&nbsp;</strong></li>
</ul>
<p><strong><em>A £2 billion package of improvements to transform east-west connections on the Midlands’ rail network has been submitted to the government with a clear message from business and civic leaders: “Don’t ignore the Midlands”. </em></strong></p>
<p>The Midlands Rail Hub outlines plans to build 15 pieces of new and improved infrastructure to enable 24 extra passenger trains every hour on the regional network, reduce journey times, make space to shift 4,320 lorries’ worth of freight from the road to the railway every day and supercharge the economy by bringing the East and West Midlands cloer together.</p>
<p>The plans, which can be completed in phases between 2024 and 2033, have been submitted to the government by Sub-national Transport Body Midlands Connect, in partnership with Network Rail and with the backing of 47 partner organisations including West Midlands Combined Authority, local authorities, LEPs, chambers of commerce, HS2 and Birmingham and East Midlands airports.</p>
<p>In the last two years, rail usage in the Midlands has grown faster than anywhere else in the UK<a name="_ftnref1" href="#_ftn1">[1]</a>, with growth in the last decade of 121% in the West Midlands and 37% in the East Midlands. However, without investment the region’s rail network can’t keep pace with this record demand, and many services between major towns and cities in the Midlands remain slow and infrequent.</p>
<p>Building more capacity into the railway will future proof the network for the next generation, with significant benefits for passengers, freight and the economy:</p>
<ul>
<li>Space for 24 extra passenger trains an hour, including 20 to and from Birmingham Moor Street, taking pressure off Birmingham New Street, the busiest station outside London;</li>
<li>Two extra trains per hour in both directions between Birmingham-Leicester and Birmingham-Derby;</li>
<li>Plans to reinstate direct services between Coventry, Leicester &amp; Nottingham for the first time since 2004, with two fast trains per hour in both directions;</li>
<li>Two extra commuter services per hour in both directions on the Camp Hill Line between Kings Norton-Birmingham Moor Street, via Hazelwell, Kings Heath &amp; Moseley;</li>
<li>One extra train per hour in both directions between Birmingham-Nottingham, Birmingham-Hereford via Worcester, Birmingham-Cardiff and Birmingham-Bristol;</li>
<li>85,000 more seats every day available in to and out of Birmingham, with an estimated six million more journeys in the Midlands per year;</li>
<li>1.6 million more people will be brought to within one hour of the Midlands’ major towns and cities by public transport<a name="_ftnref2" href="#_ftn2">[2]</a>;</li>
<li>Plans increase access to HS2, with Birmingham Moor Street located next to the new high speed station at Curzon Street;</li>
<li>36 additional freight paths a day, creating space to move 4,320 lorries’ worth of goods from road to rail every day, worth £22 billion a year.</li>
</ul>
<p><strong><u>Average journey time improvements: </u></strong></p>
<ul>
<li>Birmingham-Nottingham, from 72 to 59 minutes;</li>
<li>Birmingham-Hereford, from 85 to 65 minutes;</li>
<li>Leicester-Coventry, from 57 (indirect via Nuneaton) to 38 minutes (direct);</li>
<li>Nottingham-Coventry, from 99 to 63 minutes.</li>
</ul>
<p><strong><u>Proposed investment includes: </u></strong><strong><u>(full list in notes to editors) </u></strong></p>
<p><strong>Bordesley Chords (2026-2033): </strong>Two new viaducts to link services from the South West and East Midlands in to Birmingham Moor Street station, including opening up extra platforms to provide extra fast services on those corridors, and link to HS2 at Curzon Street <strong>(estimated cost £900-£950 million)</strong></p>
<p><strong>Nuneaton Dive under, flyover or reversal (2026-2033): </strong>Reinstatement of a dive under or construction of a flyover of the West Coast Main Line at Nuneaton (or a reversal from Nuneaton station) to enable direct services between Coventry, Leicester and Nottingham (<strong>estimated cost of dive under/fly over £100-120m). </strong></p>
<p><strong>Leicester Corridor (by 2026);</strong> a series of incremental improvements allowing faster new and existing services from Birmingham to Leicester <strong>(estimated cost £150-200m</strong>);</p>
<p><strong><u>Integration with HS2 </u></strong></p>
<p>Midlands Connect, alongside its partners and the business community, has repeatedly <a href="/news-and-events/the-midlands-and-the-north-come-together-in-landmark-open-letter-urging-party-leaders-to-publicly-commit-to-completion-of-hs2-phase-two/">made the case</a> for the delivery of HS2 in its entirety, alongside associated investment in the existing network.</p>
<p>The Midlands Rail Hub creates space for dozens of additional services to and from Birmingham Moor Street station each day. The project is fully integrated with a vision to redevelop the historic 1909 station, led by West Midlands Rail Executive. This vision, including a shared Station Square with the new Curzon Street station, is part of a “One Station” concept, which also includes better pedestrian access to nearby New Street station, ensuring passengers can move seamlessly between the traditional and high speed networks.</p>
<p><strong><u>Environmental Benefits </u></strong></p>
<p>Slow, indirect and infrequent rail services between big cities mean that most travellers make less environmentally friendly journeys by car instead<a name="_ftnref3" href="#_ftn3">[3]</a>:</p>
<ul>
<li>Leicester-Coventry – 1% by train, 99% by car;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
<li>Birmingham-Leicester – 13% by train, 87% by car;</li>
<li>Birmingham-Nottingham – 18% by train, 82% by car;</li>
<li>Birmingham-Derby – 22% by train, 78% by car.</li>
</ul>
<p>On equivalent routes in the north of England, rail usage is significantly higher:</p>
<ul>
<li>Manchester-Sheffield – 50% by train, 50% by car;</li>
<li>Manchester-Newcastle – 46% by train, 54% by car;</li>
<li>Liverpool-York – 51% by train, 49% by car.</li>
</ul>
<p>Rail freight produces 76 percent less CO2 than the equivalent road haulage journey<a name="_ftnref4" href="#_ftn4">[4]</a>. By making space for 36 new freight paths a day, the Midlands Rail Hub can take the equivalent of 4,320 lorries’ worth of goods off the road and on to rail every day, significantly reducing carbon emissions.</p>
<p><strong><em>The Midlands Rail Hub comes with the backing of Midlands Connect’s&nbsp;partnership organisations, including West Midlands Combined Authority, local authorities, chambers of commerce and LEPs, as well as Network Rail, HS2 and Birmingham and East Midlands airports. </em></strong></p>
<p><strong>Sir John Peace, Chair of Midlands Connect, said: </strong></p>
<p>“The Midlands Rail Hub is a cost-effective, evidence-led plan to upgrade our Victorian infrastructure to meet the demands of the future. These proposals capture the enormous economic potential of the Midlands, with 320,000 new jobs estimated by 2030, mainly in professional services firms who depend on good rail connectivity to attract skilled workers.</p>
<p>“This investment must happen alongside delivering HS2 in its entirety, from the West Midlands to the East Midlands and on to the north of England. The next Prime Minister of this country must not ignore the Midlands, the 10 million people who live here, or our £220 billion annual contribution to the UK economy. Now is the time for the government to prove to the Midlands it’s listening to us.”</p>
<p><strong>West Midlands Mayor Andy Street said: </strong></p>
<p>“The Midlands Rail Hub is a really important investment for the whole of the region – and it comes with my support and the support of the East Midlands. Rail has been a huge part of the Midlands’ success story, and we need this kind of investment if our network is to keep growing and supporting our economy.</p>
<p>“At around £2 billion, the Midlands Rail Hub is genuinely a bargain when you consider some of the projects that have already happened in London. The Secretary of State for Transport must persuade the Treasury to support this project to boost the region’s connectivity and with it, the region’s economy”.</p>
<p><strong>Tim Shoveller, managing director for Network Rail’s North West &amp; Central Region, said: </strong></p>
<p>“Passenger numbers are set to rise by 12% in our region over the next five years. When realised the Midlands Rail Hub will transform rail travel for millions more passengers every year. We share our partners’ vision for the Midlands Rail Hub which will give passengers more choice and drive economic growth by better connecting towns and cities across the East and West Midlands.”</p>
<p><strong>Mike Lyons, HS2 Programme Director for the West Midlands, said: </strong></p>
<p>“It’s essential that investment in the existing rail network is planned and delivered alongside the work we are already doing.&nbsp; We’re working closely with Midlands Connect and Network Rail to secure the transformation in rail connectivity this region deserves. &nbsp;Both the Midlands Rail Hub and HS2 are about creating much needed new capacity, and allowing more people to travel more frequently to more destinations. These projects will supercharge the Midlands economy, and the region needs both if it is to reach its potential.”</p>
<p><strong>Leicester City Mayor and Chair of Transport for the East Midlands (TfEM) Sir Peter Soulsby said:</strong></p>
<p>“This project is a great opportunity to improve connectivity between the East and West Midlands, something which has sadly been overlooked for many years. It will provide brilliant direct rail links between Leicester and Coventry - the two biggest cities currently not connected by a direct rail service, and provide a true alternative to the car.</p>
<p>“The faster and more frequent trains between Leicester and Birmingham will help release the economic potential of the whole Midlands area, and will be greatly welcomed by all rail passengers.”</p>
<p><strong>Giles Ellerton, BT Group regional director, Midlands &amp; East Anglia, said: </strong></p>
<p>"BT employs more than 11,000 people in the Midlands, and for our business to grow we depend on transport networks to grow with us. Faster, more frequent and more reliable services also gives us the flexibility to access a wider pool of talent from across the Midlands. If these plans go ahead it could transform a lot of people's journeys to work across the Midlands.”</p>
<p><strong>Lindsey Durham, head of rail strategy at Freightliner Group, said: </strong></p>
<p>“Freightliner is backing the Midlands Rail Hub because, for the first time, we have a long term strategy for rail infrastructure in the region. We’re moving everything from clothes and mobile phones to building supplies and industrial commodities on the railway, and by reducing bottlenecks and congestion for freight trains we can move more goods in an environmentally friendly way that supports the regional and the national economy.”</p>
<p><strong>Lilian Greenwood, MP for Nottingham South and chair of the Transport Select Committee, said: </strong></p>
<p>“Our people and businesses are suffering from poor connectivity and it’s time that government took action to bring the great economic centres of the Midlands closer together. The Midlands Rail Hub is a vehicle for change, it will change where we work, where we live and who we do business with, it will encourage us to make greener choices and allow the network to keep pace with growing demand. We must accelerate these plans to enable faster, more frequent journeys across our network and to make more space for freight trains that will transport goods UK-wide.”</p>
<p><strong>Next Steps </strong></p>
<p>Following the submission of the Midlands Rail Hub Strategic Outline Business Case to the Department for Transport, Midlands Connect has requested an additional £25 million in funding to bring the project to “Outline Business Case” stage of development, which includes specific scheme development and sequencing, a full overview of benefits, project designs, and a full risk assessment.</p>
<p>-ENDS-</p>
<p>&nbsp;</p>
<p><a name="_ftn1" href="#_ftnref1">[1]</a> <a href="https://orr.gov.uk/__data/assets/pdf_file/0011/40520/regional-rail-usage-2017-18.pdf%20/">https://orr.gov.uk/__data/assets/pdf_file/0011/40520/regional-rail-usage-2017-18.pdf /</a> <a href="https://orr.gov.uk/__data/assets/pdf_file/0003/26598/Regional-Rail-Usage-2016-17.pdf">https://orr.gov.uk/__data/assets/pdf_file/0003/26598/Regional-Rail-Usage-2016-17.pdf</a></p>
<p><a name="_ftn2" href="#_ftnref2">[2]</a> Midlands Connect Rail Programme: Economic Evidence, 2018</p>
<p><a name="_ftn3" href="#_ftnref3">[3]</a> Midlands Connect Rail Programme: Economic Evidence, 2018</p>
<p><a name="_ftn4" href="#_ftnref4">[4]</a> <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/552492/rail-freight-strategy.pdf">https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/552492/rail-freight-strategy.pdf</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-06-26T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>