<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c171742-a726-4aee-a814-433949402511" Alias="£2.7bn transport plan to revolutionise East Midlands links to HS2 hub station at Toton" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/bnTransportPlanToRevolutioniseEastMidlandsLinksToHS2HubStationAtToton</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:23</CreateDate>
    <NodeName Default="£2.7bn transport plan to revolutionise East Midlands links to HS2 hub station at Toton" />
    <SortOrder>75</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>