<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4ff0d83-dd04-49c4-8de2-e1ebc6eeb2cf" Alias="20-year vision for A46 corridor will boost economy by £7.1 billion" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/yearVisionForA46CorridorWillBoostEconomyBy71Billion</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T15:42:55</CreateDate>
    <NodeName Default="20-year vision for A46 corridor will boost economy by £7.1 billion" />
    <SortOrder>238</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>The A46 corridor, a major cross-country route, spans 155 miles from Gloucestershire to Lincolnshire. Home to a variety of sectors including automotive, aerospace, advanced manufacturing, textiles and agriculture, it has an economic output of £115 billion a year. Future projections along the corridor have shown that significant growth is expected over the next 20 years, with 600,000 new residents, 150,000 new jobs and 250,000 new homes expected by 2041.</p>
<p>Midlands Connect’s 20-year vision for the A46 aims to future proof the route and if delivered in full, could boost the national economy by an additional £7.1 billion over 60 years. It will also bring 150,000 new jobs to the region.</p>
<p>Suggested interventions include improving junctions, roundabouts and reducing congestion at pinch points along the route.</p>
<p>The vision was presented today at the transport body’s A46 Conference, taking place at Coventry University Technology Park. The conference saw technical experts and representatives from Local and National Government delivering a number of keynote speeches and panels on improving the corridor and maximising productivity.</p>
<p>The transport body is now seeking Government support to fund the improvements needed as new residents, homes and jobs are projected along the corridor over the next 20 years.</p>
<p><strong>Midlands Connect CEO Maria Machancoses said: </strong></p>
<p>“Today’s Conference highlighted the urgent need for a long-term, national, and holistic approach into improving the A46 Corridor. I was delighted to see so many leading representatives from local government, industry, trade bodies and local organisations. As our speakers attested to today, it is crucial that this road continues to proper and grow, and to remain a key place of physical and digital connectivity for all.&nbsp; This is truly a levelling up programme and we will continue to work the National Highways and the Department for Transport to make it a reality”.</p>
<p><strong>Sir John Peace, Chairman of Midlands Connect, who gave the closing remarks added: </strong></p>
<p>“There is no doubt that the A46 Corridor is a hugely significant route for trade, business, and the economy. A variety of industries and businesses are housed along the corridor, all of which depend upon a reliable road network to connect to major international gateways like Birmingham Airport, the two Freeports at East Midlands Airport and the Humber.</p>
<p>With significant growth also predicted along the corridor over next 20 years, our proposed improvement plan is critical to ensure the A46 can support such growth and keep the UK economy running.”</p>
<p><strong>Councillor Mark Cargill, Chair of the A46 Partnership, also commented: </strong></p>
<p>“The A46 Partnership was formed to understand the crucial role of the A46 route in benefiting the local economy of the Midlands, alongside the wider UK economy. As Chair of the Partnership, I am pleased to support Midlands Connect’s important vision in improving the route and supporting future growth, and I am excited to see the plans take action.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-06-14T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/2028/a46-evesham-0004.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Sub-national Transport Body Midlands Connect is today presenting its 20-year vision for the A46 corridor, with improvement plans predicted to boost the economy by £7.1 billion over the next 60 years.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Insights"
]]]></Value>
    </tags>
  </Properties>
</Content>