<?xml version="1.0" encoding="utf-8"?>
<Content Key="469a63e6-f58f-4849-b687-5126037cceb2" Alias="3 signs you’re bored at work… and how to fix it" Level="3">
  <Info>
    <Parent Key="c66668c7-dfd8-4362-8b7f-60d466b2846d">Blog</Parent>
    <Path>/WestMidlandsCombinedAuthority/Blog/signsYouReBoredAtWorkAndHowToFixIt</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-05-21T09:41:06</CreateDate>
    <NodeName Default="3 signs you’re bored at work… and how to fix it" />
    <SortOrder>46</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="9863e759-9a1e-4008-a218-0ffdedf49032">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <hideImageInBlog>
      <Value><![CDATA[]]></Value>
    </hideImageInBlog>
    <hideOpinionMessage>
      <Value><![CDATA[]]></Value>
    </hideOpinionMessage>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>