<?xml version="1.0" encoding="utf-8"?>
<Content Key="88837dc5-4c6c-4ded-9f03-03ea015fc146" Alias="A Big Thank You For Off-Duty Special Constable And PCSO" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/ABigThankYouForOffDutySpecialConstableAndPCSO</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="A Big Thank You For Off-Duty Special Constable And PCSO" />
    <SortOrder>71</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>An off-duty Safer Travel Special Constable came to the rescue when an elderly passer-by tripped and was knocked unconscious in Birmingham city centre last month.</p>
<p>70-year-old Wendy Massey was on the way to a friend’s organ recital in Birmingham city centre when she tripped on the pavement, fell and banged her head. Off-duty Safer Travel Special Constable Connor Harris was nearby and saw Wendy unconscious and in need of help on the metro tracks. Coming to her aid, Connor tended to Wendy and called through to the on-duty Safer Travel police team, where PCSO Ollie Cornell came to assist and waited for the ambulance to arrive with Wendy. Both Ollie and Connor took Wendy to nearby St Chads Cathedral where Wendy was cared for by friends until she later received medical assistance.</p>
<p>A month later and after hospital treatment, Wendy is still recovering from the accident and is very grateful for the help she received from the Safer Travel officers on the day. In the cards she wrote:</p>
<p style="text-align: center;">&ldquo;Just a note to say thank you so much for looking after me and staying with me at St Chad’s metro station on 7<sup>th</sup> Feb.</p>
<p style="text-align: center;">&ldquo;I was really shaken up and so pleased you were passing on your way to work. You are a credit to yourself and your job.</p>
<p style="text-align: center;">&ldquo;Please have a drink on me.</p>
<p style="text-align: center;">Wendy&rdquo;</p>
<p>A firm believer in giving praise where it’s due, Wendy was appreciative that Connor and Ollie were both able to help and didn’t know what would’ve happened if they weren’t there. She said, &ldquo;It’s nice to know that there’s guys out there who are prepared to help. I seriously can’t thank you enough because I don’t know what I would’ve done. You truly are a credit to yourself and your job, and I can only thank you profusely.&rdquo;</p>
<p>Praising the actions of the two officers, Wendy thanked PCSO Cornell and SPC Harris with cards and money, which will be donated to the British Transport Police’s charity fund.&nbsp;</p>


                            
    
    <img src="/media/st/media/1087/ollie-and-connor-3.jpg" alt="Wendy thanks Safer Travel PCSO Ollie Cornell and SPC Connor Harris">
        <p class="caption">Wendy thanks Safer Travel PCSO Ollie Cornell and SPC Connor Harris</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>