<?xml version="1.0" encoding="utf-8"?>
<Content Key="87548014-4f10-41f8-b647-35c1ea947f7c" Alias="A Teenager Behind A Spate Of Senseless Vandalism On National Express Buses Has Been Making Amends By Cleaning Up After Passengers. (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ATeenagerBehindASpateOfSenselessVandalismOnNationalExpressBusesHasBeenMakingAmendsByCleaningUpAfterPassengers1</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2018-05-02T00:00:00</CreateDate>
    <NodeName Default="A Teenager Behind A Spate Of Senseless Vandalism On National Express Buses Has Been Making Amends By Cleaning Up After Passengers. (1)" />
    <SortOrder>226</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
        <img src="/st/media/1029/cleaning-bus.jpg" style="max-width:700px" class="img-responsive">
<p>The 16-year-old, from Rowley Regis, carried out 19 hours of restorative justice after he slashed seats on National Express buses. &nbsp;</p>
<p>During a three week period in August and September last year, the teenager struck nine times on vehicles in the Halesowen and Stourbridge areas.</p>
<p>A dedicated operator from National Express spent three days trawling through 23 hours of CCTV to connect the youngster to all of the crimes before he was identified by an officer from the Safer Travel police team.</p>
<p>He admitted criminal damage at Wolverhampton Magistrates Court on 18 October, and was ordered to pay £2,100 to National Express, as well as complete the unpaid work.</p>
<p>The teen spent his weekends working at Pensnett garage cleaning buses, car parks and litter picking. &nbsp;</p>
<p>This restorative justice scheme cuts reoffending by identifying youngsters who engage in low-level anti-social behaviour, such as vandalism and makes them put right some of the damage they’ve caused.</p>
<p>The youngster said: &ldquo;I was trying to be someone I wasn't to impress my so-called mates. I nearly ruined my chances at college. I don't hang around with them anymore; I hang around with my Dad.&rdquo;</p>
<p>The youngster’s father added: &ldquo;The programme has been great for my son. It’s made him think about the consequences of his actions and will hopefully prevent him from offending again. It was a very positive experience.&rdquo;</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-05-02T00:00:00]]></Value>
    </date>
  </Properties>
</Content>