<?xml version="1.0" encoding="utf-8"?>
<Content Key="558ebe22-a46a-4e7d-b149-76e103dd05e8" Alias="A46 Newark Bypass funding a major boost for the East Midlands" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/A46NewarkBypassFundingAMajorBoostForTheEastMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-09-30T00:00:00</CreateDate>
    <NodeName Default="A46 Newark Bypass funding a major boost for the East Midlands" />
    <SortOrder>63</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Commenting on news that <a href="https://www.bbc.co.uk/news/uk-politics-49872190">Chancellor of the Exchequer Sajid Javid has committed to funding the A46 Newark Bypass</a>, Midlands Connect director Maria Machancoses said: </strong><br><br></p>
<p>“Making sure the Newark Bypass is completed is a top priority for Midlands Connect to support businesses and commuters who experience regular congestion on the A46, and facilitate major housing and employment development in the town.</p>
<p>“The A46 is one of the country’s most important trade routes, especially the strategic freight route between the East Midlands and the Humber Ports. Newark has become a major bottleneck, holding back logistics firms that rely on the A46, and major manufacturers located along the corridor.</p>
<p>“We have spoken to hundreds of businesses, large and small, based along the A46 corridor, who have told us how important improvements are to the growth of their firms and how congestion, especially around Newark, is one of the biggest barriers to growth. Today’s announcement will be a massive boost to their future plans to create more jobs in the East Midlands.</p>
<p>“Securing this funding is the result of several years of passionate campaigning from our partnership, including Transport for the East Midlands and Nottinghamshire County Council, as well as the town’s MP Robert Jenrick. We will continue to work with these partners, and the Department for Transport, to ensure that the bypass is prioritised for completion by 2025.”</p>
<p><strong>Andrew Pritchard, Director of Policy and Infrastructure at East Midlands Councils and Transport for the East Midlands (TfEM) added: </strong></p>
<p>“The A46 Newark northern bypass will improve connectivity across Leicestershire, Nottinghamshire and Lincolnshire and unlock much needed new jobs and homes. It has been Transport for the East Midlands’ top road investment priority for some time – and the vital first part of our longer term strategy for the A46 growth corridor.”</p>
<p><strong>Neil Corner, Managing Director, Siemens Industrial Turbomachinery in Lincoln, said:</strong></p>
<p>“We are delighted to hear the A46 Newark Bypass is to be funded. It is a major route for our business and we hope these planned improvements will ease traffic flow, helping to make transportation more efficient so we can continue to provide our customers with the level of service they require.”</p>
<p><strong>Councillor Kay Cutts (MBE),&nbsp;Leader of Nottinghamshire County Council welcomed the announcement:</strong> “This scheme is a vital strategic infrastructure project that will bring far reaching benefits to the region and the wider parts of the UK. The A46 is worth an estimated £150 billion to the UK economy so this scheme has major national significance. The highway around Newark is crucial to the transport corridor from Immingham Docks down to the M5 in Tewkesbury and this trunk road has been at the top of the list for major improvements for many years.</p>
<p>“This is a key route which has been plagued by delays and periodic gridlock over many years, so it is also welcome news for residents and businesses of Nottinghamshire who will experience much needed relief to traffic congestion around Newark – offering enormous economic benefits to road users and industry alike. I wish to extend my thanks to Rt Hon Robert Jenrick, MP for Newark and Secretary of State for the Ministry of Housing, Communities, and Local Government, for his support of the scheme.</p>
<p>“This project is also especially important given the plans for up to 10,000 new homes in Newark by 2026. Several important businesses, including British Sugar, Vodaphone, Knowhow and Wilkinson’s rely on these roads. We know that congestion here can have a serious impact on the local and regional economy.</p>
<p>“The dual carriageway will mean that companies can keep their goods moving and will mean that the area will no longer be hampered by these kind of serious traffic problems.”</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-09-30T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>