<?xml version="1.0" encoding="utf-8"?>
<Content Key="181ef240-c8e8-4efb-ad60-c003bac73e47" Alias="A46 Corridor Conference" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/A46CorridorConference</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-06-14T00:00:00</CreateDate>
    <NodeName Default="A46 Corridor Conference" />
    <SortOrder>211</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Stretching for 155 miles from Gloucestershire to Lincolnshire, the A46 corridor is already home to 5.5 million people and 2.9 million jobs. We are seeking Government support for the improvements needed to&nbsp;encourage growth as&nbsp;new residents, homes and jobs are projected along the corridor over the next 20 years.&nbsp;</p>
<p>During the A46 Conference, we will hear from technical experts and representatives from Local and National Government for a number of keynote speeches and panels. It will discuss why improvements are needed, what we can do to unlock its potential and&nbsp;highlight its vital role in strengthening the local, regional, and national economy.</p>
<p>The A46 Conference will take place on Tuesday 14 June at Coventry University Technology Park.</p>
<p><a href="https://www.eventbrite.com/e/midlands-connect-a46-conference-tickets-330527826627?ref=estw">Click here to sign up now!</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-06-14T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/2028/a46-evesham-0004.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            Join us on 14 June as we outline our 20-year vision for the A46, which could boost the economy by £7.1 billion over 60 years!
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>