<?xml version="1.0" encoding="utf-8"?>
<Content Key="5631c936-aa91-4932-bdbb-44e91a6d56d5" Alias="A50/A500 investment proposals given overwhelming ‘thumbs up’ by residents" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/A50A500InvestmentProposalsGivenOverwhelmingThumbsUpByResidents</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T15:42:54</CreateDate>
    <NodeName Default="A50/A500 investment proposals given overwhelming ‘thumbs up’ by residents" />
    <SortOrder>235</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>The research, done by YouGov for Midlands Connect, shows that local residents surveyed throughout Staffordshire (East Staffordshire, Newcastle-under-Lyme, Stafford and Staffordshire Moorlands) approve of the plans to upgrade the A50/A500. Respondents read a brief summary of the proposals and were asked whether they supported or opposed them.&nbsp; 72% supported the plans and just 4% opposed them, with the highest level of support in Staffordshire Moorlands (77%) . East Staffordshire and Newcastle-under-Lyme both saw support of 73% and just 5% of respondents opposing the plans.</p>
<p>Amongst those surveyed in Stafford, there was 65% support for the project and just 2% in&nbsp; opposition to the plans.</p>
<p>When asked “What impact, if any, do you think the upgrade plans would have on reducing journey times for you and your family, once they are complete?”, 50% of those surveyed in Staffordshire Moorlands thought it would have a very&nbsp; large or significant impact on them. Overall, 43% of those asked said it would be impactful for their family in reducing journey times.</p>
<p>70% agreed that they thought the A50/ A500 upgrade plans would have wider benefits for the area&nbsp; in ways including reducing congestion and less traffic in residential areas. The highest agreement for this was in Stafford at 71%.</p>
<p>90% of those surveyed&nbsp;&nbsp; agreed that road safety should be taken into account when improving roads, with the highest&nbsp; agreement being 91% in East Staffordshire. However, 61% of people agreed that climate change was a major factor to think about in regards to road improvements, with&nbsp; this increasing to 67% in Stafford.</p>
<p>Midlands Connect released major plans to improve A50/A500 corridor in Staffordshire and Derbyshire in February and document outlined how improvements in the route could add £12 billion to the region's economy over the next 60 years, help to unlock more than 12,000 jobs and reduce journey times by 30 minutes.</p>
<p>The organisations want the government to give National Highways the funding for the schemes over the next three Road Investment Strategies (RIS), with the central section around Uttoxeter as well as M6 J15 as the priority for RIS 3.</p>
<p>If successful, work could start on the first phase of the plans as early as 2025.</p>
<p><strong>Commenting on the research, Midlands Connect head of Roads Swati Mittal said:</strong></p>
<p>“Over the last two years, Midlands Connect has undertaken intensive analysis to help understand the A50/A500 corridor and working to identify current and future traffic problems, building the case for investment. It is great to see our work being given the thumbs up and being supported by residents to such a degree. This research will now play a key role in helping to make the case for investment in the A50/A500.</p>
<p>“Midlands Connect will now work with Government and national bodies like National Highways to seek their support in progressing at pace with our proposals ensuring the businesses, communities, towns and cities it serves are able to reach their potential and benefit from sustainable growth, healthier living and prosperity for decades to come.”</p>
<p><strong>Staffordshire County Council’s deputy leader and cabinet member for economy and skills Philip White said:</strong></p>
<p>“The upgrade of the A50/A500 corridor will make a major contribution to the future growth not only of Staffordshire but also the Midlands and wider UK economy.</p>
<p>“As a county council we have set out our economic development priorities which includes improving our strategic transport routes.</p>
<p>“The planned improvements form part of a wider proposal to enhance the productivity of a corridor which is home to many of the country’s leading manufacturers that has huge potential to boost the local and national economy. We’re pleased they have received overwhelming backing from local communities.</p>
<p>“We look forward to working closely with Midlands Connect and other council partners to deliver the plans set out in the report, building on our previous successful redevelopment of the A50 Uttoxeter junction close to JCB, with National Highways.”</p>
<p>Project Champion for the North Midlands Manufacturing Corridor, Kate Griffiths MP, said:</p>
<p>“Upgrades to the A50/A500 corridor are vital to improving not only local connectivity but also regional connectivity too and unleashing all the economic benefits that would be unlocked from investing in this critical trunk road.</p>
<p>“As Member of Parliament for Burton and Uttoxeter, the A50 runs through my constituency and I hear on regular basis from residents about the issues the A50 poses to journeys and the knock on impact that has on local communities here in the Midlands.</p>
<p>“I know that the ambitious proposals set out in the Midlands Connect report to improve the central section of the A50 which passes through Uttoxeter have strong public support locally. It is therefore not surprising to me that positive approval for these possible plans has been reflected in these survey results.</p>
<p>“I look forward to continuing to work with Midlands Connect, Staffordshire County Council and others as we now make that same case to Government to level-up the A50 and deliver these important upgrades to our local infrastructure”.&nbsp;</p>
<p><strong>Aaron Bell MP, Member of Parliament for Newcastle-under-Lyme, said:</strong></p>
<p>“I am not surprised to see such strong support in Newcastle-under-Lyme for these proposals, since traffic and delays on the A50/A500 can be a major inconvenience for my residents. I look forward to working with Midlands Connect to push for this important investment into our local infrastructure.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-05-30T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/2025/a50_a500-sideway-roundabout-0003.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Proposals to improve the A50/A500 have been given a resounding ‘thumbs up’ by local residents according to research commissioned by Midlands Connect.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Insights"
]]]></Value>
    </tags>
  </Properties>
</Content>