<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e0ebe47-0c6e-42f9-ba07-e090f33b0faa" Alias="Advice &amp; Support" Level="2">
  <Info>
    <Parent Key="fe122f10-4b2d-4c38-b841-a4e3f2f59ef5">Safer Travel</Parent>
    <Path>/SaferTravel/AdviceSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageSaferTravel</ContentType>
    <CreateDate>2024-01-26T11:02:33</CreateDate>
    <NodeName Default="Advice &amp; Support" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1db12431-1a69-4817-9555-0c267059e76c">ContentPage1</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6062f5ff92f043a39072f55558cfa330",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/08afb984c08b4b5db3955c6ae86c1cb6",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/6062f5ff92f043a39072f55558cfa330"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/08afb984c08b4b5db3955c6ae86c1cb6",
      "richText": "<ul>\n<li><a href=\"/{localLink:umb://document/daf58027259f42ee9513b2564dd35a51}\" title=\"Advice\">Advice</a></li>\n<li><a href=\"/{localLink:umb://document/5aa4509da9ae45538f27d89774d5915f}\" title=\"Education\">Education</a></li>\n<li><a href=\"/{localLink:umb://document/b729570a7bad4324bf060fe320eeab0d}\" title=\"Useful Information\">Useful information</a></li>\n</ul>"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
  </Properties>
</Content>