<?xml version="1.0" encoding="utf-8"?>
<Content Key="d220f396-7b84-4fa1-a746-37572e06caee" Alias="Alternative HS2 review ignores scheme’s importance to the Midlands" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/AlternativeHS2ReviewIgnoresSchemeSImportanceToTheMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2020-01-05T00:00:00</CreateDate>
    <NodeName Default="Alternative HS2 review ignores scheme’s importance to the Midlands" />
    <SortOrder>66</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Responding to Lord Berkeley’s alternative HS2 review, reported in the media today, Midlands Connect Director Maria Machancoses said:</strong></p>
<p>“Lord Berkeley’s suggestion that the government should consider building only small sections of HS2 in the north of England shows a disgraceful ignorance of how important the scheme is to the Midlands. Our region of more than ten million people stands to benefit the most from HS2, yet we are consistently squeezed out of the debate. HS2 must be delivered in full.</p>
<p>“Contrary to Lord Berkeley’s view that the benefits of HS2 have been overstated, I believe firmly that they have been vastly underestimated. During the official Oakervee Review, Midlands Connect and our partners submitted swathes of compelling new evidence showing that integrating HS2 with existing networks can bring vast improvements to journeys for millions of people.</p>
<p>“HS2 is the best way of levelling up the country and unleashing our potential. There are no “shovel ready” alternatives that could transform our rail network in the same way, provide the extra capacity we so desperately need and contribute to our low-carbon transport future.</p>
<p>“It is disingenuous to suggest that the government could upgrade existing lines in the Midlands and the North without HS2. Our £3.5 billion Midlands Engine Rail proposals are fully integrated with HS2, as is Northern Powerhouse Rail, and we have said repeatedly that neither scheme can be fully realised without delivering HS2 in its entirety.</p>
<p>“We are working closely with the new government to back our wider Midlands Engine Rail plan which, by using capacity released by HS2, will introduce more than 700 new passenger services every day in every corner of the Midlands.</p>
<p>“We will continue to make the case for HS2 until it is secured in full. It is time to get on with delivering the infrastructure the Midlands and the North so desperately needs, and we look forward to working with our partners and the new government to make it happen.”</p>
<p>-ENDS-</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-01-05T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1535/maria-machancoses-3.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>