<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ae76ee8-7d81-443f-aea9-355245512ea7" Alias="Alternative Fuels: Beyond Fossils" Level="3">
  <Info>
    <Parent Key="aa0ea236-e528-43b9-975b-9289669b7f62">Publications</Parent>
    <Path>/MidlandsConnect/Publications/AlternativeFuelsBeyondFossils</Path>
    <Trashed>false</Trashed>
    <ContentType>publication</ContentType>
    <CreateDate>2024-01-26T17:04:09</CreateDate>
    <NodeName Default="Alternative Fuels: Beyond Fossils" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2021-06-16T00:00:00]]></Value>
    </date>
    <document>
      <Value><![CDATA[[
  {
    "key": "2780cac3-b8d3-4a7b-b9ee-fe0eb46c89d3",
    "mediaKey": "a50fb39a-53cc-4159-bc71-98b914fbd717"
  }
]]]></Value>
    </document>
  </Properties>
</Content>