<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1f248a6-239c-42b1-8521-f690629e88c6" Alias="Andrew Turton" Level="3">
  <Info>
    <Parent Key="9af3708d-9d5e-4145-8d46-137f7ce2a49d">Authors</Parent>
    <Path>/WestMidlandsCombinedAuthority/Authors/AndrewTurton</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2023-12-18T14:02:28</CreateDate>
    <NodeName Default="Andrew Turton" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bio>
      <Value><![CDATA[]]></Value>
    </bio>
    <facebook>
      <Value><![CDATA[]]></Value>
    </facebook>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <jobTitle>
      <Value><![CDATA[Senior Digital Communications Officer]]></Value>
    </jobTitle>
    <linkedin>
      <Value><![CDATA[[
  {
    "name": "Andrew Turton LinkedIn",
    "target": "_blank",
    "url": "https://www.linkedin.com/in/andrewturtoncomms/"
  }
]]]></Value>
    </linkedin>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
  </Properties>
</Content>