<?xml version="1.0" encoding="utf-8"?>
<Content Key="68c84378-25eb-4846-9866-5c1e8c976584" Alias="Appeal Following Arson Attack On 74 Bus" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/AppealFollowingArsonAttackOn74Bus</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Appeal Following Arson Attack On 74 Bus" />
    <SortOrder>108</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>#Appeal | Do you recognise this youth?</p>

<p>We want to speak to him after an arson attack destroyed a double decker bus in #Handsworth on Wednesday 24<sup>th</sup> May.</p>

<p>The youth, who was seated upstairs at the rear of the number 74 bus, boarded on Holyhead road near Austin Road, at about 7pm.</p>

<p>At around 7.20pm, whilst the bus was travelling along Soho Road towards Birmingham, a fire was started resulting in all passengers being required to evacuate near to the junction with Rookery Lane.</p>

<p>Anybody with information relating to the attack is asked to contact 101 and quote reference 20/435278/23, or use the Live Chat option on westmidlands.police.uk</p>


                            
    
    <img src="/media/st/media/1145/74-arson-may-23-final.jpg">


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>