<?xml version="1.0" encoding="utf-8"?>
<Content Key="75512371-8f62-4339-989d-d01b8073b354" Alias="Award For 'Memory Man' With Knack For Spotting Suspects (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/AwardForMemoryManWithKnackForSpottingSuspects1</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Award For 'Memory Man' With Knack For Spotting Suspects (1)" />
    <SortOrder>173</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p><img style="width: 348px; height:256px;" src="/st/media/1071/andy.jpg?width=348&amp;height=256" alt="" data-udi="umb://st/media/99e79869c58e46b8b0d9ec5f1838c4c0"></p>
<p>A COMMUNITY officer dubbed West Midlands Police's 'Memory Man' is to be honoured for his "astonishing" record of spotting criminals on Birmingham's streets.</p>
<p>PCSO Andy Pope has successfully identified more than 130 wanted people in just 12 months having memorised their images from CCTV stills and police briefing systems.<span>&nbsp;</span>It has led to the arrest and conviction of thieves, sex offenders and people wanted for violence.</p>
<p>In one remarkable case he even recognised a serial robber who walked past him in the city centre a YEAR after his image had appeared on BBC's Crimewatch programme!</p>
<p>The 34-year-old who works with the Safer Travel team policing public transport routes will receive the Joyce Campbell Award on July 11 from West Midlands Police Chief Constable Chris Sims.</p>
<p>It's an accolade given to honour the force's police staff member of the year but modest Andy insists some of his spots are down to luck and being in the right place at the right time.</p>
<p>He said: "With Safer Travel I spend a lot of time in Birmingham and on arterial routes into the centre a lot of offenders do pass through city at some point and, when they do, I want to be able to recognise them.</p>
<p>"I get into work 30 minutes before my shift starts and scan police systems to see if any new wanted faces have been added and I'll maybe have another look at lunch as a refresher.</p>
<p>"I don't think I've got any special gift, just a knack for remembering faces.</p>
<p>"I'm responsible for a couple of busy bus corridors; it's my job to make them as safe as possible so passengers can enjoy a pleasant journey. Anyone causing a problem for passengers I want to find them."</p>
<p>Father-of-one Andy has helped the Safer Travel team dramatically cut crime on the region's bus, train and metro network.</p>
<p>Last year there were 345 fewer victims compared to the previous 12 months and, over the last five years, public transport crime has fallen by a huge 65 per cent.</p>
<p>It means that there is only one offence committed on West Midlands public transport in every 147,000 bus rides.</p>
<p>West Midlands Police Safer Travel Inspector Gareth Morris, said: "Andy has shown an astonishing ability in facial recognition and, as a direct result of his identifications, numerous prolific offenders have been brought to justice.</p>
<p>"He has a fantastic work ethic and commitment to Safer Travel; he's so successful that he's the first stop for many detectives hoping to identify offenders.</p>
<p>"He has made a great contribution to helping reduce crime on our transport networks let's see how many wanted people he can spot this year!"</p>
<p>Andy, from Redditch, has been a PCSO for seven years and joined the Safer Travel team in January 2008 following stints with neighbourhood police teams in Kings Norton and Acocks Green.</p>
<p>He rates his Crimewatch identification last year as his best 'street spot'. He added: "There had been several nasty robberies on the number 9 bus route and an image of the main suspect appeared on Crimewatch in 2010.</p>
<p>"About a year later I was walking in Colmore Row when I passed a man and thought 'I know that face from somewhere'. I started chatting to him, took his details, and a few days later we made the arrest.</p>
<p>"I may have a knack for remembering faces but my wife and friends will tell you I'm still more than capable of forgetting birthdays or anniversaries!"</p>
<p>Launched six years ago, Safer Travel is a joint venture between West Midlands Police, British Transport Police and regional transport authority Centro&nbsp;which works to tackle crime and anti-social behaviour on public transport.</p>
<p>Police operations have involved a range of tactics including high visibility and covert patrols, special transmitters which "tap" into live bus CCTV systems, drug sniffer dogs to check passengers and the mounting of surveillance cameras at key locations.</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>