<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ec87bf9-fd98-43ff-a359-85f0de960545" Alias="Birmingham Man Jailed After Racially Abusing And Assaulting A Bus Driver." Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/BirminghamManJailedAfterRaciallyAbusingAndAssaultingABusDriver</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Birmingham Man Jailed After Racially Abusing And Assaulting A Bus Driver." />
    <SortOrder>100</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>A-50 year-old Birmingham man has been jailed this week after racially abusing and assaulting a bus driver.</p>
<p>Jason Killilea, of Tintern Road, Witton, attempted to board a bus outside Moor St Station on Sunday 2 October without paying. When the driver challenged him, Killilea racially abused him before punching him to the right side of the face and attempted to make off. However police officers nearby were able to detain and arrest him.</p>
<p>Killilea was charged with racially aggravated assault and on appearing at Birmingham Magistrates on the 12 October he was sentenced to six months imprisonment. The driver was uninjured as a result of the attack.</p>
<p>Inspector Rachel Crump, head of the Safer Travel policing team, said: ‘This sentence shows that we will not tolerate hate crime. This abhorrent assault on a man just doing his job is shocking.</p>
<p>&ldquo;We would urge anybody suffering abuse on public transport to ring 999 in an emergency or to text ‘SeeSay’ to 81018 with full details of the incident.’</p>


                </div>
            </div>        </div>
        </div>
    </div>
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
    <img src="/media/st/media/1130/hate-crime-facebook-post.jpg">


                </div>
            </div>        </div>
        </div>
    </div>
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>Note</p>

<p>Safer Travel is a partnership between West Midlands Police, British Transport Police and Transport for West Midlands.</p>
<p>We work to stop crime, anti-social and nuisance behaviour on public transport.</p>
<p>We have access to over 1,400 CCTV cameras, which are staffed 24/7 to identify and respond to incidents which are located in bus, train and tram stations.</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>