<?xml version="1.0" encoding="utf-8"?>
<Content Key="109cf4b0-4d46-4edc-8212-3f7a1d1070e8" Alias="Birmingham Airport and Midlands Connect sign ground-breaking agreement" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/BirminghamAirportAndMidlandsConnectSignGroundBreakingAgreement</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2020-01-22T00:00:00</CreateDate>
    <NodeName Default="Birmingham Airport and Midlands Connect sign ground-breaking agreement" />
    <SortOrder>68</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Birmingham Airport and</strong> <strong>Sub-national Transport Body Midlands Connect have signed a collaboration agreement, committing to work closely together to improve access to the airport from across the region and beyond. </strong></p>
<p>The commitment includes a pledge to collaborate on projects across both road and rail, maximising passenger mobility and increasing connectivity to Birmingham Airport. &nbsp;&nbsp;</p>
<p>Better road and rail links to Birmingham Airport are central to fulfilling its Masterplan, which will see the airport invest £500 million over the next 15 years to improve customer facilities and cater for forecast growth in passengers from the current 13 million, to 18 million by 2033.</p>
<p>The two organisations will work in partnership to secure Government backing for Midlands Engine Rail, a £3.5 billion plan to transform inter-regional rail connectivity. Midlands Engine Rail contains the Birmingham Airport Connectivity project, which will introduce direct links between Birmingham International Station and the cities of Derby, Sheffield, Doncaster and York, while also doubling rail services from Birmingham International to Leamington, Banbury, Oxford and Reading.</p>
<p>Midlands Connect will work with Birmingham Airport to enhance the nearby road network, including the A45 and A46, both of which are strategically important for business and individuals looking to access this nationally-significant gateway.</p>
<p>Both organisations are also committed to ensuring the full and timely delivery of HS2. Birmingham Airport will be the first to benefit from direct connections to High Speed Two, via the nearby Interchange station.</p>
<p><strong>Sir John Peace, chairman of Midlands Connect said:</strong></p>
<p>“This collaboration agreement demonstrates our commitment to opening up local, regional and national access to Birmingham Airport. Improving connectivity for passengers and businesses via our roads and railways is essential if we are to support the airport’s ambitious growth plans. It is absolutely imperative that government commits to funding Midlands Engine Rail, improve the surrounding road network and crucially, to deliver HS2 in its entirety. I look forward to working alongside Birmingham Airport as we move towards this common goal.”</p>
<p><strong>Nick Barton, chief executive officer of Birmingham Airport said:</strong></p>
<p>“It’s fantastic to sign this agreement with Midlands Connect, underpinning our strong, strategic relationship, as well as a joint commitment to improving the passenger experience for those travelling from and to Birmingham Airport. It’s vital that we continue to work together and that Midlands Connect’s priorities, as well as HS2 get a vote of confidence from the new government. We need investment in our roads and railways to keep pace with passenger growth, fulfill our Masterplan ambitions and build a transport network fit for the future.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-01-22T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1693/bhx-mc-1.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>