<?xml version="1.0" encoding="utf-8"?>
<Content Key="76cf9137-dd3a-49b3-8fe3-aac73daa9db6" Alias="Birmingham" Level="2">
  <Info>
    <Parent Key="ef6a9ddd-5683-4bf4-b433-57f9709da781">Change Into Action</Parent>
    <Path>/ChangeIntoAction/Birmingham</Path>
    <Trashed>false</Trashed>
    <ContentType>areaCia</ContentType>
    <CreateDate>2024-07-23T09:54:05</CreateDate>
    <NodeName Default="Birmingham" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="99952ca6-8ff4-4488-a2af-7b5f0928930e">AreaCia</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1b1cff4ed34d40fa8f1ec7baafce5e07",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/4b0c316d92b442a29ea751e773453943",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/1b1cff4ed34d40fa8f1ec7baafce5e07"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/4b0c316d92b442a29ea751e773453943",
      "richText": {
        "markup": "<h2>Birmingham</h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
    <image>
      <Value><![CDATA[[
  {
    "key": "6f9bd282-0bac-42cd-811a-74e5efb3d3ac",
    "mediaKey": "25b58a18-9113-4677-afd9-0e9f0dfe95ef"
  }
]]]></Value>
    </image>
    <imagePosition>
      <Value><![CDATA[]]></Value>
    </imagePosition>
    <leftButtonIcon>
      <Value><![CDATA[]]></Value>
    </leftButtonIcon>
    <leftButtonLink>
      <Value><![CDATA[[
  {
    "name": "Donate to take action",
    "udi": "umb://document/ef6a9ddd56834bf4b43357f9709da781"
  }
]]]></Value>
    </leftButtonLink>
    <rightButtonIcon>
      <Value><![CDATA[]]></Value>
    </rightButtonIcon>
    <rightButtonLink>
      <Value><![CDATA[[
  {
    "name": "Locate a rough sleeper",
    "udi": "umb://document/ef6a9ddd56834bf4b43357f9709da781"
  }
]]]></Value>
    </rightButtonLink>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <tagLine>
      <Value><![CDATA[Turn your Change  into Action for  rough sleepers]]></Value>
    </tagLine>
  </Properties>
</Content>