<?xml version="1.0" encoding="utf-8"?>
<Content Key="76cf9137-dd3a-49b3-8fe3-aac73daa9db6" Alias="Birmingham" Level="2">
  <Info>
    <Parent Key="ef6a9ddd-5683-4bf4-b433-57f9709da781">Change Into Action</Parent>
    <Path>/ChangeIntoAction/Birmingham</Path>
    <Trashed>false</Trashed>
    <ContentType>areaCia</ContentType>
    <CreateDate>2024-07-23T09:54:05</CreateDate>
    <NodeName Default="Birmingham" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="99952ca6-8ff4-4488-a2af-7b5f0928930e">AreaCia</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1b1cff4ed34d40fa8f1ec7baafce5e07",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/4b0c316d92b442a29ea751e773453943",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/c4d6448e4fc546f6839f814223a87a33",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3afe4252b26b478a937a2304b2a0ba7b",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/df98084d9b11438aa512b185f78b436c",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/2415b1c67b214256a78276f6ef6b00a0",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/f1729eaf12954f1b8db4f337ceb62f87",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/07d45c1b02174f1ea3fa32d42322535c",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/1b1cff4ed34d40fa8f1ec7baafce5e07"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/4b0c316d92b442a29ea751e773453943",
      "richText": {
        "markup": "<h2>We are working with rough sleeper</h2>\n<p>Our services are there for rough sleepers on the streets, in day centres and housing, and you can help us do more by <a href=\"/{localLink:umb://document/3df246d59b494e8d9231b4fb58a510dd}\" title=\"Donate\">donating</a>.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "794222f9-4840-4742-85e4-824fe89f90b5",
      "udi": "umb://element/c4d6448e4fc546f6839f814223a87a33",
      "insetText": {
        "markup": "<p>With your help, we’ve raised over £131,652! \u2028<br><a href=\"/{localLink:umb://document/0d80114bfa7645e48ee33079e834cdf3}\" title=\"Making the change\">See how we’re putting your change into action</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/3afe4252b26b478a937a2304b2a0ba7b",
      "richText": {
        "markup": "<h2>Together for Change</h2>\n<p>Our dedicated teams ensure your change makes a personal difference to the life of a rough sleeper.</p>\n<h2>One Team</h2>\n<p>Our multi-disciplinary teams get to know and understand the circumstances that lead to rough sleeping, which is how your help is matched to an individual’s needs.<br><br><a href=\"/{localLink:umb://document/41c819ea6e124471a81efde455d476b0}\" title=\"About\">Read more about us</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/df98084d9b11438aa512b185f78b436c",
      "image": [
        {
          "key": "8bb64e8b-7781-43fc-8554-3f3d355aa3b6",
          "mediaKey": "f63c51dc-7e64-47c0-87b7-79dd30534d49"
        }
      ],
      "title": "",
      "copy": {
        "markup": "<p>“I kept thinking of how I will cope indoors after being on the streets for over ten years, I am still learning to handle myself and to process things in my head.”</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "link": "",
      "useIcon": "No Icon",
      "useButton": "No",
      "buttonType": "",
      "useImage": "Yes",
      "useTitle": "No",
      "useLink": "No",
      "useSecondButton": "No",
      "linkSecondButton": "",
      "buttonTypeSecondButton": "",
      "icon": "",
      "materialIcon": "",
      "buttonIcon": "",
      "buttonIconSecondButton": ""
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/2415b1c67b214256a78276f6ef6b00a0",
      "richText": {
        "markup": "<h2>Making the change</h2>\n<p>See how your generosity has helped to turn lives around in Birmingham</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/07d45c1b02174f1ea3fa32d42322535c",
      "video": [
        {
          "url": "https://www.youtube.com/watch?v=CdyAAHXVcA4",
          "width": 360,
          "height": 240,
          "preview": "<iframe width=\"360\" height=\"203\" src=\"https://www.youtube.com/embed/CdyAAHXVcA4?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\" referrerpolicy=\"strict-origin-when-cross-origin\" allowfullscreen title=\"Change Into Action\"></iframe>"
        }
      ]
    },
    {
      "contentTypeKey": "59a607bd-81a1-490b-bb0b-bcf897847273",
      "udi": "umb://element/f1729eaf12954f1b8db4f337ceb62f87",
      "area": "umb://document/0d80114bfa7645e48ee33079e834cdf3",
      "resultsPerPage": "4"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
    <image>
      <Value><![CDATA[[
  {
    "key": "a807f3bb-e4de-4c48-8349-580d65ad6f74",
    "mediaKey": "5ffc79a8-10b2-46e2-a31a-eed45a3f61de"
  }
]]]></Value>
    </image>
    <imagePosition>
      <Value><![CDATA[]]></Value>
    </imagePosition>
    <leftButtonIcon>
      <Value><![CDATA[{
  "icon": "ds-general-thumbs-up",
  "packageId": "a78164bc-e4fd-42b0-b927-d2e00faa913c"
}]]></Value>
    </leftButtonIcon>
    <leftButtonLink>
      <Value><![CDATA[[
  {
    "name": "Donate to take action",
    "udi": "umb://document/3df246d59b494e8d9231b4fb58a510dd"
  }
]]]></Value>
    </leftButtonLink>
    <rightButtonIcon>
      <Value><![CDATA[{
  "icon": "ds-general-location-pin",
  "packageId": "a78164bc-e4fd-42b0-b927-d2e00faa913c"
}]]></Value>
    </rightButtonIcon>
    <rightButtonLink>
      <Value><![CDATA[[
  {
    "name": "Locate a rough sleeper",
    "udi": "umb://document/db8b2b272b264e399512622b70117247"
  }
]]]></Value>
    </rightButtonLink>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>Turn your Change <br>into Action for <br>rough sleepers</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
    <test>
      <Value><![CDATA[]]></Value>
    </test>
  </Properties>
</Content>