<?xml version="1.0" encoding="utf-8"?>
<Content Key="c66668c7-dfd8-4362-8b7f-60d466b2846d" Alias="Blog" Level="2">
  <Info>
    <Parent Key="68f3e929-d00c-48b7-b313-c89086636804">WMCA Homepage</Parent>
    <Path>/WMCAHomepage/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-08-01T10:28:31</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="06be2d92-daa9-4561-b8f2-8abfbaaab41b">Blog</Template>
  </Info>
  <Properties>
    <tags>
      <Value><![CDATA[[
  "Skills, education and careers",
  "Economy",
  "Business support",
  "Environment and net zero",
  "Inclusive growth",
  "Transport",
  "Life in the West Midlands",
  "People of the West Midlands",
  "Podcasts",
  "Research and insights",
  "Housing and regeneration",
  "Health",
  "Devolution",
  "Equality and diversity"
]]]></Value>
    </tags>
  </Properties>
</Content>