<?xml version="1.0" encoding="utf-8"?>
<Content Key="2deaa35a-3abb-4de3-92ec-1bfc916fed5e" Alias="Boxing Day Arson Attack" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/BoxingDayArsonAttack</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2024-01-23T16:34:28</CreateDate>
    <NodeName Default="Boxing Day Arson Attack" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="23c028a4-b74b-402f-bc78-c21801280a5f">NewsArticle</Template>
  </Info>
  <Properties />
</Content>