<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd7de6f6-cec3-4f94-acbd-308f04d923bd" Alias="Brave Cop Suffered 11 Fractures Tackling Domestic Abuse Thug" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/BraveCopSuffered11FracturesTacklingDomesticAbuseThug</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2019-07-03T00:00:00</CreateDate>
    <NodeName Default="Brave Cop Suffered 11 Fractures Tackling Domestic Abuse Thug" />
    <SortOrder>70</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p style="background: white;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">A West Midlands Police officer who rescued a woman from her violent partner – and was left with multiple fractures having been mowed down by the thug in his car – has been hailed a hero and potential &ldquo;lifesaver&rdquo;.</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">PC Julie Thomas was on duty at Walsall bus depot on 6 September last year when she spotted Clover Johnson hammering on a bus window in a bid to reach his battered partner taking refuge on board.</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">Minutes earlier Johnson had punched the woman in the face as he tried bullying her into dropping her police statement following a previous domestic assault that left her with a broken nose.</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">PC Thomas pulled the 52-year-old away from the bus and gave chase as he made a dash for his car – but as she clung to the driver’s door he accelerated away and crushed her against a traffic light post.</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">The 50-year-old suffered 11 fractures across her body including five broken ribs, a broken pelvis and a punctured lung; she spent 10 days in hospital recovering from her injuries.</span></p>


                            
    
    <img src="/media/st/media/1086/clover-johnson-wm.png" alt="Jailed: Domestic violence thug Clover Johnson who deliberately knocked down a female PC in his car">
        <p class="caption">Jailed: Domestic violence thug Clover Johnson who deliberately knocked down a female PC in his car</p>


                            
    



                            
    
<p style="background: white;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">Johnson, of Hillary Street in Pleck, sped away from the scene and dumped his car in Thames Road, Walsall, where it was later recovered by officers.</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">West Midlands Police issued an appeal to trace Clover which led officers to Cairns Street where Clover was found hiding in a cupboard.</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">He went on to admit charges of causing grievous bodily harm plus assault by beating on his former partner – and at Wolverhampton Crown Court on Tuesday (5 March) he was jailed for eight years.</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">PC Thomas works with West Midlands Police’s Safer Travel team – policing the region’s public transport network – and returned to the team in February.</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">Safer Travel Inspector Rachel Crump praised PC Thomas’ actions in helping put a vicious domestic abuse offender behind bars.</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">She added: &ldquo;Clover has a history of serious domestic abuse; he’d already seriously injured a woman and my fear is that the level of violence he was using could have escalated and potentially put the woman’s life at risk.</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">&ldquo;Julie was on duty at the bus station on an operation to protect passengers – but very quickly she found herself called to confront a dangerous man who was clearly intent on harming his partner.</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">&ldquo;What she did was extremely courageous and in my view may well, in the long run, have saved the life of the woman who’d been suffering at his hands.</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">&ldquo;Julie is still going through intensive rehabilitation and physio for her injuries but she was determined to get back to work in some capacity. She returned at the start of February and she’s hopeful of getting back on frontline duties soon.&rdquo;</span></p>
<p style="background: white; box-sizing: border-box; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin: 0cm 0cm 14.0pt 0cm;"><span style="font-size: 13.5pt; font-family: 'Arial',sans-serif; color: #37474f;">Another charged of assault causing actual bodily harm was left to lie on the court file.</span></p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-07-03T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>