<?xml version="1.0" encoding="utf-8"?>
<Content Key="d774f04e-13de-4a3f-b628-abca07fe3791" Alias="British Transport Police Cadets At New Street Station" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/BritishTransportPoliceCadetsAtNewStreetStation</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-11-30T17:02:08</CreateDate>
    <NodeName Default="British Transport Police Cadets At New Street Station" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
  </Properties>
</Content>