<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c03e448-b14f-4961-bb43-bc4c18db6c55" Alias="Budget 2020: With HS2 secured, Government urged to back Midlands Engine Rail" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/Budget2020WithHS2SecuredGovernmentUrgedToBackMidlandsEngineRail</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:22</CreateDate>
    <NodeName Default="Budget 2020: With HS2 secured, Government urged to back Midlands Engine Rail" />
    <SortOrder>71</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>Budget ‘asks’ outlined by Midlands Connect in letter to the Chancellor</li>
<li>Transport bosses urge Government to fund Midlands Engine Rail</li>
<li>Oakervee Review recommends integration of HS2 and Midlands Engine Rail</li>
<li>Backing sought for Midlands-wide contactless payment system for public transport</li>
<li>Conservative Party won 16 new seats in December’s election, it represents 75 of 98 constituencies in the Midlands Engine</li>
</ul>
<p>Sub-national Transport Body Midlands Connect has called on Government to commit to Midlands Engine Rail in March’s budget, fulfilling its pledge to spearhead an infrastructure revolution and level up the country.</p>
<p>It is urging the Chancellor to fund <span><a href="/mc/media/1692/final-midlands-engine-rail-report.pdf">Midlands Engine Rail</a></span>, a £3.5 billion package of upgrades with the potential to add 736 services to the rail network each day, make the most of capacity released by High Speed Two (HS2), as well as introducing services that will bring high speed trains into Nottingham and Leicester city centres.&nbsp;</p>
<p>The government-commissioned <span><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/864842/oakervee-review.pdf">Oakervee Review</a></span> recommends that Midlands Engine Rail and HS2 are developed in an integrated way to ensure “an optimal solution providing maximum benefits to the Midlands.”</p>
<p>After confirming that HS2 will be delivered in its entirety, the government has launched an Integrated Rail Plan to maximise the benefits of rail investments in the Midlands and the North and their integration with Phase 2b of HS2.</p>
<p>MER’s flagship scheme is the <span><a href="/mc/media/1571/midlands-rail-hub-summary-report-final-june-2019.pdf">Midlands Rail Hub</a></span>, a £2bn plan to revolutionise connectivity on both commuter and interregional services between towns and cities including Coventry, Birmingham, Leicester, Nottingham, Derby, Lincoln, Worcester, Hereford and beyond. It will also provide a step-change in capacity to Birmingham’s Moor Street station, which will share a public square with the HS2 terminus at Curzon Street station.</p>
<p>Investing in the Midlands Rail Hub was outlined as a key priority in the Conservative Party Manifesto, with Prime Minister Boris Johnson reaffirming his government’s commitment to the project at Prime Ministers’ Questions last month.</p>
<p>Other Midlands Engine Rail schemes include a plan to enhance UK-wide rail connectivity to Coventry and Birmingham Airport, and improvements to the Birmingham – Shrewsbury rail corridor.</p>
<p>Financial backing has also been sought to develop a Midlands-wide plan to introduce contactless ticket payments on public transport, similar to the technology platform used in London. Midlands Connect’s vision is to enable unlimited travel on rail, tram and bus services across the region using a bank card or smart device, with a daily payment cap.</p>
<p>Midlands Connect is also calling for the region to receive its fair share of roads investment, with decisions imminent on how Government will allocate £3.5 billion set aside for improvements to strategically-important local roads, over the next five years. In 2019, Midlands Connect <span><a href="/news-and-events/midlands-requests-596-million-from-government-for-11-transformational-road-schemes/">requested £596 million</a></span> on behalf of local authorities to deliver 11 transformational schemes to reduce congestion, support jobs and housing and improve access for pedestrians, cyclists and public transport.</p>
<p>After winning 16 new seats in December’s General Election, the Conservative Party now represents 75 of the 98 constituencies in the Midlands Engine.</p>
<p><strong>Maria Machancoses, director of Midlands Connect, said:</strong></p>
<p>“Government must deliver on its promise of an infrastructure revolution and repay voters across the Midlands that were so pivotal to its election success. Creating a transport network fit for the future will spearhead prosperity, productivity and opportunity for decades to come. I urge the Chancellor to back Midlands Engine Rail to maximise the benefits of HS2, and allow our ambitious plans for the Midlands Rail Hub to move forward, better linking towns and cities across the region and levelling up the UK economy.”</p>
<p>“To further grow public transport usage in the Midlands, we must also make it simpler to pay for tickets. Our smart ticketing plans for region-wide, universal contactless payments with a daily cap could revolutionise the way passengers get around the Midlands. It is already being looked at in Nottingham and the West Midlands and we are ready to start developing plans to roll it out elsewhere.”</p>
<p><strong>Cllr Ian Ward, leader of Birmingham City Council, said: </strong></p>
<p>“The Midlands Rail Hub will revolutionise east-west connectivity across our region and bring travellers to the doorstep of Birmingham’s new high speed station at Curzon Street. It was named as a priority in the Conservative Party manifesto and it’s now time the Chancellor turned these intentions into positive action, and funding to bring the plans forward.”</p>
<p><strong>Cllr Simon Geraghty, Leader of Worcestershire County Council, said: </strong></p>
<p>“The Midlands Rail Hub will bring faster, more frequent rail links to Worcestershire from the rest of the Midlands and beyond. Being well connected can help Worcestershire residents to access good jobs, education and leisure opportunities and support local businesses to grow our economy.</p>
<p>“Midlands Connect’s plans support our ambitious growth aspirations and I strongly support the aim of securing this transformational investment to level up the country and ensure the whole of the Midlands benefits from infrastructure investment.”</p>
<p><strong>Cllr David Mellen, leader of Nottingham City Council said:</strong></p>
<p>“The Oakervee Review was clear – the people of the Midlands need both Midlands Engine Rail and HS2. The key thing for areas like Nottingham is the long-term connectivity of road and rail links with public transport like buses and trams, together with sustainable local infrastructure.</p>
<p>“This is the only way that we can unlock the true potential of HS2 in terms of boosting the economy and creating jobs. The Government must heed the recommendations provided by the Oakervee Review panel and support these plans in the Budget.”</p>
<p><strong>Midlands Connect Budget Asks:</strong></p>
<ul>
<li><strong>Fund Midlands Engine Rail, including flagship scheme the Midlands Rail Hub, to ensure full integration with HS2</strong></li>
<li><strong>Invest in a smart ticketing platform to develop Midlands-wide contactless ticket payments on public transport </strong></li>
<li><strong>Commit to a fair share of funding for the Midlands’ Major Road Network</strong></li>
<li><strong>Accelerate plans for a multi modal transport study into enhancing the Trans Midlands Trade Corridor</strong></li>
</ul>
<p>ENDS</p>
<p>For more information please contact:</p>
<p>Sophie Zumbe: PR &amp; Communications Officer, Midlands Connect –07913 343601</p>
<p>James Bovill: Media Lead, Midlands Connect –07384 249164</p>
<p>&nbsp;</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-03-06T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>