<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c3d6e59-3d66-45af-b88f-46454dc19760" Alias="Bus Passengers Urged To See Something, Say Something" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/BusPassengersUrgedToSeeSomethingSaySomething</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-11-30T17:02:08</CreateDate>
    <NodeName Default="Bus Passengers Urged To See Something, Say Something" />
    <SortOrder>34</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
  </Properties>
</Content>