<?xml version="1.0" encoding="utf-8"?>
<Content Key="58a36709-f654-4789-bf5d-097d6a6b148e" Alias="Bus Passengers Urged To See Something, Say Something" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/BusPassengersUrgedToSeeSomethingSaySomething</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Bus Passengers Urged To See Something, Say Something" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p><img style="width: 500px; height:346.0757780784844px;" src="/media/st/media/1064/see-something-say-something.jpg?width=500&amp;height=346.0757780784844" alt="" data-udi="umb://media/st/media/beb2ae694b174cc4a23197539c46c384"></p>
<p style="text-align: left;" align="center"><span>Safer Travel Police Community Support Officers Tash Luczak, left, and Jennie Beechey with the new look See Something SaySomething Posters</span></p>
<p style="text-align: left;" align="center">&nbsp;</p>
<p style="text-align: left;" align="center"><strong>Passengers urged to See Something, Say Something&nbsp;</strong></p>
<p><span>With Halloween and Bonfire Night looming, bus passengers across the West Midlands are being urged to report anti-social behaviour on the network with the new look See Something Say Something service.</span></p>
<p><span>See Something, Say Something allows people to pass on details of nuisance behaviour tothe Safer Travel Partnership, which operates specifically to tackle and deter crime on the region’s transport network.</span><span><br></span></p>
<p><span>The period leading up to, and immediately after, Halloween and Bonfire Night, along with the school half term, historically sees a rise in anti-social behaviour (ASB).</span></p>
<p><span>&nbsp;Inspector Rachel Crump of the&nbsp;Partnership's police team said: "Often it is just a case of high jinks getting out of hand,&nbsp;but left&nbsp;unchecked it can create a real sense of unease that that leads to an unfounded fear of crime on public&nbsp;transport.&nbsp;</span></p>
<p><span>"We are not out to spoil anyone's fun but tackling ant-social behaviour on our network is a major target in our aim to make passengers feel safe during their journey.</span></p>
<p><span>"The information we receive from passengers through See Something, Say Something helps us build a bigger picture to identify and deal with problem areas."</span></p>
<p><span>Now in its eighth year the non-emergency service has recently been re-launched and focuses solely on bus travel. The re-launch will see n</span><span>ew posters and information cards being displayed and distributed on the West Midlands bus network over the next few weeks.</span></p>
<p><span>All passengers need to do is text &ldquo;Bus&rdquo; followed by a space to 83010, with a message giving as much information as possible about the nature of the incident.</span></p>
<p><span></span><span>Anyone witnessing criminal behaviour should ring 999 as they would do normally, with a</span><span>dedicated Safer Travel Anti-Social Behaviour Team investigating each report it receives.</span><span>This is then used to build up an intelligence picture that can lead to individuals causing anti-social behaviour on the bus network being identified and facing appropriate action, r</span><span>ail and Midland Metro passengers should use the British Transport Police equivalent, a national text service&nbsp;number of 61016.</span></p>
<p><span><img style="width: 448px; height:289px;" src="/media/st/media/1042/ssss2016card.jpg?width=448&amp;height=289" alt="" data-udi="umb://media/st/media/1f6d193b7c9a4aea82cbc03bbbc448f5"></span></p>
<p><span><img id="__mcenew" src="/media/st/media/1043/text.png" alt="" data-udi="umb://media/st/media/cc683b9e1baa411c998cd5ba07d8a132"></span></p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>