<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c143ef5-4527-4bbb-bf34-34a4c24a0f60" Alias="Buses In The West Midlands Have More CCTV Cameras Than Any Other Mode Of Transport." Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/BusesInTheWestMidlandsHaveMoreCCTVCamerasThanAnyOtherModeOfTransport</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Buses In The West Midlands Have More CCTV Cameras Than Any Other Mode Of Transport." />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p>A senior West Midlands Police officer says he is &ldquo;staggered&rdquo; that anyone does anything wrong on a bus - because CCTV pictures are so clear nowadays.</p>
<p>Detective Inspector Warren Hines of West Midlands Police CID homicide investigation team praised the quality of the CCTV footage used in the case of the fatal stabbing on the number 11 bus in January 2017.</p>
<p>Kieran Gillespie, aged 26 from Handsworth, was jailed for life in July last year for the murder of Leon Barrett-Hazle.</p>
<p>DI Hines said:</p>
<p>&ldquo;Without doubt, the quality of the CCTV footage from the bus solved this case for us. It left the offender no option but to hand himself in to the police once those pictures were published.&rdquo;</p>
<p>National Express West Midlands has multiple CCTV cameras - up to 12 - on every one of its 1,600 buses. And all their new buses since 2012 have been fitted with next-generation digital CCTV units which give crystal-clear pictures.</p>
<p>Tom Stables, Managing Director of National Express West Midlands, said:</p>
<p>&ldquo;By installing these state-of-the-art cameras and working closely with the police in the Safer Travel Partnership, we have achieved a 75% success rate in identifying the offenders responsible for anti-social behaviour and crime on our buses.&rdquo;</p>
<p>The bus company employs dedicated video operatives in each bus garage to check the cameras regularly, and qualified CCTV engineers to do repairs straight away.</p>
<p>West Midlands Safer Travel Partnership has also installed 4G Vemotion CCTV units to National Express buses, helping Safer Travel police officers to target anti-social behaviour on buses in real time.</p>
<p>Footage is recorded by on-bus cameras and sent over the 4G network. West Midlands Police officers working in the Safer Travel team can then view live CCTV feeds and detect anti-social behaviour on any vehicles that are fitted with the equipment. Because the footage is real-time, police can stop the bus and quickly act upon any anti-social behaviour.</p>
<p>Inspector Rachel Crump, from Safer Travel police, added</p>
<p>&ldquo;We deploy targeted uniformed and undercover patrols on buses and trams in the West Midlands.&nbsp;</p>
<p>"Passengers should always dial 999 if there is an urgent crime or an emergency but they can also use the Safer Travel Partnership’s <em>See Something, Say Something </em>text service on 83010 to report any​ non-emergency incidents of​ anti-social behaviour on National Express West Midlands buses.&nbsp;</p>
<p>&ldquo;These reports help to build intelligence data and that assists officers with pinpointing which particular hotspots to target.</p>
<p>&ldquo;The public might not always see the results of what we do. That’s because some of the offenders are children and there are reporting restrictions in place. But we are working hard behind the scenes to keep public transport safe.&rdquo;</p>
<p>According to Transport Focus’ bus passenger survey, 76% of passengers are satisfied with their feeling of personal security on National Express West Midlands buses. That figure is measured twice a year and has not dropped below 75% in four years.</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>