<?xml version="1.0" encoding="utf-8"?>
<Content Key="967c31f4-8e9c-4973-a44d-8e400fcd16d9" Alias="Buses In The West Midlands Have More CCTV Cameras Than Any Other Mode Of Transport." Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/BusesInTheWestMidlandsHaveMoreCCTVCamerasThanAnyOtherModeOfTransport</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-11-30T17:02:02</CreateDate>
    <NodeName Default="Buses In The West Midlands Have More CCTV Cameras Than Any Other Mode Of Transport." />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
  </Properties>
</Content>