<?xml version="1.0" encoding="utf-8"?>
<Content Key="a506f070-3307-4309-aa18-f153b7b4683b" Alias="Businesses ‘all aboard’ for rail improvements shows survey" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/BusinessesAllAboardForRailImprovementsShowsSurvey</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-09-23T00:00:00</CreateDate>
    <NodeName Default="Businesses ‘all aboard’ for rail improvements shows survey" />
    <SortOrder>131</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>83% of businesses stated that rail improvements would result in them and their employees using it more</li>
<li>62% of businesses agreed that rail improvements would help their business grow</li>
<li>Just under half of businesses said improvements would make recruiting from and doing business with Wales easier</li>
<li>Survey results follow submission of a business case to the Department for Transport last month. Midlands connect herald the results saying businesses are ‘all aboard’ for improvements.</li>
</ul>
<p><strong>Local businesses employing over 12,000 workers across the region have given a seal of approval for proposed improvements to the Birmingham – Black Country – Shrewsbury rail route.</strong></p>
<p>Sub-national Transport Body Midlands Connect recently surveyed local businesses representing over 12,500 employees across the region, in a bid to understand how proposed rail improvements could affect local businesses.</p>
<p>A massive 83% of businesses also agreed that rail improvements would result in them and their employees using services more frequently, even more so than having better station facilities and cleaner trains.</p>
<p>Businesses were asked also whether the proposed rail improvements would benefit them, with over 62% of businesses agreeing that the proposed improvements would ‘Help the business grow’, Support company’s carbon reduction targets’, make it easier to meet customers’ and ‘Shorten the commute for employees’.</p>
<p>Just under half of businesses also said improvements would make recruiting new staff and doing business with communities in Wales much easier.</p>
<p>The rail enhancement programme would boost line speed to 90 miles per hour with two minor track alignments, as well as signalling improvements along on the line.</p>
<p>The survey results follow Midlands Connect’s submission of a Strategic outline Business Case for the programme of improvements, which was submitted to the Department for Transport last month. The Business Case showed that for every £1 invested, £16 could be created for the local economy, also delivering around £23 million of economic benefits.</p>
<p>Further improvements including electrifying the line and adding a direct service to London would also be considered in the medium to longer-term, following the initial round of improvements.</p>
<p><strong>Midlands Connect Senior Rail Programme Manager Tawhida Yaacoub commented on the research, she said:</strong></p>
<p>“These survey results clearly show that businesses value improvements to rail services like boosting speeds over other improvements such and better station facilities and cleaner trains.</p>
<p>“It’s also encouraging to be given a seal of approval by local businesses and to hear that rail line improvements could help them grow, particularly right now where we are living in challenging times and many businesses are struggling to stay afloat.</p>
<p>“Speeding up rail services travelling on the Shrewsbury – Black Country – Birmingham route is only the beginning to our plans on improving the route, with line electrification and direct services to London also in the pipeline. It’s great to see business all aboard with our plans.”</p>
<p><strong>Daniel Kawczynski MP, Member of Parliament for Shrewsbury and Atcham also commented:</strong></p>
<p>“These survey results give further proof that a rail line between Shrewsbury, the Black Country and Birmingham that is not just more frequent, but also faster, would strongly impact employee’s and business decision making when considering transport options.</p>
<p>I was thrilled to see the submission of a Strategic outline Business Case for the programme of improvements submitted to the Department for Transport last month - I’m keen that Government supports us in the delivery of these improvements as soon as possible.”</p>
<p><strong>&nbsp;</strong></p>
<p><strong>-ENDS- </strong></p>
<p>&nbsp;</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-09-23T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1905/birmingham-snow-hill-2-2.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>