<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6d99e0e-5ee5-4552-946c-950f15a7fd6a" Alias="Campaign Launch To Tackle Hate Crime Ahead Of Brexit" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/CampaignLaunchToTackleHateCrimeAheadOfBrexit</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2019-01-03T00:00:00</CreateDate>
    <NodeName Default="Campaign Launch To Tackle Hate Crime Ahead Of Brexit" />
    <SortOrder>69</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>The West Midlands Police and Crime Commissioner and Mayor for the West Midlands are launching a joint campaign to tackle hate crime.</p>

<p>The poster campaign will begin today (1&nbsp;March) and is targeted at public transport users who are, or are at risk of being, victims of hate crime.</p>

<p>Home Office figures show in the last 12 months, the number of hate incidents in the West Midlands has increased by 25%. This is a 76% increase in the past 5 years.</p>

<p>Over 500 posters and other promotional material will be placed on buses and at bus stations across the West Midlands. National Express, a member of the West Midlands Bus Alliance, will be displaying the materials on routes spread across the region. A social media campaign will also be running to increase awareness</p>

<p>The campaign will run for approximately 12 months.</p>

<p>The posters will feature people who have one of the five characteristics most targeted by people who commit hate crime: race, religion, disability, LGBT+ and transgender.</p>

<p>The purpose is to make people aware that if they suffer an attack because of their race, religion, disability, sexuality or gender they are a victim of hate crime.</p>

<p>The campaign is run by the Safer Travel Partnership, which consists of West Midlands Police, British Transport Police and Transport for West Midlands, who are committed to creating a safer transport network.</p>

<p>This group of organisations are working together to educate passengers on the problems associated with hate crime.</p>
<p><strong>&nbsp;</strong></p>
<p>The West Midlands Police and Crime Commissioner, David Jamieson said: &ldquo;I am pleased to announce our new campaign to tackle hate crime on public transport. &nbsp;</p>

<p>&ldquo;Hate crime can take many forms, with victims targeted for race, religion, gender, sexual orientation and disability. Hate crime has a corrosive effect on communities, and as such, West Midlands Police will take strong action.</p>

<p>&ldquo;We are concerned that Brexit may have contributed to the rise in hate incidents across our region, which is why the introduction of this campaign is so timely. I am monitoring the situation closely.</p>

<p>&ldquo;I am committed to creating a safer transport network for people in the West Midlands and will continue to work in collaboration with the Mayor’s office and the Safer Travel Partnership to prevent and detect hate crime in our region and ensure people using public transport feel safe.&rdquo;</p>

<p>The campaign was an action from the Mayor’s Faith Conference in 2017, at which the PCC led on the hate crime section.</p>
<p><strong>&nbsp;</strong></p>
<p>The Mayor of the West Midlands Andy Street said: &ldquo;We all have the right to travel safely and I hope this campaign will help identify perpetrators who make the experience unpleasant for others.</p>

<p>&ldquo;The steering group of the Mayor and Faith Conference identified Hate Crime as a key concern, and this was reinforced by the attendees of the Conference. We have taken feedback from the roundtable the Assistant Police and Crime Commissioner and I hosted last autumn and have worked extensively with groups like Tell MAMA to create the campaign launching today.</p>

<p>&ldquo;The campaign will run for one year and will encourage people to report verbal and physical abuse on our buses.&rdquo;</p>

<p>Co Chairman of the Mayor and Faith Conference Steering Group, Amrick Singh Ubhi said: &ldquo;Hate crime of any sort is a violation and we all have a duty of care to protect those who may be or feel vulnerable in our society.</p>

<p>&ldquo;It is not acceptable in any decent society to perpetrate hate; even if the perpetrator thinks it’s a joke / humorous the impact on the recipient can be life changing.</p>

<p>&ldquo;As Co-Chair of the WM Mayor’s Faith Conference, I can say that the conference was keen to ensure the matter was raised and the clear message was that people have the right to dignity and feel safe. This is not just restricted to travelling but also in the workplace, social settings and generally wherever they may be.</p>

<p>&ldquo;This campaign should give confidence to people that it is not ok to keep silent and that there is redress. It should also send a clear message to perpetrators that their actions will not be tolerated by society.&rdquo;</p>
<p><strong>&nbsp;</strong></p>
<p>The Safer Travel Partnership is committed to improving the safety of passengers on public transport, and incidents of hate crime will not be tolerated.</p>
<p><strong>&nbsp;</strong></p>
<p>Get involved online and tweet the Safer Travel Partnership using the hashtag #StopHateWM.</p>

<p>If you want to report hate crime, you can report online on True Vision, CST and TellMama, or contact West Midlands Police on Live Chat from 8am to midnight.</p>

<p>In case of emergency, always dial 999.</p>


                            
    
    <img src="/st/media/1085/wmpd-twitter-post-6.png">


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-01-03T00:00:00]]></Value>
    </date>
  </Properties>
</Content>