<?xml version="1.0" encoding="utf-8"?>
<Content Key="440f30fd-86e4-4f0f-90b4-b4f49b194676" Alias="Can Data-Driven Decisions Transform the Future of the West Midlands?" Level="3">
  <Info>
    <Parent Key="c66668c7-dfd8-4362-8b7f-60d466b2846d">Blog</Parent>
    <Path>/WestMidlandsCombinedAuthority/Blog/CanDataDrivenDecisionsTransformTheFutureOfTheWestMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-06-03T13:24:17</CreateDate>
    <NodeName Default="Can Data-Driven Decisions Transform the Future of the West Midlands?" />
    <SortOrder>48</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="9863e759-9a1e-4008-a218-0ffdedf49032">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <hideImageInBlog>
      <Value><![CDATA[]]></Value>
    </hideImageInBlog>
    <hideOpinionMessage>
      <Value><![CDATA[]]></Value>
    </hideOpinionMessage>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>