<?xml version="1.0" encoding="utf-8"?>
<Content Key="50c065e3-dcaa-45e0-ab40-969bcf3e6242" Alias="Cash injection to explore upgrades to the A61 South of Chesterfield" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/CashInjectionToExploreUpgradesToTheA61SouthOfChesterfield</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-10-07T00:00:00</CreateDate>
    <NodeName Default="Cash injection to explore upgrades to the A61 South of Chesterfield" />
    <SortOrder>133</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>£50k funding and support awarded to Derbyshire County Council to produce a business case for improvements to the A61 South of Chesterfield</li>
<li>The Council along with Midlands Connect will work on suggestions for upgrades to the road from Horns Bridge to Clay Cross</li>
<li>This could increase connectivity in the region and relieve congestion</li>
</ul>
<p>This award is for the authority to make a business case to the Department for Transport for work to the A61 Corridor (South of Chesterfield). The council will contribute by matching the award, making a pot of £100k.</p>
<p>Midlands Connect will provide the funding to research and develop a business case to submit to government and will also supply support to the local authority. This allows the council to explore all options available to improve the corridor, which may include improved access for pedestrians and cyclists or enhanced public transport provision along the route.</p>
<p><strong>Swati Mittal, Strategic Roads Manager at Midlands Connect, said:</strong></p>
<p><em>“We are so pleased to be able to give Derbyshire County Council this funding and to help them make their case to government. </em></p>
<p><em>“This scheme is exactly in line with Midlands Connect’s values and objectives for the region, and could benefit from a great variety of improvements, which we look forward to exploring with the council.”</em></p>
<p><strong>Lee Rowley, MP for North East Derbyshire, commented:</strong></p>
<p><em>“I hugely welcome this additional funding that has been announced today. </em></p>
<p><em>“ We remain at a pretty early stage in terms of how to mitigate the long-term challenges on the A61 but the work that we have done locally in recent years is now starting to be recognised more broadly - including through grants such as this - and I hope it will allow us to make progress in the years ahead.&nbsp; Thank you to Midlands Connect for being willing to support this important work.”</em></p>
<p><strong>Councillor Carolyn Renwick, Derbyshire County Council’s Cabinet Member for Infrastructure and Environment, said:</strong></p>
<p><em>“We are grateful for the funding from Midlands Connect which will help us to develop future plans for the A61.</em></p>
<p><em>“This busy road is important for so many people living between Chesterfield and Clay Cross, and for commuters. The road is likely to get busier as new housing developments and business growth brings more people to the area, so it’s vital we look at what we can do to manage congestion and reduce emissions. This money will enable us to further develop our plans.”</em></p>
<p>The A61 corridor is a crucial part of the major road network in Derbyshire, connecting the county to Chesterfield and beyond into South Yorkshire. The area for improvement spans from the Horns Bridge roundabout in Chesterfield to the A6175 junction in the centre of Clay Cross.</p>
<p>The road is one of the most congested in the county, with several “pinch points” at key junctions as well as Horns Bridge roundabout. During peak hours, average delays of up to twelve minutes affect travellers along the route in either direction.</p>
<p>New housing developments are being built along the corridor and once completed, their residents will benefit from the improvements. Two key construction sites in the vicinity will deliver up to 2,100 new dwellings.</p>
<p>Improvements to the corridor would support better air quality in the surrounding residential area, which includes housing estates and schools. There are also plans to improve pedestrian and cyclist accessibility, by looking into drop-kerbs, crossing points, and cycle parking.</p>
<p>The business case will build on the outcome of a public consultation undertaken by the council. The <a href="https://www.derbyshire.gov.uk/council/have-your-say/consultation-search/consultation-details/a61-south---your-chance-to-shape-the-future.aspx">consultation</a> runs from 25 July to 16 October 2022.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-10-07T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            It has been announced that Midlands Connect will be awarding £50k of funding to Derbyshire County Council.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>