<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f5a48cf-e853-4b3f-a36b-bedab0e03b2b" Alias="CCTV Released As Tram Stop Murder Investigation Continues" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CCTVReleasedAsTramStopMurderInvestigationContinues</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-10-27T10:54:13</CreateDate>
    <NodeName Default="CCTV Released As Tram Stop Murder Investigation Continues" />
    <SortOrder>91</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA["<div class=""main"">]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2017-03-04T00:00:00]]></Value>
    </date>
  </Properties>
</Content>