<?xml version="1.0" encoding="utf-8"?>
<Content Key="8305c716-a1be-48cd-9660-31e4a9221d5b" Alias="Centro Becomes TfWM (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CentroBecomesTfWM1</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Centro Becomes TfWM (1)" />
    <SortOrder>193</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p>Key Safer Travel Partnership member organisation Centro has become Transport for the West midlands (TfWM)&nbsp;and is now part of the West Midlands Combined authority structure. The order officially creating the West Midlands Combined Authority came into force on 17th June 2016, business will continue from the 16 Summer Lane, now the new home of the West Midlands Combined Authority.</p>
<p><strong>Councillor Bob Sleigh, Chair of the Shadow Combined Authority, said:</strong></p>
<p>&ldquo;Today is the culmination of a lot of hard work and negotiation over the last 18 months.&nbsp; It is the beginning of the process which brings together local authorities, businesses and other stakeholders and partners to collectively stimulate economic growth across the region and reform public services across the region.</p>
<p>&ldquo;For the past year we have been shaping a devolution proposal which will see substantial new levels of funding and powers from central government coming into the West Midlands; unlocking around £8 billion of investment over the next 30 years.&nbsp; This will deliver the means to finance the collective vision to invest, with a clear economic plan, in transport, infrastructure, skills, productivity and innovation and to look afresh at how we deal with reform of our public services.</p>
<p>&ldquo;The first devolution agreement had been secured and now delivery can commence, with work on future devolution deals already in progress.</p>
<p>&ldquo;The WMCA will lead the delivery of the devolution deal and future devolution deals. The Combined Authority will be the strong voice for the region; a voice that would be listened to in Whitehall and across the UK. &nbsp;A voice that will ensure this region is also heard on the global stage, attracting inward investment and selling our skills and expertise.&rdquo;</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>