<?xml version="1.0" encoding="utf-8"?>
<Content Key="b22f9ad0-b8fb-4472-9053-75f50dfed574" Alias="Chesterfield in the running for Talgo train factory and thousands of new jobs" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/ChesterfieldInTheRunningForTalgoTrainFactoryAndThousandsOfNewJobs</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:12</CreateDate>
    <NodeName Default="Chesterfield in the running for Talgo train factory and thousands of new jobs" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Chesterfield is among six shortlisted locations seeking to become the base for a new UK factory planned by Spanish train manufacturer Talgo that could create thousands of jobs for local people.</p>
<p>If the borough’s bid is successful the former Hartington Colliery site, between Staveley and Barrow Hill, would become home to a factory which would create 1,000 high quality jobs.</p>
<p>Talgo will build a UK factory when it receives an initial order for new trains. This could include a £2.75 billion rolling stock contract from HS2.</p>
<p>The manufacturing site would also create an estimated 4,000 jobs in the supply chain for the region, as well as apprenticeship, training and educational opportunities.</p>
<p>The Spanish rail giant has confirmed that Chesterfield is one of six shortlisted locations across the UK it is considering, with a decision expected in November. The company intends to adopt a ‘true manufacturing’ approach, which would also see it source component parts from within the UK.&nbsp;</p>
<p>Chesterfield Borough Council has been working with a range of partners, including landowners Suon Ltd on the bid to encourage Talgo to locate the factory in the borough.</p>
<p>Councillor Tricia Gilby, leader of Chesterfield Borough Council, said: “If our bid is successful this would be a massive boost to our economy in terms of employment opportunities for local people.</p>
<p>“Talgo’s commitment to a ‘true manufacturing’ approach would also create more opportunities for local businesses to supply components as part of the supply chain, which would help create more jobs and increase the positive impact on our economy.</p>
<p>“Talgo is a major player in the worldwide rail sector and one of the companies that HS2 has shortlisted to provide it with the high speed trains needed for the new rail network.</p>
<p>“It is important to stress that we are only one of six shortlisted locations at the moment. No decision has been made so it is important that expectations are not raised at this stage.</p>
<p>“However, a huge amount of hard work has gone on behind the scenes to make the case for Talgo’s UK factory to be located in Chesterfield borough and we think we have a really strong bid.”</p>
<p>Carlos de Palacio - President of Talgo (and grandson of the founder) - has undertaken many of the fact-finding missions that have resulted in the shortlist. He said:</p>
<p>‘The establishment of a manufacturing facility in the UK is a significant part of Talgo’s future strategy.</p>
<p>‘Talgo’s aim is to establish true manufacturing – rather than assembling from parts made elsewhere. This means that we will draw from materials and expertise across the UK.</p>
<p>‘This keeps more money in the UK economy, and creates more skilled long-term jobs.</p>
<p>‘Although there can only be one factory site, we have developed excellent relationships with all the countries, regions and areas that we have visited. We anticipate continuing these relationships to ensure that Talgo provides great opportunities across the UK.’</p>
<p>A final decision on a factory site is anticipated in November 2018.</p>
<p>The bid highlights:</p>
<ul>
<li>That remediation work is already underway to prepare the former Hartington Colliery site for development</li>
<li>Chesterfield’s location at the heart of both the existing rail network and the planned phase 2B of the HS2 rail network, which will see Chesterfield have an HS2 station and also an HS2 line maintenance depot at Staveley</li>
<li>Chesterfield’s excellent transport connectivity, with over 23 million people living within two hours’ drive, and four major airports and four sea ports within 90 minutes travel time</li>
<li>That an investment would create further regeneration and development opportunities related to HS2, as well as support the existing Staveley Works corridor development plans for 1,000 new homes, a new primary school and £50 million access road</li>
<li>The ability to offer Talgo access to the area’s world class rail supply chain and a highly skilled workforce</li>
</ul>
<p>If successful, building work would start in July 2020, ready for the train factory to open in December 2021. A new £9 million innovation and training centre is also planned to be built at Barrow Hill Engine Shed for Talgo to use and showcase its technologies.</p>
<p>Even if the bid is not successful Councillor Gilby hopes the connections and close working with partners on the bid will pave the way for other large scale industrial uses of the former colliery site.</p>
<p>Councillor Gilby added: “The factory would support the wider regeneration of the former Staveley Works site area as part of our partnership working with landowners and Derbyshire County Council.</p>
<p>“Putting together the bid has really helped develop relationships with a range of partners, including the universities of Derby and Newcastle, Chesterfield College, Barrow Hill Engine Shed and the Advanced Manufacturing Research Centre in Rotherham.</p>
<p>“While we hope that this close working will persuade Talgo that the Staveley site is the right location for a UK train factory it also means that if we are not successful we have a good platform to attract other development opportunities.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-10-09T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            The Spanish train manufacturer has shortlisted six UK locations
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>