<?xml version="1.0" encoding="utf-8"?>
<Content Key="98258e54-2007-4f35-a284-7e9f9f93fa72" Alias="Clampdown Launched Following Rise In Spitting Incidents On The Buses" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ClampdownLaunchedFollowingRiseInSpittingIncidentsOnTheBuses</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-11-30T17:02:17</CreateDate>
    <NodeName Default="Clampdown Launched Following Rise In Spitting Incidents On The Buses" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
  </Properties>
</Content>