<?xml version="1.0" encoding="utf-8"?>
<Content Key="68443e24-7131-4614-93d9-3e65d0c1de1a" Alias="Clampdown Launched Following Rise In Spitting Incidents On The Buses" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/ClampdownLaunchedFollowingRiseInSpittingIncidentsOnTheBuses</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Clampdown Launched Following Rise In Spitting Incidents On The Buses" />
    <SortOrder>83</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>People caught spitting at bus drivers or passengers are increasingly likely to be caught and face long jail sentences, transport and police bosses have warned.</p>
<p>The act of spitting has moved to potentially being life threatening for victims following the coronavirus outbreak as highlighted by the recent death of a London ticket collector following an attack.</p>
<p>Only last month a <a href="http://tracking.vuelio.co.uk/tracking/click?d=YrYaCJ6TBl66XPssUckSqNodG7gcZuBkx59L_q_pdCnFth-kwabfygBCJF-GaoWPYxGLKeF6G8MOi6mE9pikJlQZTrB2ibuzXDl_iFeMDAajLdtVw5wt5WnIixErmyCw3JvM2gRxC0SouPvchpaw9FWnbppuHs331HllBRPpZQXDKhAbsVF2f4C38cWH8kgLHnJoLO62AyxJjAWgbYUrm-O_cuTPImmPynPymNiMrLzV0">43-year-old man from Northfield, Birmingham was jailed for 17 weeks</a> for spitting at a bus driver after refusing to pay his fare.</p>
<p>And in June 2019 <a href="http://tracking.vuelio.co.uk/tracking/click?d=5CCzM5R-16dhm5DZ0B5qNYhVTz7U0LZdfkw1KGyEiimAJY7sFm0FNI4bCymcHDRiNtpBwB49_FB3JAtcywJKBNxQGvFAyFieBM1ymLQ76pvjDXGb1uH8qJFxJcFASbrUA19qZspBhFMWc24sEXxSzGiEsUq1dZuF2v8lPegOhQcOJakQunW8_AdyyqrPnh5xMkBU0ifQvi7Dkkcd-H9nYK9IRxI9vUnxTNdOZVS5rUNh0">a 28-year-old was jailed to 14 weeks in prison</a> after spitting at a driver in Erdington.</p>
<p>But new figures have revealed that during the year to March 31, 2020, while there was a fall in all other types of recorded crime on the West Midlands bus network, there was an increase in common assault incidents.</p>
<p>This increase was to a large extent accounted for by incidents of spitting, with male bus drivers frequently being the target. 10% of attacks have also been racially aggravated.</p>
<p>The<a href="http://tracking.vuelio.co.uk/tracking/click?d=n1mTbxDvXZCkNOxCxX5RrtFQLsbtBJuybRp0LC3AjjHqahoTcXlpUc2BiwixSRZZ1x1WELRscNmwu5jWmP2ZjdyGaNUOzCKF4uCqxQX9QHDqbHnG6S35ksvKP0wpPBAEC4t330MfjcbkKMsGrQ6WPvk1"> Safer Travel Partnership</a>, through which West Midlands Police, British Transport Police and Transport for West Midlands (TfWM) collaborate to fight crime on buses, trains and trams, has been encouraging more drivers and passengers to report incidents.</p>
<p style="margin: 0cm; margin-bottom: .0001pt;">&nbsp;</p>


                            
    
    <img src="/st/media/1098/spit-kit-3-copy.jpg" alt="DNA spit kits are issued to drivers">
        <p class="caption">DNA spit kits are issued to drivers</p>


                            
    
<p>Measures taken include:</p>
<ul>
<li>Issuing DNA spit kits to all drivers meaning that vital DNA evidence is now gathered in more than half of incidents</li>
<li>A dedicated Safer Travel team officer dealing with incidents</li>
<li>Driver training to encourage reporting of incidents and to improve the quality of evidence gathered</li>
<li>Regular electronic bulletins to bus company staff highlighting incidents, arrests and successful prosecutions</li>
<li>Since the coronavirus outbreak the talk holes in driver screens have been covered to further protect staff</li>
</ul>

<p>The DNA evidence, combined with security camera coverage - buses have up to 12 cameras on board - means there is a 75% chance of identifying attackers.</p>
<p>Mayor of the West Midlands Andy Street said: &ldquo;Spitting is not only a vile act but one which can, as we saw in London, have fatal consequences in the midst of the coronavirus outbreak.</p>
<p>&ldquo;I am pleased to say that we are getting results and that the courts are backing us with stiff sentences for those found guilty.</p>
<p>&ldquo;The vast majority of people using our public transport are polite and law abiding. But we will do all we can to root out and deal with those who act in a violent and abhorrent way and make the transport network safe for both our frontline staff and passengers.&rdquo;</p>
<p>West Midlands Police and Crime Commissioner David Jamieson said: &ldquo;Spitting is one of the most disgusting forms of behaviour there is. Not only is spitting repulsive and contemptable, but with the coronavirus pandemic, this action is deliberately a life threatening attack.</p>
<p>&ldquo;Evidence suggests that a significant number of these offences are racially provoked. There is never an excuse and we will do all we can to stamp it out.</p>
<p>&ldquo;Tremendous progress has been made since spit kits were first introduced on our public transport in 2017 and the perpetrators of these horrible actions in many cases are identified and action is taken.</p>
<p>&ldquo;Therefore my message to anyone who indulges in this vulgar form of attack in which spitting is so dangerous because of coronavirus, you will be found, you will be arrested and you will be prosecuted.&rdquo;</p>
<p>David Bradford, managing director of National Express West Midlands: &ldquo;Spitting is not only disgusting - it's a criminal offence. Our drivers and passengers should not be expected to tolerate it.</p>
<p>&ldquo;We work very closely with the Safer Travel team, and we have spit kits on every bus. These give us irrefutable DNA evidence to help us track down offenders and secure convictions at court. In addition, we have CCTV all over our buses which give police crystal clear images of offenders.&rdquo;&nbsp;&nbsp;</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>