<?xml version="1.0" encoding="utf-8"?>
<Content Key="849cfd29-23cb-4b98-ba92-f6005ac11c8e" Alias="Clampdown Launched Following Rise In Spitting Incidents On The Buses" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ClampdownLaunchedFollowingRiseInSpittingIncidentsOnTheBuses</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-10-27T10:55:23</CreateDate>
    <NodeName Default="Clampdown Launched Following Rise In Spitting Incidents On The Buses" />
    <SortOrder>31</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA["<div class=""main"">]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>