<?xml version="1.0" encoding="utf-8"?>
<Content Key="681eb9e1-e7c2-4b4a-8d90-a117f1b10192" Alias="Consumer research conducted by Midlands Connect shows massive support for improvements on Junction 15 of the M6" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/ConsumerResearchConductedByMidlandsConnectShowsMassiveSupportForImprovementsOnJunction15OfTheM6</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-02-22T00:00:00</CreateDate>
    <NodeName Default="Consumer research conducted by Midlands Connect shows massive support for improvements on Junction 15 of the M6" />
    <SortOrder>151</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>The poll of 500 people in North Staffordshire asked whether they would back the idea of upgrading the traffic hotspot, and 87 per cent said they would support it. A further 70 per cent agreed improvements to the junction would be an example of levelling up in their area.</p>
<p>When asked what benefits they would like to see as a result of any J15 upgrades, the majority (46 per cent) wished for better traffic flow in the surrounding areas, with reduced congestion (43 per cent) coming a close second.</p>
<p>Other bonuses scored highly, with 40 per cent of those surveyed hoping less queueing traffic will minimise environmental impacts, and 37 per cent wanting reduced delays for business traffic to boost the local economy.</p>
<p>Finally, when the participants were asked what travel changes they would like to see in the Stoke-on-Trent area, the majority (56 per cent) opted for improvements to other roads. The second most popular answer was more walking and cycling options, with 43 per cent of the result.</p>
<p>Midlands Connect is recommending improvements to Junction 15 are considered by Government for funding as part of its third Road Investment Strategy (RIS3), which is for the period 2025-2030. This means project delivery could begin as soon as 2025.</p>
<p><strong>Midlands Connect’s Future of Roads Programme Lead, Swati Mittal, said:</strong></p>
<p>“These results demonstrate a massive degree of support for upgrades to Junction 15 of the M6. People in the area clearly recognise the need for improvements at this key gateway and appreciate it would be good for residents, for businesses and for the environment.</p>
<p>“What stood out in this survey was half of the respondents think improving other roads in the Stoke-on-Trent area is a priority for them, and that ties in with Midlands Connect’s plan to recommend upgrades&nbsp;at&nbsp;several pinch points along the A50/A500 corridor.</p>
<p>“Our Strategic Transport Road Map to improve the A50/A500, covers the long term goals for this&nbsp;nationally important economic&nbsp;corridor."</p>
<p><strong>Jack Brereton, MP for Stoke-on-Trent South, said:</strong></p>
<p>“The A50/A500 corridor plays a central role for North Staffordshire, the Midlands and UK economy as a whole. It is home to several renowned national and global brands.&nbsp;</p>
<p>“Residents and businesses are losing valuable time because they’re stuck in avoidable delays and bottlenecks at this junction, limiting the economic growth of our area.</p>
<p>“Traffic congestion is not only an inconvenience for drivers, but it has a significant impact on businesses, reducing productivity and generating more air pollution.&nbsp;</p>
<p>“Support for these much-needed improvements is overwhelming and I’ll keep working alongside Midlands Connect to make this clear to Government and National Highways.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-02-22T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1985/junc-15-m6-0003.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>