<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8bec61c-4d3e-41e1-a4c7-87b3d5386d3c" Alias="Contact us" Level="2">
  <Info>
    <Parent Key="ba5299dd-422e-4f18-8dbf-d981c34ef23c">Midlands Connect</Parent>
    <Path>/MidlandsConnect/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageMidlandsConnect</ContentType>
    <CreateDate>2023-12-15T12:34:43</CreateDate>
    <NodeName Default="Contact us" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
  </Info>
  <Properties>
    <alternativeTitle>
      <Value><![CDATA[]]></Value>
    </alternativeTitle>
    <customCodeBody>
      <Value><![CDATA[]]></Value>
    </customCodeBody>
    <customCodeHead>
      <Value><![CDATA[]]></Value>
    </customCodeHead>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f1cc0515332b4ac2aa810cfa3d4043a5",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/717fcbdfcdfc403fb37d96edbc744153",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/1cc1104621694bfc985a71c4ed9b464e",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/70196ebe79474e96baf118b00ffaff50",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/7574eae7ca924523bb60fb52cd9e2b01",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/42fd53c8285c47ffa95d2006ede4205d",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/c67a668357d2430c95a261e8cb240845",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/f1cc0515332b4ac2aa810cfa3d4043a5"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/717fcbdfcdfc403fb37d96edbc744153",
      "richText": "<p>Please contact us via our form below.</p>\n<p><a href=\"/{localLink:umb://document/f5855d9ec0ae4e01961e878fa63031c5}\" title=\"Contact form\">Contact us form</a></p>\n<h2>Write to us</h2>"
    },
    {
      "contentTypeKey": "794222f9-4840-4742-85e4-824fe89f90b5",
      "udi": "umb://element/1cc1104621694bfc985a71c4ed9b464e",
      "insetText": "<p>Midlands Connect\u2028<br>19th Floor, Studio \u2028<br>Alpha Tower\u2028<br>Suffolk Street\u2028<br>Queensway\u2028<br>Birmingham\u2028<br>B1 1TT</p>\n<p><strong>Email</strong>\u2028<br><a href=\"mailto:mcadmin@midlandsconnect.uk\">mcadmin@midlandsconnect.uk</a></p>"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/70196ebe79474e96baf118b00ffaff50",
      "richText": "<h2>Media relations</h2>"
    },
    {
      "contentTypeKey": "794222f9-4840-4742-85e4-824fe89f90b5",
      "udi": "umb://element/7574eae7ca924523bb60fb52cd9e2b01",
      "insetText": "<p><strong>Ciara Jagger\u2028</strong><br>External Affairs Manager<br><br><strong>Phone</strong>\u2028<br>+44 (0) 7812 181872<br><br><strong>Email</strong>\u2028<br><a href=\"mailto:mailto@ciarajagger@midlandsconnect.uk\">ciarajagger@midlandsconnect.uk</a></p>"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/42fd53c8285c47ffa95d2006ede4205d",
      "richText": "<h2>Freedom of information</h2>"
    },
    {
      "contentTypeKey": "794222f9-4840-4742-85e4-824fe89f90b5",
      "udi": "umb://element/c67a668357d2430c95a261e8cb240845",
      "insetText": "<p>For Freedom of Information requests, please contact our accountable body, <a rel=\"noopener\" href=\"https://www.wmca.org.uk/documents/policies/freedom-of-information/\" target=\"_blank\">West Midlands Combined Authority.</a></p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
  </Properties>
</Content>