<?xml version="1.0" encoding="utf-8"?>
<Content Key="14d40df6-455e-419b-ad96-9a3593909cd2" Alias="Content Page Test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ContentPageTest</Path>
    <Trashed Parent="fe122f10-4b2d-4c38-b841-a4e3f2f59ef5">true</Trashed>
    <ContentType>contentPageSaferTravel</ContentType>
    <CreateDate>2023-10-19T09:56:40</CreateDate>
    <NodeName Default="Content Page Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1db12431-1a69-4817-9555-0c267059e76c">ContentPage1</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e6c7f59c8d554500894fcdb90394bfea",
        "areas": [
          {
            "key": "4e08de7d-87f9-4da9-b045-c425de71f235",
            "items": [
              {
                "contentUdi": "umb://element/60da38f0c1b6439a9fb50ef879fcf484",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3488b4dfb31f436a9c3a3535c9d7dd4b",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "8d133bdd-99f3-4d93-998a-7537b7a1c950",
            "items": [
              {
                "contentUdi": "umb://element/b4d55a89f6fc4086a6aed866da4be664",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1a2d1cba-b5d0-49dd-9894-42ff7cd9c459",
      "udi": "umb://element/e6c7f59c8d554500894fcdb90394bfea"
    },
    {
      "contentTypeKey": "1b243772-0000-40a5-aac4-d6418f095e3b",
      "udi": "umb://element/60da38f0c1b6439a9fb50ef879fcf484",
      "headline": "This is a test"
    },
    {
      "contentTypeKey": "cbb2e2c7-5b06-4f11-8798-3ea0194bf7df",
      "udi": "umb://element/3488b4dfb31f436a9c3a3535c9d7dd4b",
      "richText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Odio euismod lacinia at quis risus sed vulputate odio. Amet facilisis magna etiam tempor orci eu lobortis elementum nibh. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ut tellus elementum sagittis vitae. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Ipsum nunc aliquet bibendum enim facilisis. Gravida neque convallis a cras semper auctor neque. Montes nascetur ridiculus mus mauris vitae ultricies leo. Nisl purus in mollis nunc. Eu lobortis elementum nibh tellus molestie nunc non. Placerat in egestas erat imperdiet sed euismod nisi. Rutrum quisque non tellus orci. Mollis aliquam ut porttitor leo. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Massa ultricies mi quis hendrerit dolor magna. At erat pellentesque adipiscing commodo elit at imperdiet.</p>"
    },
    {
      "contentTypeKey": "cbb2e2c7-5b06-4f11-8798-3ea0194bf7df",
      "udi": "umb://element/b4d55a89f6fc4086a6aed866da4be664",
      "richText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
  </Properties>
</Content>