<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb7671ca-b292-43d0-9536-f327106ccd23" Alias="Coventry-Leicester-Nottingham rail link dubbed ‘levelling up’ by firms" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/CoventryLeicesterNottinghamRailLinkDubbedLevellingUpByFirms</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:36</CreateDate>
    <NodeName Default="Coventry-Leicester-Nottingham rail link dubbed ‘levelling up’ by firms" />
    <SortOrder>140</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <table border="0">
<tbody>
<tr>
<td>
<ul>
<li>Midlands Connect business survey shows ‘overwhelming’ support for rail upgrades between Coventry-Leicester-Nottingham</li>
<li>93% of local businesses surveyed&nbsp;stated that they and their employees would benefit from Coventry, Leicester and Nottingham being more closely connected.</li>
<li>95% of local businesses surveyed&nbsp;stated that reconnecting the rail line and improving local train service would support the Government’s Levelling Up agenda.</li>
</ul>
<p><strong>Local businesses employing over 32,000 workers across the region have given a seal of approval for proposed improvements to the Coventry-Leicester-Nottingham rail route.</strong></p>
<p>Midlands Connect conducted a business survey last month that showed staff at 70% of the local businesses surveyed mostly travel to work by car, with staff at a further 17% mostly commuting to work via train. However, 66% of local businesses surveyed said if the train line between Coventry, Leicester, and Nottingham is reconnected, employees would use it more.</p>
<p>Businesses thought the proposed improvements would benefit their operations, with 82% of firms saying it would make it easier to recruit, 73% expecting it would allow them to meet new customers, and 61% believing it would help their business to grow.</p>
<p>Of the businesses surveyed, 93% stated they and their employees would benefit from Coventry, Leicester and Nottingham being more closely connected, and 95% said reconnecting the rail line and improving local train service would support the Government’s Levelling Up agenda.</p>
<p>Midlands Connect’s plans would reinstate direct rail services between Coventry, Leicester and Nottingham for the first time in two decades, creating over 2million extra seats on the region’s rail network every year.</p>
<p>The improvements would introduce two new trains each hour, also calling at Loughborough and East Midlands Parkway, alongside plans to improve line speed along the route, making journeys faster.</p>
<p>Currently, passengers travelling along the corridor have to get off one train at Nuneaton station, change platforms and board another, culminating in a slow, inconvenient service. Because of this, just 3% of trips between Coventry and Leicester are made by rail, compared to 30% of trips between Coventry and Birmingham, which enjoys a regular, fast and direct rail connection.</p>
<p><strong>Commenting on the survey, Andy Clark, Senior Rail Programme Manager at Midlands Connect, said:</strong></p>
<p>“The results are overwhelming and show that businesses in Coventry, Leicester &amp; Nottingham want to see improved rail services. They see this investment as an example of levelling up their area and helping their economy to grow.</p>
<p>“What the survey also showed is faster and more frequent trains will save businesses money, allow them to recruit more people and grow.</p>
<p>“We will use these results as part of our strategic case for investment in the corridor and I want to thank all the firms and organisations who took part in the survey.”</p>
<p><strong>Sir Peter Soulsby, Leicester’s City Mayor, welcomes this enormous show of support from the business sector for direct trains again linking Coventry with Leicester. He added:</strong></p>
<p>"The survey results add to the already overwhelming case to reconnect the railway between these two major cities and help to reduce the reliance on the car.</p>
<p>"This project is important to both the local and regional economies and the Government is urged to press on with project development work as a priority within their rail programme."</p>
</td>
</tr>
</tbody>
</table>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-11-29T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/2024/coventry-008.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>