<?xml version="1.0" encoding="utf-8"?>
<Content Key="b362d749-ad23-4150-a68c-7690a083d41b" Alias="Coventry" Level="2">
  <Info>
    <Parent Key="ef6a9ddd-5683-4bf4-b433-57f9709da781">Change Into Action</Parent>
    <Path>/ChangeIntoAction/Coventry</Path>
    <Trashed>false</Trashed>
    <ContentType>areaCia</ContentType>
    <CreateDate>2024-07-23T11:10:45</CreateDate>
    <NodeName Default="Coventry" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="99952ca6-8ff4-4488-a2af-7b5f0928930e">AreaCia</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/56c34b6b0de846308d2fa413abf80a15",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/b2eb1498beda47af8687833815dbd798",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/b091f81883ce4e8fa96712eb6900bfd8",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/0c8001efe5c941538a4688f58141c8c2",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/69afae5297df4dcdb0d90caccebdac83",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/56c34b6b0de846308d2fa413abf80a15"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/b2eb1498beda47af8687833815dbd798",
      "richText": {
        "markup": "<h2 class=\"margin-remove-top\">We are working with rough sleepers</h2>\n<p>Our services are there for rough sleepers on the streets, in day centres and housing. You can help us do more.</p>\n<p>Change into Action is a partnership between <a rel=\"noopener\" href=\"http://www.coventry.gov.uk\" target=\"_blank\" title=\"Coventry City Council homepage\">Coventry City Council</a>, the <a rel=\"noopener\" href=\"https://www.wmca.org.uk/mayor-of-the-west-midlands-more-information-about-the-role/\" target=\"_blank\" title=\"Meet the Mayor\">Mayor of the West Midlands</a> and the <a rel=\"noopener\" href=\"http://www.wmca.org.uk\" target=\"_blank\" title=\"WMCA home page\">West Midlands Combined Authority</a> aimed at addressing rough sleeping. All donations are kindly received and held by <a rel=\"noopener\" href=\"https://letstalk.coventry.gov.uk/feeding-coventry\" target=\"_blank\">Feeding Coventry</a>, a local charity. All money donated is spent on rough sleepers.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "794222f9-4840-4742-85e4-824fe89f90b5",
      "udi": "umb://element/b091f81883ce4e8fa96712eb6900bfd8",
      "insetText": {
        "markup": "<p>With your help, we’ve raised over £15,793.86! \u2028<br>Thank you and please continue to donate and help to change lives</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/0c8001efe5c941538a4688f58141c8c2",
      "richText": {
        "markup": "<h2>Together for Change</h2>\n<p>Our dedicated teams ensure your change makes a personal difference to the life of a rough sleeper.</p>\n<h2>One Team</h2>\n<p>Our multi-disciplinary teams get to know and understand the circumstances that lead to rough sleeping, which is how your help is matched to an individual’s needs.<br><br><a href=\"/{localLink:umb://document/8355bb45f8d24ec986f82a322eb17113}\" title=\"About\">Read more about us</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/69afae5297df4dcdb0d90caccebdac83",
      "useImage": "Yes",
      "image": [
        {
          "key": "55d9b927-41ff-4fc6-8234-6d96a2533062",
          "mediaKey": "e2920ec0-7035-4168-bfcf-2cd350fc6de2"
        }
      ],
      "useIcon": "No Icon",
      "useTitle": "No",
      "title": "",
      "copy": {
        "markup": "<p>“I kept thinking of how I will cope indoors after being on the streets for over ten years, I am still learning to handle myself and to process things in my head.”&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "useLink": "No",
      "link": "",
      "useButton": "No",
      "buttonType": "",
      "useSecondButton": "No",
      "linkSecondButton": "",
      "buttonTypeSecondButton": "",
      "icon": "",
      "materialIcon": "",
      "buttonIcon": "",
      "buttonIconSecondButton": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
    <image>
      <Value><![CDATA[[
  {
    "key": "98cef76b-133a-4324-a815-fbca8b926fa7",
    "mediaKey": "e7398dd6-7d2d-45ef-bf18-f6ffd4c1ba9b"
  }
]]]></Value>
    </image>
    <imagePosition>
      <Value><![CDATA[[
  "Bottom"
]]]></Value>
    </imagePosition>
    <leftButtonIcon>
      <Value><![CDATA[{
  "icon": "ds-general-thumbs-up",
  "packageId": "a78164bc-e4fd-42b0-b927-d2e00faa913c"
}]]></Value>
    </leftButtonIcon>
    <leftButtonLink>
      <Value><![CDATA[[
  {
    "name": "Donate to take action",
    "udi": "umb://document/ca89e7847f2d4d4dbe85970c20632c3d"
  }
]]]></Value>
    </leftButtonLink>
    <rightButtonIcon>
      <Value><![CDATA[{
  "icon": "ds-general-location-pin",
  "packageId": "a78164bc-e4fd-42b0-b927-d2e00faa913c"
}]]></Value>
    </rightButtonIcon>
    <rightButtonLink>
      <Value><![CDATA[[
  {
    "name": "Locate a rough sleeper",
    "udi": "umb://document/2f2d32b7fcf640d49f549572cd3d1d19"
  }
]]]></Value>
    </rightButtonLink>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>Turn your Change <br>into Action for <br>rough sleepers</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
    <test>
      <Value><![CDATA[]]></Value>
    </test>
  </Properties>
</Content>