<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce7cc1bf-8a38-4354-86d6-bcbd94330d73" Alias="Coventry-Leicester-Nottingham: Leaders hail ‘once in a generation’ opportunity to reconnect the Midlands" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/CoventryLeicesterNottinghamLeadersHailOnceInAGenerationOpportunityToReconnectTheMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-05-26T00:00:00</CreateDate>
    <NodeName Default="Coventry-Leicester-Nottingham: Leaders hail ‘once in a generation’ opportunity to reconnect the Midlands" />
    <SortOrder>93</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>
<p>Joint message from Leicester Mayor and Coventry Council leader on release of Midlands Connect report</p>
</li>
<li>
<p>Plans would cut journey time from Coventry to Leicester by 30%, from Coventry to Nottingham by 35% and reinstate direct rail link</p>
</li>
<li>
<p>First trains could run on the new route in just four years, subject to funding</p>
</li>
<li>
<p>New direct trains from Coventry to Leicester, Loughborough, East Midlands Parkway and Nottingham</p>
</li>
<li>
<p>87% of local people want plans to go ahead</p>
</li>
</ul>
<p><strong>The Mayor of Leicester and the Leader of Coventry City Council have hailed the release of a report by Midlands Connect, which promotes plans for direct rail links between Coventry, Leicester and Nottingham, as a ‘once in a generation opportunity’ to better connect the three great cities.</strong></p>
<p>The report comes just weeks before the expected publication of the Integrated Rail Plan, which will set the agenda for the next thirty years of rail travel and outline Government spending in the Midlands and North.</p>
<p>Midlands Connect’s plans would reinstate direct rail services between Coventry, Leicester and Nottingham for the first time in two decades, creating over 2million extra seats on the region’s rail network every year.</p>
<p>The improvements would introduce two new trains each hour, also calling at Loughborough and East Midlands Parkway, alongside plans to improve line speed along the route, making journeys faster.</p>
<p>Currently, passengers travelling along the corridor have to get off one train at Nuneaton station, change platforms and board another, culminating in a slow, inconvenient service. Because of this, just 3% of trips between Coventry and Leicester are made by rail, compared to 30% of trips between Coventry and Birmingham, which enjoys a regular, fast and direct rail connection.</p>
<p>Journey times along the route will be cut significantly, with trips from Coventry to Leicester falling from 54 to 38 minutes, with trips from Coventry to Nottingham down to 70 minutes from 108 minutes. Loughborough and East Midlands Parkway would also have new, direct and more frequent links to Coventry.</p>
<p>To reach its target of becoming carbon neutral by 2050, the UK must reduce emissions by 100% compared to 1990 levels, however, transport emissions have fallen by just 5% over the last thirty years, eclipsed by the energy and business sectors, where emissions have fallen by 63% and 42% respectively<a name="_ftnref1" href="#_ftn1"><span>[1]</span></a>. This scheme will significantly increase the number of intercity journeys made by rail, which produces 80% less carbon dioxide than travelling by car<a name="_ftnref2" href="#_ftn2"><span>[2]</span></a>.</p>
<p>Subject to funding, with costs likely to be in the region of £90-£100million, the first trains could run as soon as 2025, bringing benefits of over £170million to the local economy. Midlands Connect hopes to get the green light to bring the plans to their next stage of development, creating an Outline Business Case for the project by the end of next year.</p>
<p>There is widespread support for the idea in the community. Of over 3,000 people in and around Coventry, Leicester and Nottingham questioned by Midlands Connect, 87% were keen for it to go ahead.</p>
<p><strong>Sir Peter Soulsby, Leicester City Mayor, said:</strong></p>
<p>“I can’t think of two UK cities other than Coventry and Leicester, that are as close, yet so appallingly connected by rail. At the moment it can take up to an hour and twenty minutes to travel less than 25 miles, and passengers have to change trains half-way – it’s simply not good enough. Given this, it’s no wonder that 97 per cent of trips on this route are made by road. By reintroducing faster, direct connections we can encourage more people to travel sustainably, strengthen working relationships and increase productivity. We must now move ahead to create detailed plans for delivery, with the support of Government.”</p>
<p><strong>Cllr George Duggins, leader of Coventry City Council, said:</strong></p>
<p>“There’s no other way of looking at it – here we have a missing link, a really important link between the east and the west Midlands, and this is our opportunity to reforge it. These plans will open up Coventry, its jobs, leisure destinations and universities to communities across the East Midlands and vice versa. At the moment the Midlands’ east – west rail connections are sub-standard, holding us back from a more productive and sustainable future. Turning these plans into reality is an essential step in boosting prosperity and public transport use across our region – let’s get on with it.”</p>
<p>&nbsp;</p>
<p><a name="_ftn1" href="#_ftnref1"><span>[1]</span></a> <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/875485/2019_UK_greenhouse_gas_emissions_provisional_figures_statistical_release.pdf">2019 UK greenhouse gas emissions, provisional figures (publishing.service.gov.uk)</a></p>
<p><a name="_ftn2" href="#_ftnref2"><span>[2]</span></a> <a href="https://ourworldindata.org/travel-carbon-footprint">Which form of transport has the smallest carbon footprint? - Our World in Data</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-05-26T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>