<?xml version="1.0" encoding="utf-8"?>
<Content Key="5dcfbe15-5761-4b79-9e9e-9f6ab333a3cd" Alias="Cycle Surgeries- Love Your Bike" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/CycleSurgeriesLoveYourBike</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Cycle Surgeries- Love Your Bike" />
    <SortOrder>35</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p>The Safer Travel Partnership, in conjunction with Network West Midlands are continuing to run&nbsp;cycle surgeries at rail stations across the West Midlands over the next few months. The aim will be to raise awareness of cycle crime prevention and to provide an opportunity for cycle owners to have their bikes marked and registered on a national database. The marking has been shown to deter theft, and the registration allows police to quickly trace the owner of the cycle if its found after being lost or stolen.</p>
<p>We are also able to offer police approved cycle security locks at a reduced price (while stocks last). Please ask the Safer Travel Police Team at the event if you would like any further information about this offer.</p>
<p>Dr BIKE also attend all&nbsp;surgeries to offer FREE bike safety checks and offer cycle maintenance classes for FREE.</p>
<p>Sessions are run at the following train stations. There's no need to book, just turn up on the day!</p>
<p><strong>Birmingham<br></strong>New Street Station&nbsp;(16:30 and 18:30)<br>TUES 4th OCTOBER</p>
<p>Selly Oak (16:30 and 18:30)<br>TUES 11TH OCT</p>
<p><strong>Black Country<br><br></strong>Wolverhampton Station&nbsp;(16:30 and 18:30)<br>WEDS 5TH OCTOBER</p>
<p>Stourbridge Junction Station (16:30 and 18:30)<br>FRI 7TH OCTOBER</p>
<p><strong>Coventry</strong></p>
<p>Coventry Station (16:30 and 18:30)<br>THURS 6TH OCTOBER</p>
<p>Canley Station&nbsp;(16:30 and 18:30)<br>THURS 13TH OCTOBER</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>