<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e1bcc2d-6ede-4ad3-8b54-01adfbe9119c" Alias="Delays along the A50 corridor are costing economy £8m each year" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/DelaysAlongTheA50CorridorAreCostingEconomy8mEachYear</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-09-27T00:00:00</CreateDate>
    <NodeName Default="Delays along the A50 corridor are costing economy £8m each year" />
    <SortOrder>132</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>More than 150 hours per day are lost by commuters around Uttoxeter and Staffordshire alone</li>
<li>Every day, the cost of journeys for commuters are £1,600 higher as a result of being sat in traffic, according to analysis</li>
<li>Van and HGV delays on the central section cost the economy £1,238 a day</li>
<li>Over a year, drivers of the A50/A500 spend nearly 6 hours in logjams on the roads</li>
<li>MPs describe the figures as ‘overwhelming evidence’ for upgrades</li>
</ul>
<p>According to the figures the delays on the A50 and A500 in morning and evening peak periods amount to 2,760 hours per day meaning almost 700,000 hours a year are lost due to delays on the whole A50/A500 road. For commuters this means having to leave earlier, come home later or sit in traffic due to longer commuting times. More than 150 hours are lost every day just due to commuter delays on the central section in and around Uttoxeter and Staffordshire.</p>
<p>For firms, the figures are starker. Van and HGV delays mean that food, supplies, and medicines are all spending longer on the road than they should. Across the central section of the corridor, which spans from Blythe Bridge in Staffordshire to Toyota Island in Derbyshire, 109 hours a day are lost due to HGV delays, costing the economy £1,238 daily.</p>
<p>The economic impact is that journeys across the whole A50/A500 corridor cost more than £32,600 per day more due to delays in peak periods.&nbsp; Business trips in Staffordshire are over £770,000 higher a year as a result of congestion in peak periods while business trips in Stoke (on the A500 between A50 Sideway and M6 J15) and Derbyshire (between Toyota Island and M1 J23a) are over £1m higher, and £890,000, respectively.</p>
<p>The economic impact of delays done by Midlands Connect is calculated using economic model that assesses the lost value of time for cars, vans, and HGVs, for business, commuting and leisure journeys.</p>
<p>The A50 and A500, a major trunk route spanning almost 100 miles from Leicester to Cheshire, is home to industrial and manufacturing hubs such as Toyota in Derby and JCB in Uttoxeter. The central section of the corridor sees nearly 500 hours’ worth of delays in peak periods every day; with most of those hours coming from delayed commuter journeys.</p>
<p>Midlands Connect recently published <a href="https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.midlandsconnect.uk%2Fpublications%2Fa50500-report%2F&amp;data=05%7C01%7CJonny.browning%40arcadis.com%7Cb11c80f2e6cf46db0ad508da8c1a0480%7C7f90057d3ea046feb07ce0568627081b%7C0%7C0%7C637976340652920778%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=1YF1BOqv9BYzP6NLxKf%2BtQjjf8w9oXZwwxZKTQNckzE%3D&amp;reserved=0">a report</a> on the A50/A500 with proposed interventions to improve the corridor. This report identified immediate priorities for detailed examination (to align with National Highways’ ‘Road Investment Strategy 3’ (2025-2030)), including grade separation of the A50 and local roads at two locations in Uttoxeter and enhancing existing roundabouts at Sudbury and Blythe Bridge, strategic improvements to M6 J15 and enhancements at Sideway A50/A500 junction.</p>
<p>It is recommended that these improvements should be considered for funding as part of the Government’s third Road Investment Strategy (RIS3), which is for the period 2025-2030. This means that project delivery could begin as soon as 2025, less than three years from now.</p>
<p>Earlier in the year, Midlands Connect commissioned <a href="https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.midlandsconnect.uk%2Fnews%2Fa50a500-investment-proposals-given-overwhelming-thumbs-up-by-residents%2F&amp;data=05%7C01%7CJonny.browning%40arcadis.com%7Cb11c80f2e6cf46db0ad508da8c1a0480%7C7f90057d3ea046feb07ce0568627081b%7C0%7C0%7C637976340652920778%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=A6nDGA%2BzjzaJCQtm1KxDVWrhykdBlC8ofrYSoc8YkgE%3D&amp;reserved=0">research</a> which showed support for improvements to the road corridor amongst Staffordshire residents. This showed that 72% of residents supported the plans, with the highest level of support being in the Staffordshire Moorlands.</p>
<p><strong>Swati Mittal, Strategic Roads Manager at Midlands Connect, commenting on the new figures said:</strong></p>
<p>“It is clear delays along this vital road corridor are impacting not only the daily lives of individuals who use the road, but also businesses and the wider economy. It is so important we move forward with Midlands Connect’s suggestions to improve these roads and get the Midlands moving.”</p>
<p><strong>Kate Kniveton, MP for Burton and Uttoxeter, and project champion for the North Midlands Manufacturing Corridor added:</strong></p>
<p>“It is vital my constituents can get from A to B, whether that be for work, school, or leisure, without unnecessary hinderance.</p>
<p>“The figures released by Midlands Connect today demonstrate how wide the impact of delays on the A50 is to our region and the knock-on effect this has on all road users as well as local businesses.</p>
<p>“The figures make a convincing case for upgrades to the A50 in and around Uttoxeter and the improvements suggested by Midlands Connect will improve journey times, along with improvements to road safety and reducing air pollution locally.</p>
<p>“I will continue to work closely with Midlands Connect as we make the case to Government and the new team at the Department for Transport to invest in these infrastructure improvements to level-up the A50.”</p>
<p><strong>Staffordshire County Council leader, Councillor Alan White, said: </strong></p>
<p>“Delays on our roads restrict growth, increase costs to businesses and lengthen people’s travel time.</p>
<p>“The A50 corridor is one of our key routes and vital for east-west connectivity and that is why we are fully supporting the Midlands Connect proposals to improve it in the coming years.</p>
<p>“The county council will be working with partners to make our case to the Government for the investment to bring them forward.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-09-27T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/2025/a50_a500-sideway-roundabout-0003.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            New research released today (27th September 2022) by Sub-national Transport Body Midlands Connect has found that delays along the A50 are costing more than £8.2m to the economy every year.  These figures as described.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>