<?xml version="1.0" encoding="utf-8"?>
<Content Key="68d8e22f-ab9e-4194-9a75-5657b4b91663" Alias="Department for Transport ports study highlights crucial role for the Midlands at the heart of the UK’s international trade network" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/DepartmentForTransportPortsStudyHighlightsCrucialRoleForTheMidlandsAtTheHeartOfTheUKSInternationalTradeNetwork</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-04-25T00:00:00</CreateDate>
    <NodeName Default="Department for Transport ports study highlights crucial role for the Midlands at the heart of the UK’s international trade network" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>"The 'Ports Connectivity Study' published by the Department for Transport reaffirms the crucial role for the Midlands in unlocking global trade routes for the UK economy. Access to ports, including Immingham and Felixstowe, is vital to the Midlands and UK economies with 95% of export volumes travelling by sea routes. The Midlands Engine is a growing export base worth over £50bn and our fastest growth sectors include heavy goods, with over £40bn worth of manufactured goods and machinery exported in 2017, relying on effective port links to reach global markets.</p>
<p>"We will enable further export opportunities using the expertise through our Midlands Engine partnership to continue our historic growth. That is why I welcome the Shipping Minister, Nusrat Ghani’s commitment to work closely with Sub-National Transport Bodies, LEPs, local authorities and businesses to ensure our road and rail freight options fully unlock the potential for maritime trade and that we use the Industrial Strategy to boost the innovation and skills that will help to rebalance our economy.</p>
<p>"There is more to be done on this crucial agenda and our transport network requires a joined-up solution to benefit communities and businesses, whether it is through our A46 corridor work or utilising assets like the East Midlands Gateway Freight Interchange, i54 extension and Bescot Yard at the heart of our logistics base.</p>
<p>"This year Midlands Connect will be finalising our work to relieve congestion around the congested Midlands Motorway Hub and securing vital investment for our key freight corridors from the Road Investment Strategy and Major Road Network. This publication reaffirms Government’s commitment to work together to ensure that our key international trade routes and freight corridors,&nbsp;as identified in our Freight Strategy, will benefit the whole of the country.”&nbsp;</p>
<p>&nbsp;</p>
<p>DfT Maritime study: <a href="https://www.gov.uk/government/publications/transport-connectivity-to-ports-review-of-the-current-status-and-future-infrastructure-recommendations">https://www.gov.uk/government/publications/transport-connectivity-to-ports-review-of-the-current-status-and-future-infrastructure-recommendations</a></p>
<p>Midlands Connect 2017 Freight Strategy: <a href="/mc/media/1148/mc-freight-summary.pdf">https://www.midlandsconnect.uk/mc/media/1148/mc-freight-summary.pdf</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-04-25T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            The Midlands has a crucial role in the Government's new Ports Connectivity vision, says Midlands Connect Chairman Sir John Peace:
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>