<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ae50a07-3438-4c13-9c94-05628a528c1d" Alias="Derby - Stoke - Crewe" Level="5">
  <Info>
    <Parent Key="69abc02e-8c91-4327-bc5a-e3734f9b6578">Midlands engine rail</Parent>
    <Path>/MidlandsConnect/AboutUs/OurProjects/MidlandsEngineRail/DerbyStokeCrewe</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageMidlandsConnect</ContentType>
    <CreateDate>2023-12-06T08:09:26</CreateDate>
    <NodeName Default="Derby - Stoke - Crewe" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/440c9623cafc4a028a60927b96126b4b",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/4bb85d68d6ab4143b6b4ce144071f875",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/440c9623cafc4a028a60927b96126b4b"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/4bb85d68d6ab4143b6b4ce144071f875",
      "richText": "<h2>Our plans have the potential to increase passenger demand on the corridor by 72%, with faster, more frequent services.</h2>\n<div>\n<p align=\"LEFT\">Currently, there is just one service per hour on this route, taking 79 minutes. We're planning to double the frequency of trains to two per hour, with the potential to increase passenger demand by 72% to 350,000 users a year by 2037. Doing so could provide an alternative to the congested A50 and M6.</p>\n<p align=\"LEFT\">It could also be possible to reduce journey times by 20 minutes with changes to calling patterns on this additional service.</p>\n</div>"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
  </Properties>
</Content>