<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a10359d-0101-444d-bf43-02974d7aaa8d" Alias="Discussions held on major A38 Bromsgrove improvements" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/DiscussionsHeldOnMajorA38BromsgroveImprovements</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:29</CreateDate>
    <NodeName Default="Discussions held on major A38 Bromsgrove improvements" />
    <SortOrder>103</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Last week, regional transport chiefs met with councillors and local leaders to discuss transformative road improvements in and around Bromsgrove. The Bromsgrove Route Enhancement Programme (BREP) is a £49 million project, providing a package of upgrades in addition to work already completed along the A38 corridor, to boost connectivity and improve journey times for all modes of travel. Research by Midlands Connect released to coincide with the roundtable discussions shows that 85% of local people would support improvements on the A38.</p>
<p>Attendees at the meeting included; the leader of Worcestershire County Council Simon Geraghty, the leader of Bromsgrove District Council Karen May and representatives from the Worcestershire Local Enterprise Partnership, Herefordshire and Worcestershire Chamber of Commerce and others.</p>
<p>This package of improvements on the A38 between the B4094 Worcester Road to the south and M5 Junction 4 to the north includes:</p>
<ul>
<li>Increasing junction capacity and signals</li>
<li>Widening the main carriageway</li>
<li>New pedestrian crossing facilities</li>
<li>Improvements to the existing footbridge and a new walking/cycling bridge</li>
</ul>
<p>Midlands Connect have released consumer research of nearly 300 people showing that 85% of people would like to see investment in the A38 in Bromsgrove. The poll of 278 people showed overwhelming support for the project.</p>
<p>The A38 separates Bromsgrove town centre from the railway station, making it difficult for pedestrians and cyclists to cross and adding extra distance on to their travels. A new walking/cycling bridge and upgrades to an existing bridge will make crossing easier, alongside new footways, cycleways and signal controlled crossings.</p>
<p>More than 10,000 homes and 28 hectares of employment land are expected close to the A38 corridor by 2030 as part of local plans for Bromsgrove and Redditch. Congestion must be addressed to accommodate this planned future growth.</p>
<p><strong>Commenting after the roundtable, Chief Executive of Herefordshire &amp; Worcestershire Chamber of Commerce Sharon Smith, said: </strong></p>
<p>“There has never been a better time to invest in Bromsgrove. Our economy is at the forefront of innovation, spanning industries from advanced manufacturing and professional services, to life sciences.</p>
<p>“We are spearheading the green revolution as the country commits to a carbon neutral future.</p>
<p>“Bromsgrove and the Midlands, moreso than any other region, relies on resilient transport networks to prosper and that is why it is so critical to bring everyone around the table, to hear progress on this vital project and keep everyone informed.”</p>
<p>&nbsp;</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-10-14T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>