<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ed35123-3aac-45d4-b39d-4ada15303a26" Alias="DNA Taken From Spit Kits Are Becoming Increasingly More Effective In Identifying Offenders." Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/DNATakenFromSpitKitsAreBecomingIncreasinglyMoreEffectiveInIdentifyingOffenders</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="DNA Taken From Spit Kits Are Becoming Increasingly More Effective In Identifying Offenders." />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
        <img src="/media/st/media/1035/spit-kit-1-copy.jpg" style="max-width:700px" class="img-responsive">
<p>West Midlands bus drivers were given mini DNA kits in 2012 to help police track anyone who spits at them or fellow passengers. The DNA kits have become increasingly effective at identifying offenders and getting them in front of the courts.</p>
<p>The spit kits – which feature swabs, gloves and sealed bags – allow staff to take saliva samples and protect them from contamination before being sent for forensic analysis.</p>
<p>If the suspect is not on police radar, their DNA is kept on the national database forever and the case will be resurrected if the suspect is later arrested or for any other police matter. </p>
<p>So far this year, 50 spitting incidents towards staff members have been reported in the local area. </p>
<p>Earlier this year, a bus driver was forced to speak to a number of rowdy teenagers on the bus about their behaviour. One of the teenagers later spat in the driver’s face, before getting off the bus. </p>
<p>Spit samples were taken from the driver’s clothes and the steering wheel and sent off for forensic analysis. The DNA was compared with over six million DNA profiles on the national database; however there was no match. </p>
<p>Two months later, a 13-year-old boy was arrested by police for an unrelated incident. As the DNA had previously been filed on a database, officers found a match with the DNA for the spitting offence to the National Express bus driver. This situation was resolved locally.</p>
<p>PC Shaun Hickinbottom, the Investigation Officer for Safer Travel said: </em><em>&ldquo;Spitting is a disgusting and despicable offence. Drivers and passengers should not be expected to tolerate it on our bus routes. </p>
<p>&ldquo;Spitting at someone leaves a trail of DNA behind and these spit kit devises allows us to obtain irrefutable DNA evidence which help us track down offenders and secure convictions at court.&nbsp; </p>
<p>&ldquo;This is a criminal offence and we will deal with this seriously, we have had cases of offenders being handed short jail sentences after spitting at passengers or bus staff.&rdquo;</p>
<p>Paul Thomas, Managing Director of National Express West Midlands, said: "Our staff have the right to work without being spat on. We will pursue anyone who is guilty of this revolting behaviour. These DNA kits mean we can help Safer Travel police track these people down, stop them and make sure they face justice."</p>
<p>The Safer Travel Partnership stressed that spitting would be dealt with as a criminal offence, but also urged passengers to help tackle non-criminal nuisance behaviour by using the See Something Say Something Campaign.</p>
<p>Passengers who witness antisocial behaviour during their journey can say something anonymously by texting the word ‘bus’, ‘metro’ or ‘rail’ followed by a space and then details of the incident including time, date, location and route number to 83010.</p>
<p>Alternatively they can report online by logging on to the <a href="http://www.safertravel.info/">www.safertravel.info</a> website or by calling police on 101 for bus and 0800 405040 for rail and Metro. In the case of an urgent crime or an emergency they should dial 999 as usual.</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>