<?xml version="1.0" encoding="utf-8"?>
<Content Key="65bcfa0a-d436-48d4-a21d-bf7dfeb789a4" Alias="East Midlands Open Day" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/EastMidlandsOpenDay</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-10-24T00:00:00</CreateDate>
    <NodeName Default="East Midlands Open Day" />
    <SortOrder>199</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Midlands Connect is hosting its second Open Day on Thursday 24th October in Nottingham.</p>
<p>Join us at the Council House on Old Market Square&nbsp;between 10am-1pm to speak to our technical experts about any aspect of our&nbsp;programme for the region.</p>
<p>We will be on hand to discuss our Midlands Engine Rail proposals, plans for the A46 corridor, technology and innovation and any other element of our long term strategy.</p>
<p>The event is on a drop in basis. Refreshments will be provided.</p>
<p>Attendance is free and open to all, but registration is encouraged: please sign up <a href="https://www.eventbrite.co.uk/e/midlands-connect-open-day-tickets-70903188345">here</a></p>
<p>If you have any questions, email is at mcadmin@midlandsconnect.uk</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-10-24T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>