<?xml version="1.0" encoding="utf-8"?>
<Content Key="002359b3-b2d7-40a3-b35d-749ed40171e1" Alias="East Midlands leaders call for full delivery of HS2’s Eastern Leg to bridge East – West divide" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/EastMidlandsLeadersCallForFullDeliveryOfHS2SEasternLegToBridgeEastWestDivide</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:24</CreateDate>
    <NodeName Default="East Midlands leaders call for full delivery of HS2’s Eastern Leg to bridge East – West divide" />
    <SortOrder>80</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>