<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e697d81-e690-49ce-b20b-8a01e2794e76" Alias="East Midlands leaders call for full delivery of HS2’s Eastern Leg to bridge East – West divide" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/EastMidlandsLeadersCallForFullDeliveryOfHS2SEasternLegToBridgeEastWestDivide</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2020-10-05T00:00:00</CreateDate>
    <NodeName Default="East Midlands leaders call for full delivery of HS2’s Eastern Leg to bridge East – West divide" />
    <SortOrder>80</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>
<p>Letter signed by group of MPs, councillors and business leaders including Darren Henry MP, Lilian Greenwood MP and former Transport Secretary Lord McLoughlin</p>
</li>
<li>
<p>Communities on HS2’s Eastern Leg receive less transport investment, have lower productivity rates, and are home to more social mobility cold spots than those on HS2’s Western Leg</p>
</li>
<li>
<p>Productivity In the East Midlands is 9% below Western Leg average and a 20% below UK average</p>
</li>
<li>
<p>Eastern Leg regions received 21% less transport investment per head over past five years than Western Leg regions, and a third (33% less) than the UK average</p>
</li>
<li>
<p>East Midlands is home to 26% of England’s social deprivation coldspots</p>
</li>
<li>
<p>Levelling up seen as essential in addressing social and economic inequalities and ensuring recovery from COVID-19</p>
</li>
</ul>
<p>A group of MPs, civic and business leaders from across the Midlands has written to Boris Johnson calling for the full delivery of HS2’s Eastern Leg from Birmingham to Leeds. In a letter to the Prime Minister, the cross-party group cites a new report which demonstrates stark social and economic inequalities between the Eastern and Western regions of the Northern Powerhouse and Midlands Engine.</p>
<p><em>Mind the gap: The role of HS2’s Eastern Leg in bridging England’s east-west divide, </em>authored by campaign group HS2 East, highlights that communities surrounding the Eastern Leg of HS2 Phase 2b suffer from lower productivity, poorer social mobility and receive lower levels of transport investment than communities surrounding its Western Leg, set to run from Birmingham to Manchester.</p>
<p>Signatories cite HS2’s Eastern Leg as an essential investment to address these inequalities, highlighting the huge regeneration schemes it is set to catalyse across the East Midlands, Yorkshire and North East, creating over 150,000 highly-skilled jobs.</p>
<p>Productivity along the Eastern Leg of HS2 Phase 2b was found to be ten per cent lower than along its Western Leg, while the three Eastern Leg regions; Yorkshire and the Humber, the East Midlands and North East have the three lowest productivity rates in England, falling 35%, 33%, and 32% below that of London.</p>
<p>These Eastern Leg regions were also home to twice as many ‘social mobility coldspots’ than the Western Leg regions; areas where Local Authorities were within the worst twenty per cent UK-wide for a range of criteria including the education provided to deprived children, the grades they receive and the jobs they secure. This was particularly pronounced in the East Midlands, which accounted for 26% of England’s social deprivation coldspots.</p>
<p>Writing before the Government is expected to publish its Integrated Rail Plan which is examining how best to integrate Phase 2b of HS2 with Midlands Engine Rail and Northern Powerhouse Rail the leaders are clear that all HS2 phases must be delivered in full.</p>
<p><strong>Darren Henry, MP for Broxtowe, said:</strong></p>
<p>“The Government has committed to levelling-up the UK economy, and delivering the Eastern Leg of HS2, in full, is an essential step in doing this. As well as creating thousands of highly-skilled jobs, the Eastern Leg will also speed our transition to a cleaner, greener transport network. Poor access to transport is a key indicator of social deprivation, we need this investment to improve local and regional connectivity and speed the way to a productive recovery from COVID-19.”</p>
<p><strong>Cllr Kay Cutts, leader of Nottinghamshire County Council said:</strong></p>
<p>“Now is the time to build back better and build back greener, accelerating our economic recovery from COVID-19. The Eastern Leg of HS2 is an integral part of this solution, one that will create opportunity and spread the benefits of investment and regeneration to the local communities that need it most. Government has committed to levelling-up the UK economy, it must now deliver on this promise, starting with the full construction of the Eastern Leg.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-10-05T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>