<?xml version="1.0" encoding="utf-8"?>
<Content Key="c460b087-7bbc-426f-938b-2f1eb89da2a7" Alias="Economic growth in the West Midlands: why being inclusive is key to our future" Level="3">
  <Info>
    <Parent Key="c66668c7-dfd8-4362-8b7f-60d466b2846d">Blog</Parent>
    <Path>/WestMidlandsCombinedAuthority/Blog/EconomicGrowthInTheWestMidlandsWhyBeingInclusiveIsKeyToOurFuture</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-08-16T09:46:51</CreateDate>
    <NodeName Default="Economic growth in the West Midlands: why being inclusive is key to our future" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9863e759-9a1e-4008-a218-0ffdedf49032">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[umb://document/9f2500149e3249ed9d815a12169684fc]]></Value>
    </author>
    <date>
      <Value><![CDATA[2023-08-14T06:00:00]]></Value>
    </date>
    <hideImageInBlog>
      <Value><![CDATA[0]]></Value>
    </hideImageInBlog>
    <image>
      <Value><![CDATA[[
  {
    "key": "51296a7b-5bb7-4bd8-89df-c554e868d8e1",
    "mediaKey": "bf9d6957-9b8b-43fc-ace8-26894ce4ec91"
  }
]]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[Thousands of Coventry residents are more physically and mentally active thanks to two community-led initiatives that are helping to deliver the legacy from the Commonwealth Games.

Andy Street, Mayor of the West Midlands and chair of the West Midlands Combined Authority (WMCA), has visited Coventry Moves and Guardian Ballers as part of a tour of the region one year on from the Games to see how communities are benefitting from last summer’s sporting spectacle.]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Skills, education and careers",
  "Life in the West Midlands",
  "Equality and diversity"
]]]></Value>
    </tags>
  </Properties>
</Content>