<?xml version="1.0" encoding="utf-8"?>
<Content Key="87dbf5a7-4b35-4d61-b0cd-b6d196616c81" Alias="Ed Cox" Level="3">
  <Info>
    <Parent Key="9af3708d-9d5e-4145-8d46-137f7ce2a49d">Authors</Parent>
    <Path>/WestMidlandsCombinedAuthority/Authors/EdCox</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2024-02-28T15:16:09</CreateDate>
    <NodeName Default="Ed Cox" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bio>
      <Value><![CDATA[]]></Value>
    </bio>
    <facebook>
      <Value><![CDATA[]]></Value>
    </facebook>
    <jobTitle>
      <Value><![CDATA[Executive Director - Strategy, Economy and Net Zero]]></Value>
    </jobTitle>
    <linkedin>
      <Value><![CDATA[[
  {
    "name": "https://www.linkedin.com/in/ed-cox-2abb5b13/",
    "target": "_blank",
    "url": "https://www.linkedin.com/in/ed-cox-2abb5b13/"
  }
]]]></Value>
    </linkedin>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
  </Properties>
</Content>