<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccf66da8-c453-4ea9-8fcf-5cfc53f1c7d0" Alias="Events" Level="2">
  <Info>
    <Parent Key="ba5299dd-422e-4f18-8dbf-d981c34ef23c">Midlands Connect</Parent>
    <Path>/MidlandsConnect/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageMidlandsConnect</ContentType>
    <CreateDate>2023-12-15T11:58:42</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/299580e2668d4a019cbb8d64d31e41d3",
        "areas": [
          {
            "key": "7a0c896b-d4fc-4ad1-8db4-a4ec9143e522",
            "items": [
              {
                "contentUdi": "umb://element/6490e694c00843c78d737a5e6c83aa6a",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "997b719d-64df-453c-a030-aa46a3caeeb4",
            "items": [
              {
                "contentUdi": "umb://element/2c0db1b91d6141cd9fe91f9a1e5b17cb",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/6bb61f3217e0492ab562731d6b5a210f",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/28622a5155814c43af30c5f99ffb6745",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/4cecf1cabd60486b87e2df6896e28bf0",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/cc7c3003db4c4b6480a54094be53c5ee",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/a8e4f55f57254dd3b6357c7194ac1600",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/90e1ad644f91479ea9e5d5435ca58902",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/81c265c3ba9640dd82c0ed68ffcf653e",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/4672200eb92144c8a11675f13cc0f6a9",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/868292ff7f964d3a94b0bd792b066f9c",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/b3fb572361364843ab2cbe1856f1b379",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/7646c8cfcd4e4dcf9b8c18115004707d",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/85f69c41a7444420a45c9b92d9c978d1",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/6719e365c4ef4e5dadc090c09e8b075d",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/40889d89b6c84e4fa7bb8ff87111abd9",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dff2fae0-7e4b-43e3-a1c9-8b5a45a9aee2",
      "udi": "umb://element/299580e2668d4a019cbb8d64d31e41d3"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/4cecf1cabd60486b87e2df6896e28bf0",
      "richText": "<h3>Full Speed Ahead: bringing high speed-rail to the East Midlands</h3>\n<p>On Monday 3rd June, we heard from the Rail Minister and a range of local politicians and business leaders on the benefits that high-speed rail would bring to the East Midlands.</p>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/cc7c3003db4c4b6480a54094be53c5ee",
      "video": "[\n  {\n    \"url\": \"https://vimeo.com/887985275\",\n    \"width\": 360,\n    \"height\": 240,\n    \"preview\": \"<iframe src=\\\"https://player.vimeo.com/video/887985275?app_id=122963\\\" width=\\\"360\\\" height=\\\"203\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; picture-in-picture\\\" title=\\\"MC Rail Freight\\\"></iframe>\"\n  }\n]"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/6bb61f3217e0492ab562731d6b5a210f",
      "richText": "<h3>Panel event: Impact of Network North on Rail Freight</h3>\n<p>As part of our first Freight Week we hosted a webinar discussing the impact of the Government's Network North plans on rail freight. If you missed it you can watch the recording below.</p>"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/2c0db1b91d6141cd9fe91f9a1e5b17cb",
      "richText": "<h2>2023 events</h2>\n<h3><a href=\"/{localLink:umb://document/dc47a449e0eb4ee3be5386622e6bf8ea}\" title=\"Network North Conference\">Network North Conference</a></h3>"
    },
    {
      "contentTypeKey": "c7c0a355-010d-4ff5-be1d-e223b2766b61",
      "udi": "umb://element/6490e694c00843c78d737a5e6c83aa6a"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/28622a5155814c43af30c5f99ffb6745",
      "video": "[\n  {\n    \"url\": \"https://vimeo.com/887985275\",\n    \"width\": 360,\n    \"height\": 240,\n    \"preview\": \"<iframe src=\\\"https://player.vimeo.com/video/887985275?app_id=122963\\\" width=\\\"360\\\" height=\\\"203\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; picture-in-picture\\\" title=\\\"MC Rail Freight\\\"></iframe>\"\n  }\n]"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/a8e4f55f57254dd3b6357c7194ac1600",
      "richText": "<h3>Rural Powerhouse</h3>\n<p>On Monday 12th June, we held our second rural mobility conference where we caught up with the winners of our £100,000 rural mobility pilot competition.</p>"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/90e1ad644f91479ea9e5d5435ca58902",
      "richText": "<h3><a href=\"/{localLink:umb://document/f92bfb966810407fbccad0347d265dfd}\" title=\"Midlands Connect 2023 Annual Conference\">Midlands Connect 2023 annual conference</a></h3>"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/81c265c3ba9640dd82c0ed68ffcf653e",
      "richText": "<h3>The Marches Transport Summit</h3>\n<p>On the 5th December 2022, we launched our Outline Business case for Midlands Rail Hub. You can watch a full recording of the event here:</p>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/4672200eb92144c8a11675f13cc0f6a9",
      "video": "[\n  {\n    \"url\": \"https://vimeo.com/796660209\",\n    \"width\": 360,\n    \"height\": 240,\n    \"preview\": \"<iframe src=\\\"https://player.vimeo.com/video/796660209?app_id=122963\\\" width=\\\"360\\\" height=\\\"203\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; picture-in-picture\\\" title=\\\"The Marches Transport Summit\\\"></iframe>\"\n  }\n]"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/b3fb572361364843ab2cbe1856f1b379",
      "richText": "<h3>Midlands Rail Hub business case launch</h3>\n<p>On the 5th December 2022, we launched our Outline Business case for Midlands Rail Hub. You can watch a full recording of the event here:</p>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/7646c8cfcd4e4dcf9b8c18115004707d",
      "video": "[\n  {\n    \"url\": \"https://vimeo.com/779251481\",\n    \"width\": 360,\n    \"height\": 240,\n    \"preview\": \"<iframe src=\\\"https://player.vimeo.com/video/779251481?app_id=122963\\\" width=\\\"360\\\" height=\\\"203\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; picture-in-picture\\\" title=\\\"Midlands Rail Hub: Outline Business Case launch event\\\"></iframe>\"\n  }\n]"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/868292ff7f964d3a94b0bd792b066f9c",
      "richText": "<h2>2022 events</h2>"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/85f69c41a7444420a45c9b92d9c978d1",
      "richText": "<h3>2022 conferences</h3>\n<p>Throughout 2022, we hosted a number of events covering a broad range of topics from rural mobility to EV charging infrastructure. Watch our events by clicking the links below:</p>\n<ul>\n<li><a rel=\"noopener\" href=\"https://vimeo.com/793390322\" target=\"_blank\">EV conference</a></li>\n<li><a rel=\"noopener\" href=\"https://vimeo.com/722465546\" target=\"_blank\">Rural mobility conference</a></li>\n<li><a rel=\"noopener\" href=\"https://vimeo.com/765631149\" target=\"_blank\">A5 conference</a></li>\n</ul>"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/6719e365c4ef4e5dadc090c09e8b075d",
      "richText": "<h2>2021 events</h2>\n<h3>Midlands COP conference</h3>\n<ul>\n<li><a rel=\"noopener\" href=\"https://vimeo.com/788600691\" target=\"_blank\">Midlands COP conference</a></li>\n<li><a rel=\"noopener\" href=\"https://vimeo.com/794043047\" target=\"_blank\">Midlands COP breakout session 1</a></li>\n<li><a rel=\"noopener\" href=\"https://vimeo.com/794048982\" target=\"_blank\">Midlands COP breakout session 2</a></li>\n<li><a rel=\"noopener\" href=\"https://vimeo.com/794052239\" target=\"_blank\">Midlands COP breakout session 3</a></li>\n</ul>"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/40889d89b6c84e4fa7bb8ff87111abd9",
      "richText": "<h3>2021 webinar series</h3>\n<p>In our 2021 webinar series, we heard from politicians, business leaders and industry experts on our core themes. The webinars covered the topics of Covid-19, levelling up and decarbonisation.</p>\n<ul>\n<li><a rel=\"noopener\" href=\"https://vimeo.com/794056652\" target=\"_blank\">Building back better</a></li>\n<li><a rel=\"noopener\" href=\"https://vimeo.com/435059846\" target=\"_blank\">Very light rail webinar</a></li>\n</ul>"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
  </Properties>
</Content>