<?xml version="1.0" encoding="utf-8"?>
<Content Key="beaa062f-cfc2-40a5-a0d9-5e6a03ebed84" Alias="Five People Arrested And Four Weapons Seized In Four Days Of Joint Operations On Public Transport" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/FivePeopleArrestedAndFourWeaponsSeizedInFourDaysOfJointOperationsOnPublicTransport</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Five People Arrested And Four Weapons Seized In Four Days Of Joint Operations On Public Transport" />
    <SortOrder>97</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>Four days of planned operations saw Safer Travel officers team up with neighbourhood policing teams from West Midlands Police and British Transport Police, as well as Project Guardian officers, Transport Safety Officers and West Midlands Railway revenue staff.</p>
<p>Between 4 and 7 January, we conducted over 46 stop searches across key transport hubs including Birmingham New Street, Snow Hill, Moor Street, Sutton Coldfield and Longbridge train stations, as well as Moor Street Queensway, Colmore Row, Dale End and West Bromwich bus station.</p>
<p>We arrested five people for a number of offences; 20-year-old Thyce Walker, of Aldridge Road, Birmingham, has been charged with possession of an offensive weapon and is due to appear at Birmingham Magistrates Court on Wednesday (19 Jan). A 14-year-old boy has been also charged with possession of an offensive weapon and class B drugs and will appear at Birmingham Magistrates Court tomorrow (18 Jan), while a 16-year-old boy was also arrested for possession of an offensive weapon and has been released with no further action.</p>
<p>An 18-year-old man has also been released under investigation after being arrested for assaulting a police officer and a 28-year-old man has received a caution following a public order offence.</p>
<p>We also seized a zombie knife, an extendable baton, gloves which contained concealed knuckledusters and a 17 cm knife. Officers also issued four referrals for possession of cannabis following stop searches in Birmingham.</p>



                            
    
    <img src="/media/st/media/1122/knife-wm.jpg" alt="One of the weapons seized during the operation">
        <p class="caption">One of the weapons seized during the operation</p>


                            
    
<p>The operations were arranged to support higher passenger footfall after the new year and to ensure students were able to travel back to school safely.</p>
<p>Inspector Rachel Crump, head of the Safer Travel Policing team, said: &ldquo;We expected an increase in passenger numbers due to students returning back to school and commuters using the transport network to travel back to work, so we stepped up our patrols and organised a number of proactive operations across some of our busiest routes on the network.</p>
<p>&ldquo;It’s great to see our officers have taken number of weapons off the street, some particularly shocking and extremely dangerous if they were to be used.</p>
<p>&ldquo;We continue to reinforce that it is absolutely unacceptable to carry weapons on our public transport network. Thankfully these weapons are now in police possession and cannot cause any danger to the public, and those who were found carrying them will be investigated and dealt with accordingly.</p>
<p>&ldquo;We want to reassure the public that we take the safety of passengers and staff extremely seriously and we do not condone carrying weapons or behaving in a way that makes others feel unsafe. Equally our officers do not deserve to be abused or assaulted for simply doing their job and protecting the public, and the safety and welfare of our staff will always be a priority.&rdquo;</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>