<?xml version="1.0" encoding="utf-8"?>
<Content Key="b55d0003-de7e-44f0-8b3e-0537bf37a445" Alias="Footer" Level="3">
  <Info>
    <Parent Key="a1cb9af2-dfcb-453c-8ba1-85a719bc15ec">Site Properties</Parent>
    <Path>/SaferTravel/SiteProperties/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2023-10-14T09:05:16</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bottomLinks>
      <Value><![CDATA[]]></Value>
    </bottomLinks>
    <column1Title>
      <Value><![CDATA[]]></Value>
    </column1Title>
    <column2Links>
      <Value><![CDATA[[
  {
    "name": "Report an incident",
    "url": "https://report.safertravel.info"
  },
  {
    "name": "Advice",
    "udi": "umb://document/daf58027259f42ee9513b2564dd35a51"
  },
  {
    "name": "Education",
    "udi": "umb://document/5aa4509da9ae45538f27d89774d5915f"
  },
  {
    "name": "Useful Information",
    "udi": "umb://document/b729570a7bad4324bf060fe320eeab0d"
  }
]]]></Value>
    </column2Links>
    <column2Title>
      <Value><![CDATA[Advice and support]]></Value>
    </column2Title>
    <column3Links>
      <Value><![CDATA[[
  {
    "name": "Who we are",
    "udi": "umb://document/08a512bee6a44f5b940d5053a77cb1e3"
  },
  {
    "name": "What we do",
    "udi": "umb://document/4af2d8fe79764a3995daa12cdc8e00ac"
  }
]]]></Value>
    </column3Links>
    <column3Title>
      <Value><![CDATA[About us]]></Value>
    </column3Title>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <copyrightText>
      <Value><![CDATA[Safer Travel]]></Value>
    </copyrightText>
    <cTAButton>
      <Value><![CDATA[]]></Value>
    </cTAButton>
    <facebookLink>
      <Value><![CDATA[[
  {
    "name": "https://www.facebook.com/safertravelpolice",
    "target": "_blank",
    "url": "https://www.facebook.com/safertravelpolice"
  }
]]]></Value>
    </facebookLink>
    <instagramLink>
      <Value><![CDATA[]]></Value>
    </instagramLink>
    <linkedIn>
      <Value><![CDATA[]]></Value>
    </linkedIn>
    <xTwitterLink>
      <Value><![CDATA[[
  {
    "name": "https://twitter.com/ST_Police",
    "target": "_blank",
    "url": "https://twitter.com/ST_Police"
  }
]]]></Value>
    </xTwitterLink>
    <youtubeLink>
      <Value><![CDATA[]]></Value>
    </youtubeLink>
  </Properties>
</Content>