<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c535186-2574-4154-adde-3dd38e0baf16" Alias="Footer" Level="3">
  <Info>
    <Parent Key="9364381c-32a1-4c2a-a3c2-999f03eaa03f">Site Properties</Parent>
    <Path>/WMCAHomepage/SiteProperties/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2023-08-30T16:07:33</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bottomLinks>
      <Value><![CDATA[[
  {
    "name": "WMCA Homepage",
    "udi": "umb://document/68f3e929d00c48b7b313c89086636804"
  }
]]]></Value>
    </bottomLinks>
    <column1Title>
      <Value><![CDATA[This is a test]]></Value>
    </column1Title>
    <column2Links>
      <Value><![CDATA[[
  {
    "name": "Blog",
    "udi": "umb://document/c66668c7dfd843628b7f60d466b2846d"
  }
]]]></Value>
    </column2Links>
    <column2Title>
      <Value><![CDATA[This is a test]]></Value>
    </column2Title>
    <column3Links>
      <Value><![CDATA[[
  {
    "name": "Authors",
    "udi": "umb://document/9af3708d9d5e41458d46137f7ce2a49d"
  }
]]]></Value>
    </column3Links>
    <column3Title>
      <Value><![CDATA[This is a test]]></Value>
    </column3Title>
    <content>
      <Value><![CDATA[Testing]]></Value>
    </content>
    <copyrightText>
      <Value><![CDATA[This is a test]]></Value>
    </copyrightText>
    <cTAButton>
      <Value><![CDATA[[
  {
    "name": "WMCA Homepage",
    "udi": "umb://document/68f3e929d00c48b7b313c89086636804"
  }
]]]></Value>
    </cTAButton>
    <facebookLink>
      <Value><![CDATA[[
  {
    "name": "WMCA Homepage",
    "udi": "umb://document/68f3e929d00c48b7b313c89086636804"
  }
]]]></Value>
    </facebookLink>
    <instagramLink>
      <Value><![CDATA[]]></Value>
    </instagramLink>
    <linkedIn>
      <Value><![CDATA[]]></Value>
    </linkedIn>
    <xTwitterLink>
      <Value><![CDATA[]]></Value>
    </xTwitterLink>
    <youtubeLink>
      <Value><![CDATA[]]></Value>
    </youtubeLink>
  </Properties>
</Content>