<?xml version="1.0" encoding="utf-8"?>
<Content Key="621eb420-54fe-43e9-b19d-9b65c232e1a7" Alias="Footer" Level="3">
  <Info>
    <Parent Key="32a1f3d7-001f-4558-86eb-02f84bdbce0e">Site Properties</Parent>
    <Path>/ChangeIntoAction/SiteProperties/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footerCia</ContentType>
    <CreateDate>2024-06-25T14:30:32</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bottomLinks>
      <Value><![CDATA[[
  {
    "name": "Accessibility Statement",
    "udi": "umb://document/ef6a9ddd56834bf4b43357f9709da781"
  },
  {
    "name": "Privacy Policy",
    "udi": "umb://document/ef6a9ddd56834bf4b43357f9709da781"
  }
]]]></Value>
    </bottomLinks>
    <column1Title>
      <Value><![CDATA[Partners]]></Value>
    </column1Title>
    <column2Links>
      <Value><![CDATA[]]></Value>
    </column2Links>
    <column2Title>
      <Value><![CDATA[]]></Value>
    </column2Title>
    <column3Links>
      <Value><![CDATA[]]></Value>
    </column3Links>
    <column3Title>
      <Value><![CDATA[Change your area]]></Value>
    </column3Title>
    <copyrightText>
      <Value><![CDATA[West Midlands Combined Authority]]></Value>
    </copyrightText>
    <facebookLink>
      <Value><![CDATA[[
  {
    "target": "_blank",
    "url": "https://www.facebook.com/ChangeIntoAction/"
  }
]]]></Value>
    </facebookLink>
    <instagramLink>
      <Value><![CDATA[]]></Value>
    </instagramLink>
    <linkedIn>
      <Value><![CDATA[]]></Value>
    </linkedIn>
    <partners>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c1d2f8339264489ca30ebcd5a4bab677"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "18ee99f2-32f4-4409-aad9-f5f01740cef4",
      "udi": "umb://element/c1d2f8339264489ca30ebcd5a4bab677",
      "partnerName": "WMCA & Mayor",
      "logo": [
        {
          "key": "858dfab0-8b77-465d-930c-a710f5bb85c0",
          "mediaKey": "c0ee0442-fa5d-4f7d-a291-5c29674c3954"
        }
      ],
      "webAddress": [
        {
          "target": "_blank",
          "url": "https://www.wmca.org.uk"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </partners>
    <partnersCopy>
      <Value><![CDATA[]]></Value>
    </partnersCopy>
    <xTwitterLink>
      <Value><![CDATA[[
  {
    "target": "_blank",
    "url": "https://twitter.com/changein2action"
  }
]]]></Value>
    </xTwitterLink>
    <youtubeLink>
      <Value><![CDATA[]]></Value>
    </youtubeLink>
  </Properties>
</Content>