<?xml version="1.0" encoding="utf-8"?>
<Content Key="13956e35-2a80-4aca-880b-f65874a212fa" Alias="Footer" Level="3">
  <Info>
    <Parent Key="2bd4d651-7050-4c25-9455-a85b9b277546">Site Properties</Parent>
    <Path>/MidlandsConnect/SiteProperties/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2023-10-16T09:44:36</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bottomLinks>
      <Value><![CDATA[[
  {
    "name": "Accessibility",
    "udi": "umb://document/ba5299dd422e4f188dbfd981c34ef23c"
  },
  {
    "name": "Policies",
    "udi": "umb://document/ba5299dd422e4f188dbfd981c34ef23c"
  }
]]]></Value>
    </bottomLinks>
    <column1Title>
      <Value><![CDATA[Stay up to date]]></Value>
    </column1Title>
    <column2Links>
      <Value><![CDATA[[
  {
    "name": "Contact",
    "udi": "umb://document/ba5299dd422e4f188dbfd981c34ef23c"
  },
  {
    "name": "About us",
    "udi": "umb://document/ba5299dd422e4f188dbfd981c34ef23c"
  },
  {
    "name": "Events",
    "udi": "umb://document/ba5299dd422e4f188dbfd981c34ef23c"
  },
  {
    "name": "Projects",
    "udi": "umb://document/ba5299dd422e4f188dbfd981c34ef23c"
  },
  {
    "name": "Publications",
    "udi": "umb://document/ba5299dd422e4f188dbfd981c34ef23c"
  }
]]]></Value>
    </column2Links>
    <column2Title>
      <Value><![CDATA[Quick links]]></Value>
    </column2Title>
    <column3Links>
      <Value><![CDATA[]]></Value>
    </column3Links>
    <column3Title>
      <Value><![CDATA[]]></Value>
    </column3Title>
    <content>
      <Value><![CDATA[Subscribe today to our newsletter to keep up to date on vital information]]></Value>
    </content>
    <copyrightText>
      <Value><![CDATA[Midlands Connect]]></Value>
    </copyrightText>
    <cTAButton>
      <Value><![CDATA[[
  {
    "name": "Sign up to newsletter",
    "udi": "umb://document/ba5299dd422e4f188dbfd981c34ef23c"
  }
]]]></Value>
    </cTAButton>
    <facebookLink>
      <Value><![CDATA[]]></Value>
    </facebookLink>
    <instagramLink>
      <Value><![CDATA[]]></Value>
    </instagramLink>
    <linkedIn>
      <Value><![CDATA[[
  {
    "name": "Midlands Connect",
    "udi": "umb://document/ba5299dd422e4f188dbfd981c34ef23c"
  }
]]]></Value>
    </linkedIn>
    <xTwitterLink>
      <Value><![CDATA[[
  {
    "name": "Midlands Connect",
    "udi": "umb://document/ba5299dd422e4f188dbfd981c34ef23c"
  }
]]]></Value>
    </xTwitterLink>
    <youtubeLink>
      <Value><![CDATA[]]></Value>
    </youtubeLink>
  </Properties>
</Content>