<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbda6311-6169-4979-ba80-c30c578a921e" Alias="FREE Bike Marking At Pool Meadow Bus Station (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/FREEBikeMarkingAtPoolMeadowBusStation1</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="FREE Bike Marking At Pool Meadow Bus Station (1)" />
    <SortOrder>210</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
        <img src="/st/media/1039/free-bike-marking-at-pool-meadow-bus-station.png" style="max-width:700px" class="img-responsive">
                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>