<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6ffd1b3-fad5-42fc-b2e4-671d6b4037b1" Alias="Full speed ahead: Bringing high-speed rail to the East Midlands" Level="3">
  <Info>
    <Parent Key="aa0ea236-e528-43b9-975b-9289669b7f62">Publications</Parent>
    <Path>/MidlandsConnect/Publications/FullSpeedAheadBringingHighSpeedRailToTheEastMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>publication</ContentType>
    <CreateDate>2024-01-24T12:27:50</CreateDate>
    <NodeName Default="Full speed ahead: Bringing high-speed rail to the East Midlands" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f0bd1286-331b-4978-8105-04a38c3a6abf">Publication</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2023-07-03T00:00:00]]></Value>
    </date>
    <document>
      <Value><![CDATA[[
  {
    "key": "4b92896a-eca9-4fd6-b5cc-ba0d220ff93d",
    "mediaKey": "08b0f31a-444c-4088-9524-36953d911a35"
  }
]]]></Value>
    </document>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
  </Properties>
</Content>