<?xml version="1.0" encoding="utf-8"?>
<Content Key="8be8f22b-995e-4db6-8040-4a4ca22652ec" Alias="Full Speed Ahead: bringing high speed-rail to the East Midlands" Level="3">
  <Info>
    <Parent Key="ccf66da8-c453-4ea9-8fcf-5cfc53f1c7d0">Events</Parent>
    <Path>/MidlandsConnect/Events/FullSpeedAheadBringingHighSpeedRailToTheEastMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageMidlandsConnect</ContentType>
    <CreateDate>2024-03-12T09:40:52</CreateDate>
    <NodeName Default="Full Speed Ahead: bringing high speed-rail to the East Midlands" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
  </Info>
  <Properties>
    <alternativeTitle>
      <Value><![CDATA[]]></Value>
    </alternativeTitle>
    <customCodeBody>
      <Value><![CDATA[]]></Value>
    </customCodeBody>
    <customCodeHead>
      <Value><![CDATA[]]></Value>
    </customCodeHead>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a8421ec75a074f53a58538c0730a9667",
        "areas": [
          {
            "key": "7a0c896b-d4fc-4ad1-8db4-a4ec9143e522",
            "items": []
          },
          {
            "key": "997b719d-64df-453c-a030-aa46a3caeeb4",
            "items": [
              {
                "contentUdi": "umb://element/98d5bb7978884162ab65ad5a15eb52da",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/fdb11d1d423e4b06bdb8cb40781f0791",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dff2fae0-7e4b-43e3-a1c9-8b5a45a9aee2",
      "udi": "umb://element/a8421ec75a074f53a58538c0730a9667"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/98d5bb7978884162ab65ad5a15eb52da",
      "richText": "<p>On Monday 3rd June, we heard from the Rail Minister and a range of local politicians and business leaders on the benefits that high-speed rail would bring to the East Midlands.</p>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/fdb11d1d423e4b06bdb8cb40781f0791",
      "video": [
        {
          "url": "https://vimeo.com/887985275?share=copy",
          "width": 360,
          "height": 240,
          "preview": "<iframe src=\"https://player.vimeo.com/video/887985275?app_id=122963\" width=\"360\" height=\"203\" frameborder=\"0\" allow=\"autoplay; fullscreen; picture-in-picture; clipboard-write\" title=\"MC Rail Freight\"></iframe>"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>