<?xml version="1.0" encoding="utf-8"?>
<Content Key="30e57b53-eb5d-4fba-a839-e87a18a0321d" Alias="Further Success For Restorative Justice Scheme (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/FurtherSuccessForRestorativeJusticeScheme1</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Further Success For Restorative Justice Scheme (1)" />
    <SortOrder>121</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>A 15-year-old boy from Coventry underwent a victim awareness session with the Safer Travel ASB team yesterday after he kicked out the window on the upper deck of a bus in Coventry city centre.&nbsp;</p>
<p>In addition to the session the boy was required to make a payment for the damage caused, as well as write a letter of apology.&nbsp;</p>
<p>ASB officer, Sharon Courtney said 'This again shows the value of early intervention to divert young people from the criminal justice system by the use of restorative justice. It allows them to see the impact their behaviour has on the community, whilst showing those affected that we we will take positive action against those who cause issues on the regions public transport'&nbsp;</p>





                            
    
    <img src="/st/media/1139/nx-cov-elec-bus-cov.jpeg">


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>