<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea718b21-75c5-4b0c-a67a-7cea0c96a18b" Alias="Get Snow Hill Platform 4 up and running before HS2 and to allow extra trains from Birmingham’s business district directly to London" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/GetSnowHillPlatform4UpAndRunningBeforeHS2AndToAllowExtraTrainsFromBirminghamSBusinessDistrictDirectlyToLondon</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:36</CreateDate>
    <NodeName Default="Get Snow Hill Platform 4 up and running before HS2 and to allow extra trains from Birmingham’s business district directly to London" />
    <SortOrder>137</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>The focus will be on reinstating platform 4 at Snow Hill before HS2 is completed in Birmingham. This will allow for additional trains directly from Birmingham’s business district into London.</p>
<p>Research recently conducted by Mott MacDonald for Midlands Connect shows that footfall at Snow Hill station would increase by 127,000 per annum if platform 4 is reinstated, including more than 14,000 new trips a year.</p>
<p><strong>Midlands Connect’s Senior Rail Programme Manager, Andy Clark, commented on the visit:</strong></p>
<p><em>“It’s great that Tan is coming to Birmingham to show his support for our schemes. The reinstating of Platform 4 could benefit so many workers in Birmingham and London; so, it’s essential we get it up and running.”</em></p>
<p><strong>Tan Dhesi, MP for Slough, and Shadow Rail Minister, said:</strong></p>
<p><em>“It's fantastic to be here in Birmingham to discuss the Midlands Rail Hub and the reopening of Platform 4 at Snow Hill with Midlands Connect and colleagues. </em></p>
<p><em>“The plans they have for rail are important to connect local communities, ensuring rail is convenient and accessible for all.”</em></p>
<p>Mr Dhesi will be taking part in a roundtable meeting with stakeholders about the Midlands Rail Hub. Reopening platform 4 of Snow Hill is one ‘quick win’ of the Midlands Rail Hub which could have a very short turnaround. Another intervention will be two new railway routes into Birmingham Moor Street.</p>
<p>Later this year, Midlands Connect will be launching the Outline Business Case for the Midlands Rail Hub. This will delineate how the MRH can be built — what the expected delivery times, costs, and benefits will be. If work on the MRH starts in 2025, the scheme could be completed by 2030.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-11-11T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1901/midconnect_tan_dhesi_0004.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Shadow Rail Minister, Tan Dhesi will be visiting Birmingham to discuss rail plans for the city.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>