<?xml version="1.0" encoding="utf-8"?>
<Content Key="56b78ee8-7c06-4fc7-8ec6-e4c6efc2ff62" Alias="Happy New Year (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/HappyNewYear1</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2018-02-01T00:00:00</CreateDate>
    <NodeName Default="Happy New Year (1)" />
    <SortOrder>222</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
        <img src="/st/media/1031/passenger-code-of-conduct.jpg" style="max-width:700px" class="img-responsive">
<p>Happy New Year!&nbsp;</p>
<p>The Safer Travel team are starting off the New Year with a focus on improving safety on public transport.&nbsp;</p>
<p>We have created a Passenger Code of Conduct for students to re-enforce our expectations of acceptable behaviour. We kindly ask any schools/ colleges to display the poster, distribute via newsletters or put on the transport pages of your websites.&nbsp;</p>
<p>To support the Passenger Code of Conduct, reduce anti-social behaviour (ASB) and encourage responsible and respectful behaviour, we have a dedicated education officer who visits schools across the West Midlands to speak to students about travelling safely. It would be great to be able to visit your school, perhaps as part of an enrichment or PSHE day?</p>
<p>These sessions have a really positive effect on students in getting them to think about their actions, the impact their behaviour has on other passengers as well as preventing low level incidents turning into something more serious.&nbsp;</p>
<p>If you are interested in booking a session, or need further information on how a session can be tailored to your students, please contact Paula on <a href="mailto:p.shortland@west-midlands.pnn.police.uk">p.shortland@west-midlands.pnn.police.uk</a> &nbsp;or <a href="mailto:paula.shortland@tfwm.org.uk">paula.shortland@tfwm.org.uk</a> &nbsp;</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-02-01T00:00:00]]></Value>
    </date>
  </Properties>
</Content>