<?xml version="1.0" encoding="utf-8"?>
<Content Key="23e7987d-3aac-4460-a27b-1ef33788e38d" Alias="Happy New Year" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/HappyNewYear</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-10-27T10:53:55</CreateDate>
    <NodeName Default="Happy New Year" />
    <SortOrder>104</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA["<div class=""main"">]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-02-01T00:00:00]]></Value>
    </date>
  </Properties>
</Content>