<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8ff576c-bb5b-4480-851b-f11abf26a5a7" Alias="Header" Level="3">
  <Info>
    <Parent Key="32a1f3d7-001f-4558-86eb-02f84bdbce0e">Site Properties</Parent>
    <Path>/ChangeIntoAction/SiteProperties/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2024-06-25T14:30:23</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigation>
      <Value><![CDATA[]]></Value>
    </navigation>
    <showSearch>
      <Value><![CDATA[]]></Value>
    </showSearch>
  </Properties>
</Content>