<?xml version="1.0" encoding="utf-8"?>
<Content Key="77932022-f02d-4495-af73-e8475a172e71" Alias="Header" Level="3">
  <Info>
    <Parent Key="a1cb9af2-dfcb-453c-8ba1-85a719bc15ec">Site Properties</Parent>
    <Path>/SaferTravel/SiteProperties/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2023-10-16T09:43:35</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/130265b3f53c4fa9b15d428e218ccfdb"
      },
      {
        "contentUdi": "umb://element/1acbfae16ffb49a8873cd503e7629178"
      },
      {
        "contentUdi": "umb://element/663691a366624ab897ad3019346b785a"
      },
      {
        "contentUdi": "umb://element/30bafc6500124fe19ced4321fe2675df"
      },
      {
        "contentUdi": "umb://element/69672c8b3d6942f78b331ed980ab322e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8d7ca6e4-1396-428a-b7cc-f07d7ea8ed81",
      "udi": "umb://element/130265b3f53c4fa9b15d428e218ccfdb",
      "title": "About us",
      "childLinks": "{\n  \"layout\": {\n    \"Umbraco.BlockList\": [\n      {\n        \"contentUdi\": \"umb://element/356c85d487c74a72a936b74f01692767\"\n      }\n    ]\n  },\n  \"contentData\": [\n    {\n      \"contentTypeKey\": \"5ffed68e-900c-44ac-997f-ad1dd821f3e2\",\n      \"udi\": \"umb://element/356c85d487c74a72a936b74f01692767\",\n      \"subsectionName\": \"This is a test\",\n      \"subsectionIcon\": \"portfolio-environment\"\n    }\n  ],\n  \"settingsData\": []\n}",
      "link": "[{\"name\":\"Who we are\",\"udi\":\"umb://document/62de58484caa4df087bae250a6986315\"}]"
    },
    {
      "contentTypeKey": "8d7ca6e4-1396-428a-b7cc-f07d7ea8ed81",
      "udi": "umb://element/1acbfae16ffb49a8873cd503e7629178",
      "title": "Advice and support",
      "link": "[{\"name\":\"Safer Travel\",\"udi\":\"umb://document/fe122f104b2d4c38b841a4e3f2f59ef5\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "8d7ca6e4-1396-428a-b7cc-f07d7ea8ed81",
      "udi": "umb://element/663691a366624ab897ad3019346b785a",
      "title": "News",
      "link": "[{\"name\":\"Safer Travel\",\"udi\":\"umb://document/fe122f104b2d4c38b841a4e3f2f59ef5\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "8d7ca6e4-1396-428a-b7cc-f07d7ea8ed81",
      "udi": "umb://element/30bafc6500124fe19ced4321fe2675df",
      "title": "Contact us",
      "link": "[{\"name\":\"Safer Travel\",\"udi\":\"umb://document/fe122f104b2d4c38b841a4e3f2f59ef5\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "8d7ca6e4-1396-428a-b7cc-f07d7ea8ed81",
      "udi": "umb://element/69672c8b3d6942f78b331ed980ab322e",
      "link": "[{\"name\":\"Report an incident\",\"udi\":\"umb://document/fe122f104b2d4c38b841a4e3f2f59ef5\"}]",
      "childLinks": null,
      "title": "Report"
    }
  ],
  "settingsData": []
}]]></Value>
    </navigation>
  </Properties>
</Content>