<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8ff576c-bb5b-4480-851b-f11abf26a5a7" Alias="Header" Level="3">
  <Info>
    <Parent Key="32a1f3d7-001f-4558-86eb-02f84bdbce0e">Site Properties</Parent>
    <Path>/ChangeIntoAction/SiteProperties/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2024-06-25T14:30:23</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f80236d3c57744f18954336b3e9f4a0e"
      },
      {
        "contentUdi": "umb://element/b19f07350f2c42339a0799030e551688"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8d7ca6e4-1396-428a-b7cc-f07d7ea8ed81",
      "udi": "umb://element/f80236d3c57744f18954336b3e9f4a0e",
      "title": "Home",
      "link": [
        {
          "udi": "umb://document/ef6a9ddd56834bf4b43357f9709da781"
        }
      ],
      "childLinks": ""
    },
    {
      "contentTypeKey": "8d7ca6e4-1396-428a-b7cc-f07d7ea8ed81",
      "udi": "umb://element/b19f07350f2c42339a0799030e551688",
      "title": "About",
      "link": [
        {
          "udi": "umb://document/ef6a9ddd56834bf4b43357f9709da781"
        }
      ],
      "childLinks": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </navigation>
  </Properties>
</Content>