<?xml version="1.0" encoding="utf-8"?>
<Content Key="448fa0bc-1aa0-4df7-830d-9d7bde0e1adc" Alias="Header" Level="3">
  <Info>
    <Parent Key="9364381c-32a1-4c2a-a3c2-999f03eaa03f">Site Properties</Parent>
    <Path>/WestMidlandsCombinedAuthority/SiteProperties/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2023-10-16T09:44:03</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d1e2e2fbbd3148b9b9f2481f619075a4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8d7ca6e4-1396-428a-b7cc-f07d7ea8ed81",
      "udi": "umb://element/d1e2e2fbbd3148b9b9f2481f619075a4",
      "title": "Home",
      "link": "[{\"name\":\"West Midlands Combined Authority\",\"udi\":\"umb://document/68f3e929d00c48b7b313c89086636804\"}]",
      "childLinks": null
    }
  ],
  "settingsData": []
}]]></Value>
    </navigation>
  </Properties>
</Content>