<?xml version="1.0" encoding="utf-8"?>
<Content Key="07eab2f9-de8d-4dc4-8d9f-76fca74e8987" Alias="Highways England and East Midlands Airport renew commitment to Midlands Connect" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/HighwaysEnglandAndEastMidlandsAirportRenewCommitmentToMidlandsConnect</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-02-21T00:00:00</CreateDate>
    <NodeName Default="Highways England and East Midlands Airport renew commitment to Midlands Connect" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <div>
<p><strong>East Midlands Airport and Highways England has each renewed its Memorandum of Understanding (MOU) with the Midlands Connect partnership, agreeing to continue to work together to improve transport connections across the Midlands region.</strong></p>
</div>
<p><img style="width: 475.472px; height: 500px; float: right;" src="/mc/media/1248/mou-ema.jpg?width=475.4716981132075&amp;height=500" alt="" data-udi="umb://mc/media/a1118c1c107f479d925a311875c9e72a"></p>
<p><strong><span style="float: right; font-size: 8.5pt; margin: 2px;">Andy Cliffe, East Midlands Airport Managing Director, with Midlands Connect Chair Sir John Peace</span></strong></p>
<p>The documents, signed at Midlands Connect’s Strategic Board meeting in Leicester earlier this month, renews the commitment Highways England and East Midlands Airport made when joining the Midlands Connect Partnership.</p>
<p>Midlands Connect brings together 22 local authorities, 9 Local Enterprise Partnerships, Chambers of Commerce and partners including airports, Highways England, Network Rail, HS2 Ltd and its sponsor, the Department for Transport. In 2017 Midlands Connect published its landmark 25 year strategy, making the case for targeted investment in regional transport improvements.</p>
<p>The MOU between Midlands Connect and Highways England includes working jointly to agree the priorities for the next road investment period (from 2020-2025) as well as longer term priorities up to 2035, to tackle congestion and improve connectivity on the Strategic Road Network.</p>
<p>That includes working jointly on the Midlands Motorway Hub study, which is developing a series of interventions to improve traffic and journey times on the heavily congested M5, M6 and M42 around the West Midlands metropolitan area.</p>
<p>&nbsp;</p>
<p>The MOU between Midlands Connect and East Midlands Airport includes making sure the airport features alongside improvements to rail and road connections between cities, such as a greater frequency of services to East Midlands Parkway. It also recognises East Midlands Airport’s position as the UK’s largest dedicated air-freight airport and ensures the air cargo industry is represented in a significant way.</p>
<p>Both organisations will continue to be represented at all levels of Midlands Connect’s Governance Structure.</p>
<p><strong>Maria Machancoses, Midlands Connect Director, said:</strong></p>
<p>“Highways England and East Midlands Airport are vital to the success of the Midlands Connect partnership, and we’re delighted to retain their support. We all agree that by working closely together, we can secure the investment we need to transform the region’s connectivity, and help us compete on the world stage.”</p>
<p><strong>Andy Cliffe, Managing Director of East Midlands Airport, said:</strong></p>
<p>“I’m very optimistic for the future of the wider Midlands region and more locally here in the East Midlands. With major developments like HS2 gathering momentum and important works to our motorway network well underway, the foundations for future growth and prosperity are becoming more tangible. But these benefits will only be felt if all organisations with a shared interest in improved transport connectivity work together and can unite behind the goals and outcomes that will make the difference to our region. I’m pleased to demonstrate our support for greater collaboration.”</p>
<p><strong>&nbsp;Catherine Brookes, Highways England’s Regional Director, said:</strong></p>
<p>“We’re delighted to be working with Midlands Connect and East Midlands Airport as we carry out a £15bn Government investment in motorways and major A-roads. As part of this, we’re already undertaking multi-million pound investment on the M1 to cut congestion and improve journey times by introducing smart motorways that are designed to provide more reliable journey times for those travelling to East Midlands Airport. The wider Midlands region is the heartbeat to the strategic road network given its central location and we’re committed to tackling congestion and improving the service we provide to the road users over the coming years.”</p>
<p>The MOUs have been renewed for the first time since Midlands Connect’s landmark 25 year transport strategy was published in March 2017, and will stay in place until Midlands Connect completes the process of becoming a Sub-National Transport Body, a statutory partner with Government that enshrines in law a greater influence over transport investment decisions.</p>
<p>-ENDS-</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-02-21T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>