<?xml version="1.0" encoding="utf-8"?>
<Content Key="6edbf41b-98b3-44c3-894c-af5294c92a33" Alias="How inclusive growth is measured/calculated?" Level="3">
  <Info>
    <Parent Key="c66668c7-dfd8-4362-8b7f-60d466b2846d">Blog</Parent>
    <Path>/WestMidlandsCombinedAuthority/Blog/HowInclusiveGrowthIsMeasuredcalculated</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-08-03T14:41:17</CreateDate>
    <NodeName Default="How inclusive growth is measured/calculated?" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9863e759-9a1e-4008-a218-0ffdedf49032">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[umb://document/9e00edfd6b8d41c2a82c2d1eb54f82e8,umb://document/899e1392e5ce400aa222f33f3317d185]]></Value>
    </author>
    <date>
      <Value><![CDATA[2023-09-10T07:00:00]]></Value>
    </date>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <hideImageInBlog>
      <Value><![CDATA[0]]></Value>
    </hideImageInBlog>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[Nearly 10,000 people have been helped in learning the skills needed to work in the region’s engineering and manufacturing sectors thanks to a £22 million investment by the West Midlands Combined Authority (WMCA).]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Skills, education and careers",
  "Life in the West Midlands",
  "Equality and diversity"
]]]></Value>
    </tags>
  </Properties>
</Content>