<?xml version="1.0" encoding="utf-8"?>
<Content Key="950cb9af-47e7-4dfa-a75d-91b9386b6f53" Alias="HS2 reveals designs for new stations in Birmingham and Solihull" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/HS2RevealsDesignsForNewStationsInBirminghamAndSolihull</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-10-09T00:00:00</CreateDate>
    <NodeName Default="HS2 reveals designs for new stations in Birmingham and Solihull" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>HS2 has released&nbsp;images of two of its brand new stations, marking a significant milestone for the programme, cementing the project’s commitment to the Midlands and emphasising the region’s place at the heart of Britain’s new high speed network.&nbsp;</p>
<p>The images have been&nbsp;released at Birmingham Library at the first of a series of public engagement events, during October, which give people the opportunity to see the new designs and give feedback.</p>
<p><strong>Curzon Street station</strong> in central Birmingham will be the first brand new intercity station built in Britain since 19th century, create a new landmark for the city and boost opportunities for regeneration in the city. Opening with seven high speed platforms in 2026, the new station will not only be for high speed rail passengers, it will be a brand new public space in Birmingham city centre.</p>
<p>It will be fully integrated into an extended tram network, as well as offering pedestrian, cycle, taxi, bus and conventional rail connections to the rest of the city and the wider West Midlands.</p>
<p><strong>Interchange station</strong> will be a new major gateway station for the region, part of a new public transport interchange serving Solihull, the West Midlands, Birmingham Airport and the NEC. The station will help deliver longer term development and growth proposals for the area around the station, including new homes, business space and jobs.</p>
<p>HS2 is also considering a number of extra elements to the scheme put forward by the Urban Growth Company (UGC) which aim to maximise the opportunities the new HS2 Interchange Station presents &nbsp;as a key catalyst for growth.</p>
<p>WSP UK Ltd, working with Grimshaw Architects LLP is designing Curzon Street and Ove Arup is designing Interchange station.</p>
<p>Chris Grayling MP, Secretary of State for Transport and Andy Street, Mayor of the West Midlands, marked the start of works on the site of the future Curzon Street station last week. Works are well underway on 60 sites across the route from London to Birmingham, with over 7,000 jobs supported by the programme across the country on our way to 30,000 jobs at peak construction.</p>
<p><strong>Andy Street, Mayor of the West Midlands said:</strong></p>
<p>“These brand new stations will be catalysts for regeneration, creating jobs and opportunities for local people and economic benefits for Birmingham and the Midlands. Curzon Street station will put Birmingham at the heart of Britain’s new high speed network and enhance the rail connectivity for the city, whilst Interchange provides a once in a life time opportunity to help drive the growth of the region.”</p>
<p><strong>HS2 CEO Mark Thurston said: </strong></p>
<p>“Both of these new stations will be transformational for the Midlands and will create opportunities for regeneration, growth and economic benefits for the city and region. Preparatory work for the stations is well under way, with a variety of enabling works including the construction of access roads and archaeological investigations.</p>
<p>“As part of our plans to deliver a ‘green corridor’ across the whole route, we’re also creating new ecological habitats, community and amenity spaces to help integrate the new line and our stations into the surrounding landscape and environment. All of this activity is already creating job opportunities not just in the region, but across the whole country.”</p>
<p><strong>Sir John Peace, Chair of Midlands Connect, the transport arm of Midlands Engine said:</strong></p>
<p>“HS2 is already a huge part of the Midlands’ success story, bringing jobs and investment with it. These pioneering new station buildings will showcase a rail revolution which has our transformed region at its core.</p>
<p>“HS2 will be one of the most celebrated infrastructure projects in the world when trains start rolling in to Interchange and Curzon Street in 2026, with a regenerative ripple effect that will be felt across the Midlands. I can’t wait to see the stations take shape.”</p>
<p>Both stations have been designed with features to make it easy and simple for passengers to navigate the stations, access the platforms and connect seamlessly to other forms of transport.</p>
<p><strong>&nbsp;</strong><strong>HS2 Minister Nusrat Ghani said:</strong></p>
<p>“Birmingham will be at the heart of HS2, and the transformation that is already taking place shows exactly how our new high-speed railway will drive forward regeneration and economic growth across the country.</p>
<p>“Unveiling the station designs for Curzon Street and the Solihull Interchange is a milestone moment. These stations will be catalysts for local jobs and new homes, as well as giving passengers access to thousands more seats, more services and better journeys.&nbsp;</p>
<p>“We also want HS2 to set a new benchmark for truly inclusive travel, creating a railway that works for everyone. The task for our designers and engineers is now to take these ideas from the drawing board to reality, building iconic stations that are accessible, safe and open to all, no matter their needs.”</p>
<p><strong>Carol Stitchman, WSP Design Manager on Curzon Street said: </strong></p>
<p>“As well as being a catalyst for regeneration, the new HS2 Curzon Street station will become a landmark destination, welcoming people to the heart of Birmingham. Our design recognises the station's function as a place of arrival and connection. It is the only HS2 station that welcomes you with a view of the city, where you can see the city from the train, and the train from the city.&nbsp;&nbsp;</p>
<p>“WSP has welcomed 16 new apprentices to the Curzon Street station project, as part of our 140-strong project team. We are committed to boosting the skills of Britain's next generation while delivering this transformative project.”</p>
<p><strong>Neven Sidor, Lead Architect, Grimshaws, for Curzon Street station, said:</strong></p>
<p>“HS2’s new Curzon Street station is inspired by the best station design of the past, inspired by Britain’s pioneering railway and industrial heritage reimagined for the 21st century. The elegant sleek low arch which will make the station instantly recognisable in the surrounding area and its warm coffered soffit will join the growing list of modern Birmingham icons. The West concourse will have the ambiance of a modern airport terminal with both platform and waiting areas included in the grand arched space. The East concourse has been designed to include the historic Curzon Station building as part of a revitalised New Canal Street scene.”&nbsp;</p>
<p><strong>Kim Quazi, Lead Architect, Arup ,for Interchange station said:</strong></p>
<p>“Interchange station sits within a unique setting, on the edge of the urban landscape in a currently rural location. The station building has been designed to reflect its surroundings and in context with the natural landscape and topography.</p>
<p>“The station roof has been designed to fit in with the surrounding landscape, and to optimise natural daylight using an integrated, efficient structural form and rainwater management system. We have also focused on a number of objectives including creating a positive experience for future users and rail passengers by including open space, parkland and views to green spaces, and constructing a green building with low energy consumption and low maintenance.”</p>
<p>The series of engagement events for both stations will run through October. These will give people the opportunity to understand HS2’s design vision for the stations, share thoughts on the accessibility and use of the stations, and get more information on the next stages in the design process and planning submissions.</p>
<p>&nbsp;</p>
<p>ENDS</p>
<p>&nbsp;</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-10-09T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Midlands Connect welcomes the designs, saying they'll showcase a rail revolution with our transformed region at its core.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>