<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5c3c761-a56c-420c-84bf-11843b9aea7b" Alias="HS2 Phase One Notice to Proceed offers certainty during uncertain times" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/HS2PhaseOneNoticeToProceedOffersCertaintyDuringUncertainTimes</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2020-04-15T00:00:00</CreateDate>
    <NodeName Default="HS2 Phase One Notice to Proceed offers certainty during uncertain times" />
    <SortOrder>74</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong><em>Midlands Connect has responded to the <a href="https://mediacentre.hs2.org.uk/news/hs2-ceo-welcomes-government-approval-to-issue-notice-to-proceed-2?fbclid=IwAR10E95giU6KN4ZcJ67eUHrk6aKCSi2O1Bjcfk4h7V3JW0Tlr_ZPePU1epM">announcement that the Department for Transport has given approval for HS2 Ltd to issue Notice to Proceed the main construction works for Phase One between London and the West Midlands</a>. </em></strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Maria Machancoses, director of Midlands Connect, said: </strong></p>
<p>“Today’s confirmation that detailed design and construction of Phase One of HS2 will begin as soon as this summer offers certainty to the construction industry when it needs it the most.</p>
<p>“The government has been clear that tackling the Coronavirus pandemic will not deter it from pursuing its levelling up agenda and prioritising infrastructure spending. This final seal of approval to begin constructing the high speed network from London to Birmingham will safeguard thousands of jobs in the Midlands and begin the process of transforming our transport network.</p>
<p>“With Phase One now able to proceed, Midlands Connect can focus on ensuring Phase Two can move forward as quickly as possible, connecting the West Midlands to Crewe and Manchester in the west and to the East Midlands and Leeds in the east. &nbsp;</p>
<p>“To ensure the benefits of Phase Two are maximised, we are working to inform the Government’s Integrated Rail Plan to bring together HS2 and wider rail investments like our Midlands Engine Rail proposals.</p>
<p>“By integrating the network, we will encourage millions more people to make environmentally friendly travel choices, stimulate huge regeneration plans and create tens of thousands of new jobs.</p>
<p>“More than ever, we need this vision for future prosperity to be realised.” &nbsp;</p>
<p>-ENDS-</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-04-15T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>