<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7cb05dc-17fd-4796-862e-d2fc808f35ac" Alias="INSIGHTS: Next day delivery – why the online shopping boom means big changes for the Midlands" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/INSIGHTSNextDayDeliveryWhyTheOnlineShoppingBoomMeansBigChangesForTheMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T15:42:54</CreateDate>
    <NodeName Default="INSIGHTS: Next day delivery – why the online shopping boom means big changes for the Midlands" />
    <SortOrder>233</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>‘Build it and they will come’, so the famous saying goes and when it comes to the warehousing, logistics and distribution industry in the Midlands, this phrase certainly rings true. In 2021 for example, the East Midlands alone accounted for 1/5 of all UK spending on new warehouse building – it’s hardly surprising therefore that logistics has changed both the physical landscape of our region and the shape of our economy, in a very short space of time.&nbsp;</p>
<p>The Office for National Statistics (ONS) released an eye-opening report this week called <a href="https://www.ons.gov.uk/businessindustryandtrade/business/activitysizeandlocation/articles/theriseoftheukwarehouseandthegoldenlogisticstriangle/2022-04-11"><span>‘The rise of the UK warehouse and the ‘golden logistics triangle</span>’</a>, which displays the recent meteoric rise of logistics and warehousing, with a heavy focus on the Midlands region. How and why has this industry changed so fast - and is the Midlands truly ready for it?</p>
<p>According to the report, transport and storage accounts for 5% of business premises across the UK and is now the largest industry in parts of the Midlands, the East of England and Yorkshire and The Humber. Clearly, our central location makes us a great choice for retailers keen to jump on the exploding online-order market.&nbsp; &nbsp;</p>
<p>The three points of the golden logistics triangle are Nottingham, Kidderminster and Bedford and it covers a 209 square mile region half the size of London. All areas within the triangle are within a maximum of 4 hours’ drive from 90% of the UK population, making it perfect for widespread fast distribution.</p>
<p>Caused partially by a huge rise in demand for deliveries during the Covid pandemic and changes to import and export due to Brexit, the number of business premises used for transport, logistics and warehousing has almost doubled in the last decade and then accelerated even further over the past two pandemic years. Online shopping represented nearly 38% of all UK sales in January 2021, increasing from 8% at the start of 2011 and 19% in February 2020.</p>
<p>For towns and cities in and around the ‘golden logistics triangle’, distribution job opportunities have exploded – but so too has congestion and air pollution.</p>
<p>At Midlands Connect, we’re proud that our region is home to an exciting and fast-growing logistics industry and recognise the numerous economic opportunities it offers up. With that being said, we know how important it is to support these thriving warehouses and HGVs with improved transport networks to match the changing nature of the Midlands’ economy.</p>
<p>We recently released a report on our suggested plan to upgrade the A50/A500, an important manufacturing and logistics corridor across Staffordshire, Derbyshire and Leicestershire. Home to JCB, Alstom, Rolls-Royce, Toyota and more, global exporting businesses are booming on this route – but it comes at a cost, with some commuters in the area losing an average of 37 minutes each weekday due to congestion.</p>
<p>We have proposed a series of enhancements at key roundabouts, technology to assist better diversions and re-routes when needed and enlargement of key motorway interchanges. We’re now seeking funding to facilitate these much needed changes, so the Midlands can remain a front-runner in moving goods around the UK and the world well into the future.</p>
<p>Whilst this industry is vital to the Midlands’ economy, it also presents us with a challenge when it comes to reducing carbon emissions, as the majority of vehicles which support this industry still run on petrol and diesel. We all know electric vehicles are the future and that government is expected to ban the sale of new diesel HGVs from 2040 - but can logistics and freight businesses run on electricity?</p>
<p>At Midlands Connect, we’re championing the Midlands region becoming a test bed for hydrogen HGV vehicles, an emerging clean alternative fuel option. We’re also investigating what a future refuelling and recharging network would need to look like to support a fleet of low and zero carbon emission vehicles. Based on our central location, which is already extremely popular with logistics and distribution companies, by building alternative, clean fuel systems into our existing transport network, we can prepare for a bright future without air quality concerns and heavy carbon emissions.&nbsp;&nbsp;</p>
<p>Online orders, deliveries, imports and exports from the Midlands show no signs of stopping – let’s put in place the right tools and infrastructure to make this new industry a success.</p>
<p><em>Alexandra Dodds is Principal Policy Officer at Midlands Connect</em></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-04-14T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1871/alex-dodds.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Insights"
]]]></Value>
    </tags>
  </Properties>
</Content>