<?xml version="1.0" encoding="utf-8"?>
<Content Key="b08aa023-e0ee-4600-917d-f5ad740119b2" Alias="INSIGHTS: History is repeating itself in Coventry" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/INSIGHTSHistoryIsRepeatingItselfInCoventry</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-03-16T00:00:00</CreateDate>
    <NodeName Default="INSIGHTS: History is repeating itself in Coventry" />
    <SortOrder>196</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>History is repeating itself in Coventry for all the right reasons – it’s time to embrace the new transport revolution</strong></p>
<p>‘History is repeating itself’ – when we hear these words, it’s rare they relate to anything positive. History repeating itself can suggest that we’ve failed to learn from past mistakes, are unwilling to embrace change and won’t change our outdated attitudes. But what if repeating history instead allowed us to harness the pioneering spirit of those who came before us? Exploring transport policy at our recent City Summit event in Coventry allowed us to do just this.&nbsp;&nbsp;&nbsp; &nbsp;</p>
<p>On Wednesday the 9<sup>th</sup> of April 2022, Midlands Connect and Coventry City Council came together to host our very first City Summit, where we explored the newest, most exciting transport projects coming up for Coventry, some of which are already underway. &nbsp;</p>
<p>Transport experts, politicians, industry representatives and well-informed locals filed into Coventry’s famous Transport Museum to take part in lively conversations about the exciting future of transport in the city. Chatting amongst the perfectly preserved examples of early ‘boneshaker’ bicycles, supercars, famous motorbikes and artefacts from early motoring, &nbsp;it was a whirlwind trip back into the past that threw the opportunities of the future into sharp relief.</p>
<p>Coventry has always worked to push the boundaries of transport innovation and quite literally changed the world in many ways.</p>
<p>We start with the humble pushbike. Now a mainstay of quicker commuting, leisure and exercise, bicycles were a truly revolutionary invention in the mid-19<sup>th</sup> century, enabling ordinary people to ditch the cumbersome horse and cart and travel further afield to access work, training, education and entertainment. Bicycles even helped to liberate women from a life at home, enabling them to become more active in their communities and travel on their own for the first time.</p>
<p>Coventry played a starring role in the bicycle’s growing popularity after the Coventry Sewing Machine Company quickly switched its production to bikes in the 1860s, leading to foreman James Starley branching out alone to create the now famous Starley Rover Safety Cycle, which closely resembles a modern bike, originating the use of equal sized wheels and a chain.</p>
<p>Just thirty years after Coventry embraced its first bicycle, the city had become the centre of global bicycle manufacture, employing around 40,000 workers across 248 manufacturers. Through bold innovation, courage and the development of shared knowledge and skills, Coventry truly changed the world. We think this can and will happen again – it’s time to embrace a new transport revolution.</p>
<p>Very Light Rail (VLR) is one of Coventry’s most exciting upcoming projects. VLR is a modern, lower cost alternative to the fixed-track tram, which complements the urban landscape of the city and would run on a network reaching as far as Coventry Arena, Anstey Park and Tile Hill.</p>
<p>With construction of VLR set to begin in 2024, Coventry will be able to benefit from a cutting-edge reliable, frequent, environmentally friendly, battery-driven hop-on hop-off transport system that will suit the city’s needs and cost far less than a traditional tram.</p>
<p>In a world first, VLR will be autonomous, operate without any overhead cables and be powered by batteries, minimising disruption during construction and ensuring an effective, environmentally friendly transport system for the people of Coventry.</p>
<p>Sticking with eco-friendly solutions, we all know that electric vehicles represent the future of road transport – but only if we have enough charging points available to keep them powered up. Fortunately, Coventry has proven itself to be a front-runner yet again in this field. It has the largest charging network outside London, with almost 500 slow and rapid chargers in place as of January 2022. Working also to enact a fully electric bus fleet for the city by 2025, Coventry is well on its way to lowering carbon emissions and creating a healthier environment for all.</p>
<p>Keen to ensure that this knowledge and success can be shared with and emulated across the region, just like successful bicycle production was in the 19<sup>th</sup> century, Midlands Connect is in the process of developing a unique EV tool and EV forum. This will allow local authorities and businesses to come together to share best practice and find the most effective places to install chargers, generating greater connectivity across a region-wide charging network.</p>
<p>Usually, the idea of history repeating itself signals a lack of progress, but when it comes to transport innovation in Coventry, we couldn’t be more pleased to see the pioneering attitude of our predecessors being replicated in 2022.</p>
<p>Midlands Connect is planning to host further City Summits across the region. Could your city be next?</p>
<p><em>Rosie Lythgoe-Cheetham is an Engagement Assistant at Midlands Connect </em></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-03-16T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1846/230321vlr_citycentre_077_mbrt.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Insights"
]]]></Value>
    </tags>
  </Properties>
</Content>