<?xml version="1.0" encoding="utf-8"?>
<Content Key="94439176-5b07-4eb4-8b24-02af76da17e5" Alias="INSIGHTS: Driving forward new possibilities – the A50/A500 corridor" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/INSIGHTSDrivingForwardNewPossibilitiesTheA50A500Corridor</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-02-23T00:00:00</CreateDate>
    <NodeName Default="INSIGHTS: Driving forward new possibilities – the A50/A500 corridor" />
    <SortOrder>195</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>As Einstein once said; ‘The definition of insanity is doing the same thing over and over again and expecting different results’.</p>
<p>We’ve all shaken our heads in horror at images of huge, polluting 10-lane highways ploughing their way through cities around the globe, wondering how and why cities are still being centred around cars and concrete in 2022. Here in the UK however, are we doing enough to avoid falling into the same trap? It’s time to fully commit ourselves to thinking about roads differently.</p>
<p>Today, concerns about the environment, climate change, air quality and our carbon footprint are quite rightly an important part of any and every new policy created – especially in the realm of transport.</p>
<p>In this environmentally conscious world, making the case for new roads can sometimes be a really tough challenge. The reality is, we still need roads and will do for a long time but the key to success lies in making roads smarter, more efficient and responsive to the changing needs of those who will use them far into the future.</p>
<p>Midlands Connect is keen to show just how effective this new, smarter way of approaching road building can be, with our latest strategy for improving conditions on the A50/A500 transport corridor, which runs from Crewe and Nantwich to North Leicestershire.</p>
<p>Home to around a million people and half a million jobs, as well as major multi-national companies such as JCB, Rolls-Royce, Toyota and Alstom, so many depend on this 90km route to transport essential goods and travel to and from home and work. Upgrades are badly needed to address the frustrating daily congestion issues which locals will know all too well – in fact, commuters in this area currently waste around 37 minutes in the car each weekday due to traffic.</p>
<p>We’ve recently released a report on our suggested upgrade plan for the A50/A500, approaching existing problems from a completely new angle. Our plan works to re-use existing infrastructure wherever possible, introducing smart technology, traffic demand management and high quality walking and cycling facilities.</p>
<p>Road building generally relies on a traditional method of transport planning called ‘predict and provide’. This involves simply matching new development, housing and growth with new roads to suit upcoming increases in demand. Whilst this may have worked well in the past, predict and provide is not sustainable and doesn’t maximise the benefits of new technologies or changing attitudes and behaviours around transport use.</p>
<p>The Covid pandemic lead to big changes for the travelling public, as working from home became the norm for many. Our approach to developing the A50/A500 seeks to build on this appetite for adaptable travel times, by improving live information on travel apps and encouraging travel at quieter times. In addition, resilience across the whole corridor can be improved by smarter re-routing of M6 traffic in the instance of accidents.</p>
<p>Whilst building new roads cannot be avoided completely, for example, new roundabouts near Uttoxeter to support traffic flow, we aim to build as little new infrastructure as possible. This provides better value for money to the taxpayer, as well as breaking the cycle of centring transport planning around polluting cars and private vehicles – indeed with Government pledging zero carbon transport by 2050, there really is no time to waste.&nbsp;</p>
<p>So when it comes to upgrading and building roads, why should we continue working in the ways we’re used to, just because that’s the way it’s always been done? Building roads can be smart, progressive and environmentally friendly and work to support economic growth in our communities.</p>
<p>Roads are a familiar concept, an infrastructure that often gets a bad name, but one which we all still need in our everyday lives. Yes, roads are here to stay – but there’s nothing to stop the way we build, use and manage them from being completely reimagined. &nbsp;</p>
<p>The report may be viewed in full <a href="/publications/a50500-report/">here</a>.&nbsp;</p>
<p><em>Swati Mittal is the Major Road Network and Strategic Roads Manager at Midlands Connect </em></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-02-23T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1843/swati-mittal.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Insights"
]]]></Value>
    </tags>
  </Properties>
</Content>