<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fb0a858-ea5d-4709-94eb-7fe61d46e0ca" Alias="INSIGHTS: A transformation of British railways’ tired image must take centre stage at COP26" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/INSIGHTSATransformationOfBritishRailwaysTiredImageMustTakeCentreStageAtCOP26</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-11-02T00:00:00</CreateDate>
    <NodeName Default="INSIGHTS: A transformation of British railways’ tired image must take centre stage at COP26" />
    <SortOrder>191</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Oat milk lattes, vegan burgers, re-usable cups and canvas tote bags have quickly become mainstays of our daily lives, enabling everyday people to make more sustainable choices. Even 5 years ago, who could have imagined a range of tasty plant-based options on offer at every fast food chain on the high street? It’s clear that sustainability has become a fantastic marketing tool, with the potential to colour every part of our lives. So why do so many eco-conscious people still choose to travel by car rather than rail, despite the huge environmental impacts?</p>
<p>A combination of shifts in the way the British public think about rail travel, combined with major improvements on the network to make it more suited to customer needs, are key to taking more cars away from our roads. Unlike simply picking up a more environmentally friendly product at the supermarket however, making the switch to daily rail travel requires a total shift in mind set and behaviour change – but without rising passenger numbers, finding the funding to improve our railways is an extremely tall order. For me, it’s clear that rail travel needs a sustainability re-brand and cultural shift now.</p>
<p>With Government’s ambitious goal of full transport decarbonisation by 2050 looming ever closer, we are working on rail strategies which focus on making services accessible to more people and reducing transport poverty issues. Our research shows that taking the train instead of driving is one of the most important changes we can make in our daily lives to reduce carbon emissions.</p>
<p>Our flagship project, the Midlands Rail Hub will work to strengthen existing rail links, as well as opening up capacity for new ones and expanding timetables. By carrying out a package of small, strategic improvements, our rail network will become more suited to the daily lives of the travelling public, enabling them to choose trains for work, education and leisure. In addition, the introduction of HS2 will free up capacity to increase services on local lines. However, creating the space for more rail services isn’t enough, we need passengers in carriages – it’s vital that operators market their services in a way that highlights the environmental benefits of rail travel, calling out to the growing cohort of environmentally-conscious consumers.</p>
<p>Whilst our primary focus must remain on bringing more passengers onto trains, making railways themselves greener has been a hot topic in the industry for many years. Around 30% of UK trains are currently diesel<a name="_ftnref1" href="#_ftn1"><span>[1]</span></a>, the most polluting variety, with the rest made up of bi-mode (powered partially by electricity and partially by diesel) and fully electric services. However, only 38% of the rail network is electrified.</p>
<p>With Government promising the end of diesel trains by 2040, it’s essential that work to electrify our network steps up a gear. That means securing a a rolling programme of electrification, enabling suppliers to retain a skilled workforce which drives cost benefits and of course creates a cleaner, greener railway. That being said, we must also investigate the possibilities offered by alternative fuels and battery power for smaller branch lines, which could pose a cheap and manageable way to decarbonise stretches of the railway with lower passenger numbers, or where physical characteristics and geography make electrification a less viable option.</p>
<p>Another area of transport which cannot be excluded from the decarbonisation conversation is freight. With rail freight producing around 76% fewer emissions than road, it’s essential that large and smaller businesses are given the tools to make the swap as soon as possible. In much the same way as passenger rail travel, a fundamental shift is required for rail freight in order to make it more attractive and accessible to the customer.</p>
<p>At this time, rail freight is suited best to businesses who ‘bulk-haul’ goods, and can fill entire freight trains with commodities. But the market demands are changing – there are many more customers who have smaller loads, that the current Commercial Model for rail freight simply isn’t set up to accommodate. In addition, today’s rail freight system is not suitable for ‘just in time’ deliveries of perishable items such as fresh foods, as freight services are often pushed into sidings for hours at a time en route, thus delaying delivery, and load and unload facilities are neither up to standard nor suitably located for many ‘just in time’ deliveries.</p>
<p>I have real confidence that a more sustainability-focused attitude to rail may just be the nudge we all need to make the switch from car travel to regular rail travel. If we the industry, policymakers and operators extoll the benefits of rail travel and transportation, we can speed our route to a carbon-zero transport network.</p>
<p><a name="_ftn1" href="#_ftnref1"><span>[1]</span></a> All data extracted from Network Rail Traction Decarbonisation Network Strategy Interim Programme Business Case, September 2019</p>

]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-11-02T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1766/karen-h-headshot.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Karen Heppenstall, head of rail at Midlands Connect, examines the policies and commitments this Government must make to restore our network as world leading and to support our net-zero ambitions.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Insights"
]]]></Value>
    </tags>
  </Properties>
</Content>