<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb9422b5-3770-4cb3-aadb-c3a2b7e9bdd7" Alias="INSIGHTS: New data, new decisions; the great COVID reset" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/INSIGHTSNewDataNewDecisionsTheGreatCOVIDReset</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-04-07T00:00:00</CreateDate>
    <NodeName Default="INSIGHTS: New data, new decisions; the great COVID reset" />
    <SortOrder>185</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>You may wonder what I, a meteorologist, and a retail buyer have in common. How can three people whose day jobs involve planning future transport infrastructure, predicting next week’s weather, and ordering Tesco’s supply of disposable barbecues for August, be so closely linked? The answer is simple, we’re all forecasters. It’s our job to look at data, evaluate past trends, remove any background ‘noise’ and find the key variables to help us predict future events or behaviour. In the aftermath of this pandemic, there has never been a more exciting time to be a forecaster, however, with so much change afoot, gathering and analysing data that can be reliably used to represent the region is essential if we’re to make decisions that power a green economic recovery.</p>
<p>At Midlands Connect, understanding the travel market is central to our thinking, and provides the footing we need to develop the case for transport initiatives, services and policies that will meet this market’s needs. To do this, we must first understand the characteristics of our economy, both now and in the future. It’s becoming increasingly clear that the impacts of COVID-19 will leave an indelible mark on the way we live, work and socialise, and that this in turn will impact the transport market. Most sections of the economy have been changed, at least in part, by the uptake in digital working and automation accelerated by the pandemic.</p>
<p>What changes am I referring to? Firstly, we’ve seen a massive increase in online shopping, consumers can now order an item online for less than £2 and have it delivered to their doorstep the very same day. Secondly, we’re seeing a huge shift in working patterns; while many of us are likely to return to the office, it’s less likely that we’ll be working there Monday-Friday, from 9-5, and big employers such as PwC have already announced flexible working patterns post-COVID that allow workers to mix time in the office with time at home, enabled by the accelerated uptake of technology. Thirdly, there’s a new partnership with machines emerging, for example some factories (such as JLR supplier WES Hardmetal Engineering) are starting to work with the ‘lights-out’, automating production to such a degree that only maintenance workers are needed onsite.</p>
<p>Furthermore, many former city workers have also sought an ‘escape to the country’, research from estate agent Hamptons reveals that in 2020, London leavers bought 73,950 homes outside the capital, the biggest migration&nbsp;in four years. As digital working opens up labour markets to those outside the traditional office commuter belt, this trend will likely continue on an even larger scale.</p>
<p>This turbulence means that we can longer rely on many existing sources of travel and behavioural data, such as the 2011 UK Census and 2019 National Travel Survey, to underpin our forecasts. The key is combining such traditional data with more ‘live’ data sources safely collected from mobile devices, such as TomTom traffic reports, which show a flattening in traditional morning and evening travel peaks, and-up-to-date employment data safely collected from business tax records, to better predict the nature and times at which we’re likely to travel in future.</p>
<p>We must also work to understand how the changes we’ve seen will impact the freight and logistics sector, demand for commuter travel, and for longer-distance trips associated with more rural areas and the visitor economy.</p>
<p>A challenge also lies in encouraging people back to public transport, which has had its patronage decimated by what we expect to be temporary social distancing impacts of COVID-19.&nbsp; Emerging data sources, for example safe real-time data analytics of CCTV footage at railway stations (such as services offered by tech company Humanising Autonomy), can help us better manage more congested periods to help people feel safe enough to travel via mass transit and leave their cars at home.</p>
<p>As we look to update our connectivity strategy and make a strong case for transport investment, it’s clear that the way we analyse and predict demand for transport will have to change. Led by more recent data, input from industry and Government, we can ensure that the pandemic doesn’t hold back our route to a greener, better transport system for the Midlands.</p>
<p><strong><em>Written by Richard Bradley, Head of Strategy at Midlands Connect</em></strong></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-04-07T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Insights"
]]]></Value>
    </tags>
  </Properties>
</Content>