<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7088941-df4c-4058-8888-26440663b2c2" Alias="INSIGHTS: All together now – reconnecting the East and West Midlands" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/INSIGHTSAllTogetherNowReconnectingTheEastAndWestMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:26</CreateDate>
    <NodeName Default="INSIGHTS: All together now – reconnecting the East and West Midlands" />
    <SortOrder>92</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>It’s February 2020, and I am on the platform at Coventry Railway Station. As I stand there, a fast train to London pulls in nearby, one that will reach the capital just 63 minutes later – travelling at an average speed of over 90mph. Me? I’m waiting to board a train to Nuneaton; this isn’t my destination, merely a stop off on my way to Leicester. This indirect, ambling journey between two Midlands cities less than 25 miles apart, will take 54 minutes travelling below an average of 30mph. It’s time we remedied this.</p>
<p>Midlands Connect, working closely with the councils in the West and East Midlands, is planning to resinstate direct trains between Coventry and Leicester. Casting minds back nearly 20 years, direct trains did link these cities, but the service was cut once the south-north main line railway in Nuneaton was upgraded, with more trains to London leaving no space for this east-west link to pass through. We now need a new ‘diveunder’ – which means our train can run underneath the main line at Nuneaton. This investment could also open up a new route for freight trains, which is shorter than the current route, saving time, money, and of course reducing our environmental footprint.</p>
<p>Why is a direct train on this corridor important in the first place? Currently, only 3% making a journey between Coventry and Leicester do so by rail. Or to put it another way, 97% have decided that another mode of transport (primarily the car) works better for them. A direct rail service offers huge benefits; not just a faster journey times for those that make the trip by train, but perhaps more importantly, it offers scope to take passenger traffic from our roads and on onto the railway. These convenient, fast trips by rail will help us to cut congestion and reduce emissions.</p>
<p>However, our plans about much more than just trains, or indeed whether you choose the car or the train. They are about shaping the economic geography of our region. To reach into the dictionary of technical jargon, we measure ‘agglomeration’. This is about how the economies of different cities interact. At the moment, for example, there is little ‘interaction’ between the cities of Coventry and Leicester; Coventry businesses trade with others in Coventry, and Leicester businesses trade with others in Leicester, but slow, indirect and unreliable rail links limit the formation of new connections between the two. It doesn’t have to be like this. Our research shows we can generate considerable ‘wider economic benefits’ – namely more trade, collaboration and interaction between people and businesses in Coventry and Leicester.</p>
<p>We can’t forget of course, there’s a new show in town – HS2. Doesn’t this new high speed railway solve all our transport issues between the West and East Midlands? The answer – perhaps unhelpfully – is yes and no. The ‘yes’ is that HS2 provides much more capacity between Birmingham and the East Midlands, but that is more focused on Birmingham to Nottingham. Which means that journeys from Coventry or Birmingham to Leicester will still need us to use the ‘conventional’ railway network, and so our plan for the direct service from Coventry to Leicester is very much complementary to HS2 rather than competing.</p>
<p>We cannot deny that COVID has and will continue to change our travel patterns. However, this doesn’t simply mean we stop investing because the demand for travel has gone away. As restrictions ease, we are already starting to see people returning to the railway, be it for commuting, business travel or leisure. Our research has shown that even with COVID reducing the demand for travel in the short term, our direct rail link to Leicester still demonstrates ‘value for money’ – or to put a number on it, we return over £2 in benefits for every £1 we invest.</p>
<p>So to finish off where we started – at the platform at Coventry Station. I made it to Leicester, had my meeting and returned. But it took me half a day, including a 2-hour meeting. Had a new direct rail service existed, I could have been there and back in nearly half the time (38 minutes there, 38 minutes back). I look forward to the day when this is a reality.</p>
<p><strong>Andy Clark is a Senior Rail Programme Manager at Midlands Connect</strong></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-05-24T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>