<?xml version="1.0" encoding="utf-8"?>
<Content Key="d79f911a-bc61-4e7a-95d7-180ed0e86c84" Alias="Is inclusive growth possible in market economy?" Level="3">
  <Info>
    <Parent Key="c66668c7-dfd8-4362-8b7f-60d466b2846d">Blog</Parent>
    <Path>/WestMidlandsCombinedAuthority/Blog/IsInclusiveGrowthPossibleInMarketEconomy</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-08-16T09:50:14</CreateDate>
    <NodeName Default="Is inclusive growth possible in market economy?" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9863e759-9a1e-4008-a218-0ffdedf49032">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[umb://document/9f2500149e3249ed9d815a12169684fc]]></Value>
    </author>
    <date>
      <Value><![CDATA[2023-08-14T06:00:00]]></Value>
    </date>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <gridTest>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/56b31945f22044e7b2c71e0ee96e9178"
      },
      {
        "contentUdi": "umb://element/100ab01251ea4990b6d705c98a22721e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "48cee39d-6ba9-4599-b547-147a9bb31a82",
      "udi": "umb://element/56b31945f22044e7b2c71e0ee96e9178",
      "textbox": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>"
    },
    {
      "contentTypeKey": "b7fb877c-b810-46b8-9743-ab6c228c03dd",
      "udi": "umb://element/100ab01251ea4990b6d705c98a22721e",
      "image": "[{\"key\":\"c0fc5b2f-d0a4-44b2-8479-dcfa558a1ff5\",\"mediaKey\":\"e4a6b27a-6a48-4c65-abe9-aae1eb190d45\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </gridTest>
    <hideImageInBlog>
      <Value><![CDATA[0]]></Value>
    </hideImageInBlog>
    <image>
      <Value><![CDATA[[
  {
    "key": "0cf592a1-c359-44e7-ab72-f18a53b406d3",
    "mediaKey": "5e459a8e-f427-4299-b6f8-cf5c7f873959"
  }
]]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[The West Midlands Combined Authority recently negotiated a devolution deal with the UK government, which grants the region greater control over issues like transportation, housing, and economic development. In this post, we'll explain what the devolution deal entails, what it means for residents of the West Midlands, and how WMCA plans to use the new powers.]]></Value>
    </introduction>
    <sidebar>
      <Value><![CDATA[]]></Value>
    </sidebar>
    <tags>
      <Value><![CDATA[[
  "Skills, education and careers",
  "Life in the West Midlands",
  "Equality and diversity"
]]]></Value>
    </tags>
  </Properties>
</Content>