<?xml version="1.0" encoding="utf-8"?>
<Content Key="704572f4-7d8c-41f1-bc78-a6eb29420de6" Alias="Julie Smith" Level="3">
  <Info>
    <Parent Key="9af3708d-9d5e-4145-8d46-137f7ce2a49d">Authors</Parent>
    <Path>/WestMidlandsCombinedAuthority/Authors/JulieSmith</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2024-05-15T13:50:23</CreateDate>
    <NodeName Default="Julie Smith" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bio>
      <Value><![CDATA[]]></Value>
    </bio>
    <facebook>
      <Value><![CDATA[]]></Value>
    </facebook>
    <jobTitle>
      <Value><![CDATA[Organisational development and engagement partner at West Midlands Combined Authority]]></Value>
    </jobTitle>
    <linkedin>
      <Value><![CDATA[]]></Value>
    </linkedin>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
  </Properties>
</Content>