<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2ff3124-080c-4d4f-884b-a467b54031d3" Alias="Labour Party Conference | The One Midlands Transport Panel" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/LabourPartyConferenceTheOneMidlandsTransportPanel</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T15:46:28</CreateDate>
    <NodeName Default="Labour Party Conference | The One Midlands Transport Panel" />
    <SortOrder>258</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>