<?xml version="1.0" encoding="utf-8"?>
<Content Key="569756cc-e398-4aea-9086-45324ef504ff" Alias="Legacy Wmnetwork" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LegacyWmnetwork</Path>
    <Trashed>false</Trashed>
    <ContentType>homepageLegacyWmnetwork</ContentType>
    <CreateDate>2024-02-21T09:27:15</CreateDate>
    <NodeName Default="Legacy Wmnetwork" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9de9f7e6-5023-4e63-8083-6f16e130ff8e">Homepage1</Template>
  </Info>
  <Properties />
</Content>