<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf8503cc-237c-4306-9ae6-8160e230c09b" Alias="Levelling Up in Lincolnshire" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/LevellingUpInLincolnshire</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:33</CreateDate>
    <NodeName Default="Levelling Up in Lincolnshire" />
    <SortOrder>125</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>As much as we love meeting partners in County Halls and online – nothing beats getting out on site.&nbsp; So that’s what we did. Three of the Midlands Connect team; Andy (Senior Rail Programme Manager), Richard (Strategy Manager), and I (Strategic Partnership Lead) headed to some of the lesser seen areas of the county.</p>
<p>We wanted to see the often-unseen areas of the county, our aim was to see some of the issues that had a major impact on residents, businesses, and visitors — issues that are often ignored due to low and unaccounted for population. These included rural exclusion, health poverty and the importance of industry clusters.</p>
<p>Lincolnshire – being the second-largest county in England – is home to over 750k people with visitor numbers estimated at over 20million, adding over £2bn to the UK economy through tourism.</p>
<p>It seemed only fitting on a summer’s day, to start our day at the beach, a visit to the towns of Mablethorpe, Chapel St. Leonards, and Skegness. Recently awarded a Town Deal offer worth almost £30million these areas are ripe for investment.</p>
<p>Mablethorpe will become the home of a health and research centre (the Campus for Future Living), bringing together Universities of Lincoln and Nottingham to look at how to resolve issues caused by health inequality. The centre will aim to work on the isolation and seasonality issues, which exacerbate health issues faced by the residents and will be considered a centre of excellence both regionally and nationally. With people often having to travel over an hour to get to nearest hospitals and colleges, this on-site facility will be transformational in the area.</p>
<p>Investment in tourism in the area was demonstrated by the North Sea Observatory which is open year-round and manages to seamlessly blend a destination for visitors and a community hub for locals.</p>
<p>Boston was our next ‘port’ of call and we started to understand both the limitations and opportunities of this inland port. Working with the tides the port still manages to move over £1m tonnes of goods annually and operates 3 rail freight services a week to the West Midlands.</p>
<p>Day two and we got to see some heavy-duty Victorian infrastructure in the form of the well-known pinch point on the A17, Sutton Bridge. The bridge, which has to be resurfaced every 3 years to cope with the level of HGV traffic, can close for up to 20 minutes, 4 times a day, causing hold ups on this major route. Once opened there is no alternative route for public transport services or emergency service vehicles. With the detour route being almost 30miles, an alternative is needed for this historic monument.</p>
<p>From the old to the new we also visited the construction site of the new Spalding relief road, we found out more about the difficulties in construction in these areas with uncooperative ground, and how this has been overcome.&nbsp;</p>
<p>Finally, we met those whose businesses and livelihoods depend on the infrastructure in Lincolnshire, meeting the owners and managers of food businesses gave us real insight into what they saw as the key problems in the area and how things are likely to change in the coming years.</p>
<p>Thank you to all those who hosted us, and we look forward to further visits out and about in the fantastic Midlands region.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-08-19T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1979/sarah-spink.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Last month, Midlands Connect went on a tour of Lincolnshire to learn about the issues that the county faces. Strategic Partnership Lead, Sarah Spink, reflects on their findings.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>