<?xml version="1.0" encoding="utf-8"?>
<Content Key="409060b0-9574-4c20-b59b-cb9b78787589" Alias="Levelling up the A50/500: The Road to Success" Level="3">
  <Info>
    <Parent Key="aa0ea236-e528-43b9-975b-9289669b7f62">Publications</Parent>
    <Path>/MidlandsConnect/Publications/LevellingUpTheA50500TheRoadToSuccess</Path>
    <Trashed>false</Trashed>
    <ContentType>publication</ContentType>
    <CreateDate>2024-01-26T17:14:36</CreateDate>
    <NodeName Default="Levelling up the A50/500: The Road to Success" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f0bd1286-331b-4978-8105-04a38c3a6abf">Publication</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-02-23T00:00:00]]></Value>
    </date>
    <document>
      <Value><![CDATA[[
  {
    "key": "66fe923d-fb6f-479c-942d-521ae885f62e",
    "mediaKey": "2167e2a9-6eb4-40c6-a01e-1a0536ccaada"
  }
]]]></Value>
    </document>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
  </Properties>
</Content>