<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e9fcc19-6597-4909-a99d-764b6e03b1da" Alias="Local businesses urged to have their say on reconnecting Coventry to Leicester and Nottingham" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/LocalBusinessesUrgedToHaveTheirSayOnReconnectingCoventryToLeicesterAndNottingham</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:35</CreateDate>
    <NodeName Default="Local businesses urged to have their say on reconnecting Coventry to Leicester and Nottingham" />
    <SortOrder>134</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><span data-contrast="auto">The new survey builds on the </span><span data-contrast="auto">Building Back Greener</span><span data-contrast="auto"> report released last year, which outlined the strong case for reconnecting three major cities and economic hubs in the Midlands, Coventry, Leicester, and Nottingham by rail. The report highlighted passengers travelling from Coventry to either Leicester or Nottingham had to change trains at Nuneaton, leading to longer journey times with increased chances of delays. </span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
<p><span data-contrast="auto">Midlands Connect is advising local businesses in Coventry, Leicester, Nuneaton, and Nottingham to complete a short survey, which will support the case for further investment on the route.&nbsp;</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
<p><strong>The survey takes only a few minutes and can be found <a href="https://midlandsconnect.consultationonline.co.uk/coventry-leicester-nottingham/">here</a>. It closes on Friday 11th November 2022.&nbsp;&nbsp;</strong></p>
<p><span data-contrast="auto">Currently, just 3% of journeys from Coventry to Leicester are made by rail, compared to 30% of journeys from Coventry to Birmingham. It is hoped that by building this direct line, more trips will be made by rail rather than road. This change will be a huge stride towards the government’s net zero targets.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
<p><span data-contrast="auto">The rail line, if improved significant social, environmental, and economic benefits, estimated to be worth £179 million.&nbsp;</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
<p><span data-contrast="auto">Midlands Connect’s CEO Maria Machancoses, commenting on the survey’s release, said:</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
<p><span data-contrast="auto">“Today we are calling on businesses and employers in Coventry, Leicester, Nottingham, and Nuneaton to make their voices heard in our consultation.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
<p><span data-contrast="auto">Increased connectivity between these cities could bring more jobs and opportunities to the region. The information local companies will give us could really help build our case for this new rail line.”</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-10-17T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1924/leicester-aerial.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Midlands Connect has today launched a business survey on creating a direct rail link between Coventry, Leicester, and Nottingham. It has launched an online survey urging businesses in the area to have their say on the proposals.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>