<?xml version="1.0" encoding="utf-8"?>
<Content Key="7cc89dcd-66fa-4dd7-9d61-328febb318a9" Alias="M54-M6 Link Road a step closer to construction after government funding pledge" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/M54M6LinkRoadAStepCloserToConstructionAfterGovernmentFundingPledge</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:23</CreateDate>
    <NodeName Default="M54-M6 Link Road a step closer to construction after government funding pledge" />
    <SortOrder>73</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>