<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ad30321-5675-448b-9a19-72083516e251" Alias="M54-M6 Link Road a step closer to construction after government funding pledge" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/M54M6LinkRoadAStepCloserToConstructionAfterGovernmentFundingPledge</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2020-03-20T00:00:00</CreateDate>
    <NodeName Default="M54-M6 Link Road a step closer to construction after government funding pledge" />
    <SortOrder>73</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Midlands Connect has called for the earliest possible construction of the M54-M6 Link Road, after it was included in the Government’s five-year, £27 billion Road Investment Strategy following last week’s Budget. </strong></p>
<p>The scheme, which will add a new north-facing access route between the M54 and M6, is one of six Highways England road projects in the Midlands earmarked to start construction between 2020 and 2025.</p>
<p>The M54-M6 Link Road was initially included as a committed scheme in the government’s first <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/408514/ris-for-2015-16-road-period-web-version.pdf">Road Investment Strategy in 2015.</a> Highways England announced its preferred route in 2018 and consulted on the plans in 2019.</p>
<p>Sub-national Transport Body Midlands Connect identified the scheme as a priority for the region in 2019 and called for its earliest possible construction.</p>
<p><strong>Commenting on the scheme’s latest funding commitment, Midlands Connect’s director of technical programmes Simon Statham said: </strong></p>
<blockquote>
<p>“This project is a potential game changer for the Midlands motorway network; it will make both long distance and short journeys quicker and less congested, improving air quality as well as supporting ambitious economic growth plans for the region.</p>
<p>“It is important that construction gets underway as soon as possible so that road users can start to feel the benefits. We will continue to work collaboratively with Highways England, the Department for Transport and local authorities to ensure the scheme moves forward at pace.”</p>
</blockquote>
<p><strong>Councillor David Wright, Telford &amp; Wrekin Council’s cabinet member for Economy, Housing, Transport and Infrastructure, said: </strong></p>
<blockquote>
<p>“We see the creation of the M54/M6 Link road as vital for the borough’s future prosperity and connectivity, so I am delighted that it has been included in the government’s Road Investment Strategy.</p>
<p>“We are continually striving to create a better borough and this can only help with inward investment.”</p>
</blockquote>
<p>-ENDS-</p>
<p>The full Road Investment Strategy 2 (2020-2025) can be found <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/872252/road-investment-strategy-2-2020-2025.pdf">here</a></p>
<p>Midlands schemes can be found on Pages 97-99.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-03-20T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>