<?xml version="1.0" encoding="utf-8"?>
<Content Key="44a1b053-1aea-4fba-a50f-830d60fbd20f" Alias="Madiyha Ghafoor" Level="3">
  <Info>
    <Parent Key="9af3708d-9d5e-4145-8d46-137f7ce2a49d">Authors</Parent>
    <Path>/WestMidlandsCombinedAuthority/Authors/MadiyhaGhafoor</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2023-11-24T20:28:33</CreateDate>
    <NodeName Default="Madiyha Ghafoor" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bio>
      <Value><![CDATA[]]></Value>
    </bio>
    <facebook>
      <Value><![CDATA[]]></Value>
    </facebook>
    <jobTitle>
      <Value><![CDATA[‪Inclusive Growth Policy and Delivery Officer ]]></Value>
    </jobTitle>
    <linkedin>
      <Value><![CDATA[]]></Value>
    </linkedin>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
  </Properties>
</Content>