<?xml version="1.0" encoding="utf-8"?>
<Content Key="fabb783a-d194-476c-b5af-9a88691c243d" Alias="Major Roads Consultation Could Transform Midlands Congestion Hotspots" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MajorRoadsConsultationCouldTransformMidlandsCongestionHotspots</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2017-12-23T00:00:00</CreateDate>
    <NodeName Default="Major Roads Consultation Could Transform Midlands Congestion Hotspots" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Midlands Connect, the transport arm of the Midlands Engine, has warmly welcomed the Department for Transport's consultation on establishing a<span>&nbsp;</span><a rel="noopener" href="https://www.gov.uk/government/news/major-road-network-investment-to-boost-motorists-journeys" target="_blank">Major Road Network</a>, and believes it can have an unprecedented level of regional influence over which 'A' roads are included and where money is spent.</p>
<p>A Midlands Connect study released in February will establish which Midlands roads the partnership believes should be included and are most in need of investment.</p>
<p><strong>Midlands Connect Chairman Sir John Peace said:</strong></p>
<p>““Investing in our ‘A’ Roads can play a major role in tackling bottlenecks and congestion, so we believe establishing a Major Road Network can help alleviate those problems and grow the Midlands economy.</p>
<p>“We’re delighted that the Government’s proposals include how to work with local and regional interests, including sub-national transport bodies (STBs), to support the Major Road Network and plan the major investments the National Road Fund will deliver.</p>
<p>“As we forge ahead with plans to become an STB, Midlands Connect is in pole position to have an unprecedented level of influence over where that money is spent. That’s why we are working with all of our partners, including local authorities, local enterprise partnerships, chambers of commerce, airports, universities and businesses to ensure our response to this consultation speaks with one voice and with the best interests of the Midlands at heart.</p>
<p><strong>Midlands Connect Director Maria Machancoses said:</strong></p>
<p>“We are currently carrying out a study into the use and performance of Major Roads across the East and West Midlands to understand the role they play in the regional economy, and identify and prioritise the roads most in need of future investment and that should be incorporated in to the MRN.</p>
<p>The results of that study will allow Midlands Connect to respond fully to the Government consultation in due course. It will enable us to continue making the case for attracting further investment in to transport infrastructure in the Midlands to grow businesses, create jobs and raise the quality of life of its residents.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2017-12-23T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>