<?xml version="1.0" encoding="utf-8"?>
<Content Key="5754ee0d-ea07-419c-9274-0e17a9f3a65e" Alias="Man Claiming Covid-19 Jailed After Spitting At Bus Driver" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/ManClaimingCovid19JailedAfterSpittingAtBusDriver</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-11-30T17:02:17</CreateDate>
    <NodeName Default="Man Claiming Covid-19 Jailed After Spitting At Bus Driver" />
    <SortOrder>82</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
  </Properties>
</Content>