<?xml version="1.0" encoding="utf-8"?>
<Content Key="e207c78c-4445-4ecc-b939-fccc3718477e" Alias="Man Charged With Common Assault After Allegedly Spitting At Two Bus Drivers In Two Days" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/ManChargedWithCommonAssaultAfterAllegedlySpittingAtTwoBusDriversInTwoDays</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Man Charged With Common Assault After Allegedly Spitting At Two Bus Drivers In Two Days" />
    <SortOrder>82</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>A man has been charged with common assault after he allegedly spat at bus drivers twice in two days.</p>
<p>Harley Groves-Grist, of Kenmure Road, Garretts Green, allegedly assaulted the two drivers when they challenged him after he boarded their buses without paying for a ticket.</p>
<p>It is believed he verbally abused one of the drivers before becoming aggressive, resulting in him spitting at the drivers on both occasions. The incidents are alleged to have taken place on 14 and 15 April.</p>
<p>The 22-year-old was arrested and remanded in custody until he appeared at Birmingham Magistrates Court on Monday 25 May, where he was given bail conditions stating not to travel on any West Midlands bus until his next court appearance scheduled for 20 July.</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>