<?xml version="1.0" encoding="utf-8"?>
<Content Key="927858aa-cacf-4adf-971d-fead68e962ed" Alias="Man Who Tried To Avoid Knife Arch Jailed For Six Weeks For Carrying Kitchen Knife" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/ManWhoTriedToAvoidKnifeArchJailedForSixWeeksForCarryingKitchenKnife</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2020-05-11T00:00:00</CreateDate>
    <NodeName Default="Man Who Tried To Avoid Knife Arch Jailed For Six Weeks For Carrying Kitchen Knife" />
    <SortOrder>89</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>A man has been sentenced to six weeks in prison for possession of a bladed article and drugs after he was caught trying to avoid a police knife crime operation in Walsall train station.</p>
<p>York Wilkinson, of Shaw Court, Brownhills Road in Cannock, was travelling through the station when he noticed the operation being conducted by Safer Travel on Wednesday morning (28 October).&nbsp;</p>
<p>Officers spotted Wilkinson back away from the arch and head off in the other direction. He was detained and handed over a kitchen knife and a bag of cannabis.</p>
<p>The weapons and drugs were seized and the 33-year-old was arrested at the scene and remanded in custody overnight until his appearance at Dudley Magistrates Court the following morning.</p>
<p>On Thursday (29 October), Wilkinson was sentenced to six weeks in prison for possession of a bladed article and possession of drugs.</p>
<p>Inspector Rachel Crump, from the Safer Travel police team, said: &ldquo;This is a welcome sentence for a man who was in possession of a dangerous weapon and had made failed efforts to avoid detection by our officers.</p>
<p>&ldquo;We do not condone anyone carrying weapons on the railway and we will continue to carry out knife arch operations across stations in the region to keep passengers and staff safe.</p>
<p>&ldquo;We hope this sends a clear message to anyone considering carrying a weapon when they’re travelling that they will be caught and prosecuted, and in this case, end up in prison the very next day.&rdquo;</p>
<p>Safer Travel conduct knife arch operations at transport hubs across the region with support from local policing teams at West Midlands Police and British Transport Police.</p>


                            
    
    <img src="/st/media/1112/wilkinson_york-wm.jpg" alt="York Wilkinson was sentenced to six weeks in prison">
        <p class="caption">York Wilkinson was sentenced to six weeks in prison</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-05-11T00:00:00]]></Value>
    </date>
  </Properties>
</Content>