<?xml version="1.0" encoding="utf-8"?>
<Content Key="32ad7826-6354-49b5-924f-e46d6f0a6b3a" Alias="Man Jailed After Exposing Himself To Teenage Girls" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/ManJailedAfterExposingHimselfToTeenageGirls</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Man Jailed After Exposing Himself To Teenage Girls" />
    <SortOrder>88</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>A man who exposed himself and performed a rude act in front of a number of victims on public transport has been jailed for 12 months.</p>
<p>Paul Sardaru, of Mount Pleasant, Handsworth, received the year long prison sentence for a total of five offences of exposure and outraging public decency which were committed throughout July this year. He was also given a 10 year sexual offences notification requirement.</p>


                            
    
    <img src="/media/st/media/1108/sardaru_paul-wm.jpg" alt="Paul Sardaru was jailed for 12 months after exposing himself on the transport network">
        <p class="caption">Paul Sardaru was jailed for 12 months after exposing himself on the transport network</p>


                            
    
<p>Sardaru, aged 35, was seen performing the act at a bus stop by two teenage girls in Birmingham on 9 July. He was then linked to a further three reports where he was seen touching himself in the presence of other passengers on the rail and metro network.</p>
<p>The reports were jointly investigated by a team of officers from British Transport Police, West Midlands Police and Safer Travel as the incidents had happened across the bus, train and metro network.</p>
<p>After working closely with transport operators, CCTV images of Sardaru were urgently distributed with a public appeal for information ready to be published.</p>
<p>However just minutes before its release, Safer Travel tracked him to a bus stop in Handsworth where he was arrested.</p>
<p>He was given strict bail conditions not to travel on any form of public transport, however just eight days after the conditions were imposed, Sardaru was arrested again for breach of his bail when he travelled on a bus in Birmingham.</p>
<p>Sardaru received five separate jail sentences to run concurrently, as well as a 10 year sexual offences notification requirement. He was also ordered to pay £156 victim surcharge.</p>
<p>Inspector Rachel Crump, head of the Safer Travel policing team, said: &ldquo;This is a great result which really demonstrates the value of both West Midlands Police and British Transport Police teams working together to capture an individual that was causing substantial distress on the transport network.</p>
<p>&ldquo;Our officers and staff worked efficiently and collaboratively, and by sharing intelligence it meant that Sardaru was caught and that the public and staff are safer without him on the transport network.&rdquo;</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>