<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0ee9909-253d-4649-86d1-c492f3e482e1" Alias="Man Jailed After Racially Abusing And Throwing Hot Coffee Over Police Staff" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/ManJailedAfterRaciallyAbusingAndThrowingHotCoffeeOverPoliceStaff</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Man Jailed After Racially Abusing And Throwing Hot Coffee Over Police Staff" />
    <SortOrder>93</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p class="xmsonormal"><span style="font-size: 11.0pt; font-family: 'Trebuchet MS',sans-serif;">A 49-year-old man has been sentenced to seven months in prison after he racially abused a Safer Travel officer and assaulted a member of custody staff.</span><span style="font-family: 'Trebuchet MS',sans-serif;"></span></p>
<p class="xmsonormal"><span style="font-size: 11.0pt; font-family: 'Trebuchet MS',sans-serif;">David Mcphail, of no fixed address, was approached by officers outside Snow Hill train station on Wednesday (17/02) when he was seen having a heated argument with station staff, in which he was&nbsp;being abusive and had smashed a glass bottle on the floor nearby.</span><span style="font-family: 'Trebuchet MS',sans-serif;"></span></p>
<p class="xmsonormal"><span style="font-size: 11.0pt; font-family: 'Trebuchet MS',sans-serif;">McPhail was arrested and taken into custody where he continued to assault staff, using racist language towards a Safer Travel officer and later throwing a cup of boiling coffee at a custody assistant, causing scalding to her chest and face.</span><span style="font-family: 'Trebuchet MS',sans-serif;"></span></p>
<p class="xmsonormal"><span style="font-size: 11.0pt; font-family: 'Trebuchet MS',sans-serif;">Following his appearance at Birmingham Magistrates Court yesterday (Thursday), Mcphail pleaded guilty to two offences and was sentenced to a total of seven months in prison for assault causing actual bodily harm and racially aggravated intentional harassment/alarm/distress. </span><span style="font-family: 'Trebuchet MS',sans-serif;"></span></p>
<p class="xmsonormal"><span style="font-size: 11.0pt; font-family: 'Trebuchet MS',sans-serif;">Mcphail received consecutive sentences from the court for the two offences due to his flagrant disregard for people and their property. </span><span style="font-family: 'Trebuchet MS',sans-serif;"></span></p>
<p class="xmsonormal"><span style="font-size: 11.0pt; font-family: 'Trebuchet MS',sans-serif;">Inspector Rachel Crump, head of the Safer Travel policing team, said: &ldquo;We fully welcome the sentence given for a violent and completely unacceptable attack on a police officer and staff member.</span><span style="font-family: 'Trebuchet MS',sans-serif;"></span></p>
<p class="xmsonormal"><span style="font-size: 11.0pt; font-family: 'Trebuchet MS',sans-serif;">&ldquo;We take the safety of our staff very seriously and we will not tolerate violent behaviour or hate crimes towards officers who are simply just doing their job.&rdquo;</span><span style="font-family: 'Trebuchet MS',sans-serif;"></span></p>


                            
    
    <img src="/media/st/media/1116/mcphail-david-wm.jpg" alt="David Mcphail was sentenced to seven months in prison">
        <p class="caption">David Mcphail was sentenced to seven months in prison</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>