<?xml version="1.0" encoding="utf-8"?>
<Content Key="4558f478-f53e-4644-8984-ec2b5d0fea4d" Alias="Man Claiming Covid-19 Jailed After Spitting At Bus Driver (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ManClaimingCovid19JailedAfterSpittingAtBusDriver1</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2020-05-05T00:00:00</CreateDate>
    <NodeName Default="Man Claiming Covid-19 Jailed After Spitting At Bus Driver (1)" />
    <SortOrder>146</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>A man has been jailed after he spat at a Birmingham bus driver and told her that he had Covid-19.</p>
<p>Austin Haynes, from Bristol Road South, Northfield, boarded the 126 bus in Ladywood last month and refused to pay the fare for his travel. The bus driver challenged the 43-year-old who became aggressive towards her, which resulted in him spitting towards the driver and her cab screen.</p>
<p>Last week (27 April), he was sentenced to 17 weeks in jail.</p>


                            
    
    <img src="/st/media/1097/haynes-austin-wm.jpg" alt="Austin Haynes has been jailed for 17 weeks">
        <p class="caption">Austin Haynes has been jailed for 17 weeks</p>


                            
    
<p>Inspector Rachel Crump, head of the Safer Travel policing team, said: &ldquo;This is a heinous and disgusting crime against a vital key worker. We will not tolerate any violence towards transport staff who are bravely continuing to work on the front line during these uncertain times.</p>
<p>&ldquo;We welcome the sentence given to Haynes and are pleased to see him face time behind bars for his revolting behaviour. We take this crime very seriously and we will continue to do so to protect transport workers.&rdquo;</p>
<p>David Bradford, Managing Director of National Express West Midlands, said: &ldquo;Spitting is not only disgusting - it's a criminal offence. Our drivers continue to provide a lifeline to front line workers during these difficult times and they should not be expected to tolerate this shocking behaviour.</p>
<p>&ldquo;We work very closely in partnership with the Safer Travel policing team to track down offenders and secure convictions at court. The recent sentence given to Haynes is welcomed and sends a clear message that we will not tolerate offensive behaviour towards our staff.&rdquo;</p>
<p>Haynes was bailed following an appearance at Birmingham Magistrates Court on 14 April. However after breaching his bail conditions, he returned to Birmingham Magistrates Court where he pleaded guilty to battery.</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-05-05T00:00:00]]></Value>
    </date>
  </Properties>
</Content>