<?xml version="1.0" encoding="utf-8"?>
<Content Key="947636bd-7b2f-4582-af64-8fea50d79efe" Alias="‘Massive’ support for Shropshire rail upgrade plan" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MassiveSupportForShropshireRailUpgradePlan</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:29</CreateDate>
    <NodeName Default="‘Massive’ support for Shropshire rail upgrade plan" />
    <SortOrder>106</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>
<p><span class="dark"><strong>Research undertaken with 748 people from across Shropshire </strong></span></p>
</li>
<li>
<p><span class="dark"><strong>Almost two thirds see upgrading this rail route as an example of levelling up Shropshire</strong></span></p>
</li>
<li>
<p><span class="dark"><strong>Nearly 90% support the Midlands Connect scheme </strong></span></p>
</li>
<li>
<p><span class="dark"><strong>New data suggests upgrades would create 2.4 million extra train seats a year</strong></span></p>
</li>
</ul>
<p><span class="dark"><strong>New research shows that Shropshire residents overwhelmingly support plans to improve rail services on the Birmingham – Black Country – Shrewsbury rail corridor. &nbsp;Nearly two thirds of people in Shropshire see this project as levelling up the county.</strong></span></p>
<p><span class="dark">The poll, undertaken with over 700 Shropshire residents, measured attitudes towards plans to make trains faster, electrify the line and add new services. 86% of those questioned said they were behind the scheme as a whole, two in three (66%) backed line speed improvements and 62% thought the proposed changes were an example of ‘levelling up’.</span></p>
<p><span class="dark">The plans, put forward by Sub-national Transport Body Midlands Connect, involve speeding up journeys and electrification of the railway line, allowing diesel-powered trains to be removed and replaced by electric ones, reducing carbon emissions.</span></p>
<p><span class="dark">Analysis by Midlands Connect suggests that upgrading the route could be worth £500 million to the economy and unlock an extra 2.4 million extra seats for passengers along the corridor each year. Proposed improvements would see line speeds along the route increased to 90 miles per hour, reducing journey times from Shrewsbury to Birmingham from 56 to 45 minutes.</span></p>
<p><span class="dark">Once Phase One of HS2 from Birmingham to London is up and running - current estimates suggest this will be from 2029-2031 - service levels on the route could also increase from three to four trains an hour. By utilising the space the new high speed line will free up on the conventional network, the plan is to introduce a new, frequent and direct rail link from Shrewsbury, Telford and Wellington to London every hour.</span></p>
<p><span class="dark">Currently neither Shrewsbury, Telford or Wellington have regular rail links to the capital.</span></p>
<p><span class="dark">It is thought that line speed improvements could be implemented first to bring benefits to local travellers sooner, with the extra service added later once HS2 is up and running alongside electrification of the line.</span></p>
<p><span class="dark">Midlands Connect is currently completing a Strategic Outline Business Case for the route, due for completion by the end of 2021.</span></p>
<p><span class="dark"><strong>Maria Machancoses, CEO of Midlands Connect, said:</strong></span></p>
<p><span class="dark">“The people of Shropshire need fast, regular and green rail connections. These plans will make local connections quicker, while electrification of the line will make travelling by train an even more sustainable choice, allowing us to replace diesel trains with electric ones. We believe that good transport links have the power to level up communities by opening up access to job opportunities, further education, and cultural experiences.”</span></p>
<p><span class="dark">“We know that securing rail improvements can be a complicated process, which is why we’re keen to maintain momentum for this scheme and develop the plans so they can be delivered as soon as possible.”</span></p>
<p><span class="dark"><strong>Daniel Kawczynski, MP for Shrewsbury and Atcham, said:</strong></span></p>
<p><span class="dark">“These plans will give local people the rail services they deserve – faster journeys, better commuter links and finally, a regular connection to London. It’s fantastic that these improvements have the massive backing of local people, and I will continue my work to secure this investment. Given the Government’s commitment to tackling climate change, improvements like these are more important than ever.”</span></p>
<p><span class="dark"><strong>Cllr Shaun Davies, leader of Telford &amp; Wrekin council, said:</strong></span></p>
<p><span class="dark">“Giving travellers the tools they need to make more journeys by rail – more frequent connections, faster trips and a greater choice of destinations, is essential if we’re to promote sustainable transport. Telford is home to thousands of highly-skilled workers and market leading businesses, as well as being a popular tourist destination. These improvements are much needed and will deliver a huge boost to the local economy, it’s now up to Government to give us the support we need to make them happen.”</span></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-11-10T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>