<?xml version="1.0" encoding="utf-8"?>
<Content Key="328017e4-2b15-48c3-85d0-803fda490167" Alias="Masterplan lays out the future of transport network in the Midlands" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MasterplanLaysOutTheFutureOfTransportNetworkInTheMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:31</CreateDate>
    <NodeName Default="Masterplan lays out the future of transport network in the Midlands" />
    <SortOrder>116</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>Release of Midlands Connect’s plan sets out the future of transport in the region</li>
<li>The report <em>Greener, Fairer, Stronger </em>also outlines a series of ‘short term priority projects’</li>
<li>‘Projects in every part of the Midlands’ say transport bosses</li>
<li>Building on its strong partnership working by taking a ‘One Midlands’ approach to identifying the jobs, growth and investment needed in the region.</li>
</ul>
<p>The plan lays out the key challenges facing transport in the Midlands, including how a lack of mobility is holding back economic growth and productivity, how levelling up and social exclusion can be addressed with better accessibility, and the need to slash carbon emissions.&nbsp; The plan sets out where the region can come together and work as one to tackle some of these challenges.&nbsp;</p>
<p>The plan identifies requirements for major investment needed, from both the public and private sectors, in programmes for:</p>
<ul>
<li>Electric vehicle charging infrastructure;</li>
<li>Alternative fuels, including natural gas and hydrogen for HGVs;</li>
<li>Boosting mobility in rural areas;</li>
<li>Creating more space for passengers and freight on our rail network</li>
<li>A ‘tap and cap’ smart ticketing solution for passengers using buses, trams, bike hire and the rail network across the Midlands&nbsp;(similar to the system used in London)</li>
</ul>
<p>The document outlines the importance of new technologies in transport, with Midlands Connect committing to publish a ‘Transport Technology Route Map’ later this year which will provide guidance to Local Authorities and businesses on which technologies to invest in to provide the greatest benefits, while minimising risks.</p>
<p>The needs of the freight industry are a vital component of the plan, with an emphasis placed on both improving infrastructure to support the transport and logistics sector, as well as a focus on how public and private sectors can work together to ensure that the impacts of HGVs on our roads are best managed.</p>
<p>Midlands Connect has a clear directive from Government - to research, develop and recommend the most important transport investments – the projects we need to support a more productive, prosperous and sustainable Midlands. &nbsp;The plan has focused on what it believes to be the key projects for investment in the next 10-15 years on the road and rail networks, they are:</p>
<ul>
<li>Birmingham-Derby-Nottingham rail journey time improvement</li>
<li>M1 junction 28 improvements</li>
<li>A50/A500 Corridor Central Section (around Uttoxeter)</li>
<li>Nottingham-Lincoln rail journey time improvements</li>
<li>A1/A52 junction upgrade at Grantham</li>
<li>Coventry-Leicester-Nottingham new direct rail services and journey time improvements</li>
<li>A46 improvements at Syston</li>
<li>M1 improvements including Leicester Western Access and North Leicestershire extra capacity</li>
<li>A5/A426 Gibbet Hill Junction</li>
<li>A46 improvements between Stratford and Warwick</li>
<li>A46 improvements in Evesham area</li>
<li>Kings Norton area rail capacity improvements</li>
<li>Reinstatement of Snow Hill Station platform number 4 in Birmingham</li>
<li>Birmingham Motorway Box – safety and reliability improvements</li>
<li>A5 improvements between Hinckley and Tamworth</li>
<li>Birmingham-Black Country-Shrewsbury rail journey time improvement</li>
<li>M6 J15 improvements</li>
<li>Birmingham – Leicester rail journey time improvements</li>
</ul>
<p>These projects, if delivered in full, will help provide up to £1.9bn more in regional economic output per year by 2040 in the Midlands, rising to £4.1bn per year by 2061 and support ambitions for 334,000 additional jobs to be created in the Midlands.</p>
<p>The report is being launched today at the Exchange in Birmingham with Transport Minister Wendy Morton MP. The conference will also hear from the West Midlands Mayor Andy Street, Shadow Transport Secretary Louise Haigh MP, Alex Norris MP, Cllr Ben Bradley MP, Baroness Nicky Morgan and Lord Ravensdale amongst others. Other panellists come from Highways England, National Grid, The Sunday Times, CBI and East Midlands Airport.</p>
<p><strong>Commenting on the release of <em>Fairer, Greener, Stronger,</em> Midlands Connect Chair Sir John Peace said: </strong></p>
<p>“Our pledge to this region is simple – we will work behind the scenes to gather evidence, to make plans and bring forward their delivery. Most of all, we will not forget the people behind these plans, this grand vision is about giving the Midlands, its businesses and its communities the future they deserve. By working with our partners, playing to the region’s strengths and making a clear case for investment to Government, we can ensure that every single person in the region gets to where they need to be.”</p>
<p><strong>Commenting further, Midlands Connect CEO Maria Machancoses added:</strong></p>
<p>“This Strategic Transport Plan is focused on meeting the challenges we face as a region, seizing the opportunity to deliver a greener, fairer and stronger Midlands – one where communities are connected to the jobs, places and services they need to succeed. Our research has analysed how people travel, why they travel and where to, both now, and how this needs to change in future. These insights have led us to this plan, one that seeks investment and innovation in the places that need it most, whether it be improving rail services, boosting mobility in rural areas, future-proofing our road network or cementing the Midlands’ place at the forefront of the electric vehicle &amp; hydrogen revolution.</p>
<p>“This report outlines the schemes we think are needed in the short and medium term and as you can see there are projects in every part of the Midlands. As part of the report we also look at other projects and schemes we deem regionally important in road, rail and technological advancement. This plan lays out the priority projects for the Midlands in each of these areas.”</p>
<p><span class="pink"><strong>Midlands Connect’s rail priorities are:</strong></span></p>
<ul>
<li>Establishing a direct rail service between Coventry, Leicester and Nottingham</li>
<li>Delivering ‘early win’ journey time improvements on several corridors including the Birmingham-Shrewsbury, Birmingham - Nottingham and Nottingham-Lincoln routes</li>
<li>Delivering journey time improvements between Birmingham and Leicester in the short-term, whilst looking into longer-term provision of additional services.</li>
<li>Acceleration of Midlands Rail Hub schemes at Kings Norton and Snow Hill station</li>
<li>Continuing to develop business cases for larger infrastructure investment projects including Midlands Rail Hub</li>
<li>Improving connectivity between the Midlands and the North, feeding into Government’s consultation on the future of HS2’s Eastern Leg from the East Midlands to Leeds and beyond.</li>
</ul>
<p><span class="pink"><strong>Midlands Connect’s road priorities include:</strong></span></p>
<ul>
<li>Improvements to important east-west corridors including the A46, A5 and A50/500, developed with support from the wider Midlands Engine partnership, delivering on ambitions for increased global reach and trade, innovation, skills and infrastructure</li>
<li>Enhancing access to important junctions on the M1, M6 and M5 motorways</li>
<li>Assisting local councils to develop business cases for targeted investments on the major road network, particularly those that improve traffic flow and encourage integration with public transport and active travel modes such as walking and cycling</li>
<li>Shaping and informing the decisions made by Government as it chooses which schemes to progress as part of its Road Investment Strategy (RIS) 3, for delivery in 2025-2030</li>
</ul>
<p><span class="pink"><strong>Our technology and innovation priorities include:</strong></span></p>
<ul>
<li>Supporting the roll-out of public electric vehicle chargers across the Midlands region, with a commitment to publishing the first Midlands-wide Electric Vehicle (EV) charging infrastructure implementation plan.</li>
<li>Analysing how technology and improved 5G coverage can support connected and autonomous vehicles and provide in-driver information on the Major Road Network</li>
<li>Linking up businesses and local authorities to develop innovative new mobility solutions to improve connectivity in rural areas</li>
<li>Working with the Midlands Engine Energy Hub to identify infrastructure requirements and prioritise strategic sites to deliver a Midlands’ HGV Re-charging &amp; Refuelling Network</li>
<li>Establishing industry ‘centres of excellence’ where partners come together to share knowledge, collaborate and work together on new emerging technology areas or topics such as decarbonisation, freight and alternative fuels</li>
<li>Delivering a regional decarbonisation policy toolkit that will provide evidence to partners on the decarbonisation potential of various interventions and policies that could be used in their local transport and sustainability plans</li>
<li>Supporting partners in the take up of a region-wide smart ticketing platform, as developed for Transport for the West Midlands</li>
<li>Applying the 10% increase in biodiversity required for Nationally Significant Infrastructure Projects (NSIP) to all, smaller, transport projects</li>
<li>Creating a network resilience map to understand how transport, technology and energy generation interventions can work together to address climate change</li>
</ul>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-03-28T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1855/female-warehouse-worker-1.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Regional Transport body Midlands Connect is today (Monday) launching its Strategic Transport Plan for the Midlands entitled ‘Greener, Fairer, Stronger’ at its annual conference in Birmingham.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>