<?xml version="1.0" encoding="utf-8"?>
<Content Key="0bf68ff9-4159-4c71-9083-d10d231049a1" Alias="Mayor Backs Crackdown On Anti-Social Behaviour Aboard Buses" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/MayorBacksCrackdownOnAntiSocialBehaviourAboardBuses</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Mayor Backs Crackdown On Anti-Social Behaviour Aboard Buses" />
    <SortOrder>65</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p>Mayor of the West Midlands Andy Street today (Tuesday October 30) backed a crackdown on anti-social behaviour aboard the region’s buses.</p>
<p>His call for a zero tolerance approach comes as police and bus crews step up operations for ‘Mischief Fortnight’ – the annual spike in nuisance behaviour around Halloween and Bonfire Night.</p>
<p>The Mayor joined Safer Travel officers in an anti-social behaviour operation in central Birmingham – one of dozens being staged over the fortnight.</p>
<p>The Safer Travel Partnership, which was launched in 2006 and includes West Midlands Police, British Transport Police and Transport for West Midlands (TfWM), has helped cut crime on the network by 70% over the last eight years. There is now just one offence in every 60,000 bus journeys.</p>
<p>But the Mayor said: &ldquo;While crime on the buses is actually low, witnessing anti-social behaviour can undermine people’s sense of security and that can lead to an unfounded fear of crime.</p>
<p>&ldquo;The result is that some people choose not to go by bus and that means more congestion and pollution.</p>
<p>&ldquo;No one, neither staff nor passengers, should have to put up with bad behaviour which is why officers and bus inspectors will be operating a zero tolerance approach, taking firm and effective action whenever they encounter it.&rdquo;</p>
<p>Last year saw reported incidents of anti-social behaviour double on the bus network in the two weeks around Halloween and Bonfire Night.</p>
<p>Action against culprits can range from warning letters to Acceptable Behaviour Contracts and even civil injunctions which can see offenders banned from the bus network.</p>
<p>Safer Travel Inspector Rachel Crump said the partnership’s policing teams were working alongside West Midlands Police, British Transport Police and other partners to tackle anti-social behaviour throughout Mischief Fortnight, focussing on hot spots identified by intelligence information.</p>
<p>&ldquo;We are not out to spoil the festive fun,&rdquo; she said. &ldquo;We are simply asking people to be mindful of their surroundings and think ‘would they like their family members to be subject to such behaviour?’</p>
<p>&ldquo;But there is an issue at this time of year and with the nights getting dark early which is why we use a number of tactical options including plain clothes operations.&rdquo;</p>
<p>Inspector Crump said the team also had access to more than 1,400 CCTV cameras, staffed 24/7 to identify and respond to incidents in bus, rail and Metro stations.</p>
<p>In addition, National Express West Midlands, the region’s biggest bus operator, has up to 12 separate cameras on-board its buses and some have 4G Vemotion CCTV units installed, helping Safer Travel officers to target anti-social behaviour in real-time.</p>
<p>Footage recorded by the on-bus Vemotion cameras is sent over the 4G network where feeds can be viewed live, meaning police can stop the bus and quickly act upon any anti-social behaviour.</p>
<p>Tom Stables, managing director of National Express West Midlands, said: &ldquo;The safety of our customers and our staff is our top priority and we will not tolerate crime and anti-social behaviour on our network.</p>
<p>&ldquo;The most recent Transport Focus bus passenger survey results show that 79% of people say they feel secure catching the bus. Millions of journeys are made safely every day but unfortunately this is tainted by the actions of a few people.</p>
<p>&ldquo;As part of the Safer Travel Partnership, we work closely with the Safer Travel team to tackle crime and anti-social behaviour on the bus network.</p>
<p>&ldquo;And our CCTV footage of anti-social behaviour and crime has already brought a 75% success rate in identifying offenders.&rdquo;</p>
<p>Research by the Department for Transport suggests there would be an increase in public transport use of more than 11 per cent if people felt safer.</p>
<p>With four out of every five public transport journeys in the West Midlands being made by bus – more than 257 million a year – any increase in people’s sense of security could lead to hundreds of thousands more journeys.</p>
<p>Passengers should always dial 999 if there is an urgent crime or an emergency. But they can also use the Safer Travel Partnership’s See Something, Say Something service to report any non-emergency incidents of anti-social behaviour.</p>
<p>The reports help to build intelligence data which assists Safer Travel officers with pinpointing particular hotspots to target</p>
<p>The See Something, Say Something service provides the travelling public with a discreet way to report nuisance and anti-social behaviour on the bus network.</p>
<p>Passengers should text 'bus' then details of the anti-social behaviour including time, date, location and route number to 83010.</p>
<p>Alternatively passengers can download the free 'See Something, Say Something' phone app, or report incidents via the website <a href="http://www.safertravel.info/">www.safertravel.info</a></p>
<div class="row">
<div class="col-md-12"><img src="/st/media/1074/image-st-1.jpg" alt="">
<p>(l-r) Tony Dallison, National Express head of security UK bus and coach, Safer Travel Inspector Rachel Crump and Mayor of the West Midlands Andy Street ahead of an operation to counter anti-social behaviour on buses</p>
</div>
<div class="col-md-12"><img src="/st/media/1076/image-st2.jpg" alt="">
<p>(l-r) Sgt. Nicola Mallaber of the Safer Travel Team, Tony Dallison, National Express’ head of security UK bus and coach, PCSO Andy Pope of the Safer Travel Team, Mayor of the West Midlands Andy Street and Safer Travel Inspector Rachel Crump ahead of an operation to counter anti-social behaviour on buses</p>
</div>
<div class="col-md-12"><img src="/st/media/1075/image-st-3.jpg" alt="">
<p>Safer Travel Inspector Rachel Crump (left) and Mayor of the West Midlands Andy Street encourage bus passengers to report incidents of anti-social behaviour during an operation in Birmingham</p>
</div>
</div>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>