<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa208b52-daaf-4626-9083-f0cf19e5085d" Alias="Mayor Welcomes Jailing Of Man After Spate Of Thefts (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MayorWelcomesJailingOfManAfterSpateOfThefts1</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Mayor Welcomes Jailing Of Man After Spate Of Thefts (1)" />
    <SortOrder>160</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    

<p>Mayor of the West Midlands Andy Street has welcomed the jailing of a man who carried out a series of thefts on West Midlands buses.</p>

<p>35-year-old Daniel Nicholls stole from a number of buses across Walsall and Wolverhampton. However, during an attempted robbery on 9th July 2018, two brave bus passengers held the thief while the bus driver called the police.</p>

<p>National Express West Midlands provided CCTV evidence to West Midlands Police which helped link Nicholls to a string of similar thefts and attempted thefts during June and July last year.</p>

<p>At Wolverhampton Crown Court, Nicholls, who has previous convictions including 76 offences, was sentenced to four years and four months in prison.</p>

<p>Mayor of the West Midlands Andy Street said:</p>

<p>&ldquo;Targeting and stealing from our region’s buses in this way is disgraceful. The cost of these crimes is not just stolen cash but also the cost of taking these buses off the road for repair too.</p>

<p>&ldquo;I am glad that when these crimes do occur the justice system sends out the message that it will not be tolerated. My thanks go to those brave passengers, West Midlands Police and National Express West Midlands for their excellent teamwork in this case.&rdquo;</p>

<p>David Bradford, Managing Director of National Express West Midlands, said:</p>

<p>&ldquo;We welcome this sentencing, which gives a clear message that we will work closely with the police and bring to justice anybody who commits crime onboard our buses.</p>

<p>&ldquo;All of our buses since 2012 have been fitted with up to 12 next-generation digital CCTV units which give crystal-clear pictures.</p>

<p>&ldquo;By using these state-of-the-art cameras and working closely with the police in the Safer Travel Partnership, we have achieved a 75% success rate in identifying the offenders responsible for crime and anti-social behaviour on our buses.&rdquo;</p>

<p>The Safer Travel team works closely with West Midlands Police, Transport for West Midlands and bus operators including National Express, to tackle crime and anti-social behaviour on the public transport network. Tactics include tip-offs from the public and targeted uniformed and undercover patrols on known hot-spots or routes.</p>

<p>Inspector Rachel Crump, from Safer Travel Police, said:</p>

<p>&ldquo;This is an excellent result and we're grateful to those that helped in the lead up to the arrest of the offender.</p>

<p>"Passengers should always dial 999 if there is an urgent crime or an emergency but they can also use the Safer Travel Partnership’s See Something, Say Something text service on 83010 to report any non-emergency incidents of anti-social behaviour on National Express West Midlands buses.</p>

<p>"The public may not always see the results of what we do but we are always working hard behind the scenes to keep public transport safe.</p>

<p>&ldquo;The reports we receive through our See Something Say Something service help to build intelligence data which assists officers with pinpointing which particular hotspots to target."</p>

<p>The See Something Say Something service provides the travelling public with a discreet way to report nuisance and anti-social behaviour on the bus network.</p>

<p>Passengers should text 'bus' then details of the anti-social behaviour including time, date, location and route number to 83010. Alternatively passengers can download the free 'See Something, Say Something' phone app, or by report incidents via the website <a href="http://www.safertravel.info/">www.safertravel.info</a>.</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>