<?xml version="1.0" encoding="utf-8"?>
<Content Key="44c3c86b-e8ae-4eec-aae9-daacab619c80" Alias="Midlands Connect and Transport for the North Sign Landmark Agreement" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectAndTransportForTheNorthSignLandmarkAgreement</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-09-28T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect and Transport for the North Sign Landmark Agreement" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Sub-national Transport Bodies Midlands Connect and Transport for the North have signed a landmark Memorandum of Understanding (MoU), committing them to working together more closely towards a mutual vision for rebalancing the UK economy through sustainable transport improvements. </strong></p>
<p>The agreement includes a pledge to establish a <strong>Midlands Connect–Transport for the North Rail Forum</strong>. Senior officers will work together on areas of common interest and shared opportunity, including the future development of the East Coast and West Coast main lines, HS2 Phase 2a and 2b, and work being undertaken by Growth Track 360 in North Wales and Cheshire and the Constellation Partnership in Staffordshire and Cheshire. The forum is expected to meet on a quarterly basis.</p>
<p>The MoU also pledges more collaboration on other areas of common interest, including:</p>
<ul>
<li>Sharing ideas on policy development and long term funding of Sub-national Transport Bodies and their investment priorities;</li>
<li>Investment in, development, and management of a Major Road Network;</li>
<li>Rail services that operate across area boundaries, especially franchises that cover the Rail North Partnership geography;</li>
<li>Sharing experience, knowledge and ideas on the development of Integrated and Smart Ticketing;</li>
<li>Transport planning, modelling and appraisal;</li>
<li>Joint approaches to the promotion of a sustainable strategic transport system, including through support for low carbon vehicles and new technologies, such as connected and autonomous vehicles (CAVs);</li>
<li>Sharing views on the implementation of legislation and polices relevant to transport and the organisations’ common sustainable economic goals; and</li>
<li>Sharing experience, knowledge and ideas on the development and implementation of a long-term transport strategy.</li>
</ul>
<p><strong>Midlands Connect’s Maria Machancoses said: </strong></p>
<p>“The Midlands and the North share many common aspirations: we are both innovative and ambitious regions that recognise how critical transport investment is to rebalancing the UK economy and supporting productivity and prosperity in the long term. What improves connectivity in the Midlands will inevitably help the North to grow as well, and vice versa. That’s why this agreement is so important.</p>
<p>“I’m particularly excited by the establishment of a Midlands Connect–Transport for the North Rail Forum, which will help us ensure our Midlands Rail Hub proposals align with the development of both HS2 and Northern Powerhouse Rail. As we work with the Government and partners towards becoming a statutory STB, we can learn a lot from Transport for the North’s experience in gaining statutory status earlier this year. I look forward to working together even more closely as we strive to rebalance the British economy.”</p>
<p><strong>Barry White, Chief Executive, Transport for the North said: </strong></p>
<p>“I’m delighted to have signed the Memorandum of Understanding with Midlands Connect. It shows that while our remit is the North, if we are to truly rebalance the UK economy we need to look past geographical boundaries. We need to make end-to-end journeys the best they can be, regardless of where that journey may start and finish.</p>
<p>“What’s clear is that we we aren’t looking at transport for transport’s sake – it’s about how we can use transport to grow our respective regions, drive innovation and create a better quality of life for this and future generations.</p>
<p>“We became England’s first Sub-national Transport Body earlier this year, which was a tremendous achievement and we are keen to help Midlands Connect as best we can on their journey to statutory status.”</p>
<p>Transport for the North was granted statutory Sub-national Transport Body status in April 2018; Midlands Connect is working towards statutory status by 2020. As part of the Memorandum of Understanding between the two organisations, officers will meet on a regular basis to discuss areas of mutual interest and concern.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-09-28T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            The Memorandum of Understanding commits the Sub-national Transport Bodies to working more closely together, including a new Joint Rail Forum.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>