<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcd429c5-ae61-4c9e-b5ad-b36ffda1517a" Alias="Midlands Connect reacts to introduction of HS2 Phase 2b Western Leg Bill in Parliament" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectReactsToIntroductionOfHS2Phase2bWesternLegBillInParliament</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-01-24T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect reacts to introduction of HS2 Phase 2b Western Leg Bill in Parliament" />
    <SortOrder>111</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Commenting on news that a Bill for the Western Leg of Phase 2b of HS2 will be laid in parliament today, Maria Machancoses CEO of Midlands Connect said:</p>
<p><br>“This is another watershed moment in the future of our high speed railway. This extension of HS2 from London and Birmingham to Manchester will give the West Midlands and North West the fast, reliable rail connectivity these regions so desperately need. What’s important now is that we seize upon this momentum to accelerate the job creation, investment and regeneration that makes this investment so transformative.</p>
<p><br>“While it’s great news that the Western Leg of HS2 is moving forward with pace, the Eastern Leg of HS2 from the Midlands to Yorkshire and the North East is still vitally important. We’re working with Government to feed into its study into how to best connect these areas and in the meantime are keen that a Bill is introduced to speed the delivery of the network between Birmingham and the East Midlands, as outlined in Government’s Integrated Rail Plan.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-01-24T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1743/maria-machancoses-1.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>