<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b13732d-eacd-40e8-948a-8e58d15836a2" Alias="Midlands Connect Director nominated for national transport award" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectDirectorNominatedForNationalTransportAward</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-05-16T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect Director nominated for national transport award" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Maria is one of the finalists in the Infrastructure category, recognising exceptional leaders who are demonstrating how they are improving road or rail infrastructure. She joins 35 other inspirational nominees from companies including Royal Mail, Transport for London and Asda. The awards programme, now in its eleventh year, celebrate the achievements of phenomenal women reshaping the UK’s transport and logistics industry.</p>
<p>After 20 years working in the UK transport industry, Maria Machancoses is the founding Director of Midlands Connect - which published its landmark 25 year strategy to transform transport and infrastructure in the region last year. She has also previously been a Director of the Midlands Engine and has held senior positions in local government including the West Midlands Combined Authority where she led its input into the landmark HS2 Hybrid Bill.</p>
<p><strong>Commenting on being named a finalist, Midlands Connect Director Maria Machancoses said:</strong></p>
<p>“To be recognised by an organisation that champions women in the transport industry so tirelessly is a great honour. I’ve spent the last 20 years working in transport proving that gender doesn’t have to hold women back.</p>
<p>“Women are still underrepresented in the industry and it is down to all of us working in transport and logistics to create a more level playing field where talent and determination, and not gender, are what drives the industry forward. Awards programmes like this one are doing a great job of highlighting the brilliant work my female peers are doing and I can’t wait to celebrate their achievements with them.”</p>
<p><strong>Maxine Benson, Co-Founder of everywoman</strong>&nbsp;said:</p>
<p>“This year’s judging panel has selected an exceptionally impressive cohort of role models working in transport and logistics – all making valuable contributions through their innovation, mentorship and leadership.&nbsp;They are shifting perceptions of the opportunities this industry offers and will inspire the next generation of talent who may have never considered a career in the sector, to view it as an exciting option.”</p>
<p><strong>David Wells</strong>, Chief Executive of<strong>&nbsp;FTA&nbsp;</strong>adds, “The logistics industry is key to the success of UK PLC, employing more than 2.54 million people and ensuring our country is able to trade successfully both domestically and internationally.&nbsp; As the only membership organisation representing the entire logistics sector, FTA is delighted to support the FTA everywoman in Transport &amp; Logistics Awards once again, to pay tribute to the incredibly talented women working right across the sector.</p>
<p>In such economically challenging times, it is vital that the sector continues to attract the very best talent, by celebrating successful individuals of all ages and showcasing aspirational role models.&nbsp; Our finalists certainly fit the bill.”</p>
<p>&nbsp;</p>
<p>More information about the awards and finalists can be found at <a href="http://www.everywoman.com/tlawards">www.everywoman.com/tlawards</a>. The winners will be announced at an awards ceremony on Thursday 14 June at Marriott Grosvenor Square in London.</p>
<p>-ENDS-</p>
<p><strong>For media enquiries, please contact James Bovill on jamesbovill@midlandsconnect.uk / 0121 214 7944</strong></p>
<p>Notes to Editors</p>
<p>Midlands Connect, in collaboration with central Government, is a pan-regional partnership of 22 local authorities, 9 Local Enterprise Partnerships, chambers of commerce and our main airports, alongside Highways England, Network Rail and HS2 Ltd. The partnership covers an area from the Welsh border to the Lincolnshire coast, serving a population of more than 10 million people. Together, the Midlands Connect Partnership and the Department for Transport have developed a landmark, 25 year transport strategy that identifies&nbsp;the major infrastructure projects needed to improve the connectivity&nbsp;of&nbsp;our&nbsp;region’s key locations so we can help drive economic growth&nbsp;and power the Midlands Engine.</p>
<p>The Midlands Connect Strategy can be downloaded <a data-udi="umb://document/517feb6b2b5b4d339ddf2a4e0ce6413e" href="/publications/" title="Publications">here</a>.</p>
<p>As the transport pillar of Midlands Engine, Midlands Connect is contributing to achieving our ambition to add £54 billion to the Midlands and UK economies by 2030, powering post-Brexit growth, not just for the benefit of the Midlands but for the whole UK.</p>
<p>The Midlands Engine Vision for Growth can be downloaded here:<a href="https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf">https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-05-16T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            Maria Machancoses, the Director of pan-regional transport partnership Midlands Connect, has been shortlisted in the 2018 FTA everywoman in Transport & Logistics Awards, celebrating the achievements of phenomenal women reshaping the UK's transport and logistics industry.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>