<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe2cc827-ff95-4b34-b1c4-5659f6a5c2f6" Alias="Midlands Connect responds to government's rail strategy" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectRespondsToGovernmentsRailStrategy</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:11</CreateDate>
    <NodeName Default="Midlands Connect responds to government's rail strategy" />
    <SortOrder>19</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>