<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbf31838-9d1b-4a01-ba64-724a8e38f246" Alias="Midlands Engine Rail plans to provide step change in connectivity to Coventry and Birmingham International railway stations" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsEngineRailPlansToProvideStepChangeInConnectivityToCoventryAndBirminghamInternationalRailwayStations</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2020-07-15T00:00:00</CreateDate>
    <NodeName Default="Midlands Engine Rail plans to provide step change in connectivity to Coventry and Birmingham International railway stations" />
    <SortOrder>76</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>
<p><strong>Investment in infrastructure central to region’s economic renewal post COVID-19</strong></p>
</li>
<li>
<p><strong>New services would connect 2.2million more people to Birmingham International and Coventry by direct rail link, including those travelling from Derby, Sheffield, York &amp; Newcastle </strong></p>
</li>
<li>
<p><strong>Connections to Leamington, Banbury, Oxford and Reading doubled to twice per hour</strong></p>
</li>
<li>
<p><strong>Will reduce congestion for commuters on busy Birmingham to Coventry corridor</strong></p>
</li>
<li>
<p><strong>Work could start as early as 2024</strong></p>
</li>
<li>
<p><strong>Cost of scheme estimated to be between £125million and £180million</strong></p>
</li>
<li>
<p><strong>Outline Business Case submitted to Department for Transport by Midlands Connect, with £20m request to develop detailed plans, designs and final costings. </strong></p>
</li>
</ul>
<p><strong>More than two million people will have access to new, direct rail services to Birmingham International and Coventry stations for the first time, as part of plans submitted to the Government. </strong></p>
<p>The project is central to fulfilling the Government’s levelling-up agenda, aiding the region’s economic recovery following the COVID-19 pandemic by supporting enterprise, development and regeneration across a number of important growth sites across the West Midlands.</p>
<p>The ‘Birmingham Airport Connectivity’ rail improvement scheme, developed by Sub-national Transport Body Midlands Connect, will open up new, hourly direct connections to Birmingham International and Coventry railway stations for 2.2 million people living in and around Derby, Sheffield, Doncaster, York, Darlington, Durham and Newcastle.</p>
<p>The project, one of seven schemes that makes up the £3.5 billion Midlands Engine Rail programme, will also double the number of services to Birmingham International and Coventry from Leamington Spa, Banbury, Oxford and Reading from one to two trains per hour, and introduce new direct services between Birmingham Moor Street, Solihull, Warwick Parkway and Oxford.</p>
<p>These enhancements are made possible by double tracking sections of the railway between Leamington, Kenilworth and Coventry, as well as utilising the additional network capacity created by HS2.</p>
<p>The benefits of these improvements would also be felt by local people and commuters travelling on the Coventry to Birmingham rail corridor, one of the busiest in Europe, by reducing overcrowding and congestion.</p>
<p>It is estimated that the scheme will cost in the region of £125 million to £180 million, while construction could begin as early as 2024. Once double tracking is completed, an additional service each hour to Birmingham International and Coventry from Oxford, Banbury and Leamington could be introduced straight away.</p>
<p>After Phase One of HS2 is completed, the additional capacity created on the network will allow the introduction of direct services to Birmingham Airport and Coventry to and from Derby, Sheffield, Doncaster, York, Darlington, Durham and Newcastle.</p>
<p>Providing access to over 150 destinations worldwide via Birmingham Airport, Birmingham International station is on the doorstep of a number of nationally-significant assets including the National Exhibition Centre, Resorts World, Birmingham Business Park and Jaguar Land Rover’s Solihull plant.</p>
<p>The arrival of High Speed Two (HS2) at the nearby Interchange station, which will be connected to Birmingham International via an automated people mover, is catalysing extensive development and regeneration in the surrounding area. To realise the full benefits of this transformational opportunity, the Urban Growth Company (UGC), set up by Solihull Council, is leading infrastructure investment across the wider ‘UK Central Hub’ area which also includes the 140 hectare Arden Cross site, supporting up to 5,000 new homes, 650,000 square metres of commercial space and 70,000 new and existing jobs, generating £6.2bn GVA every year once development is complete.</p>
<p>Midlands Connect has submitted an Outline Business Case for the Birmingham Airport Connectivity scheme to the Department for Transport (DfT), produced in partnership with Network Rail, with an immediate request for £20million in government funding to develop detailed designs, planning and final costings.</p>
<p>Midlands Connect and West Midlands Rail Executive are also looking at further works on the corridor that will allow additional local and freight services to operate.</p>
<p><strong>Sir John Peace, chairman of Midlands Connect, said:</strong></p>
<p>“As we work to recover from the economic impacts of COVID-19; embarking on an ambitious and successful path post Brexit, our international connections and relationships with other UK regions will become more important than ever. Providing a step change in rail connectivity to the city of Coventry and Birmingham International railway station, our proposals will enhance access to Birmingham Airport, the West Midlands’ gateway to the world, as well as the nearby NEC, Resorts World and Jaguar Land Rover.</p>
<p>“Integrating these upgrades into the existing network, with the arrival of HS2 at the adjacent Interchange station, will generate unparalleled investment and growth, creating jobs, thousands of new homes and more places to work, live and relax. Our proposals will benefit workers, residents and travellers, bringing two million more people to within a direct rail journey of these exciting destinations.”</p>
<p><strong>Nick Barton, CEO of Birmingham Airport, said:</strong></p>
<p>“Enhanced rail connectivity to and from our regional cities and towns is crucial for our airport customers and employees, and supports our rail modal share target of 25.5% by the year 2023. Investing in infrastructure is now even more important than ever to help stimulate the economic recovery following the pandemic. We look forward to working with our partners to plan for the future and connect the regions by rail and air once again.”</p>
<p><strong>Councillor George Duggins, leader of Coventry City Council, said:</strong></p>
<p>“There’s no doubt that Coventry as a business and leisure destination has a huge amount to offer. This project will create direct rail links between Coventry and the cities of Derby, Sheffield, York and Newcastle, linking over two million more people to the city’s sports venues, museums, workplaces and tourism hotspots, many of which will receive global recognition next year during our UK City of Culture celebrations. &nbsp;The scheme will also deliver major long term benefits for local rail users.&nbsp; To build on our 2021 legacy, and as we move towards a carbon-zero economy and bounce back from the economic impacts of COVID-19, it is vital that these improvements go ahead.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-07-15T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1709/bac-report-front-cover.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>