<?xml version="1.0" encoding="utf-8"?>
<Content Key="d43ba5f0-37a7-491b-b9f1-278bfce7e420" Alias="Midlands Connect Calls on Chancellor to Commit to Deliver Midlands Rail Hub" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectCallsOnChancellorToCommitToDeliverMidlandsRailHub</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:12</CreateDate>
    <NodeName Default="Midlands Connect Calls on Chancellor to Commit to Deliver Midlands Rail Hub" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li><strong>Long-term commitment sought to start delivering first phase of the Midlands Rail Hub, to allow faster, more frequent train services between the East and West Midlands, boosting the economy by £649 million a year </strong></li>
<li><strong>Call for support to roll out smart ticketing on public transport throughout the Midlands in time for the 2022 Commonwealth Games in Birmingham </strong></li>
<li><strong>Plan to establish a Major Road Network Development Fund to make sure up to £1 billion a year national funding pot benefits the Midlands</strong></li>
</ul>
<p>Ahead of the Chancellor of the Exchequer Philip Hammond’s speech to the Conservative Party Conference in Birmingham on Monday (1<sup>st</sup> October), Sub-national Transport Body Midlands Connect has written to the Treasury with an ambitious, yet deliverable set of asks to develop and start to deliver a long term transport strategy that benefits road and rail users across the region and grows the economy.</p>
<p><strong>The letter asks the government to, in principle, commit to start delivering the Midlands Rail Hub</strong>. The project is Midlands Connect’s flagship scheme to introduce faster, more frequent rail services for passengers and freight, bringing cities and towns in the East and West Midlands closer together with the potential to boost the economy by £649 million a year.</p>
<p>A commitment from government would allow the first phases of the Midlands Rail Hub to be delivered alongside partners including Network Rail and West Midlands Rail Executive. <strong>The long-term aim is to deliver 24 extra passenger trains per hour, benefiting cities including Birmingham, Derby, Nottingham, Leicester, Coventry, Hereford and Worcester.</strong> Investment would also significantly improve journey times, and introduce 36 new freight paths with the potential to shift the equivalent of 4,320 lorries from road to rail every day.</p>
<p>Midlands Connect is also calling for additional funding to develop the business case for reinstating direct rail services between Coventry and Leicester, with plans to introduce 2 trains per hour and a journey time of less than 40 minutes.</p>
<p><strong>The request also includes the roll out of region-wide smart ticketing on public transport in time for the 2022 Commonwealth Games in Birmingham</strong>, with a vision to provide a single-ticket option for public transport across the Midlands, using contactless bank cards, smartcards or smart devices linked to a single bank account. Midlands Connect is working with the industry and local transport authorities like Transport for West Midlands on a vision to develop and deliver the technology to make it happen.</p>
<p>There are also funding requests for a <strong>Major Road Network Development Fund</strong>, giving the Midlands more of a say over where up to £1 billion a year of new government funding for road improvements is spent in our region, and a wider <strong>Back the Midlands Development Fund, </strong>to make sure regional evidence informs all nationally funded transport schemes.</p>
<p><strong>Midland Connect’s Maria Machancoses said: </strong></p>
<p>“The Midlands is thriving, but to make the most of our strengths we need to raise the bar, and a long-term commitment to increased transport and infrastructure investment can help the region achieve its potential. We’re proposing an ambitious yet deliverable set of asks of the government that improves the lives of all Midlanders and benefits the national economy, too.</p>
<p>“The Midlands Rail Hub is central to this aim. There is region-wide support for improving historically slow and infrequent services between the East and West Midlands. That is why we’re asking for a commitment to delivering it that allows us to work with regional and national bodies to get the work started as soon as possible.</p>
<p>“Our proposals send a clear message to government that Midlands projects can benefit the nation, but we also want to make sure that national projects have the maximum benefit for the Midlands. We need the continued support of government to make our vision a reality and, after working closely with Whitehall for several years already, I am confident that together we can achieve great things for the Midlands.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-09-30T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            It comes as part of an "ambitious, but deliverable" transport vision for the region
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>