<?xml version="1.0" encoding="utf-8"?>
<Content Key="6aa2517a-6f7c-4482-8750-41c388548784" Alias="Midlands Rail Hub: 'biggest step possible in levelling-up the Midlands’" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsRailHubBiggestStepPossibleInLevellingUpTheMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-12-05T00:00:00</CreateDate>
    <NodeName Default="Midlands Rail Hub: 'biggest step possible in levelling-up the Midlands’" />
    <SortOrder>141</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li><strong>Midlands Rail Hub plans, announced by Midlands Connect today, outlines up to £1.5 billion of new and improved infrastructure, to be completed between 2025-2030</strong></li>
<li><strong>Plans make space for up to over a hundred additional trains on the network every day to locations like – Birmingham, Bromsgrove, Nuneaton, Worcester, Hereford, Great Malvern, Bristol, Gloucester, Cardiff, Cheltenham &amp; Leicester</strong></li>
<li><strong>Will cut journey times for thousands of commuters - between Birmingham and Hereford journeys will be slashed by up to 13 minutes </strong></li>
<li><strong>Proposals improve access to high-speed services at HS2 at Birmingham Curzon Street</strong></li>
<li><strong>Improvements to the Cross-city Birmingham line would enable trains to arrive every ten minutes </strong></li>
</ul>
<p><strong>Faster and more frequent train services are on the cards for up to forty-three communities, towns and cities throughout the region as part of a massive package of improvements to transform east-west connections in the Midlands. </strong></p>
<p>The proposals, announced today (Monday), will reduce journey times, increasing rail journeys and supercharge the economy by bringing the East and West Midlands closer together.&nbsp;</p>
<p>Midlands Connect believe that this would create over 14.6 million more seats on the railway every year and will enhance access to HS2 for 1.6 million more people. It will also help safeguard 1,600 well-paid jobs in the construction industry.</p>
<p>Analysis also shows for every £1 spent on the project will deliver over £1.50 in benefits including faster journey times and benefits to the wider economy.</p>
<p>The plans will be launched today in Birmingham, bringing together politicians like West Midlands Mayor and chair of the West Midlands Rail Executive Andy Street, Preet Kaur Gill MP, Deputy City Mayor of Leicester Cllr Adam Clarke, councils and business leaders to all back the ambitious proposals.</p>
<p>The plan, entitled <em>‘Going for Growth’</em> proposes to build two chords as well as 11 further engineering interventions throughout the region to deliver a massive step change in rail transport in the Midlands. The biggest engineering proposals are between Bordesley and Moor Street, called the West Chord, allowing access to Birmingham Moor Street from South-West and Wales, and making sure services are improved on the Hereford and Worcester corridors. The project’s second chord is called the East Chord. This creates an access to Birmingham Moor Street from the East Midlands.</p>
<p>Other plans for engineering upgrades include: Snow Hill platform 4, Moor Street platform 5, improvements around Kings Norton-Barnt Green, Stoke Works junction, a Malvern Wells turnback facility, Ledbury – Shelwick partial double-tracking, Moor Street platforms A &amp; B (east side), Bordesley viaduct widening, Water Orton remodelling, Nuneaton to Wigston signalling headways and freight loops between Nuneaton and Leicester.</p>
<p>The improvements will make space for up to ten extra trains per hour in and out of Birmingham. This means that passengers will see up to one hundred extra trains on the rail network in the Midlands every single day.</p>
<p>If funded by the Government, this would all will deliver a series of major benefits for passengers, commuters and businesses.</p>
<p><strong>The pan-regional benefits for the Midlands are: </strong></p>
<ul>
<li>An additional train per hour between Birmingham and Bristol</li>
<li>An additional train per hour between Birmingham and Cardiff via Gloucester stopping at Worcestershire Parkway</li>
<li>An additional train per hour between Birmingham and Hereford via Worcester. The service will also stop at Bromsgrove, Great Malvern &amp; Droitwich &amp; Great Malvern .&nbsp;</li>
<li>An additional fast train per hour between Leicester and Birmingham, stopping at Nuneaton.</li>
<li>An additional slow train per hour between Leicester and Birmingham. The service will stop at Coleshill Parkway, Nuneaton, Hinckley, Narborough &amp; South Wigston</li>
</ul>
<p><strong>The Midlands Rail Hub will also enable a raft of local improvements including: </strong></p>
<ul>
<li>One extra train per hour from Redditch to Lichfield Trent Valley stopping at Alvechurch, Barnt Green, Longbridge, Northfield, Kings Norton, Bourneville, Selly Oak, University, Five Ways, Birmingham New Street, Duddeston, Aston, Gravelly Hill, University, Chester Road, Wylde Green, Sutton Coldfield, Four Oaks, Butlers Lane Blake Street, Shenstone, Lichfield City</li>
<li>One extra train per hour from Bromsgrove to Lichfield Trent Valley stopping at Barnt Green and the stations outlined by the service above. Together with the service above this means the Cross City Line runs at six-trains per hour.</li>
<li>Rerouting of the imminent two trains per hour from Kings Norton to Birmingham New Street (Camp Hill) service to instead run to Moor Street.</li>
</ul>
<p>The plans, have been submitted to the government by Sub-national Transport Body Midlands Connect, in partnership with Network Rail and with the backing of 47 partner organisations including West Midlands Combined Authority, local authorities, LEPs, chambers of commerce, HS2 and East Midlands Airport.&nbsp;</p>
<p>With the submission of the Outline Business Case, Midlands Connect now hope for funding for the Full Business Case to make the project ready for delivery.</p>
<p><strong>Commenting on the report, Sir John Peace, Chairman of Midlands Connect said: </strong></p>
<p>"This is a truly momentous occasion for us, we are proud to unveil this detailed plan for infrastructure changes which will transform our region.&nbsp;</p>
<p>"We know the project has the backing of the businesses, communities and political leaders in the Midlands, and we stand ready to kickstart its delivery and get spades in the ground.</p>
<p>"The Midlands Rail Hub will significantly impact the future of travel for generations to come."</p>
<p><strong>Andy Street, Mayor of the West Midlands and chair of the West Midlands Rail Executive, said:</strong></p>
<p>“Midlands Rail Hub is a game changing scheme for our region. The benefits it can bring to local people and businesses are many – whether it’s connecting millions more people to the HS2 network; creating space for more local journeys, stations, and rail lines; or opening faster and more frequent rail links for commuters as well as business and leisure travellers.</p>
<p>“The Midlands Rail Hub will also enable a raft of local improvements including restoration of the full six train per hour service on Birmingham’s Cross City Line, faster journeys into Birmingham from the new Camp Hill line stations at Moseley Village, Kings Heath, and Pineapple Road.&nbsp;</p>
<p>“And crucially, Midlands Rail Hub provides the additional rail network capacity that will be required to support further expansion of the regional rail network including new stations and new services on routes such as the Sutton Park Line.</p>
<p>“As we bounce back from Covid, Midlands Rail Hub will support our recovery by unlocking the bottleneck at Birmingham New Street to improve local services, whilst also better connecting the East and West Midlands. All of this helps open access to opportunities right across the Midlands and supports thousands of jobs during a critical period for our region.</p>
<p>“When the West Midlands succeeds, the country succeeds, and the sooner Government enables us to start delivering this project the sooner our local residents will experience the plethora of benefits to come.”</p>
<p><strong>Sir Peter Soulsby Chair of Transport for the East Midlands &amp; City Mayor of Leicester added:</strong></p>
<p>“Leicester is a thriving and rapidly growing city, but we need better connectivity by rail to realise the city’s economic potential.</p>
<p>“The Midlands Rail Hub will double the rail service between Leicester and Birmingham and ensure the city is connected to both New Street and Moor Steet stations.&nbsp; This will provide onward connectivity to Wales and the South West, as well as easy access to HS2 Services at Curzon Street.</p>
<p>“We expect that that HS2 East will transform connectivity between Birmingham, Derby and Nottingham by the 2040s.&nbsp; In the meantime, the Midlands Rail Hub will preserve onward connectivity for existing services from Birmingham New Street to the West Midlands, Wales and the West Country.”</p>
<p><a href="/publications/">Read a summary of the Business Case here.</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-12-05T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1906/midlands-rail-hub-photos-achknowledge-platform-art-railway-photograph-by-adrian-hart-3-2.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Midlands Rail Hub: More rail services for region as part of upgrade package dubbed ‘biggest step possible in levelling-up the Midlands’
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>