<?xml version="1.0" encoding="utf-8"?>
<Content Key="d13f409f-ba9f-486e-8895-3914402a908a" Alias="Midlands councils in electric vehicle charging boost" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsCouncilsInElectricVehicleChargingBoost</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:33</CreateDate>
    <NodeName Default="Midlands councils in electric vehicle charging boost" />
    <SortOrder>123</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>The tool, which has been developed for local authorities across the Midlands, analyses data about local residents, their lives and behaviours to pinpoint sites where new chargers should be located.</p>
<p>The factors examined include how likely local people are to make the switch to an electric vehicle, accessibility to public transport, current electric vehicle uptake, levels of deprivation and the proportion of households with no access to off-road parking. With this information in hand, the tool selects areas where public charging points are most needed.</p>
<p>Ideal sites will likely be in areas with lower levels of off-road parking, where fewer people can charge electric vehicles at home. It’s also hoped that more chargers can be installed in areas where patchy public transport limits other sustainable transport options and in areas with higher levels of deprivation – where a lack of commercially-viable sites holds back private sector investment.</p>
<p>By having access to this planning tool, it’s anticipated that local authorities can more easily identify the most suitable sites for development and make a more compelling case for Government funding.</p>
<p>Previous analysis by Midlands Connect suggests that the Midlands needs 17,461 new public EV chargepoints by 2025 to keep pace with growing demand. By the end of the decade, it is predicted that one in every four cars will be electric. The sale of new petrol and diesel cars will be outlawed from 2030.</p>
<p><strong>Matt Pain, who developed the tool, said: </strong></p>
<p>“It’s really important that we support local authorities as they ramp up the installation of public electric vehicle chargers. This tool will make it easier for councils to identify sites where investment is needed most and will have the biggest positive impact. Public chargepoints don’t just belong in the most affluent areas, or those places where electric vehicle take up is already booming, we need to ensure that no part of the Midlands region is left behind, and that councils are able to step in and deliver in communities where the private sector is unlikely to intervene. With this data in hand, I hope that the Midlands’ local authorities can make an even more compelling case to Government for support as we look to speed up the decarbonisation of our transport network.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-08-08T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1996/ev-charging-3.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Midlands Connect has launched a new electric vehicle planning tool set to revolutionise the installation of public charging points.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>