<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a2f07f5-3e69-4d28-ac1f-17dfbd62ded8" Alias="Midlands Connect joins HS2 Economic Growth Conference" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectJoinsHS2EconomicGrowthConference</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-07-24T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect joins HS2 Economic Growth Conference" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>On the 7th November, Midlands Connect will join prominent business and public-sector leaders in coming&nbsp;together in Birmingham for the <a href="http://www.built-environment-networking.com/HS2EGC18">HS2 Economic Growth Conference</a>supported by HS2 Ltd – the largest business conference of the year focused on driving and unlocking the huge economic growth opportunities which HS2 will bring to the UK.</p>
<p>The conference, hosted by <a href="http://www.built-environment-networking.com/">Built Environment Networking</a>, will see some of the biggest names in business, politics and local government lead regional hub discussions on the challenges which need tackling and the phenomenal opportunities to create homes, jobs and economic growth through each HS2 hub. The conference, which will also include presentations on the future vision and development opportunities in each region, represents an incredible opportunity for all sectors of the built environment and construction industry to collaborate and communicate to align on the key issues and opportunities for economic development and growth in each region.</p>
<p>During the one-day conference 1,000 delegates will hear from more than 70 speakers and have access to 40 exhibitors, including representation from every station, hub and regional authority.</p>
<p>Mark Thurston, Chief Executive Officer of HS2 Ltd, said: ‘’HS2 is much more than just a railway – it has the power to rebalance our economy and drive social mobility – bringing opportunities closer to people, and leaving a lasting legacy of jobs and skills here in the UK. As an integral part of the Midlands Engine and Northern Powerhouse agendas, HS2 will help bridge geographic divides and deliver a more balanced economy with benefits felt around the UK.’’</p>
<p>Midlands Connect’s Maria Machancoses said: ‘’None of us are proposing and building new transport projects just for the sake of transport. The primary reason we improve regional and national infrastructure is to boost our economy. HS2’s announcement and early construction alone have brought thousands of new jobs to the Midlands. Once the new rapid mass transit services are up and running, the possibilities for economic growth are almost endless. Midlands Connect is developing projects to make sure that everyone across the Midlands can benefit from the prospects HS2 brings. From doubling the number of services and shortening journeys from Hereford and Worcester to meet HS2 at Curzon Street; and connecting Leicester and Leeds with conventional compatible HS2 services; to accelerating the opening of the HS2 East Midlands Hub to 2030, Midlands Connect is leading a number of initiatives which will help the Midlands make the most of this once in a lifetime opportunity.’’</p>
<p>Philip Farrell, acting Managing Director at the Urban Growth Company – set up by Solihull Council to make the most of HS2’s arrival – said: “This conference will be just a stone’s throw from the HS2 Interchange Station site where we’re laying the foundations to create a whole new urban quarter.&nbsp; We think there’s no better example of HS2 being a catalyst for the creation of new jobs, homes, commercial space and unrivalled international, national and regional transport connectivity, than here at the UK Central Hub in Solihull.”</p>
<p>Keith Griffiths, Managing Director of Built Environment Networking, said: ‘’HS2 is much more about the development of tracks, stations and connectivity. It brings a once in a lifetime opportunity to drive development and regeneration within our cities and wider regions to support the creation of homes and jobs, whilst allowing our cities to compete globally. To deliver the best possible impact on the UK we must tackle key challenges early as an industry, whilst ensuring a culture of collaborative working is embedded into our working to ensure we maximise growth potential, support innovation and deliver a legacy for future generations to enjoy in every region.’’</p>
<p>For more information or to book tickets to the event on the 7th November 2018 please visit: <a href="http://www.built-environment-networking.com/HS2EGC18">www.built-environment-networking.com/HS2EGC18</a></p>
<p>&nbsp;</p>
<p>About Built Environment Networking</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-07-24T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            HS2 Economic Growth Conference: Unlocking huge development, regeneration and economic growth opportunities
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>