<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc784803-a83e-4133-aa34-8962e63cc1bd" Alias="Midlands Connect tells Transport Committee: &quot;This is the time to invest in the future prosperity of the Midlands&quot;" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectTellsTransportCommitteeThisIsTheTimeToInvestInTheFutureProsperityOfTheMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-02-27T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect tells Transport Committee: &quot;This is the time to invest in the future prosperity of the Midlands&quot;" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>The Director of Midlands Connect, the pan-regional transport partnership, has told the Commons Transport Committee that it’s time investment in the region’s railways matched the growth ambitions of its towns, cities and businesses.</strong></p>
<p>Maria Machancoses told the committee’s inquiry in to rail infrastructure investment on Monday 26<sup>th</sup><span>&nbsp;</span>February that all available statistics show that the Government isn’t investing enough in the railways outside London.</p>
<p>The Committee was taking evidence from a number of regional transport bodies, including Midlands Connect, Transport for the North, Peninsula Rail Taskforce and Merseytravel, about regional disparities in railway investment.</p>
<p>Midlands Connect has highlighted three recommendations which it would like the Committee to consider when reporting back to the Government:</p>
<ol>
<li>Sub-National Transport Bodies can fill a vital gap in Government decision and long term planning. We need assurance from Government that regional evidence for the development of transport investment programmes will be considered effectively;</li>
<li>There is a strong case to partially open the East Midlands Hub station at Toton to Network Rail Services in the 2020s and we are working with East Midlands Councils and Department for Transport on long-term options for a clean, fast and cheap Midland Main Line and to align this with HS2 for vital classic compatible services through Leicester;</li>
<li>The Government must clarify how it will use a new “Rebalancing the Economy Toolkit” designed to address disparities in regional spending.</li>
</ol>
<p>Giving evidence to the Transport Committee on Monday 26<sup>th</sup><span>&nbsp;</span>February, Maria Machancoses told the Committee:</p>
<p>“We’re no longer saying, ‘we’re the poor Midlands, take care of us.’ We’re saying there is a huge momentum, our cities and towns and sectors have clear ambition for growth, our railways are being used, so this is the time to invest in the future prosperity of the Midlands.”</p>
<p>Office of Rail and Road statistics show that in 2016/17, rail passenger journeys rose by 5.4% in the West Midlands and 3.4% in the East Midlands, but dipped 1.1% in London.</p>
<p>During the debate, there were calls for regional transport partnerships to have more influence over government investment decisions, as Midlands Connect starts the process of becoming the country’s second Sub-National Transport Body, a statutory partner with the Government.</p>
<p>Maria Machancoses said:</p>
<p>“We don’t want to just be consultees, we want to help and work with government in shaping that programme of investment in the future…We’ve been given the funds to accelerate some important priorities, but what matters for us is the delivery, not just projects and concepts. It’s about making things happen.”</p>
<p>The cancellation of electrification on parts of the Midland Main Line in July 2017 was raised by Committee Chair and Labour MP for Nottingham South Lilian Greenwood.</p>
<p>Midlands Connect Director Maria Machancoses told the Committee:</p>
<p>“We were not consulted, we were actually disappointed, not only with the decision but the way the decision was communicated…We were not party to any discussions with Government…Our partners felt Midlands Connect was heading towards becoming a credible partner with Government, so decisions needed that kind of dialogue…It did have a massive knock on effect with the rail sector which the East Midlands is terribly proud of.”</p>
<p>“We were very keen to come out with options and solutions for how, in the future, the Government is going to engage with Sub-National Transport Bodies…in terms of how you scope what technology you want to bring in to the Midland Main Line…How will it link to HS2…and can we have that debate together?”</p>
<p>The Transport Committee will consider the evidence submitted by Midlands Connect and other regional bodies and write a report to the Government with a set of recommendations to overhaul rail infrastructure investment, to which the Government must respond.</p>
<p>-ENDS-</p>
<p>More information on the inquiry can be found<span>&nbsp;</span><a href="http://www.parliament.uk/business/committees/committees-a-z/commons-select/transport-committee/inquiries/parliament-2017/rail-infrastructure-17-19/">here</a></p>
<p>Watch the session online<span>&nbsp;</span><a href="http://parliamentlive.tv/Event/Index/990db01e-b4d7-4a41-86ef-cc816cc07a68">here</a></p>
<p>More information about the Transport Committee can be found<span>&nbsp;</span><a href="http://www.parliament.uk/business/committees/committees-a-z/commons-select/transport-committee/inquiries/parliament-2017/rail-infrastructure-17-19/">here</a></p>
<p>Midlands Connect is a pan-regional partnership of 22 local authorities, 9 Local Enterprise Partnerships, chambers of commerce and airports, alongside Highways England, Network Rail, HS2 Ltd and our sponsor, the Department for Transport. Our landmark 25 year strategy to transform transport in the region was published in March 2017.</p>
<p><strong>For media enquiries, please contact James Bovill on 0121 214 7944,&nbsp;07384 249164 or email&nbsp;</strong><a href="mailto:jamesbovill@midlandsconnect.uk"><strong>jamesbovill@midlandsconnect.uk</strong></a></p>
<p><strong>Midlands Connect</strong>,&nbsp;in collaboration with central government, brings together&nbsp;local authorities and local enterprise partnerships from across the Midlands. Together, the Midlands Connect Partnership and the Department for Transport have developed a transport strategy that identifies&nbsp;the major infrastructure projects needed to improve the connectivity&nbsp;of&nbsp;our&nbsp;region’s key locations so we can help drive economic growth&nbsp;and power the Midlands Engine.</p>
<p>The Midlands Connect Strategy can be downloaded here:</p>
<p><a href="/publications/">https://www.midlandsconnect.uk/publications/</a></p>
<p>Our latest news and views can be found via our Twitter feed @midsconnect</p>
<p>As the transport pillar of Midlands Engine, Midlands Connect is contributing to achieving our ambition to add £54 billion to the Midlands and UK economies by 2030, powering post-Brexit growth, not just for the benefit of the Midlands but for the whole UK.</p>
<p>The Midlands Engine Vision for Growth can be downloaded here:</p>
<p><a href="https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf">https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-02-27T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>