<?xml version="1.0" encoding="utf-8"?>
<Content Key="37daa753-c191-4236-a48a-878205f72f25" Alias="Midlands Connect | Decarbonisation webinar" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectDecarbonisationWebinar</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-02-18T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect | Decarbonisation webinar" />
    <SortOrder>205</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>In February 2021, Midlands Connect is running a series of webinars on topics and themes that will affect future transport policy development.</p>
<p>This webinar focuses on decarbonisation and our panel will discuss how the industry can reduce transport emissions on the way to delivering a low-carbon economy.</p>
<p>Chaired by New Statesmen columnist, Jonn Elledge, the panellists are:</p>
<ul>
<li>Claire Haigh, CEO, Greener Transport Solutions</li>
<li>Tim Campbell, Campbells Electrical Vehicle Consultancy&nbsp;</li>
<li>Simon Statham, Head of Technical Programmes, Midlands Connect</li>
</ul>
<p>To sign up for this event, please click here <a href="https://www.eventbrite.co.uk/e/138421685989">https://www.eventbrite.co.uk/e/138421685989</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-02-18T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1387/our-geography-map.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            Midlands Connect's latest webinar series featuring politicians, business and civic leaders, and industry experts.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>