<?xml version="1.0" encoding="utf-8"?>
<Content Key="16da2f75-abb9-410c-ac54-e371bab4e8af" Alias="Midlands Connect responds to Rail Delivery Group’s (RDG) Williams Review proposals" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectRespondsToRailDeliveryGroupSRDGWilliamsReviewProposals</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-04-30T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect responds to Rail Delivery Group’s (RDG) Williams Review proposals" />
    <SortOrder>49</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Economic growth must be at the heart of investment decisions. Rail patronage in the Midlands is at an all-time high, so providing faster, more frequent services for passengers and greater capacity for rail freight is essential in meeting this growing demand.</p>
<p>We agree with the RDG that the rail industry needs a long term strategy, with a vision for the future driven by greater local and regional influence. That includes an enhanced role for sub-national transport bodies like Midlands Connect, devolved authorities like Transport for West Midlands and other regional partnerships like West Midlands Rail Executive and Transport for the East Midlands&nbsp;(TfEM).</p>
<p>Evidence shows that in areas with more local oversight, such as in London or on Merseyrail services, service performance and customer satisfaction is higher.&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>Greater local decision making is vital on regional commuter routes, but we also believe our expertise should be employed across the rail sector to make the most of new opportunities across both local and long distance journeys.</p>
<p>Midlands Connect will continue to work with rail operators, Network Rail, the Department for Transport and regional partners to ensure regional voices are heard during the Williams Review.</p>
<p>Read RDG’s full statement here:</p>
<p><a href="https://www.raildeliverygroup.com/media-centre/press-releases/2019/469773861-2019-04-30.html">https://www.raildeliverygroup.com/media-centre/press-releases/2019/469773861-2019-04-30.html</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-04-30T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1535/maria-machancoses-3.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>