<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba5299dd-422e-4f18-8dbf-d981c34ef23c" Alias="Midlands Connect" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MidlandsConnect</Path>
    <Trashed>false</Trashed>
    <ContentType>homepageMidlandsConnect</ContentType>
    <CreateDate>2023-08-30T16:20:21</CreateDate>
    <NodeName Default="Midlands Connect" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2ec9dc5a-e39f-4d29-a34c-9399520a43b7">HomepageMidlandsConnect</Template>
  </Info>
  <Properties>
    <bannerCopy>
      <Value><![CDATA[]]></Value>
    </bannerCopy>
    <bannerLink>
      <Value><![CDATA[]]></Value>
    </bannerLink>
    <image>
      <Value><![CDATA[[
  {
    "key": "5c414746-5103-4381-906b-7aecdbcb7320",
    "mediaKey": "9cd65c8e-f33d-444b-a289-3dee8d231316"
  }
]]]></Value>
    </image>
    <imagePosition>
      <Value><![CDATA[[
  "Center"
]]]></Value>
    </imagePosition>
    <showBanner>
      <Value><![CDATA[0]]></Value>
    </showBanner>
    <subtitle>
      <Value><![CDATA[<p>A transformational transport strategy with economic, social and environmental benefits</p>]]></Value>
    </subtitle>
    <tagLine>
      <Value><![CDATA[Transport. Investment. Growth.]]></Value>
    </tagLine>
  </Properties>
</Content>