<?xml version="1.0" encoding="utf-8"?>
<Content Key="c137663d-89e5-4c60-bb33-9c4cad3298f9" Alias="Midlands Connect responds to HS2 review announcement" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectRespondsToHS2ReviewAnnouncement</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-08-21T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect responds to HS2 review announcement" />
    <SortOrder>57</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>“HS2 must go ahead in full – scrapping it or de-scoping it would be a disaster for the Midlands”. </strong></p>
<p>Maria Machancoses, director of Midlands Connect, has responded to confirmation that a government review of HS2 will decide the project’s future by the end of 2019:</p>
<p>“The massive benefits of HS2 to the Midlands are already being felt. Although a review must rightly scrutinise the project’s deliverability, benefits and costs, we must not lose sight of the fact that HS2 will transform our transport network for the next century. Scrapping it or de-scoping the project will be a disaster for the Midlands and the whole country.&nbsp;</p>
<p>“We’re pleased that West Midlands Mayor Andy Street is on the review panel to promote the interests of the region. But it’s vital that the East Midlands isn’t ignored in this process either. Therefore, Midlands Connect will be submitting compelling evidence to the review concerning the benefits of HS2 to the whole of the Midlands.</p>
<p>“Far beyond those places with dedicated HS2 stations, many Midlands towns and cities will benefit from the rail capacity that HS2 will release. Midlands Connect has also submitted a strong business case to the government and HS2 Ltd for direct conventional-compatible links to Nottingham and Leicester city centres, via the HS2 East Midlands Hub at Toton.</p>
<p>“HS2 also underpins the case for improvements we’re proposing to the classic rail network, including our flagship Midlands Rail Hub scheme to transform east-west links across the Midlands.”</p>
<p>“Doug Oakervee has already been in touch with Midlands Connect and we look forward to using this review to rally business and civic leaders from across the region once more to re-emphasise in the strongest possible terms that the Midlands needs HS2 to be built in full to rebalance the economy and unite the country.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-08-21T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1535/maria-machancoses-3.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>