<?xml version="1.0" encoding="utf-8"?>
<Content Key="2800f453-ce97-424b-a034-95cbb7dc7dc9" Alias="Midlands stands with North to back HS2" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsStandsWithNorthToBackHS2</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-10-16T00:00:00</CreateDate>
    <NodeName Default="Midlands stands with North to back HS2" />
    <SortOrder>64</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Responding to Northern Powerhouse Partnership’s Independent Review into HS2, Midlands Connect director Maria Machancoses said: </strong></p>
<p>“This report makes a compelling case for the delivery of HS2 in its entirety, especially the eastern leg connecting the West Midlands, East Midlands and Leeds. It also highlights the need for much greater regional involvement in the planning and delivery of HS2, so that it is properly integrated with regional upgrades like Midlands Engine Rail and Northern Powerhouse Rail.</p>
<p>“We strongly agree that the benefits of HS2 to the Midlands and the North have been grossly underestimated and cannot be properly quantified within the short scope of the Oakervee Review. The new, compelling evidence submitted from both regions must now be fully analysed before any decisions over HS2’s future are made.</p>
<p>“If the government is committed to rebalancing the economy and growing the Midlands Engine and Northern Powerhouse, then transforming intercity links between our regions must be an economic imperative, and HS2 supported as the only meaningful vehicle through which to achieve it.</p>
<p>“Suggestions that the Eastern leg between the Midlands and Leeds is in doubt threaten to undermine the government’s commitment to investment in regional infrastructure. Unless we deliver HS2 Phase 2b, the East Midlands will continue to endure substandard connections to both the North and the West Midlands and another generation of underinvestment.</p>
<p>“Of course the HS2 project can be improved. Midlands Connect’s own evidence has identified brand new direct connections between Birmingham and Nottingham and Leicester and Leeds. But cancelling or descoping the project without a proven or credible alternative leaves the government with no path towards the “Infrastructure Revolution” we have been promised.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-10-16T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>