<?xml version="1.0" encoding="utf-8"?>
<Content Key="003aad05-540f-45a9-b338-ec13d83e619c" Alias="Midlands Connect reacts to the Williams-Shapps Plan for Rail" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectReactsToTheWilliamsShappsPlanForRail</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-05-20T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect reacts to the Williams-Shapps Plan for Rail" />
    <SortOrder>91</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Commenting on the Williams-Shapps Plan for Rail, Maria Machancoses, CEO of Midlands Connect, said:</p>
<p>“This raft of changes is what the rail industry and its passengers have been waiting for, and if implemented correctly, could have huge benefits for travellers. By specifying timetables, service levels and operating standards, this concession model will reward operators for delivering what passengers want most – trains that run on time, friendly service and clean stations.”</p>
<p>“The rail network has become very fragmented over the last 20 years, so coordinating the network via a centralised organisation, the ‘Great British Railway’ presents many opportunities, including providing the public with much needed clarity on decision making – who is ultimately responsible for what. &nbsp;However, this centralisation also presents risks – namely that the new structure will be less agile or have a lesser understanding of local issues than the previous franchising model. We must prevent decisions about local services being made centrally, impeded by a limited understanding of the local area, its economic needs or people that live there. As we continue to identify and develop the key strategic rail priorities for the region, Midlands Connect, alongside our local councils is best placed to support Government and the proposed GBR in achieving this.</p>
<p>“This simplified system will make it a great deal easier to develop and implement an ‘oyster-style’ smart ticketing system for our region – including the simplification of fares. While it’s great that flexible season tickets are being deployed to support flexible working post-COVID, a multi-modal, capped and contactless payment system is what’s truly needed. Flexible ticketing should go beyond rail and we look forward to working with GBR in developing an affordable ‘tap and cap’ scheme that works across all public transport modes."</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-05-20T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>