<?xml version="1.0" encoding="utf-8"?>
<Content Key="573ca728-ab7b-4d14-9ab9-f96ffe0eeb30" Alias="Midlands Connect | Levelling Up webinar" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectLevellingUpWebinar</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-02-11T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect | Levelling Up webinar" />
    <SortOrder>204</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>In February 2021, Midlands Connect is running a series of webinars on topics and themes that will affect future transport policy development.</p>
<p>As the cornerstone of its domestic agenda, levelling up reflects this Government’s ambition to rebalance the economy and invest in regions outside of London and the South East. The Prime Minister has signalled that levelling up infrastructure investment is a key priority within this parliamentary period.</p>
<p>In this panel, the chair will ask the panel to consider how the levelling up agenda can be delivered in the Midlands and what improvements can help increase economic prosperity, boost social mobility and create a more sustainable way of living for future generations.</p>
<p>Chaired by Sunday Times Deputy Political Editor, Caroline Wheeler, the panellists are:</p>
<ul>
<ul>
<li>Chris Hobson, Director of Policy and External Affairs, East Midlands Chamber of Commerce</li>
<li>Jane Stevenson MP (Cons, Wolverhampton North East),</li>
<li>Lord Mann (independent)</li>
<li>Lord Ravensdale (cross-bench)</li>
</ul>
</ul>
<p>To sign up for this event, please click here&nbsp;<a href="https://www.eventbrite.co.uk/e/138418987919">https://www.eventbrite.co.uk/e/138418987919</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-02-11T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1387/our-geography-map.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            Midlands Connect's latest webinar series featuring politicians, business and civic leaders, and industry experts.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>