<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef5851c3-ebe9-4fc9-a589-a56f08a46512" Alias="Midlands Connect responds to resignation of HS2 Chairman Sir Terry Morgan" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectRespondsToResignationOfHS2ChairmanSirTerryMorgan</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:15</CreateDate>
    <NodeName Default="Midlands Connect responds to resignation of HS2 Chairman Sir Terry Morgan" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Maria Machancoses, Director of Midlands Connect, said:</p>
<p>“HS2 is a once-in-a-generation opportunity to revolutionise our transport network and rebalance the UK economy. Birmingham and the West Midlands have already enjoyed significant benefits from HS2: accelerated economic development, more people and businesses locating here and a swathe of other inward investment.&nbsp;</p>
<p>“HS2 is a very long term project, so it will inevitably change in leadership and personnel over the next 15 years. The most important thing is that we complete HS2 on time and in its entirety, spreading its benefits across the Midlands and the North. We mustn’t allow short term changes to distract from the long term goals of improving capacity, connectivity and the customer experience on our railways, as well as fostering skills and economic growth.</p>
<p>“As civic and industry leaders, we all have a responsibility to work together to provide ongoing, vocal support for this game-changing infrastructure project.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-12-05T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>