<?xml version="1.0" encoding="utf-8"?>
<Content Key="46d9b251-21f0-4c46-aaba-65821a408ac7" Alias="Midlands Connect calls for role in government rail review" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectCallsForRoleInGovernmentRailReview</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:12</CreateDate>
    <NodeName Default="Midlands Connect calls for role in government rail review" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Responding to the announcement of the <a href="https://www.gov.uk/government/news/government-announces-root-and-branch-review-of-rail">Department for Transport’s rail review</a>, Sir John Peace, Chair of Midlands Connect, said: </strong></p>
<p>&nbsp;</p>
<p>“This review is a major undertaking of crucial importance to the Midlands. Midlands Connect is seeking assurances that the partnership has an active role throughout the process. We continue to work alongside our partners and neighbouring bodies, including both West Midlands Rail Executive and Transport for the East Midlands, to ensure that local expertise can drive continued improvement of the rail network and services across the Midlands.</p>
<p>&nbsp;</p>
<p>“Demand for rail travel is now growing faster in the Midlands than London and the South East. To service this added demand, Midlands Connect is developing cost-effective plans to introduce 24 additional passenger trains every hour through our Midlands Rail Hub proposals. Our ambitious plans will increase capacity and reliability, cut journey times and help grow the economy by £649 million every year. We must get on with improving our rail network for both passengers and freight. We will contribute to this review to ensure no stone is left unturned in making these vital upgrades happen as soon as possible.</p>
<p>&nbsp;</p>
<p>“We are pleased the review will examine the role of regional partnerships and that the Secretary of State for Transport acknowledges rail network investment has not kept pace with the rapid rise in demand since privatisation. With the first of the Rail Review’s reforms due by 2020, the roles and responsibilities of Sub-national Transport Bodies, like Midlands Connect, must be considered in parallel, as we work towards gaining statutory status alongside Transport for the North”.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-09-20T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            We must get on with improving the regional rail network
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>