<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef520ab8-f76d-40d9-a67d-b8b28e776073" Alias="Midlands Connect supports new West Midlands Railway franchise" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectSupportsNewWestMidlandsRailwayFranchise</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2017-12-11T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect supports new West Midlands Railway franchise" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Commenting on the launch of West Midlands Railway franchise, which took&nbsp;over from London Midland on 9 December,&nbsp;Midlands Connect Director Maria Machancoses says:</strong></p>
<p>"Passengers across the region will see massive benefits from using West Midlands Trains, and this new franchise fits in with the core aims of Midlands Connect’s strategy; to put more seats on to the rail network, make journeys more frequent and comfortable and make our towns and cities better connected.</p>
<p>"The new franchise will invest nearly £1 billion in to train services, and the impact of that cannot be underestimated. There'll be new and refurbished trains, with more than 100 new carriages on the Cross City Line, and 80 more on the Snow Hill line. There'll be 20,000 extra rush hour seats for passengers in Birmingham. A £60 million investment&nbsp;will improve stations, with thousands more car and cycle spaces. From Lichfield to Leamington Spa, Stratford upon Avon to Shrewsbury and everywhere in between, the benefits will extend across the wider West Midlands region.</p>
<p>"These vast improvements will create tangible benefits for the Midlands economy, too. Less overcrowding and more frequent services allows passengers to get to work more quickly, making our businesses more productive. More than 300 new carriages will be built by Bombardier, safeguarding jobs at its Derby base and many more in the local supply chain. There will be 900 new apprenticeships for&nbsp;drivers and engineers.</p>
<p>"And as we look to the future, Midlands Connect will be at the forefront of setting the standard of services we expect to see from all of our rail franchises, bringing together local decision makers united in their desire for better rail connections across the East and West Midlands. With several more rail franchises due for renewal by 2020, Midlands Connect will work with the government and shortlisted bidders to make sure any new investment supports our ambitions for a more connected region."</p>
<p>-ENDS-</p>
<p>&nbsp;</p>
<p>Notes for editors:-</p>
<p>Midlands Connect,&nbsp;in collaboration with central government, brings together&nbsp;local authorities and local enterprise partnerships from across the Midlands. Together, the Midlands Connect Partnership and the Department for Transport have developed a transport strategy that identifies&nbsp;the major infrastructure projects needed to improve the connectivity&nbsp;of&nbsp;our&nbsp;region’s key locations so we can help drive economic growth&nbsp;and power the Midlands Engine.</p>
<p>The Midlands Connect Strategy can be downloaded here:</p>
<p><a href="/publications/">https://www.midlandsconnect.uk/publications/</a></p>
<p>&nbsp;</p>
<p>As the transport pillar of Midlands Engine, Midlands Connect is contributing to achieving our ambition to add £54 billion to the Midlands and UK economies by 2030, powering post-Brexit growth, not just for the benefit of the Midlands but for the whole UK.</p>
<p>The Midlands Engine Vision for Growth can be downloaded here:</p>
<p><a href="https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf">https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2017-12-11T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>