<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba5299dd-422e-4f18-8dbf-d981c34ef23c" Alias="Midlands Connect Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MidlandsConnectHomepage</Path>
    <Trashed>false</Trashed>
    <ContentType>homepageMidlandsConnect</ContentType>
    <CreateDate>2023-08-30T16:20:21</CreateDate>
    <NodeName Default="Midlands Connect Homepage" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>