<?xml version="1.0" encoding="utf-8"?>
<Content Key="f92bfb96-6810-407f-bcca-d0347d265dfd" Alias="Midlands Connect 2023 Annual Conference" Level="3">
  <Info>
    <Parent Key="ccf66da8-c453-4ea9-8fcf-5cfc53f1c7d0">Events</Parent>
    <Path>/MidlandsConnect/Events/MidlandsConnect2023AnnualConference</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageMidlandsConnect</ContentType>
    <CreateDate>2023-12-15T12:06:54</CreateDate>
    <NodeName Default="Midlands Connect 2023 Annual Conference" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
  </Info>
  <Properties>
    <alternativeTitle>
      <Value><![CDATA[]]></Value>
    </alternativeTitle>
    <customCodeBody>
      <Value><![CDATA[]]></Value>
    </customCodeBody>
    <customCodeHead>
      <Value><![CDATA[]]></Value>
    </customCodeHead>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/7850191e8b63472fa2e334e45ba3c5fb",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/7f9256b9526d477db0c752f4de98fa1a",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/38cda5073b1c4e45a496c51c8a5628b7",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/1a0f6b26c93a4039a56c3d058330dc3c",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/d9af26ebe3c64947a4641a9aba4df509",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/dd186b372f484070b01b4fd4c3830709",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/737bda2b88c64bd09ee0981642d9876c",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/1aaf84020c924746843e6ecb00ef4596",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/98e83418d3074003996762d5fcb1cb3b",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/5cade42050d1497c939df94022dd64cf",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/c9e2a909ba814220b905a42d45401a08",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/f8578cf4b8954428a711bcf2061ffa0d",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/46fbb9388dd04cc1bb068e85bd036add",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/92425978713f4eff8b26b0f5e4845e4d",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/f7604c31ad9942c89409238ca376fc06",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ef0ede755ca7430d8846bc0856cde48e",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/a5cce0b2a4514a83b68fb84fecbad22b",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/7850191e8b63472fa2e334e45ba3c5fb"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/38cda5073b1c4e45a496c51c8a5628b7",
      "video": [
        {
          "url": "https://vimeo.com/805873558",
          "width": 360,
          "height": 240,
          "preview": "<iframe src=\"https://player.vimeo.com/video/805873558?app_id=122963\" width=\"360\" height=\"203\" frameborder=\"0\" allow=\"autoplay; fullscreen; picture-in-picture\" title=\"Welcome speech - Sir John Peace - Midlands Connect 2023 Annual Conference\"></iframe>"
        }
      ]
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/7f9256b9526d477db0c752f4de98fa1a",
      "richText": "<h2 class=\"_3vbdr sc-frDJqD fDQgcn\">Welcome speech - Sir John Peace</h2>"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/1a0f6b26c93a4039a56c3d058330dc3c",
      "richText": "<h2 class=\"_3vbdr sc-frDJqD fDQgcn\">Speech - Richard Holden</h2>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/d9af26ebe3c64947a4641a9aba4df509",
      "video": [
        {
          "url": "https://vimeo.com/805875777",
          "width": 360,
          "height": 240,
          "preview": "<iframe src=\"https://player.vimeo.com/video/805875777?app_id=122963\" width=\"360\" height=\"203\" frameborder=\"0\" allow=\"autoplay; fullscreen; picture-in-picture\" title=\"Speech - Richard Holden - Midlands Connect 2023 Annual Conference\"></iframe>"
        }
      ]
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/dd186b372f484070b01b4fd4c3830709",
      "richText": "<h2 class=\"_3vbdr sc-frDJqD fDQgcn\">Panel - Key challenges and opportunities for Midlands Connect in 2023</h2>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/737bda2b88c64bd09ee0981642d9876c",
      "video": [
        {
          "url": "https://vimeo.com/805878706",
          "width": 360,
          "height": 240,
          "preview": "<iframe src=\"https://player.vimeo.com/video/805878706?app_id=122963\" width=\"360\" height=\"203\" frameborder=\"0\" allow=\"autoplay; fullscreen; picture-in-picture\" title=\"Panel - Key challenges and opportunities for MC in 2023 - Midlands Connect 2023 Annual Conference\"></iframe>"
        }
      ]
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/1aaf84020c924746843e6ecb00ef4596",
      "richText": "<h2 class=\"_3vbdr sc-frDJqD fDQgcn\">Panel - What we’ve been up to since launching our STP</h2>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/98e83418d3074003996762d5fcb1cb3b",
      "video": [
        {
          "url": "https://vimeo.com/805876867",
          "width": 360,
          "height": 240,
          "preview": "<iframe src=\"https://player.vimeo.com/video/805876867?app_id=122963\" width=\"360\" height=\"203\" frameborder=\"0\" allow=\"autoplay; fullscreen; picture-in-picture\" title=\"Panel - What we’ve been up to since launching our STP - Midlands Connect 2023 Annual Conference\"></iframe>"
        }
      ]
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/5cade42050d1497c939df94022dd64cf",
      "richText": "<h2 class=\"_3vbdr sc-frDJqD fDQgcn\">Speech – GBRTT Jonathan Fox</h2>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/c9e2a909ba814220b905a42d45401a08",
      "video": [
        {
          "url": "https://vimeo.com/805882156",
          "width": 360,
          "height": 240,
          "preview": "<iframe src=\"https://player.vimeo.com/video/805882156?app_id=122963\" width=\"360\" height=\"203\" frameborder=\"0\" allow=\"autoplay; fullscreen; picture-in-picture\" title=\"Speech – GBRTT Jonathan Fox - Midlands Connect 2023 Annual Conference\"></iframe>"
        }
      ]
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/f8578cf4b8954428a711bcf2061ffa0d",
      "richText": "<h2 class=\"_3vbdr sc-frDJqD fDQgcn\">Panel - The impact of Midlands Connect’s work</h2>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/46fbb9388dd04cc1bb068e85bd036add",
      "video": [
        {
          "url": "https://vimeo.com/805883648",
          "width": 360,
          "height": 240,
          "preview": "<iframe src=\"https://player.vimeo.com/video/805883648?app_id=122963\" width=\"360\" height=\"203\" frameborder=\"0\" allow=\"autoplay; fullscreen; picture-in-picture\" title=\"Panel - The impact of Midlands Connect’s work - Midlands Connect 2023 Annual Conference\"></iframe>"
        }
      ]
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/92425978713f4eff8b26b0f5e4845e4d",
      "richText": "<h2 class=\"_3vbdr sc-frDJqD fDQgcn\">Panel - A local perspective on their national agencies work</h2>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/f7604c31ad9942c89409238ca376fc06",
      "video": [
        {
          "url": "https://vimeo.com/805885156",
          "width": 360,
          "height": 240,
          "preview": "<iframe src=\"https://player.vimeo.com/video/805885156?app_id=122963\" width=\"360\" height=\"203\" frameborder=\"0\" allow=\"autoplay; fullscreen; picture-in-picture\" title=\"Panel - A local perspective on their national agencies work - Midlands Connect 2023 Annual Conference\"></iframe>"
        }
      ]
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/ef0ede755ca7430d8846bc0856cde48e",
      "richText": "<h2 class=\"_3vbdr sc-frDJqD fDQgcn\">Closing speech – CEO Maria Machancoses</h2>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/a5cce0b2a4514a83b68fb84fecbad22b",
      "video": [
        {
          "url": "https://vimeo.com/805888330",
          "width": 360,
          "height": 240,
          "preview": "<iframe src=\"https://player.vimeo.com/video/805888330?app_id=122963\" width=\"360\" height=\"203\" frameborder=\"0\" allow=\"autoplay; fullscreen; picture-in-picture\" title=\"Closing speech – CEO Maria Machancoses - Midlands Connect 2023 Annual Conference\"></iframe>"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
  </Properties>
</Content>