<?xml version="1.0" encoding="utf-8"?>
<Content Key="525e0125-8fbd-437d-a12f-fd18e28d7357" Alias="Midlands residents back local transport upgrades in new poll" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsResidentsBackLocalTransportUpgradesInNewPoll</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-02-25T00:00:00</CreateDate>
    <NodeName Default="Midlands residents back local transport upgrades in new poll" />
    <SortOrder>86</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><span class="green dark"><strong>Chancellor urged to invest in Infrastructure in next month’s Budget</strong></span></p>
<ul>
<li>
<p><span class="pink">Poll of 10,000 people across the Midlands reveals overwhelming support for regional transport initiatives</span></p>
</li>
<li>
<p><span class="pink">Comes as transport body Midlands Connect submits its funding asks to Chancellor ahead of next month’s budget</span></p>
</li>
<li>
<p><span class="pink">85% support Midlands Engine Rail, a region-wide rail improvement programme</span></p>
</li>
<li>
<p><span class="pink">Nine in ten support region-wide ‘oyster style’ smart ticketing system for public transport</span></p>
</li>
<li>
<p><span class="pink">Local approval rates for Midlands Rail Hub, faster and more frequent services between Nottingham and Lincoln, Derby, Stoke and Crewe, and improvements to the A46 and A50/500 all above 80 per cent</span></p>
</li>
</ul>
<p>A new poll of 10,000 Midlands residents by transport body Midlands Connect has revealed overwhelming support for investment in the region’s transport network.</p>
<p>Ahead of next month’s budget, 85 per cent of respondents were supportive of Midlands Engine Rail, a region-wide rail improvement scheme that will boost connectivity across the region.</p>
<p>Midlands Engine Rail’s flagship scheme is the Midlands Rail Hub; a set of interventions including signalling upgrades, new tracks and passing places, that will create space for 20 additional trains to go in to and out of Birmingham Moor Street Station every hour. Once complete it will boost connections to Leicester, Derby, Nottingham, Worcester, Hereford and Bristol, as well as the reopened Moseley, Kings Heath and Hazelwell stations on the Camp Hill Line. The Midlands Rail Hub has a local approval rating of 86 per cent.</p>
<p>Other popular schemes included plans to remove pinch points and congestion on the A50/500 and A46 trade corridors, focused on supporting new housing growth and smoothing business’ access to supplies, customers and international gateways. These plans were supported by over 80 per cent of those questioned nearby.</p>
<p>Nine in ten of respondents also backed plans for a region-wide ‘tap and cap’ smart payment system for public transport, similar to the Oyster platform used in London. Transport bosses are asking the Chancellor to provide the £20 million needed to deliver the platform, which would allow seamless travel across bus, tram and rail journeys, under a daily payment cap. Subject to funding, it could be up and running in Nottingham and parts of the West Midlands as soon as 2022, and deployed across the whole Midlands region by 2024.</p>
<p>61 per cent of respondents said having a smart ticketing system in place would make them more likely to use public transport.</p>
<p><strong>Maria Machancoses, director of Midlands Connect said:</strong></p>
<p>“The results of this poll are hugely heartening – they show that local people value investment in public transport. As well as having public support, all of the schemes Midlands Connect has submitted to Government this budget are backed by evidence – demonstrating the positive impact they will have on economic, social and environmental outcomes. We are confident Government will continue to support our considered, affordable and deliverable vision for a more connected, prosperous and mobile Midlands region.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-02-25T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>