<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a3f4bfb-94f8-49fc-ab18-a3fddfe6e10a" Alias="Midlands Connect Chair welcomes new Chair of HS2 Ltd" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectChairWelcomesNewChairOfHS2Ltd</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:07</CreateDate>
    <NodeName Default="Midlands Connect Chair welcomes new Chair of HS2 Ltd" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>“The Midlands is right at the heart of the HS2 rail revolution, and even before the tracks are laid, we’re already seeing the benefits. Under the determined and dedicated chairmanship of Sir David Higgins, Midlands Connect has worked closely with HS2 Ltd on plans to accelerate the economic benefits and ensure as much of the region as possible has access to affordable, rapid mass transit services. I look forward to continuing that relationship under the chairmanship of Sir Terry Morgan.</p>
<p>“I wholeheartedly welcome Sir Terry’s appointment, a man of vast industry experience, expertise and leadership, most recently as Chairman of Crossrail. He will be invaluable to HS2’s continued success as Phase One is built, Phase 2a receives parliamentary approval and the Phase 2b Hybrid Bill is finalised. I look forward to meeting with him soon to ensure Midlands Connect’s own ambitious transport proposals complement this once-in-a-generation opportunity to rebalance the economy.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-07-13T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Commenting on the appointment of Sir Terry Morgan as the new Chair of HS2 Ltd, Sir John Peace, Chair of Midlands Connect and Midlands Engine, said:
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>