<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f5402a1-7348-405d-b128-9a55a308f8a2" Alias="Midlands Connect receives additional £6million to drive road and rail improvements" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectReceivesAdditional6millionToDriveRoadAndRailImprovements</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:11</CreateDate>
    <NodeName Default="Midlands Connect receives additional £6million to drive road and rail improvements" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>In today’s<span>&nbsp;</span><a href="https://www.gov.uk/government/speeches/autumn-budget-2017-philip-hammonds-speech">Budget</a>, the Chancellor of the Exchequer Phillip Hammond has underlined the Government’s continuing commitment to Midlands Connect and the Midlands Engine with an additional £6million funding.</p>
<p>Funding announced today includes:</p>
<p><strong>£4million to continue the work of the Midlands Motorway Hub project</strong>, identifying ways in which the network can operate more efficiently in the short term and proposing longer term solutions to existing capacity constraints. This will bring improved resilience and reliability to the network through developing options for new infrastructure and cutting edge technology.</p>
<p><strong>£2million for the Midlands Rail Hub</strong>, a central plank of our strategy to improve connectivity between key centres across the Midlands to deliver economic growth. Relieving a capacity constraint between Coventry and Leamington will improve connectivity across the region between the Thames-Valley area and the East Midlands. We will now advance proposals to reinstate and add new infrastructure that would enable an additional Cross Country service through Birmingham International, increasing regional and national connectivity and complementing HS2.&nbsp; This scheme has the potential to deliver up to around £250m in economic benefit and up to an additional £60m in revenue from more people choosing rail over the car.</p>
<p>Sir John Peace, Chairman of Midlands Connect and Midlands Engine said,</p>
<p>“Government has once again recognised the importance of Midlands transport connectivity to the post-Brexit success of not only the Midlands but the UK as a whole.&nbsp; The Region is at the heart of the UK’s transport network and strategic improvements to our road and rail infrastructure will power economic growth, bring greater prosperity and improve people’s lives".&nbsp;&nbsp;</p>
<p>Maria Machancoses, Director of Midlands Connect, said,</p>
<p>“The Chancellor’s Budget statement underlines the existing endorsement of Midlands Connect by Government. Today’s announcement of additional funds enables us to continue to implement our ambitious long term strategy to drive positive change and transformational transport investment, enabling the Midlands to compete on the world stage.”</p>
<p>Notes for editors:-</p>
<p>Midlands Connect,&nbsp;in collaboration with central government, brings together&nbsp;local authorities and local enterprise partnerships from across the Midlands. Together, the Midlands Connect Partnership and the Department for Transport have developed a transport strategy that identifies&nbsp;the major infrastructure projects needed to improve the connectivity&nbsp;of&nbsp;our&nbsp;region’s key locations so we can help drive economic growth&nbsp;and power the Midlands Engine.</p>
<p>The Midlands Connect Strategy can be downloaded here:</p>
<p><a href="/publications/">https://www.midlandsconnect.uk/publications/</a></p>
<p>As the transport pillar of Midlands Engine, Midlands Connect is contributing to achieving our ambition to add £54 billion to the Midlands and UK economies by 2030, powering post-Brexit growth, not just for the benefit of the Midlands but for the whole UK.</p>
<p>The Midlands Engine Vision for Growth can be downloaded here:</p>
<p><a href="https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf">https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2017-11-22T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>