<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3d0499f-c2c5-4607-9a94-5f4cc15b530f" Alias="Midlands Connect: There must be more regional influence over the next East Midlands rail franchise award" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectThereMustBeMoreRegionalInfluenceOverTheNextEastMidlandsRailFranchiseAward</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-02-02T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect: There must be more regional influence over the next East Midlands rail franchise award" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><em>Responding to the Department for Transport’s announcement this week of the shortlist for the East Midlands rail franchise, Midlands Connect Director Maria Machancoses said:</em></p>
<p>“Midlands Connect and its partners in the East Midlands are in a position to have unprecedented regional influence over the award of the next East Midlands rail franchise. It is important that the Department for Transport and shortlisted companies work closely with us to identify the priorities we feel can deliver a step change improvement that meets growing demand for passenger and rail services.</p>
<p>“Following on from the disappointment of cancelling electrification on the Midland Main Line last summer, we must make the most of the current investment in infrastructure and rolling stock, and to explore all options to ensure our rail network has the capacity to meet growing demand for freight and passenger services, including the potential for incremental electrification.</p>
<p>“It’s vital as well that a link between the Midland Main Line and High Speed 2 Phase 2b is operational from when high speed services begin, allowing HS2 classic compatible trains to link the East Midlands with Northern Powerhouse Rail.</p>
<p>“We welcome the Transport Secretary Chris Grayling’s commitment to extra seats and reduced journey times on the Midland Main Line, and we will be meeting with him in the coming weeks to discuss the next steps in the franchise process. We will also make contact with the shortlisted companies Stagecoach, Abellio, Arriva and the First/Trentalia joint venture to establish how they plan to improve services on the Midland Main Line.”</p>
<p>-ENDS-&nbsp;</p>
<p><strong>NOTES TO EDITORS</strong></p>
<p>For media enquiries, please contact James Bovill on 0121 214 7944, 07384 249164 or email<span>&nbsp;</span><a href="mailto:jamesbovill@midlandsconnect.uk">jamesbovill@midlandsconnect.uk</a></p>
<p><strong>Midlands Connect</strong>,&nbsp;in collaboration with central government, brings together&nbsp;local authorities and local enterprise partnerships from across the Midlands. Together, the Midlands Connect Partnership and the Department for Transport have developed a transport strategy that identifies&nbsp;the major infrastructure projects needed to improve the connectivity&nbsp;of&nbsp;our&nbsp;region’s key locations so we can help drive economic growth&nbsp;and power the Midlands Engine.</p>
<p>The Midlands Connect Strategy can be downloaded here:</p>
<p><a href="/publications/">https://www.midlandsconnect.uk/publications/</a></p>
<p>As the transport pillar of Midlands Engine, Midlands Connect is contributing to achieving the ambition to add £54 billion to the Midlands and UK economies by 2030, powering post-Brexit growth, not just for the benefit of the Midlands but for the whole UK.</p>
<p>The Midlands Engine Vision for Growth can be downloaded here:</p>
<p><a href="https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf">https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-02-02T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>