<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba5299dd-422e-4f18-8dbf-d981c34ef23c" Alias="Midlands Connect" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MidlandsConnect</Path>
    <Trashed>false</Trashed>
    <ContentType>homepageMidlandsConnect</ContentType>
    <CreateDate>2023-08-30T16:20:21</CreateDate>
    <NodeName Default="Midlands Connect" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2ec9dc5a-e39f-4d29-a34c-9399520a43b7">HomepageMidlandsConnect</Template>
  </Info>
  <Properties>
    <bannerCopy>
      <Value><![CDATA[]]></Value>
    </bannerCopy>
    <bannerLink>
      <Value><![CDATA[]]></Value>
    </bannerLink>
    <featuredLinks>
      <Value><![CDATA[]]></Value>
    </featuredLinks>
    <image>
      <Value><![CDATA[[
  {
    "key": "5c414746-5103-4381-906b-7aecdbcb7320",
    "mediaKey": "9cd65c8e-f33d-444b-a289-3dee8d231316"
  }
]]]></Value>
    </image>
    <imagePosition>
      <Value><![CDATA[[
  "Center"
]]]></Value>
    </imagePosition>
    <ourProjects>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e2a387564c3c4fbebfe70a132a5356c6",
        "areas": [
          {
            "key": "0e241478-78b6-40ad-81b4-79c621909620",
            "items": [
              {
                "contentUdi": "umb://element/bfe996102ddc4a3fa0600682c5c11e9a",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/656f6ed5396e4c3b8f64b593c30d7983",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/18400876a61047f29a11965be698d127",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f16dc7da-30b7-4cab-ac6d-7c01fcc5f566",
      "udi": "umb://element/e2a387564c3c4fbebfe70a132a5356c6"
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/bfe996102ddc4a3fa0600682c5c11e9a",
      "image": [
        {
          "key": "6cc00cce-c3e9-4fa2-b480-cb213e1b669a",
          "mediaKey": "e472790d-e212-46fe-ace8-fe8f1920f9bd"
        }
      ],
      "copy": "<p>A programme of improvements to the Midlands rail network</p>",
      "link": [
        {
          "name": "Midlands engine rail",
          "udi": "umb://document/69abc02e8c914327bc5ae3734f9b6578"
        }
      ],
      "title": "Midlands engine rail"
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/656f6ed5396e4c3b8f64b593c30d7983",
      "image": [
        {
          "key": "eede803a-a989-4aa6-b33b-0119c81315b1",
          "mediaKey": "e40f0f8c-412b-469f-9ca8-52b0ff532eac"
        }
      ],
      "title": "Roads",
      "copy": "<p>Priority schemes for development and delivery on the major road network</p>",
      "link": [
        {
          "name": "Roads",
          "udi": "umb://document/567022ea56434ad89529261d0a7b67eb"
        }
      ]
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/18400876a61047f29a11965be698d127",
      "image": [
        {
          "key": "ebabf0c1-76a5-4463-b41b-f5f12c776c63",
          "mediaKey": "7cdbaf54-2c39-4672-99f4-5e6430e475a3"
        }
      ],
      "title": "Innovation and technology",
      "copy": "<p>Changing the the way we use and access transport</p>",
      "link": [
        {
          "name": "Technology and innovation",
          "udi": "umb://document/9b1608c584c94df39f1d9006fabbcc0c"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </ourProjects>
    <showBanner>
      <Value><![CDATA[0]]></Value>
    </showBanner>
    <subtitle>
      <Value><![CDATA[<p>A transformational transport strategy with economic, social and environmental benefits</p>]]></Value>
    </subtitle>
    <tagLine>
      <Value><![CDATA[Transport. Investment. Growth.]]></Value>
    </tagLine>
    <test>
      <Value><![CDATA[]]></Value>
    </test>
  </Properties>
</Content>