<?xml version="1.0" encoding="utf-8"?>
<Content Key="787754d3-7c03-407a-88d6-4da91e5e1c38" Alias="Midlands Connect comment on Abellio winning the East Midlands Railway franchise" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectCommentOnAbellioWinningTheEastMidlandsRailwayFranchise</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:18</CreateDate>
    <NodeName Default="Midlands Connect comment on Abellio winning the East Midlands Railway franchise" />
    <SortOrder>48</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Commenting on the announcement that Abellio is the successful bidder for the <a href="https://www.eastmidlandsrailway.co.uk/">East Midlands Railway</a> franchise from August 2019 until 2027, Midlands Connect chairman Sir John Peace said: </strong></p>
<p><strong>“</strong>Midlands Connect met with all of the franchise bidders during the process, and Abellio’s vision shows a strong commitment to significantly improve passengers’ experience, with new and improved trains, more seats and more frequent services, upgraded stations and smart ticketing options.</p>
<p>“The 2019-2027 franchise period provides certainty during a momentous time for the Midlands rail network, and regional bodies have an important role in maximising the benefits for passengers and businesses. We are looking forward to working closely with Abellio as we develop our transformational Midlands Rail Hub plans to introduce up to 24 new train services every hour across the East and West Midlands, and prepare to integrate these upgrades with vital new High Speed Two services.</p>
<p>“We fully support the move towards a cleaner, greener rail network and we welcome plans to trial hydrogen fuel cell trains on the Midland Main Line (MML). We will also continue to make the case for the electrification of the MML beyond Market Harborough, to support Midlands Connect’s ambition for direct conventional compatible HS2 services between Leicester and Leeds and Nottingham and Leeds, via the East Midlands Hub at Toton.</p>
<p>“With rail passenger numbers increasing year on year in the East Midlands, it is extremely encouraging to see investment in the region’s railways starting to match that demand.”</p>
<p>Read the Department for Transport press release <a href="https://www.gov.uk/government/news/more-seats-services-and-state-of-the-art-trains-for-passengers-on-new-east-midlands-railway">here</a></p>
<p>&nbsp;</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-04-10T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>