<?xml version="1.0" encoding="utf-8"?>
<Content Key="9892d9f3-27ee-4942-85fc-b1bfb7ca83c3" Alias="Midlands Connect Unveils Bold 20-year Vision to Relieve Congestion on Region’s Motorway Network" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectUnveilsBold20YearVisionToRelieveCongestionOnRegionSMotorwayNetwork</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-06-06T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect Unveils Bold 20-year Vision to Relieve Congestion on Region’s Motorway Network" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>Ten recommendations to improve UK’s most congested motorways.</li>
<li>Midlands Motorway Hub Improvements could unlock 50,000 jobs &amp; 50,000 new homes.</li>
<li>New smart information signage to divert more vehicles on to M6 Toll during incidents could be delivered in 2 years.</li>
<li>Long term economic case for a Western Strategic Route between M5/M6 to be considered in more detail.</li>
<li>Potential for an HGV platooning trial in the Midlands to be tested.</li>
</ul>
<p>A bold, long-term vision to significantly reduce congestion on the Midlands’ motorways has been unveiled by Midlands Connect, the pan-regional transport partnership, with ten recommendations to improve the ‘Midlands Motorway Hub’ and get the country moving faster.</p>
<p>In total, the ‘Midlands Motorway Hub’ report, completed in collaboration with Highways England, outlines 10 measures for decongesting the heart of Britain’s motorway network over the next two decades, to help grow the economy both the Midlands and the wider UK.</p>
<p><strong>The report’s analysis found that delivering the recommendations could unlock up to 50,000 new jobs at key locations near to the Hub and support the construction of 50,000 new homes.</strong></p>
<p>It identifies long term solutions as well as short term plans to reduce congestion, including measures to <strong>make best use of the M6 Toll, which still has room for growth, when a significant number of vehicles are travelling through the Midlands using more congested routes</strong>.</p>
<p>The report recommends <strong>improving the quality of information on signage on the M6</strong>, providing smarter information to the travelling public, which could help divert traffic onto the M6 Toll at peak times or during incidents. This element of the Hub strategy could be delivered within the next two years.</p>
<p>Another recommendation is to consider in greater detail the long term economic case for a Western Strategic Route, linking the M5 and the M6 in the West Midlands.</p>
<p>Data shows a Western Strategic Route could shift around 20% of the traffic travelling through the region from the M6 in the north and M5 in the south away from the motorways, and could have a transformational impact on the economic performance of the Black Country, connecting up to 45,000 new homes in proposed garden villages.</p>
<p>Of all the recommendations for further study in the Midlands Motorway Hub report, our early research suggests a Western Strategic Route offers the biggest benefit for improving journey times and reducing variability, providing additional capacity, raising resilience and supporting economic growth. Midlands Connect isn’t yet considering any specific routes, but further research this year will examine the economic and social benefits that could be realised.</p>
<p>The report’s analysis also suggests <strong>new strategic Park &amp; Ride sites could reduce so-called “short trips” on the most congested part of the Hub</strong> by encouraging motorists to use public transport. We know from data we’ve collected that almost a quarter of all trips which enter the junctions on the ‘Birmingham Box’ – the loop formed by the M5, M42 and M6 - only travel one or two junctions on the motorway. By taking forward feasibility work to identify where rail, Metro and road based Park and Ride could intercept trips earlier in their journey, we could reduce trips travelling on the most congested part of the Hub.</p>
<p>The report argues that the impact of major incidents on the network are significant and increasingly frequent. On the M6 J4 to J11 in 2014/15 there were 37 incidents which took more than one hour to clear. Over three years, there have been 10 serious incidents where all lanes have been closed, with an average clearance time of 7.5 hours. The report argues that investing in the performance of the region’s roads will give businesses and users confidence that journeys will be more reliable.</p>
<p><strong>Maria Machancoses, Director at Midlands Connect, said:</strong> “This long term plan shows the Midlands needs a strategic solution for its road network, not a quick fix. There is no ‘silver bullet’ solution to fixing congestion; the recommendations outlined in this report are a bold statement of intent as to what is required to make the Midlands’ motorway network fit for purpose.</p>
<p>“The Midlands is at the centre of the UK and when it comes to a standstill, the whole country suffers. We have always said that whatever benefits our regional economy will benefit the wider UK economy too. As a region, we need to bring together the East and West Midlands, enhancing the links between business and people. These ten recommendations can achieve just that.”</p>
<p>The report also outlines a recommendation to test the potential for <strong>trialling HGV platooning</strong> in the Midlands, to understand how lorries could move in sync through wireless technology. Midlands Connect will carry out more research this year on the prospect of trials, alongside other traffic management strategies such as freight-only lanes.</p>
<p>The report also recommends enhancements to reduce congestion on the <strong>M42 J6 at Birmingham Airport and the NEC</strong> - which is the busiest section of the region’s motorways with 18,000 cars getting off and 14,000 cars getting on to the junction every day.</p>
<p>Also proposed is an extension of the Smart Motorway to the <strong>M6 J2</strong>, improvements on the <strong>A46</strong> to provide relief for the entire ‘Birmingham Box’, widening of the M42 between J3A to J7, on which around a third of users take short trips, and introducing ramp metering on the <strong>M5 J1 and 2 (a traffic light system)</strong>, as 12,000 journeys join and leave the motorway at peak times of the day at this junction.</p>
<p><strong>Sir John Peace, chairman of Midlands Engine and Midlands Connect, said:</strong> “One third of all British road freight travels from, through or to the Midlands, so our region suffers more than most from congestion, affecting the national as well as the regional economy. That’s why one of Midlands Connect’s main priorities is to make sure investment in improved connectivity helps support businesses that need reliable transport links, particularly SMEs.</p>
<p>“Consumer behaviour and habits have changed enormously in recent years, spurred on by growth of the digital economy. This continues to have a major and growing impact on our transport infrastructure which historically has failed to keep up with the demands being placed on our road and rail networks. By working closely with businesses and their representatives, we therefore want to ensure that Midlands Connect’s long-term strategy for the Midlands Motorway Hub leads to lasting investment that maintains the Midlands’ place as the beating heart of the British economy.”</p>
<p><strong>Network planning director for Highways England, Jeremy Bloom said:</strong> “We welcome the publication of this report, which highlights the importance of the Midlands Hub to the country’s road network and to the regional economy.</p>
<p>“We recognise that the network in the Midlands suffers from extensive congestion and agree that a vision for the future will help us to develop an investment strategy that solves the problems over the longer term. Clearly this won’t happen overnight but this report provides us with the foundation to plan improvements over the next two decades. We are committed to working closely with Midlands Connect to make this a reality.”</p>
<p><strong>Corin Crane, Chief Executive of the Black Country Chamber of Commerce, said:</strong> “The Black Country is home to renowned manufacturers with world-class reputations. However, without appropriate transport and infrastructure investment, the goods they make cannot be moved around the country. Our location at the heart of the UK should give business and industry an advantage and opportunities to thrive, not strangle them with an insufficient road network.</p>
<p>“Our members have identified better usage of the M6 Toll and lobbying for greater investment as central campaign aims. Therefore, it is great to see Midlands Connect pushing ahead with plans to put those policy objectives into action.”</p>
<p><strong>Julian Pottinger, Director of Little Pot Travel, a haulage firm based in Oldbury, said:</strong> “Congestion is a massive issue in the Black Country, both getting in to and out of the area. For haulage companies like mine that drives up costs through wasted fuel, time and resources.</p>
<p>“Improvements like smart motorway upgrades seem to be working, but more needs to be done to make the motorways run more smoothly in the future. I’d be interested in seeing more detail on the idea of a Western Strategic Route linking the M5 and M6, but I’m glad that Midlands Connect is looking at shorter term, quick wins as well.”</p>
<p>Midlands Connect published its landmark, 25-year strategy for improving transport connections in the Midlands in March 2017. Following the release of the Midlands Motorway Hub study, some of the key recommendations will now be taken forward for further consideration.</p>
<p><strong>The key recommendations proposed are:</strong></p>
<ol>
<li>Estimated time savings signage on the M6 to encourage better use of the M6 Toll during incidents and peak times.</li>
<li>Identifying opportunities for a Strategic Park and Ride scheme as an alternative to short motorway journeys</li>
<li>Examining the economic case for a Western Strategic Route linking M5/M6</li>
<li>Widening the M42 from Junction 3A to Junction 7</li>
<li>Creating an A46 Expressway</li>
<li>Further enhancements on M42 Junction 6</li>
<li>Targeted improvements on M6 Junction 2, 3 and 4</li>
<li>Ramp metering (installing traffic lights) on M5 at Junction 1 and Junction 2</li>
<li>Developing a smart motorway on M6, M1 to Junction 2.</li>
<li>Test the potential for an HGV Platooning trial in the Midlands.</li>
</ol>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-06-06T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            A bold, long-term vision to significantly reduce congestion on the Midlands’ motorways has been unveiled by Midlands Connect, the pan-regional transport partnership, with ten recommendations to improve the ‘Midlands Motorway Hub’ and get the country moving faster.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>