<?xml version="1.0" encoding="utf-8"?>
<Content Key="7dcaa757-532b-4c3e-b63a-a351b63860f8" Alias="Midlands Connect | Building Back Better webinar" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectBuildingBackBetterWebinar</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T15:46:30</CreateDate>
    <NodeName Default="Midlands Connect | Building Back Better webinar" />
    <SortOrder>267</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>In February 2021, Midlands Connect is running a series of webinars on topics and themes that will affect future transport policy development.</p>
<p>This webinar focuses on 'Building Back Better' post Covid-19.</p>
<p>Chaired by East Midlands CBI Regional Director, Richard Blackmore, the panellists are:</p>
<ul>
<ul>
<li>Alistair Baldwin, Senior Researcher, Institute for Government;</li>
<li>Clare James, Managing Director, East Midlands Airport;</li>
<li>Ed Watson, Interim Chief Executive, Greater Birmingham and Solihull Local Enterprise Partnership and</li>
<li>Sarah Phillips, Partner, EY</li>
</ul>
</ul>
<p>To sign up, please click here:&nbsp;<a href="https://www.eventbrite.co.uk/e/137911650459">https://www.eventbrite.co.uk/e/137911650459</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-02-04T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1387/our-geography-map.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Midlands Connect's latest webinar series featuring politicians, business and civic leaders, and industry experts.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>