<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ddd3fc9-d9f9-4e70-8e1a-2af5c80d6ac0" Alias="Mole On Cheek Helps Police 'Memory Man' Spot Theft Suspect" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MoleOnCheekHelpsPoliceMemoryManSpotTheftSuspect</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-10-27T10:54:48</CreateDate>
    <NodeName Default="Mole On Cheek Helps Police 'Memory Man' Spot Theft Suspect" />
    <SortOrder>61</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA["<div class=""main"">]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>