<?xml version="1.0" encoding="utf-8"?>
<Content Key="740f993d-5873-4be1-aa34-3e6beea0249a" Alias="More Rail Station Cycle 'Surgeries'" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MoreRailStationCycleSurgeries</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-11-30T17:02:11</CreateDate>
    <NodeName Default="More Rail Station Cycle 'Surgeries'" />
    <SortOrder>58</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
  </Properties>
</Content>