<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e8451c8-1b86-462b-a0e6-f31167998ba0" Alias="MP shows support for Worcestershire rail plans." Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MPShowsSupportForWorcestershireRailPlans</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-08-14T00:00:00</CreateDate>
    <NodeName Default="MP shows support for Worcestershire rail plans." />
    <SortOrder>173</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Midlands Rail Hub is an ambitious £1.5bn rail scheme set to transform rail travel across the whole of the Midlands. It includes improved access from the West Midlands to the South West, Wales, and the East Midlands.</p>
<p>This will create an additional 2 million seats on the network per year; as well as giving more people access to HS2 when it is complete. When Curzon Street station in Birmingham is up and running, connections from Moor Street station to the high-speed network will be seamless.</p>
<p>The rail scheme will see the frequency of trains from Cardiff to Birmingham doubling, with stops at Newport, Gloucester, Cheltenham Spa, and Worcestershire Parkway.&nbsp;When plans are built, Mr Huddleston’s constituents will also benefit from faster and more frequent services from Hereford to Birmingham, which stop at Droitwich Spa.</p>
<p><strong>Nigel Huddleston, MP for Mid Worcestershire, commented on the plans:</strong></p>
<p><em>“These proposals are so important for improving connections for the residents of Worcestershire. More services to Cardiff and Birmingham will create amazing opportunities for my constituents. </em></p>
<p><em>“I support these proposals and look forward to the development of the full Business Case.”</em></p>
<p><strong>Sarah Spink, Stakeholder Engagement Lead at Midlands Connect, added: </strong></p>
<p><em>“It’s great to be in Worcestershire today and to have the support of the local MP. Midlands Rail Hub proposals will benefit people living in Worcestershire and across the nation. We really want to crack on with the next phase of our plans.”</em></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-14T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/2016/worcestershire-pway-2023081402.jpeg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Representatives from Midlands Connect and GWR met with Mid Worcestershire MP, Nigel Huddleston at Worcestershire Parkway station to discuss how their plans for the Midlands Rail Hub could benefit his constituency.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>