<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c175287-ab96-492b-9f89-50b0fc1509b0" Alias="MPs HS2 vote sends strong message to new PM – get on and deliver HS2 all the way" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MPsHS2VoteSendsStrongMessageToNewPMGetOnAndDeliverHS2AllTheWay</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-07-16T00:00:00</CreateDate>
    <NodeName Default="MPs HS2 vote sends strong message to new PM – get on and deliver HS2 all the way" />
    <SortOrder>55</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Yesterday (Monday 15<sup>th</sup> July) MPs voted overwhelmingly to pass the High Speed Rail (West Midlands to Crewe) Bill through the Report Stage of parliament, by 263 votes to 17.</p>
<p><strong>Maria Machancoses, Director of Midlands Connect, said: </strong></p>
<p>This vote shows there is still resounding cross-party support to deliver HS2 in its entirety. The vast majority of MPs across the Midlands and the North know that high speed rail will bring jobs and investment to their constituencies, release desperately needed rail capacity, rebalance the UK economy and help us all reach our full potential.</p>
<p>The vote sends a strong message to the next Prime Minister that political support for HS2 remains strong, and whoever replaces Theresa May in Downing Street next week must commit to the project unequivocally.</p>
<p>We must now make sure that the hybrid Bill for Phase 2b, from Crewe to Manchester and from Birmingham to the East Midlands and Leeds, includes all the junctions we need in the Midlands and the North to properly integrate it with our regional networks. That’s how we can ensure it receives the same strong backing in its passage through parliament.</p>
<p>Midlands Connect stands with business, our regional political leaders and the vast majority of our MPs, who all believe HS2 is vital to the Midlands’ social, economic and environmental future.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-07-16T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>