<?xml version="1.0" encoding="utf-8"?>
<Content Key="d97275ad-98f4-487f-98be-b347b82e7f10" Alias="My train journey home – yesterday, today and tomorrow" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MyTrainJourneyHomeYesterdayTodayAndTomorrow</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T15:42:53</CreateDate>
    <NodeName Default="My train journey home – yesterday, today and tomorrow" />
    <SortOrder>228</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>As a self-confessed rail enthusiast, it’s fair to say I missed my daily commute more than most during lockdown. Although I enjoyed the opportunity to spend more time with my family, since recently returning to the office, I’ve found myself reflecting on how much my journey has been affected by the pandemic and how my journey could be further transformed over the next decade. Although COVID’s impact on the rail industry has been unprecedented, we must not lose sight of our longer term goals to simplify, modernise and decarbonise our network over the coming years.</p>
<p>I live in Cheltenham, Gloucestershire and work 50 miles away in Birmingham. As I have no desire to tackle the M5 during rush hour, a 42-minute train journey has long been my preference. In 2019, I commuted every day and faced busy crowds both in the morning and afternoon. I battled with backpacks and paperbacks as all passengers moved as one, following our collective goal of rushing to and from the workplace.</p>
<p>In 2021, my train journey to work looks quite different, as we tentatively move towards spending more time at the office. Mornings on the platform are quiet, when high peak-time ticket prices apply and the once-bursting car park is only half full. I see far higher numbers of workers and leisure travellers at the evening peak however when prices are lower and rail becomes more accessible. It’s clear that the way we use our railways has changed in line with new attitudes towards work and flexibility – but have rail companies done enough to alter their services to reflect this?</p>
<p>Some timetables have still not been restored to pre-covid levels and instead replaced by longer trains with more capacity during busy periods. This isn’t the like for like swap it immediately seems - although the number of seats may sometimes be the same as before, services are less frequent and this reduces convenience for passengers. Whilst I sense frustration from fellow commuters and agree that capacity must match demand, in time, Covid will become a page in the history books rather than a significant part of our daily lives. Lasting success for rail in the UK lies in seeing beyond the constraints of the pandemic and planning sustainable projects for the long term.</p>
<p>As a rail policy expert, I know my journey to the office in ten years’ time could look quite different both from pre-Covid and present times. For a start, the way I purchase my ticket will be made much simpler by the wider introduction of smart ticketing and multi-operator tickets made possible by new body Great British Railways, set to begin operating in 2023. Rail ticketing will become less fragmented and confusing, more modern and easier to use, helping to encourage more people out of the car and on to the train.</p>
<p>Building the Midlands Rail Hub, Midlands Connect’s flagship rail project, will bring a selection of smaller, strategic upgrades across the network. These improvements have been designed to improve journey times, generate more direct journeys and open up capacity for new routes – Cheltenham is set to see 2 extra trains per hour, journeys 5 minutes faster and direct links to HS2 (services will call into Moor Street station, which is adjacent to the planned HS2 station at Curzon Street) as a result.</p>
<p>With Government’s new mandate to fully decarbonise transport by 2050 in place, we know that the future of rail is green. Even though many trains are still running fully or partially on diesel and taking the train remains one of the greenest choices we can make today, the era of carbon-neutral electric trains is fast approaching. My journey to work in ten years’ time could well be carried out on an emission-free electric train, if Government commits to a rolling programme of electrification, as is hoped by the industry.</p>
<p>Although not everybody may share my passion for trains, all passengers ultimately want the same thing – faster, easier, greener and more affordable journeys for work and leisure. By designing rail policy with the long-term firmly in mind, I truly believe we’re heading for a bright future of quality rail journeys which suit the needs of all users.&nbsp;&nbsp;&nbsp;&nbsp;</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-11-17T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1825/andy-clark-headshot.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Senior Rail Programme Manager at Midlands Connect Andy Clark reflects on how his commute to the office has changed since the pandemic and how he hopes to see it develop in future
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Insights"
]]]></Value>
    </tags>
  </Properties>
</Content>