<?xml version="1.0" encoding="utf-8"?>
<Content Key="91661964-cf16-4aad-b245-da52b61edb9a" Alias="National Express West Midlands Is Bus Operator Of The Year" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/NationalExpressWestMidlandsIsBusOperatorOfTheYear</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2016-09-11T00:00:00</CreateDate>
    <NodeName Default="National Express West Midlands Is Bus Operator Of The Year" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p>Transport&nbsp;operator National Express West Midlands has won Bus Operator of the Year at the National Transport Awards.</p>
<p>Commenting after the awards, National Express group Chief Executive, Dean Finch, said:</p>
<p>&ldquo;This is a great accolade for the whole team. From leading the industry on partnership working, investing in new premium Platinum vehicles that are proving so popular with passengers and being way ahead of other city regions on smart, integrated transport, this award is very well deserved.&rdquo;</p>
<p>National Express West Midlands Managing Director, Peter Coates, said:</p>
<p>&ldquo;These are the most prestigious awards in our industry, so this is a great credit to everyone's hard work. It also demonstrates that the way we work in partnership as part of the UK’s first - and best - Bus Alliance is delivering great results for our passengers.&rdquo;</p>
<p>Bus driver Dave Gerrard from Pensnett garage in Dudley was also commended in the category Frontline Employee of the Year for raising thousands of pounds for local charities.</p>
<p>Dave, from Stourbridge, has been a bus driver for decades. Every year, he organises events to raise money for Russell’s Hall Hospital, the Royal British Legion, Macmillan Nurses and many others.</p>
<p>In a good night for the West Midlands on the national stage, TfWM - the transport arm of the region’s new combined authority (WMCA) - was also named City Region Transport Authority of the Year.</p>
<p>Beating tough opposition from other regions - including Greater Manchester, Merseyside and the North East - the award highlighted key projects that TfWM has delivered, including the Midland Metro tram extension through Birmingham city centre and the Swift smartcard - the most advanced of its kind outside of London.</p>
<p>Transport Secretary Chris Grayling MP, speaking at the ceremony in London, said:</p>
<p>&ldquo;Transport has a unique power to make people’s lives better. It connects us with family and friends. It links us with jobs and schools. It helps businesses reach new markets. And it drives economic growth and prosperity.</p>
<p>&ldquo;So it is right that once a year we have an opportunity to recognise the very best from across the industry at the National Transport Awards. Each of the nominees for 2016 has excelled in a different way, but all have succeeded in raising the standard of transport delivery across modern Britain. And that is something the whole country can celebrate.&rdquo;</p>
<p><img style="width: 408px; height:363px;" src="/st/media/1061/nat-ex-awards.png?width=408&amp;height=363" alt="" data-udi="umb://st/media/5497867e47e84f72b8021e6a917cf3a9"></p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2016-09-11T00:00:00]]></Value>
    </date>
  </Properties>
</Content>