<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc47a449-e0eb-4ee3-be53-86622e6bf8ea" Alias="Network North Conference" Level="3">
  <Info>
    <Parent Key="ccf66da8-c453-4ea9-8fcf-5cfc53f1c7d0">Events</Parent>
    <Path>/MidlandsConnect/Events/NetworkNorthConference</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageMidlandsConnect</ContentType>
    <CreateDate>2023-12-15T12:16:56</CreateDate>
    <NodeName Default="Network North Conference" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
  </Info>
  <Properties>
    <customCodeBody>
      <Value><![CDATA[]]></Value>
    </customCodeBody>
    <customCodeHead>
      <Value><![CDATA[]]></Value>
    </customCodeHead>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/986af63f653b414ba1d3674ecbe741e4",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/03f3202c1370481a840e6aa34240b89b",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/9656f76395d8430da986387b98f9f626",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/9fecedcf516b4bf2a0c4ea090366743c",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/46ee23029b27434f84f5251cac61b9c6",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/1d5ae669a821435d9a718f6debf3bc84",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/2b533360fab54bc884ef6d4ede0e40b8",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/f2a8903e14384654b9a17fbf92455bf4",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/34ca33b26100430185e2edee805c743b",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/6db3638279cc499a9043e560aa83416d",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/33ec5295b02647f3b900a8005765c52a",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/1dd2100844f34e45895dd6cd54aa0f2d",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e7056c17f99a4c88aa270ed1f43fd3fe",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/96d40296d57d4f5a80bfcb3344b238e6",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/5a7012d601114edf90fec77ed7fccf4d",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/784e554708504c2eb25b46697fc59056",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/73bc6b09bf41454cb9ffd32db9db1c19",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/986af63f653b414ba1d3674ecbe741e4"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/03f3202c1370481a840e6aa34240b89b",
      "richText": "<h3 class=\"_3vbdr sc-frDJqD fDQgcn\">Welcome Speech - Maria Machancoses</h3>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/9656f76395d8430da986387b98f9f626",
      "video": "[\n  {\n    \"url\": \"https://vimeo.com/891848818?share=copy\",\n    \"width\": 360,\n    \"height\": 240,\n    \"preview\": \"<iframe src=\\\"https://player.vimeo.com/video/891848818?app_id=122963\\\" width=\\\"360\\\" height=\\\"203\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; picture-in-picture\\\" title=\\\"Welcome Speech - Maria Machancoses - Network North Conference\\\"></iframe>\"\n  }\n]"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/9fecedcf516b4bf2a0c4ea090366743c",
      "richText": "<h3 class=\"_3vbdr sc-frDJqD fDQgcn\">Keynote Speech - Anthony Browne</h3>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/46ee23029b27434f84f5251cac61b9c6",
      "video": "[\n  {\n    \"url\": \"https://vimeo.com/891849903?share=copy\",\n    \"width\": 360,\n    \"height\": 240,\n    \"preview\": \"<iframe src=\\\"https://player.vimeo.com/video/891849903?app_id=122963\\\" width=\\\"360\\\" height=\\\"203\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; picture-in-picture\\\" title=\\\"Keynote Speech - Anthony Browne - Network North Conference\\\"></iframe>\"\n  }\n]"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/1d5ae669a821435d9a718f6debf3bc84",
      "richText": "<h3 class=\"_3vbdr sc-frDJqD fDQgcn\">Anthony Browne Q&amp;A</h3>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/2b533360fab54bc884ef6d4ede0e40b8",
      "video": "[\n  {\n    \"url\": \"https://vimeo.com/891848080?share=copy\",\n    \"width\": 360,\n    \"height\": 240,\n    \"preview\": \"<iframe src=\\\"https://player.vimeo.com/video/891848080?app_id=122963\\\" width=\\\"360\\\" height=\\\"203\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; picture-in-picture\\\" title=\\\"Anthony Browne Q&amp;A - Network North Conference\\\"></iframe>\"\n  }\n]"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/f2a8903e14384654b9a17fbf92455bf4",
      "richText": "<h3 class=\"_3vbdr sc-frDJqD fDQgcn\">Panel - Midlands Rail</h3>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/34ca33b26100430185e2edee805c743b",
      "video": "[\n  {\n    \"url\": \"https://vimeo.com/891845446?share=copy\",\n    \"width\": 360,\n    \"height\": 240,\n    \"preview\": \"<iframe src=\\\"https://player.vimeo.com/video/891845446?app_id=122963\\\" width=\\\"360\\\" height=\\\"203\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; picture-in-picture\\\" title=\\\"Panel - Midlands Rail - Network North Conference\\\"></iframe>\"\n  }\n]"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/6db3638279cc499a9043e560aa83416d",
      "richText": "<h3 class=\"_3vbdr sc-frDJqD fDQgcn\">Panel - Roads</h3>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/33ec5295b02647f3b900a8005765c52a",
      "video": "[\n  {\n    \"url\": \"https://vimeo.com/891825557?share=copy\",\n    \"width\": 360,\n    \"height\": 240,\n    \"preview\": \"<iframe src=\\\"https://player.vimeo.com/video/891825557?app_id=122963\\\" width=\\\"360\\\" height=\\\"203\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; picture-in-picture\\\" title=\\\"Panel - Roads - Midlands Connect Network North Conference\\\"></iframe>\"\n  }\n]"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/1dd2100844f34e45895dd6cd54aa0f2d",
      "richText": "<h3 class=\"_3vbdr sc-frDJqD fDQgcn\">Panel - The Council’s Perspective</h3>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/e7056c17f99a4c88aa270ed1f43fd3fe",
      "video": "[\n  {\n    \"url\": \"https://vimeo.com/891839874?share=copy\",\n    \"width\": 360,\n    \"height\": 240,\n    \"preview\": \"<iframe src=\\\"https://player.vimeo.com/video/891839874?app_id=122963\\\" width=\\\"360\\\" height=\\\"203\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; picture-in-picture\\\" title=\\\"Panel - The Council's Perspective - Network North Conference\\\"></iframe>\"\n  }\n]"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/96d40296d57d4f5a80bfcb3344b238e6",
      "richText": "<h3 class=\"_3vbdr sc-frDJqD fDQgcn\">Presentation - Department for Transport</h3>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/5a7012d601114edf90fec77ed7fccf4d",
      "video": "[\n  {\n    \"url\": \"https://vimeo.com/891847032?share=copy\",\n    \"width\": 360,\n    \"height\": 240,\n    \"preview\": \"<iframe src=\\\"https://player.vimeo.com/video/891847032?app_id=122963\\\" width=\\\"360\\\" height=\\\"203\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; picture-in-picture\\\" title=\\\"Presentation - Department for Transport - Network North Conference\\\"></iframe>\"\n  }\n]"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/784e554708504c2eb25b46697fc59056",
      "richText": "<h3 class=\"_3vbdr sc-frDJqD fDQgcn\">Closing Speech - Maria Machancoses</h3>"
    },
    {
      "contentTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "udi": "umb://element/73bc6b09bf41454cb9ffd32db9db1c19",
      "video": "[\n  {\n    \"url\": \"https://vimeo.com/891849353?share=copy\",\n    \"width\": 360,\n    \"height\": 240,\n    \"preview\": \"<iframe src=\\\"https://player.vimeo.com/video/891849353?app_id=122963\\\" width=\\\"360\\\" height=\\\"203\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen; picture-in-picture\\\" title=\\\"Closing Speech - Maria Machancoses - Network North Conference\\\"></iframe>\"\n  }\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>