<?xml version="1.0" encoding="utf-8"?>
<Content Key="6420d6e1-69b5-4ef1-b600-50e0c11d14f1" Alias="New Government approach to rail funding a &quot;massive opportunity&quot; for Midlands Connect" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/NewGovernmentApproachToRailFundingAMassiveOpportunityForMidlandsConnect</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-03-21T00:00:00</CreateDate>
    <NodeName Default="New Government approach to rail funding a &quot;massive opportunity&quot; for Midlands Connect" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>The Government has set out a new approach for rail proposals that require government funding. The ‘Rail network enhancements pipeline’ (RNEP) creates a rolling programme of investment, focused on outcomes that provide benefits for passengers, freight users and the economy and moving government investment in enhancements away from a rigid 5 year cycle.</p>
<p>Commenting on the new approach, Midlands Connect Director Maria Machancoses said:</p>
<p>“This is a massive opportunity for Sub-national Transport Bodies (STBs) like Midlands Connect to drive the essential investment to improve our vital railways. The Government’s new approach is an endorsement of the work Sub-national Transport Bodies like Midlands Connect are doing to get the right options early and should make it easier for regional voices and businesses to achieve the improved services we desperately need, particularly on our flagship rail project, the Midlands Rail Hub.</p>
<p>“I am glad to see the Department for Transport listening and working with us to move away from a rigid 5 year cycle of rail investment towards a rolling pipeline of enhancements, with a focus on the impact investment can have on the wider economy and growth in jobs and housing.&nbsp; &nbsp;It is now vital we get the cost-effective proposals right and deliver together.</p>
<p>“We will work with DfT to ensure the Midlands is at the forefront of this new opportunity to promote and pioneer enhancements with the crucial support of our partners, including Local Enterprise Partnerships, Local Authorities and the West Midlands Combined Authority. This is a hugely encouraging moment in our drive for more regional oversight of transport infrastructure improvements and a rebalancing of the economy.</p>
<p>“The Government’s report showcases Midlands opportunities, including our flagship rail project, the Midlands Rail Hub (MRH), and opens the door to accelerate the potential to unlock 85,000 extra seats for Midlands commuters and users. Our aim of an additional 10 trains per hour between our great towns and cities would bring the East and West Midlands closer together and drive vital jobs growth and new housing across the region. This announcement gives us the green light to develop the programme further with the potential for early options to be submitted to Government in the coming year."</p>
<p>&nbsp;</p>
<p>-ENDS-</p>
<p>&nbsp;</p>
<p>The Government’s report can be found here: https://www.gov.uk/government/publications/rail-network-enhancements-pipeline</p>
<p>&nbsp;</p>
<p>Additional information:</p>
<p>&nbsp;</p>
<p>The Midlands Rail Hub meets all four of the outcomes that enhancements must provide to be included in the RNEP: keeping goods and people moving smoothly and safely, delivering benefits from committed programmes already underway (by focussing on integrating with HS2 services), offering new and better journeys and opportunities for the future, and changing the way the rail sector works for the better, by keeping the railway modern and effective.&nbsp;</p>
<p>&nbsp;</p>
<p>Our work on the Midlands Rail Hub also satisfies the RNEP’s principles for investment, which includes providing a robust business case, a keen focus on the outcomes for railway users and the taxpayer, meeting demand and demonstrating a balanced portfolio that best rebalances the economy.</p>
<p>&nbsp;</p>
<p>We are glad that STBs are mentioned in the first stage of the RNEP rolling programme of investment – Determine. But we are keen to understand more about how we can be involved in the later stages of investment decisions – the Develop, Design, Deliver and Deploy stages - to ensure robust regional oversight throughout the investment process.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-03-21T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>