<?xml version="1.0" encoding="utf-8"?>
<Content Key="15dd2a9d-65b2-43d8-8062-5198f273ee3f" Alias="New Safety Officers On Patrol." Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/NewSafetyOfficersOnPatrol</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-02T00:00:00</CreateDate>
    <NodeName Default="New Safety Officers On Patrol." />
    <SortOrder>107</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>Eight new transport safety officers (TSOs) are now out on patrol tackling anti-social behaviour across the region’s bus network.</p>

<p>The specially trained officers are deployed to deal with low-level nuisance, disorder and anti-social behaviour targeting routes and locations based on reports received from transport staff or the general public.</p>

<p>They have been added to the team of three TSOs who were appointed in 2021, and have the powers to issue fixed penalty fines for behaviour such as smoking, littering, disorder, vandalism and throwing fireworks.</p>

<p>The new officers have been assigned to the West Midlands Safer Travel Partnership, a collaboration between Transport for the West Midlands (TfWM), West Midlands Police and the British Transport Police, and work alongside police officers and police community support officers covering the bus, tram and rail networks.</p>

<p>Funding for the team has come from the £88 million Bus Service Improvement Plan grant awarded to TfWM, part of the West Midlands Combined Authority (WMCA) by Government last year.</p>

<p>The Safer Travel Partnership stresses that according to the latest data there were just 1.9 crimes reported for every 100,000 bus journeys in December 2022.</p>

<p>Andy Street, Mayor of the West Midlands and WMCA Chair, said: &ldquo;We want local people right across our region to feel comfortable when using our public transport network. That’s why I’m pleased to welcome eight new Transport Safety Officers on board – an important investment in our Safer Travel team that will provide visibility and added reassurance.</p>

<p>&ldquo;I wish these new officers well and I look forward to bus passengers continuing to enjoy safe surroundings when they make their journeys.</p>

<p>&ldquo;This investment in safety was of course made possible thanks to the Bus Service Improvement Plan funding we secured which has also enabled us to take steps to make our bus services more attractive to passengers and build our services back up to pre-Covid levels. We’ve already announced a fare freeze until 2025 to help ease cost of living pressures and have further proposals in the pipeline.&rdquo;</p>

<p>The TSOs have been trained under the Community Safety Accreditation Scheme (CSAS) and use a three Es approach of engage, educate and finally enforce when dealing with antisocial behaviour.</p>

<p>&nbsp;The West Midlands Police and Crime Commissioner, Simon Foster, said: &ldquo;I’m very pleased to see 8 new uniformed officers are now out and about, helping to prevent and tackle crime and anti-social behaviour on our buses.</p>

<p>&ldquo;The overwhelming majority of journeys on public transport in our region pass without incident, but it’s important that we’re not complacent and that safety and security are our top priority.</p>

<p>&ldquo;We need far more people to be travelling by bus and this investment is a positive step in the right direction.&rdquo;</p>

<p>The first three TSOs were <a href="/news/latest-news/new-transport-safety-officers-for-the-west-midlands/">appointed for a pilot project in 2021</a>, so the eight new officers bring the total to 11.</p>

<p>During December, after the team started, they had 9,258 recorded interactions with the public on transport and issued 331 verbal warnings during almost 1,500 hours on patrol.</p>

<p>In one incident a young woman on Metro was able to seek assurance after being made to feel uncomfortable by a fellow passenger. She approached the TSO and asked for help with a ticket, while showing her phone screen with a discreet message explaining she had received inappropriate advance. The TSO was able to support the woman and deter further unwanted behaviour.</p>


                            
    
    <img src="/media/st/media/1141/wmca-photo.jpg">


                            
    
    <img src="/media/st/media/1142/two.jpg">


                            
    
    <img src="/media/st/media/1143/seven.jpg">


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-02T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>