<?xml version="1.0" encoding="utf-8"?>
<Content Key="5be184e4-669b-4f24-8f9c-c9eb2ef6c6f3" Alias="New Safety Officers On Patrol." Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/NewSafetyOfficersOnPatrol</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-11-30T17:02:21</CreateDate>
    <NodeName Default="New Safety Officers On Patrol." />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
  </Properties>
</Content>