<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cda4724-c655-4798-a71d-78d3033186cc" Alias="Newark bypass: last piece of the puzzle" Level="3">
  <Info>
    <Parent Key="aa0ea236-e528-43b9-975b-9289669b7f62">Publications</Parent>
    <Path>/MidlandsConnect/Publications/NewarkBypassLastPieceOfThePuzzle</Path>
    <Trashed>false</Trashed>
    <ContentType>publication</ContentType>
    <CreateDate>2024-01-24T12:27:11</CreateDate>
    <NodeName Default="Newark bypass: last piece of the puzzle" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2025-11-27T00:00:00]]></Value>
    </date>
    <document>
      <Value><![CDATA[[
  {
    "key": "b05fe2f9-326b-41b1-bedc-ad8df408f2ca",
    "mediaKey": "74c1c78a-7409-4597-9c1b-08b1f6a07a2c"
  }
]]]></Value>
    </document>
  </Properties>
</Content>