<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a856419-45d2-4440-a108-cbc519da09a1" Alias="Operation Hay" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/OperationHay</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Operation Hay" />
    <SortOrder>62</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p>Operation Hay<span>&nbsp;</span>was a trans-modal initiative that took place during the first two weeks of the new academic term in January focusing around the safety of pupils travelling to and from school using public transport, many with new high value technology they had received for Christmas.</p>
<p>Five schools were visited by officers from both the West Midlands Police and British Transport Police half of the Safer Travel Team where information and advice were given to pupils in relation to personal safety, electronic property registration with IMMOBLISE.COM, and were informed about the SEE SOMETHING SAY SOMETHING campaign.</p>
<p>The operation received media coverage with both Inspector Lee Gordon and Inspector Gareth Morris being interviewed for Central Television to speak about operation Hay and its Objectives.</p>
<p>The Safer Travel Police Team were also at locations in Birmingham city centre and Solihull offering information and advice about personal safety and crime reduction .</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>