<?xml version="1.0" encoding="utf-8"?>
<Content Key="23849512-c9b0-4640-9d1a-b238d59f5ca1" Alias="Our green transport tipping point is in sight – now we must reach it " Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/OurGreenTransportTippingPointIsInSightNowWeMustReachIt</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-03-28T00:00:00</CreateDate>
    <NodeName Default="Our green transport tipping point is in sight – now we must reach it " />
    <SortOrder>117</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><span>Take a look at the numbers and it’s almost impossible not to grasp the scale of the challenge ahead. While some industries have taken huge strides in reducing their carbon emissions – take the energy industry, which has slashed CO2 emissions by over 60 per cent in the last 30 years – the transport sector lags behind, cutting its carbon output by just five per cent in this same period. There’s no single solution that will fix this, but a series of methodical steps that we must make to change the way we travel and by what means.</span><span>&nbsp;</span></p>
<p><span>We need to get more people onto our railways, boosting existing connections to make them faster and more frequent, and opening up new links between major cities such as Coventry and Leicester, which haven’t enjoyed a direct rail link in almost two decades. Our Midlands Engine Rail programme, a series of region-wide enhancements including better track, signalling and the removal of bottlenecks will create over 11 million more seats on our railway network. Our biggest project, Midlands Rail Hub, will create new connections into Birmingham’s Moor Street station, bringing passengers from towns and cities including Worcester, Bromsgrove, Leicester, Nuneaton, Bristol, Cardiff&nbsp;and Hereford&nbsp;onto the doorstep of our new high speed network, which will have an iconic new station just next door.</span><span>&nbsp;</span></p>
<p><span>The pandemic reminded us of the essential importance of our road network, which kept food on our shelves, medicine in our pharmacies and parts in our factories. Over seven out of every ten journeys we make are by road. This strategy looks at how we can make better use of the infrastructure we already have, using 5G and data to provide better in-vehicle information, creating a network that supports public transport and active travel and an environment where electric vehicle charging infrastructure serves our growing cohort of drivers. We’ve also identified pinch points on the network that need immediate attention, to boost business trade and support new housing as well as routes where alternative fuelling stations could be located to enable hydrogen-powered HGV trips.</span><span>&nbsp;</span></p>
<p><span>Although greening our transport network must be a primary focus, we cannot forget the people behind our plans and the huge impact transport connectivity can have on their lives. We know that areas with poorer public transport suffer from lower social mobility, we also know that the cost of living crisis is putting pressure on families, impacting their ability to travel and access opportunities. We also know that the services on offer differ across our region, with some deprived and cut off areas being left behind. By levelling-up transport, connecting communities and creating a network fit for the future, one where new technology paves the way for green, affordable and integrated journeys, we can reach our tipping point – one where sustainable transport is available to and chosen by all. </span><span>&nbsp;</span></p>
<p><span><strong>Maria Machancoses is CEO of Sub-national Transport Body Midlands Connect</strong></span><span>&nbsp;</span></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-03-28T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1999/maria-formal-3.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            Today we release our Strategic Transport Plan, a big, bright and bold vision for the future of the Midlands’ transport network. I know it’s difficult to conjure enthusiasm for yet another plan – we’re already knee deep in roadmaps, blueprints and strategies, each one promising to provide the answers to a complex existential question. But trust me when I say, this one’s worth your time. Yes, we’re at the biggest crossroads in personal transportation since the horse and cart was replaced by the motorcar, yes, we’re grappling with the effects of a climate crisis, but we live in a region spearheading the creation of new, green technologies – battery production, autonomous vehicle trials and hydrogen powered HGVs. The Midlands has the tools it needs to decarbonise at its disposal, now we must reach the tipping point where sustainable transport is no longer a choice, but the choice.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>