<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ca20469-89b7-4905-a2b6-731d027a218b" Alias="Our Strategic Transport Plan" Level="3">
  <Info>
    <Parent Key="aa0ea236-e528-43b9-975b-9289669b7f62">Publications</Parent>
    <Path>/MidlandsConnect/Publications/OurStrategicTransportPlan</Path>
    <Trashed>false</Trashed>
    <ContentType>publication</ContentType>
    <CreateDate>2024-01-27T15:49:07</CreateDate>
    <NodeName Default="Our Strategic Transport Plan" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-02-28T00:00:00]]></Value>
    </date>
    <document>
      <Value><![CDATA[[
  {
    "name": "Mc Stp Doc Digital",
    "udi": "umb://media/a0d36af964f4451fa5adbc13d2e435d3"
  }
]]]></Value>
    </document>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
  </Properties>
</Content>