<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a32bf00-c96d-421d-96eb-f80d6620dd2a" Alias="Our Shared Vision for the East Midlands" Level="3">
  <Info>
    <Parent Key="aa0ea236-e528-43b9-975b-9289669b7f62">Publications</Parent>
    <Path>/MidlandsConnect/Publications/OurSharedVisionForTheEastMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>publication</ContentType>
    <CreateDate>2024-01-26T17:09:35</CreateDate>
    <NodeName Default="Our Shared Vision for the East Midlands" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f0bd1286-331b-4978-8105-04a38c3a6abf">Publication</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-09-23T00:00:00]]></Value>
    </date>
    <document>
      <Value><![CDATA[[
  {
    "key": "d85a824d-4f14-478e-9a52-9035d001bf64",
    "mediaKey": "9958fbb3-4f98-4155-99fe-a76cb6e8aa04"
  }
]]]></Value>
    </document>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
  </Properties>
</Content>