<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d492bca-0598-4cc9-9e73-2029d454004b" Alias="Our projects" Level="3">
  <Info>
    <Parent Key="fd363a02-365b-4656-b4ca-592b89bb161c">About us</Parent>
    <Path>/MidlandsConnect/AboutUs/OurProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageMidlandsConnect</ContentType>
    <CreateDate>2023-11-14T10:46:43</CreateDate>
    <NodeName Default="Our projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a50b9d638c4949eeb43f1021d597d900",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/22b54c7a0b514562a524bea38d4d57f3",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/a50b9d638c4949eeb43f1021d597d900"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/22b54c7a0b514562a524bea38d4d57f3",
      "richText": "<ul>\n<li><a href=\"/{localLink:umb://document/69abc02e8c914327bc5ae3734f9b6578}\" title=\"Midlands engine rail\">Midlands engine rail</a>\n<ul>\n<li>Midlands Rail Hub</li>\n<li>Birmingham airport connectivity</li>\n<li>Birmingham - Black Country - Shrewsbury</li>\n<li>Nottingham - Lincoln</li>\n<li>Derby - Stoke - Crewe</li>\n<li>Midlands Connect Conventional Compatible HS2 services</li>\n</ul>\n</li>\n</ul>"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
  </Properties>
</Content>