<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7806ff5-1d4e-40e7-afec-998277adc79a" Alias="Our Shared Vision for the East Midlands 2024" Level="3">
  <Info>
    <Parent Key="aa0ea236-e528-43b9-975b-9289669b7f62">Publications</Parent>
    <Path>/MidlandsConnect/Publications/OurSharedVisionForTheEastMidlands2024</Path>
    <Trashed>false</Trashed>
    <ContentType>publication</ContentType>
    <CreateDate>2024-05-13T10:03:53</CreateDate>
    <NodeName Default="Our Shared Vision for the East Midlands 2024" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-05-13T00:00:00]]></Value>
    </date>
    <document>
      <Value><![CDATA[[
  {
    "key": "308d0b7d-1ac5-4ecf-8ca6-5a09e6f64962",
    "mediaKey": "98c733af-8e5a-4072-9507-17458b51912f"
  }
]]]></Value>
    </document>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
  </Properties>
</Content>