<?xml version="1.0" encoding="utf-8"?>
<Content Key="802f820e-68c4-4ec6-9e54-32f4da3c4a99" Alias="Partner event | Network Rail - Newark to Lincoln Level Crossing and Signalling Project information event" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/PartnerEventNetworkRailNewarkToLincolnLevelCrossingAndSignallingProjectInformationEvent</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2020-08-12T00:00:00</CreateDate>
    <NodeName Default="Partner event | Network Rail - Newark to Lincoln Level Crossing and Signalling Project information event" />
    <SortOrder>230</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Network Rail is inviting residents to public information events in August on the&nbsp;Newark to Lincoln level crossing and signalling project&nbsp;</p>
<p>12th August - Collingham Memorial Hall, 67 High Street, Collingham, Newark NG23 7LB&nbsp;</p>
<p>13th August - Best Western Hotel, Newark Road, South Hykeham LN6 9NH&nbsp;</p>
<p>Both events shall run from <strong>14:30 - 18:30</strong>.</p>
<p>At these events Network Rail intends to provide local people with more information regarding works due to take place on the railway in the area.</p>
<p>In 2022, Network Rail plans to make significant improvements to the level crossings and signalling infrastructure on the Newark to Lincoln line. Once these works are complete the line speed shall also be increased to 75mph where at present it alternates between 50mph and 70mph.</p>
<p>The existing infrastructure is in many locations at the end of, or has even considerably exceeded, its expected life expectancy. Network Rail therefore intends to undertake works at 13 level crossings on the public highway and at 3 level crossings on public footpaths including:</p>
<ul>
<li>3 level crossing upgrades utilising obstacle detecting technology;</li>
<li>1 full level crossing closure and construction of new diverted road;</li>
<li>1 full renewal of the existing crossing;</li>
<li>5 minor infrastructure upgrades at crossings to improve safety and reliability;</li>
<li>Works at 1 bridleway crossing to be confirmed;</li>
<li>3 level crossings on public footpaths to be upgraded to ensure they remain safe once the line speed is increased.</li>
</ul>
<p>&nbsp;</p>
<p>The work will also include renewing the signalling infrastructure thereby replacing the last of the mechanical signals on the line with modern lightweight LED signals. These works will be taking place at various locations in the area prior to planned completion at the end of 2022 and will require our teams to access the railway numerous times in order to undertake a wide range of activities.&nbsp;</p>
<p>These works are vital to ensure that the Newark to Lincoln line and the crossings associated with it, are safe and fit for the future, ensuring the railway continues to improve its service to the local community.</p>
<p>For confirmation of the list of locations affected, please see the table below overleaf.</p>
<p><strong>Affected Level Crossings</strong></p>
<table border="0" width="100%">
<tbody>
<tr>
<td width="20%">
<p><strong>Location</strong></p>
</td>
<td width="13%">
<p><strong>Post Code</strong></p>
</td>
<td width="28%">
<p><strong>Existing Crossing Type</strong></p>
</td>
<td width="36%">
<p><strong>Works Description</strong></p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Cottage Lane</strong></p>
</td>
<td width="13%">
<p>NG23 7QJ</p>
</td>
<td width="28%">
<p>Automatic Half Barrier Crossing</p>
</td>
<td width="36%">
<p>Conversion to Manually Controlled Barrier with Obstacle Detection</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Coney Green</strong></p>
</td>
<td width="13%">
<p>NG23 7QJ</p>
</td>
<td width="28%">
<p>Public Footpath Crossing</p>
</td>
<td width="36%">
<p>Red light warning system</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Westbrook Lane</strong></p>
</td>
<td width="13%">
<p>NG23 7RE</p>
</td>
<td width="28%">
<p>Gated Crossing with Miniature Stop Light</p>
</td>
<td width="36%">
<p>New CCTV cameras installed</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Butts</strong></p>
</td>
<td width="13%">
<p>NG23 7NA</p>
</td>
<td width="28%">
<p>Public Footpath Crossing</p>
</td>
<td width="36%">
<p>Red light warning system</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Dykes End</strong></p>
</td>
<td width="13%">
<p>NG23 7NA</p>
</td>
<td width="28%">
<p>Public Footpath Crossing</p>
</td>
<td width="36%">
<p>Red light warning system</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Collingham Station</strong></p>
</td>
<td width="13%">
<p>NG23 7RB</p>
</td>
<td width="28%">
<p>Automatic Half Barrier Crossing</p>
</td>
<td width="36%">
<p>Conversion to Manually Controlled Barrier with Obstacle Detection</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Cross Lane</strong></p>
</td>
<td width="13%">
<p>NG23 7NY</p>
</td>
<td width="28%">
<p>Automatic Half Barrier Crossing</p>
</td>
<td width="36%">
<p>Crossing closure and construction of new highway</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Swinderby Road</strong></p>
</td>
<td width="13%">
<p>NG23 7NY</p>
</td>
<td width="28%">
<p>Automatic Half Barrier Crossing</p>
</td>
<td width="36%">
<p>Full renewal</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>South Scarle Lane</strong></p>
</td>
<td width="13%">
<p>LN6 9JA</p>
</td>
<td width="28%">
<p>Automatic Half Barrier Crossing</p>
</td>
<td width="36%">
<p>Signalling upgrade</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Meardsall Lane</strong></p>
</td>
<td width="13%">
<p>LN6 9JA</p>
</td>
<td width="28%">
<p>User Worked Crossing</p>
</td>
<td width="36%">
<p>Solution for bridleway to be confirmed</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Swinderby Station</strong></p>
</td>
<td width="13%">
<p>LN6 9HY</p>
</td>
<td width="28%">
<p>Manually Controlled Gated Crossing</p>
</td>
<td width="36%">
<p>Conversion to Manually Controlled Barrier with Obstacle Detection</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Eagle Barnsdale</strong></p>
</td>
<td width="13%">
<p>LN6 9EA</p>
</td>
<td width="28%">
<p>Automatic Half Barrier Crossing</p>
</td>
<td width="36%">
<p>Telecommunications upgrade</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Eagle &amp; Thorpe</strong></p>
</td>
<td width="13%">
<p>LN6 9DY</p>
</td>
<td width="28%">
<p>Automatic Half Barrier Crossing</p>
</td>
<td width="36%">
<p>Telecommunications upgrade</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Thorpe-on-the-Hill</strong></p>
</td>
<td width="13%">
<p>LN6 9BS</p>
</td>
<td width="28%">
<p>Automatic Half Barrier Crossing</p>
</td>
<td width="36%">
<p>Telecommunications upgrade</p>
</td>
</tr>
<tr>
<td width="20%">
<p><strong>Hykeham</strong></p>
</td>
<td width="13%">
<p>LN6 9AT</p>
</td>
<td width="28%">
<p>Automatic Half Barrier Crossing</p>
</td>
<td width="36%">
<p>Conversion to Manually Controlled Barrier with Obstacle Detection</p>
</td>
</tr>
</tbody>
</table>
<p>There is no need to confirm attendance, please simply turn up on the day and Network Rail shall be ready to discuss the project and answer your queries.</p>
<p>Please be aware that due to the restrictions caused by coronavirus there will be social distancing measures in place and a strict limit on the number of people allowed within the hall at any one time. Network Rail would therefore ask you to be patient should you be asked to remain outside until we are able to allow you in.</p>
<p>if you have any additional questions or concerns, please visit <strong>www.networkrail.co.uk/contact</strong> or telephone our <strong>24-Hour National Helpline on 03457 11 41 41.</strong></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-08-12T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1387/our-geography-map.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>