<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdde6a23-2e72-41dc-9941-e921e6be4a6f" Alias="Personalisation Groups" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PersonalisationGroups</Path>
    <Trashed>false</Trashed>
    <ContentType>personalisationGroupsFolder</ContentType>
    <CreateDate>2024-07-23T11:34:27</CreateDate>
    <NodeName Default="Personalisation Groups" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>