<?xml version="1.0" encoding="utf-8"?>
<Content Key="899e1392-e5ce-400a-a222-f33f3317d185" Alias="Phoebe Russell" Level="3">
  <Info>
    <Parent Key="9af3708d-9d5e-4145-8d46-137f7ce2a49d">Authors</Parent>
    <Path>/WMCAHomepage/Authors/PhoebeRussell</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2023-08-09T12:29:36</CreateDate>
    <NodeName Default="Phoebe Russell" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bio>
      <Value><![CDATA[]]></Value>
    </bio>
    <facebook>
      <Value><![CDATA[]]></Value>
    </facebook>
    <jobTitle>
      <Value><![CDATA[Arborist]]></Value>
    </jobTitle>
    <linkedin>
      <Value><![CDATA[]]></Value>
    </linkedin>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
  </Properties>
</Content>