<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc69e728-6898-43b9-85f7-11062b9e2085" Alias="Plans released for £800million alternative fuels network" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/PlansReleasedFor800millionAlternativeFuelsNetwork</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-06-16T00:00:00</CreateDate>
    <NodeName Default="Plans released for £800million alternative fuels network" />
    <SortOrder>95</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>
<p><strong>Report by transport body Midlands Connect suggests region could be ‘world leader’ in alternative fuels </strong></p>
</li>
<li>
<p><strong>66 locations identified as potential hydrogen or natural gas refuelling sites</strong></p>
</li>
<li>
<p><strong>Enabling vans and HGVs to use alternative fuels could make region a ‘test bed for innovation’</strong></p>
</li>
</ul>
<p><strong>Today (Wednesday) regional transport body Midlands Connect has outlined plans for an £800million alternative fuels network, which if installed could create an international centre of excellence for the charging of commercial vehicles with hydrogen and natural gas. </strong></p>
<p><strong>The plans have been released as part of the organisation’s online COP conference, being held today, where a series of Ministers, Metro Mayors, MPs and industry leaders will outline the opportunities and challenges facing the Midlands as it looks to combat climate change.</strong></p>
<p>Midlands Connect’s report, entitled <em>Alternative Fuels: Beyond Fossils </em>suggests that it could cost up to £800million to install the refuelling infrastructure needed to meet the needs of the region’s freight industry by 2040. The freight and logistics sector faces a challenge to keep pace with market demand and reduce carbon emissions at the same time – only a comprehensive and well-planned network will allow movements to be made efficiently by an alternatively fuelled fleet.</p>
<p>These refuelling sites could be situated within 66 potential locations throughout the Midlands, many of which could grow to accommodate eight or more fuelling stations. The potential locations have been identified based on freight movements and feedback from local businesses. By 2040, Midlands Connect estimates that the HGV fleet in Midlands will require up to 65 hydrogen refuelling stations, and up to 22 natural gas and compressed natural gas refuelling sites. Work is now being undertaken to identify which refuelling sites could be prioritised and delivered first.</p>
<p>Midlands Connect is committed to working with local, regional and national stakeholders in the public and private sector to share best practice and ensure an industry-wide shift in focus to allow the timely uptake of renewable fuels to be delivered in a sustainable way.</p>
<p><strong>Commenting on the release of Alternative Fuels: Beyond Fossils report, Midlands Connect Senior Transport Planner Steve Scarrott said: </strong></p>
<p>“Midlands freight and logistics businesses should lead on the adoption of alternative fuels and our road map, released today, shows us how we can get there. It’s really important that we support businesses in making the switch to alternative fuels and put the infrastructure in place for them to move away from polluting diesel.</p>
<p>By working with Government to shape policy and accelerate the speed at which these alternative fuelling stations are rolled out, we can ensure that greener vehicles are commercially-viable to run. There’s a lot of work left to do, but given the industry expertise and history of innovation in the Midlands, I’m confident we can establish ourselves as a centre of excellence and take crucial steps to carbon neutrality.”</p>
<p>The action plan outlined by Midlands Connect also proposes the following recommendations:</p>
<ol>
<li>
<p><strong><u> Coordination and collaboration</u></strong></p>
</li>
</ol>
<p>Midlands Connect will establish working groups and act as a coordinator bringing together the public sector, industry and academia to define targets for reducing carbon emissions and fuel adoption.</p>
<ol start="2">
<li>
<p><strong><u> Support for technology trials</u></strong></p>
</li>
</ol>
<p>Midlands Connect will engage with industry to facilitate the development of public-private funding programmes to support technology trials.</p>
<ol start="3">
<li>
<p><strong><u> Develop proposals for refuelling/recharging infrastructure</u></strong></p>
</li>
</ol>
<p>Midlands Connect will work with academia and local, regional and national energy suppliers to develop capacity maps showing where installing recharging and refuelling infrastructure is likely to be feasible and cost effective.</p>
<ol start="4">
<li>
<p><strong><u> Future of freight and logistics sector research</u></strong></p>
</li>
</ol>
<p>Midlands Connect will map the future development of the freight and logistics sector to forecast the impact of changes to consumer demand and government decarbonisation policies.</p>
<p>&nbsp;</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-06-16T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>