<?xml version="1.0" encoding="utf-8"?>
<Content Key="49e1b378-d0a7-49c2-8593-70a1cb7d24b2" Alias="Planning together for the future of Toton" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/PlanningTogetherForTheFutureOfToton</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-03-22T00:00:00</CreateDate>
    <NodeName Default="Planning together for the future of Toton" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>HIGH-LEVEL talks have taken place to discuss the long-term future of Toton’s strategically-important train maintenance depot and sidings.</p>
<p>HS2 Ltd has recently confirmed that land occupied by DB Cargo UK’s rail freight workshops is not required to deliver the baseline plans for the railway.</p>
<p>DB Cargo UK’s Chief Executive Hans-Georg Werner said he hoped the news would put an end to speculation that the company’s Nottinghamshire depot would have to be hastily relocated to make way for HS2.</p>
<p>“While the site may have to move to accommodate new economic development associated with the HS2 Hub Station at some time over the next 15 to 20 years, there is time to work with all interested parties to ensure a holistic approach is taken,” he said.</p>
<p>&nbsp;“This is good news for the company, those colleagues who work there, our customers and the surrounding businesses that we work with. Toton is one of the biggest depots in the UK and provides an extremely important service to the rail freight industry. Its future must be handled with care,” added Mr Werner.</p>
<p>On Friday (March 16<sup>th</sup>), representatives from Midlands Connect, East Midlands Councils and the HS2 Growth Partnership, met representatives from DB Cargo UK for a tour of the site.</p>
<p>This is the start of a positive and ongoing collaboration between the company, local councils and the East Midlands business community to secure the best possible future for the site.</p>
<p>Toton depot originally opened in the late 1800s and is now home to heavy engineering workshops, a paint depot, freight loading facilities and infrastructure maintenance services.</p>
<p>Maria Machancoses, Director of Midlands Connect, who attended Friday’s meeting with DB Cargo UK, said:</p>
<p>I very much welcome the positive engagement we have had with the DB Cargo team. Midlands Connect will support local partners in the East Midlands to work collaboratively with the company to secure the best outcome for local people and businesses.”<span>&nbsp;</span></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-03-22T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>