<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a7faac9-6874-42dc-ab16-5b865bd97ae5" Alias="Police Operations Are 'Storming' Success" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/PoliceOperationsAreStormingSuccess</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Police Operations Are 'Storming' Success" />
    <SortOrder>48</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p><strong>Two recent operations run by the Safer Travel Partnership proved to be a great success.</strong></p>
<p><strong>Operation Storm</strong><span>&nbsp;</span>aimed to target offenders on public transport in Birmingham with a particular focus on robbery, theft and anti-social behaviour as visitors and shoppers descended on the city in the weeks leading up to Christmas.<br><br>The Safer Travel Partnership ran the operation which involved officers from West Midlands Police, British Transport Police and Staffordshire Police alongside National Express revenue inspectors. More than 180 officers were involved in the crackdown which took place from Monday 10 December to Friday 15 December on all of the key public transport routes into the city. In total 469 people were spoken to, there were 57 stop and searches, 12 arrests and six cannabis warnings given out.</p>
<p>Sergeant Karen Taylor, of the Safer Travel Police Team, said: &ldquo;This was the second successive year we have held the operation and once again it’s been a great success.&ldquo;We have had some very positive feedback from passengers who were pleased to see us proactively targeting offenders.</p>
<p>&ldquo;Arrests were made for offences ranging from robbery and theft to assault and possession of drugs and offensive weapons. We also gained a huge amount of intelligence by talking to passengers and promoting the ‘See Something, Say Something’ campaign. Throughout the operation there were no robberies reported on bus and rail networks in the city centre which is a fantastic result.&rdquo;</p>
<div class="PressReleaseDataHeadline">Anti social behaviour on public transport was also targeted in October&nbsp;by<span>&nbsp;</span><strong>Operation Goliath .</strong></div>
<div class="PressReleaseDataContent">
<div class="PressReleaseDataImageContainer">
<div class="PressReleaseDataImage"></div>
</div>
<p>Operation Goliath saw officers from the Safer Travel team mount extra patrols on board buses, trains and trams across the West Midlands on Tuesday October 30.</p>
<p>The operation was staged to provide a visible presence and to reassure passengers that low-level misbehaviour such as smoking and swearing will not be tolerated. Cards were also handed out advising&nbsp;passengers what to do if they witness such behaviour.</p>
<p>Sergeant Chris Casey of British Transport Police said: &ldquo;It is important to remember that crime is down on public transport and that the network in the West Midlands is a very safe way of getting about. That said, there is always a handful of people who seem to think they can do what they like with no regard for the rest of us, and they are the targets of Operation Goliath.</p>
<p>&ldquo;Such people should be aware that their fellow passengers have a way of letting us know about it, we are listening and we will be looking for them.&rdquo;</p>
<p>Although overall crime on rail and bus in the West Midlands fell by 65% since 2007, the time of year around Halloween and Bonfire Night often sees a rise in complaints about anti-social behaviour.</p>
<p>Sgt Casey said: &ldquo;Passenger surveys have found nuisance behaviour such as playing loud music and smoking are key irritants that can also lead to an unfounded fear of crime. With the help of the public we can quash that fear by tackling those responsible.&rdquo;</p>
</div>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>