<?xml version="1.0" encoding="utf-8"?>
<Content Key="90e6fe5f-09ca-499e-94e7-bd82455d8c25" Alias="Poor east-west connectivity and HGV delays cost operators £1 per minute" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/PoorEastWestConnectivityAndHGVDelaysCostOperators1PerMinute</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:33</CreateDate>
    <NodeName Default="Poor east-west connectivity and HGV delays cost operators £1 per minute" />
    <SortOrder>127</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>A new report by Midlands Connect highlights the fact that poor east-west connectivity and HGV delays are costing operators £1 per minute.</strong></p>
<p>This figure is released as part of <a data-udi="umb://document/1a0eac1ea5b749c49137b42c5d64d346" href="/publications/our-freight-routemap-for-the-midlands/" title="Our Freight Routemap for the Midlands">Midlands Connect’s ‘Freight Routemap’ for the Midlands</a> which outlines the priorities and plans for the region.</p>
<p>The report comes out as 156,000 people were employed in the transportation and storage sectors in the East Midlands in September 2020 and 180,000 in the West Midlands.</p>
<p>Improving freight in the region can benefit the following policy areas:</p>
<ul>
<li>Economy: By facilitating efficient movement of goods to/from/around the region;</li>
<li>Environment: By supporting the industry to meet its carbon targets and ambitions;</li>
<li>People: By providing us with the goods and materials that we all need as well as improving air quality, reducing noise and improving local road safety.</li>
</ul>
<p>The plan will ensure that freight and logistics continue to serve the needs of the people and businesses of the region and the UK, supporting and growing the regional and UK economy whilst creating a safe, efficient and sustainable freight sector in the Midlands that also acts as an enabler for freight for the whole of the UK.</p>
<p>The report highlights the links to major international gateways such as Dover, Felixstowe, Southampton, London Gateway and Immingham, which are key to ensuring that goods can reach end markets. This also includes East Midlands Airport (EMA) in the heart of the region, which is one the of busiest freight airports in Europe. Therefore, investment that improves the reliability and enhances the resilience of the network is a priority. This includes both road and rail links to key ports outside of the region and key gateways within it, such as EMA and Birmingham Airport.</p>
<p>We are also proposing maximising the opportunities of region's new freeports. As the proposals for the East Midlands and Humber freeports develop, we will work with partners to understand and champion each, including supporting the sites from a strategic transport connectivity perspective and facilitating the Midlands’ transition to alternative fuels - thus maximising the global outreach and economic opportunity for the region.</p>
<p>Another recommendation in the report is the acceleration of alternative fuels usage such as hydrogen and electric vehicles for freight. It highlights the need for further investment to increase the number, spread and quality of alternative refuelling and recharging stations.</p>
<p>Finally, the report proposes that we use the released rail capacity from HS2 to be utilised by rail freight.</p>
<p><strong>Commenting on the release of the freight plan, Midlands Connect Chief Executive Maria Machancoses said:</strong></p>
<p>“To keep freight working and delivering for our region we need to pay real attention to the road and rail networks which support it, especially if freight is to continue to grow in line with expected forecasts.</p>
<p>“Within the Midlands these networks allow the sector to service key manufacturing bases such as Alstom, JCB, Nestle and Rolls Royce along the A50/500 corridor, tech companies along the A46, or ensuring timely deliveries from the Lincolnshire Food Valley.</p>
<p>“Rail networks allow construction materials, food, mail and other goods to be delivered effectively. Nationally, the position of the Midlands means that most locations are a four-hour drive away, ensuring swift deliveries from distribution centres based within the ‘Golden Triangle’ for our online deliveries.</p>
<p>“Key road and rail routes go through the Midlands providing through routes for goods arriving from ports in the south. We sometimes say “fix the middle to fix the nation” exactly because the journeys for so many goods begin, end or go through the Midlands.</p>
<p>“The Freight Routemap will do exactly that, using an updated evidence base to firstly understand the goods that are moving through the region, and then to understand how we can deliver regional connectivity whilst addressing key challenges.”</p>
<p><strong>Ashley Stower, of Frazer-Nash Consultancy added:</strong></p>
<p>“The movement and the impact of freight is often undervalued yet increasingly important, it is a dynamic and changing environment to which Frazer-Nash are extremely pleased to be working with Midlands Connect to look at how best to plan for the long term”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-08-26T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1857/east-midlands-logistics-warehouse.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>