<?xml version="1.0" encoding="utf-8"?>
<Content Key="587df3bf-9091-4d58-b7a2-d4e8ac11e43f" Alias="Prime Minister reaffirms government commitment to HS2 in response to landmark open letter from leaders in the Midlands and the North" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/PrimeMinisterReaffirmsGovernmentCommitmentToHS2InResponseToLandmarkOpenLetterFromLeadersInTheMidlandsAndTheNorth</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-03-25T00:00:00</CreateDate>
    <NodeName Default="Prime Minister reaffirms government commitment to HS2 in response to landmark open letter from leaders in the Midlands and the North" />
    <SortOrder>46</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Prime Minister Theresa May has reaffirmed the government’s commitment to delivering the whole of HS2 Phase Two, in response to a landmark letter from leaders in the Midlands and the north, calling for assurances that the UK’s first intercity high speed railway will be completed in its entirety.</strong></p>
<p>In January, more than 40 prominent figures signed an open letter in urging party leaders to offer their unwavering support to the project, explaining it is the only way to ensure the country benefits fully from a once-in-a-generation opportunity to drive regional economic growth and rebalance the economy.</p>
<p>In her written response to Midlands Connect and Midlands Engine chairman Sir John Peace, the Prime Minister said:</p>
<p>“I welcome your continued support for HS2, and recognise the extent to which the benefits of the scheme are already being felt.</p>
<p>“I would like to take this opportunity to assure you that the Government remains committed to delivering the whole of HS2 Phase 2 and will continue to work closely with you to ensure that the project meets your aspirations for growth and regeneration.”</p>
<p>January’s open letter to party leaders was signed by more than 40 business and civic leaders, including: <strong>Sir John Peace, </strong>Chair of Midlands Engine &amp; Midlands Connect; <strong>Steve Rotheram, </strong>Mayor of Liverpool City Region, <strong>Cllr Judith Blake, </strong>Chair of Core Cities &amp; Leader of Leeds City Council; <strong>Charlie Cornish, </strong>Chief Executive of Manchester Airports Group, the Managing Directors of <strong>East Midlands Airport</strong> and <strong>Birmingham Airport, </strong>as well as top executives from <strong>Boots, HSBC, PwC</strong> and <strong>Mace</strong>.</p>
<p>The letter was accompanied by a parliamentary reception, at which Transport Secretary Chris Grayling said a failure to deliver High Speed 2 beyond Birmingham would be “a dereliction of our duties to improve the life chances of everyone in this country, an abandonment of our ambition for one of the most extraordinary engineering projects since the Victorian age and a huge betrayal of the people in the Midlands and the north.”</p>
<p>The Prime Minister’s letter also makes it clear that any potential changes to Phase 2b, linking the West Midlands, East Midlands, South Yorkshire and Leeds, will support regional rail investments like Northern Powerhouse Rail and the projects being developed by Midlands Connect.</p>
<p>Later this year HS2 will be consulting on aspects of the Phase 2b route, following feedback received by the company at its 10-week consultation in autumn 2018. Available plans will show how the route has continued to be refined in response to feedback received during the past few years.</p>
<p>Phase 2a, linking the West Midlands, Crewe and Manchester, is expected to achieve Royal Assent at the end of 2019.</p>
<p><strong>Sir John Peace, Chairman of Midlands Connect and Midlands Engine, said: </strong></p>
<p>“The government has sent the Midlands and the north a strong, positive message: HS2 is happening, it’s already a huge catalyst for growth, and it supports major upgrades to the existing rail network through the work of Midlands Connect and Northern Powerhouse Rail.</p>
<p>“During a crucial transitional period for the country, and with the comprehensive spending review due this autumn, it is our responsibility as business and civic leaders to keep making the case for HS2. It is essential to the economic futures of the Midlands and the North, and we are building our growth plans around it. Now is not the time to falter.”</p>
<p><strong>Northern Powerhouse APPG Co-Chair and Thirsk and Malton MP Kevin Hollinrake said:</strong> “The consistent backing of the Prime Minister and her government, and indeed all of the major party leaders, for HS2 is hugely welcome and demonstrates the unwavering commitment to a scheme that has the potential to revolutionise productivity and opportunities for young people in the Northern Powerhouse and wider UK.</p>
<p>“As the Prime Minister rightly points out, HS2 is about job creation and economic growth – crucial to delivering an economy that works for everyone and one that gets rid of the North-South divide once and for all. It is not about getting to London more quickly. It’s about opening up capacity on east and west coast main lines, about linking with Northern Powerhouse Rail to deliver a once-in-a-generation opportunity to transform connectivity.</p>
<p>“Transport is vital to peoples’ lives, peoples’ futures. A joined-up, fit-for-purpose rail network across the UK will allow young people from the North to access skilled jobs, our businesses to grow and seek international opportunities via Manchester Airport and organisations all over the UK and around the world to choose the Northern Powerhouse as the place to base their business.”</p>
<p><strong>Cllr Judith Blake, Chair of Core Cities UK and Leader of Leeds City Council, said: </strong></p>
<p>“HS2 is more than just a railway line, it will unlock future jobs, training and regeneration opportunities that will benefit many of our 20 million citizens. Core Cities UK believes HS2 is a game-changer for the Midlands and the north. Phase Two is also vital to making sure other proposed rail projects like Northern Powerhouse Rail and the Midlands Rail Hub become a reality. It should not be a choice of either/or. We must invest in HS2 as well as enhancing our regional links, one will benefit the other.”</p>
<p>&nbsp;</p>
<p>Read the Prime Minister's letter in full <a data-udi="umb://document/80d165b046d84596969eaf31ecdd56c3" href="#" title="Prime Minister writes to Midlands Connect to reaffirm government commitment to HS2">here</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-03-25T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>