<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae120a0c-77ad-4758-9869-a6a7b4e1915f" Alias="Project Empower" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/ProjectEmpower</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Project Empower" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p><span>Project Empower&nbsp;is run by the West Midlands&nbsp;Safer Travel Partnership&nbsp;- a union of police, transport providers and TfWM, the region's public transport co-ordinator.</span></p>
<p><span>Working from the Birmingham HQ of transport authority&nbsp;TfWM&nbsp;- in Summer Lane - they have access to a network of CCTV cameras covering the bus and rail network to help them swiftly identify offenders.</span></p>
<p><span>It has proved hugely successful since its launch last summer with the team scoring several notable successes, including a man jailed for sexual assault and others handed community orders and placed on the sex offenders register.</span></p>
<p><span>Click&nbsp;<a href="http://projectempower.co.uk/">HERE</a>&nbsp;for more information on Project Empower.</span></p>
<p><span>Anyone who has suffered sexual harassment on public transport should call police at the time on 999 and alert a member of transport staff. To report historic offences call police on the non-emergency number 101.</span></p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>