<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa0ea236-e528-43b9-975b-9289669b7f62" Alias="Publications" Level="2">
  <Info>
    <Parent Key="ba5299dd-422e-4f18-8dbf-d981c34ef23c">Midlands Connect</Parent>
    <Path>/MidlandsConnect/Publications</Path>
    <Trashed>false</Trashed>
    <ContentType>publications</ContentType>
    <CreateDate>2024-01-26T10:06:17</CreateDate>
    <NodeName Default="Publications" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f0299d2c-9482-436b-ad1b-0990125cf1d7">Publications</Template>
  </Info>
  <Properties />
</Content>