<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b51ec59-8f64-4268-849f-2b636b3a02fc" Alias="Rails To Opportunity: How Rail Connectivity Can Fuel Access and Achievement in Higher Education" Level="3">
  <Info>
    <Parent Key="aa0ea236-e528-43b9-975b-9289669b7f62">Publications</Parent>
    <Path>/MidlandsConnect/Publications/RailsToOpportunityHowRailConnectivityCanFuelAccessAndAchievementInHigherEducation</Path>
    <Trashed>false</Trashed>
    <ContentType>publication</ContentType>
    <CreateDate>2024-03-11T16:04:51</CreateDate>
    <NodeName Default="Rails To Opportunity: How Rail Connectivity Can Fuel Access and Achievement in Higher Education" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <document>
      <Value><![CDATA[[
  {
    "key": "42e81b98-0b3c-413a-9d17-85b34fa998fe",
    "mediaKey": "395b2f5b-b4da-4e1a-960a-0819d43cd694"
  }
]]]></Value>
    </document>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
  </Properties>
</Content>