<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c0bc928-d14f-49c4-ad8c-563e57a85d34" Alias="Rail Minister tells Midlands Connect “I entirely support the aspiration” of £2 billion Midlands Rail Hub plans" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/RailMinisterTellsMidlandsConnectIEntirelySupportTheAspirationOf2BillionMidlandsRailHubPlans</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:19</CreateDate>
    <NodeName Default="Rail Minister tells Midlands Connect “I entirely support the aspiration” of £2 billion Midlands Rail Hub plans" />
    <SortOrder>54</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Rail Minister Andrew Jones has welcomed the submission of Midlands Connect’s £2 billion Midlands Rail Hub proposals to radically transform connections between the East and West Midlands, during a visit to the region yesterday (Thursday 27<sup>th</sup> June).</p>
<p>The Minister pledged to work with Midlands Connect chairman Sir John Peace and Director Maria Machancoses as they met in Leicester for talks with business and civic leaders to discuss the next stage of the proposals, as well as the importance of HS2 to the East Midlands.</p>
<p>The Midlands Rail Hub is the biggest upgrade of the region’s rail network in a generation, outlining new and upgraded infrastructure to enable 24 extra passenger trains an hour on the regional network, reduce journey times and grow the economy by bringing East and West Midlands closer together.</p>
<p>Commenting on the proposals, which have been submitted to the Department for Transport for consideration, <strong>Rail Minister Andrew Jones MP said:</strong></p>
<p>“I was delighted to receive the proposals for the Midlands Rail Hub. I support the aspiration to see far better connections right across the Midlands, east and west. The enthusiasm to deliver locally is really strong and we want to build on that momentum. I know it’s ambitious, and we will work together to develop the business case and work with Midlands Connect to deliver it.”</p>
<p><strong>Maria Machancoses, Midlands Connect Director, said:</strong></p>
<p>“This week the East Midlands and West Midlands has come together to show government that we need transformational investment like the Midlands Rail Hub. We have submitted an ambitious but cost-effective proposal and it is encouraging that the Rail Minister is taking our proposals seriously.”</p>
<p>“As a region we must now continue to make the case in Westminster that the Midlands cannot be ignored. Investing in infrastructure is the best way of supercharging our economy by giving our 10 million residents the transport network they deserve.”</p>
<p>The Department for Transport has supported Midlands Connect with £5 million of funding to drive forward the Midlands Rail Hub proposals. Midlands Connect is now requesting an additional £25 million in funding to bring the project to “Outline Business Case” stage of development, which includes specific scheme development and sequencing, a full overview of benefits, project designs, and a full risk assessment.</p>
<p>-ENDS-</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-06-28T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>