<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5ed0ec3-318b-4e2a-a484-9035a69b1503" Alias="Rail Revolution: Midlands Connect welcomes plan to electrify ‘almost’ all of Midlands rail network" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/RailRevolutionMidlandsConnectWelcomesPlanToElectrifyAlmostAllOfMidlandsRailNetwork</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2020-09-11T00:00:00</CreateDate>
    <NodeName Default="Rail Revolution: Midlands Connect welcomes plan to electrify ‘almost’ all of Midlands rail network" />
    <SortOrder>77</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Midlands transport body Midlands Connect has today welcomed a report by Network Rail that proposes hundreds of miles of lines in the East and West Midlands.&nbsp; Commenting on the report, Midlands Connect Maria Machancoses said most of the region could see the benefits of the scheme. She said:</strong></p>
<p>“This welcome announcement by Network Rail could unleash a rail revolution in the Midlands not seen in a hundred years.</p>
<p>“It will create skilled jobs, help level up the economy and help the UK to meet its net-zero target. But not only that, passengers will see improved reliability and faster journeys.</p>
<p>“The historic report recommends the electrification of almost all the Midlands rail network over the next few decades, and Midlands Connect looks forward to working with Network Rail and Department for Transport in developing the sequencing and the case for investment.</p>
<p>“The government’s agenda is rightly – build back better and build back greener and we are supporting that every step of the way. This project will help our work to deliver investment and growth to every corner of the region. This gives us the green light to engineer a system that really couples the East and West Midlands for the first time with decent, speedy and effective rail links.</p>
<p>“There are clearly opportunities now like committing to extend electrification of the Midland Main Line from Market Harborough and Sheffield and further electrification of other main lines and busy commuter routes must be, I believe, the top priorities.”</p>
<p><strong>Ends</strong></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-09-11T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>