<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c8f0b50-182a-48f2-83f7-48b3bd08fc91" Alias="Regeneration and Transport Growth in the Midlands 2019" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/RegenerationAndTransportGrowthInTheMidlands2019</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T15:46:29</CreateDate>
    <NodeName Default="Regeneration and Transport Growth in the Midlands 2019" />
    <SortOrder>262</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Midlands&nbsp;Connect's heads of technical programmes Simon Statham joins the speakers' lineup for a conference bringing&nbsp;the most up to date insight on the key transport and development plans which are modernising the Midlands and optimising the regeneration opportunities these projects create.</p>
<p>The event will explore how the region can maximise and respond to major infrastructure delivery through increased collaboration, improved connectivity and future planning.&nbsp;Discover perspectives from local authorities, transport bodies and housing development consultants on the plans and timelines for growth, including how to maximise the wider economic advancement.</p>
<p>Visit the&nbsp;<strong><a href="https://www.waterfrontconferencecompany.com/conferences/regeneration-and-transport-growth-in-the-midlands-2019/?utm_source=Midlands%20Connect&amp;utm_medium=Listing&amp;utm_campaign=394MC">website</a> </strong>for more information.</p>
<p>How to register: Call 0207 067 1597<span></span>, <span><strong><a href="mailto:conference@thewaterfront.co.uk?subject=I%20would%20like%20to%20register%20for%20Regeneration%20and%20Transport%20Growth%20in%20the%20Midlands%202019%20(388MC)&amp;body=please%20provide%20your%20name,%20job%20title,%20company%20and%20phone%20number">email</a></strong></span> or register <span><strong><a href="https://www.waterfrontconferencecompany.com/conferences/regeneration-and-transport-growth-in-the-midlands-2019/register?utm_source=Midlands%20Connect&amp;utm_medium=Listing&amp;utm_campaign=394MC">online</a></strong></span></p>
<p><span><strong>Receive 10% off with the code 388MC</strong></span></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-11-14T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Maximising growth and development opportunities created by transport investment.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>