<?xml version="1.0" encoding="utf-8"?>
<Content Key="93afe1ec-9d01-492f-9f5f-cdbb4c56e838" Alias="Region - Birmingham" Level="2">
  <Info>
    <Parent Key="bdde6a23-2e72-41dc-9941-e921e6be4a6f">Personalisation Groups</Parent>
    <Path>/PersonalisationGroups/RegionBirmingham</Path>
    <Trashed>false</Trashed>
    <ContentType>personalisationGroup</ContentType>
    <CreateDate>2024-07-23T11:45:04</CreateDate>
    <NodeName Default="Region - Birmingham" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <definition>
      <Value><![CDATA[{
  "match": "Any",
  "duration": "Page",
  "score": 50,
  "details": [
    {
      "alias": "region",
      "definition": "{ \"match\": \"IsLocatedIn\", \"countryCode\": \"GB\", \"countryName\": \"United Kingdom\", \"names\": [\"Birmingham\"]  }"
    }
  ]
}]]></Value>
    </definition>
  </Properties>
</Content>