<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c5fa285-5faf-4b50-9184-3c143b3fba63" Alias="Region - Coventry" Level="2">
  <Info>
    <Parent Key="bdde6a23-2e72-41dc-9941-e921e6be4a6f">Personalisation Groups</Parent>
    <Path>/PersonalisationGroups/RegionCoventry</Path>
    <Trashed>false</Trashed>
    <ContentType>personalisationGroup</ContentType>
    <CreateDate>2024-07-23T11:46:12</CreateDate>
    <NodeName Default="Region - Coventry" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <definition>
      <Value><![CDATA[{
  "match": "All",
  "duration": "Page",
  "score": 50,
  "details": [
    {
      "alias": "region",
      "definition": "{ \"match\": \"IsLocatedIn\", \"countryCode\": \"GB\", \"countryName\": \"United Kingdom\", \"names\": [\"Coventry\"]  }"
    }
  ]
}]]></Value>
    </definition>
  </Properties>
</Content>