<?xml version="1.0" encoding="utf-8"?>
<Content Key="567022ea-5643-4ad8-9529-261d0a7b67eb" Alias="Roads" Level="4">
  <Info>
    <Parent Key="8d492bca-0598-4cc9-9e73-2029d454004b">Our projects</Parent>
    <Path>/MidlandsConnect/AboutUs/OurProjects/Roads</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageMidlandsConnect</ContentType>
    <CreateDate>2023-11-14T14:58:13</CreateDate>
    <NodeName Default="Roads" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a95eb75ff6b345b39525cedbe9531e99",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/0a97d489b7294b7385050f2af9c72109",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3398d625f95748808a022a7728a8ec33",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/a95eb75ff6b345b39525cedbe9531e99"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/0a97d489b7294b7385050f2af9c72109",
      "richText": "<p>qwerty</p>"
    },
    {
      "contentTypeKey": "f4113999-8024-4b3b-a556-3128c023a64a",
      "udi": "umb://element/3398d625f95748808a022a7728a8ec33"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
  </Properties>
</Content>