<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe122f10-4b2d-4c38-b841-a4e3f2f59ef5" Alias="Safer Travel Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SaferTravelHomepage</Path>
    <Trashed>false</Trashed>
    <ContentType>homepageSaferTravel</ContentType>
    <CreateDate>2023-08-30T16:20:06</CreateDate>
    <NodeName Default="Safer Travel Homepage" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>