<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b45153c-1c0c-4580-ad0d-a3307d03f339" Alias="Safer Travel ’See Something, Say Something’ Cards Made More Accessible" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SaferTravelSeeSomethingSaySomethingCardsMadeMoreAccessible</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Safer Travel ’See Something, Say Something’ Cards Made More Accessible" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
        <img src="/media/st/media/1038/dsc03227-edited.jpg" style="max-width:700px" class="img-responsive">
<p>A student from Hodge Hill has inspired the Safer Travel Partnership to re-design their See Something, Say Something (SSSS) cards to be more accessible to vulnerable users.</p>
<p>Aisha Bibi, age 22, found herself the victim of hate crime on the bus when a member of the public claimed she was pretending to be blind.</p>
<p>The incident was reported to the Safer Travel policing team as Aisha, who is partially blind, was very upset and it knocked her confidence.</p>
<p>PCSO Sanjeev Bhatoe visited Aisha and her parents to offer her reassurance and advised on how to help keep safe on public transport. Officers also went to Aisha’s school to talk to students about safety on public transport.</p>
<p>PCSO Sanjeev Bhatoe realised that the current See Something, Say Something cards, which provide details of a text service to report anti-social behaviour on the bus network, are not accessible to people with visual impairments. It was suggested that the cards could be adapted with Braille and larger print for blind or partially sighted users.</p>
<p>Working in conjunction with Aisha’s school - Wilson Stuart School - and the Royal National Institute of Blind People (RNIB), PCSO Bhatoe organised a new design of the SSSS card that is accessible for blind and partially sighted users.&nbsp;</p>
<p>He said: &ldquo;I saw a unique opportunity to produce something that was of great benefit to this particular group of passengers that previously had no access to this type of reporting system.</p>
<p>&ldquo;I worked in collaboration with Transport for West Midlands, Wilson Stuart&nbsp;School and RNIB to make sure that the new cards were fit for purpose and I hope that we have created a strong bond and relationship that will be mutually beneficial in the future.</p>
<p>&ldquo;The main aim of these cards is to increase passenger confidence and to encourage more people to report any incidents on the transport network.&rdquo;</p>
<p>These new cards, with much larger text and key words in Braille, are currently being distributed across the West Midlands.</p>
<p>Safer Travel Officers launched the new cards at Wilson Stuart School. Aisha was overwhelmed with the new cards and pleased that she has helped other people who may encounter problems on the bus network in the future.</p>
<p>Aisha said: &ldquo;I am so happy with how these cards have turned out. I would never have known how to report anything before. The braille is really clear and I hope it will make other people feel as confident about reporting any anti-social behaviour as I now do.</p>
<p>&ldquo;Thank you to the Safer Travel team for your support and helping create these new cards.&rdquo;</p>
<p>Around 261,500 people are living with sight loss in the West Midlands, and this figure is only set to increase.</p>
<p>Veronica Fulcher from the RNIB said: &ldquo;It’s been great to assist the Safer Travel team with this important venture.&nbsp; It is vital that blind and partially sighted people are able to access the See Something Say Something service which will potentially enhance&nbsp;their safety when out and about on public transport.&rdquo;</p>
<p>See Something, Say Something</em> allows people to pass on details of nuisance behaviour to the Safer Travel Partnership, which operates specifically to tackle and deter crime on the region’s transport network.</p>
<p>All passengers need to do is text &ldquo;Bus&rdquo; followed by a space to 83010, with a message giving as much information as possible about the nature of the incident.</p>
<p>Anyone witnessing criminal behaviour should ring 999 as they would do normally.</p>
<p>A dedicated Safer Travel Anti-Social Behaviour Team investigates each report it receives.</p>
<p>Rail and Midland Metro passengers should use the British Transport Police equivalent number - 61016.</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>