<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e1df5b4-f230-4cd0-aae5-43711f9e579c" Alias="Safer Travel Celebrates 18 Years." Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SaferTravelCelebrates18Years</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-11-30T17:02:22</CreateDate>
    <NodeName Default="Safer Travel Celebrates 18 Years." />
    <SortOrder>111</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
  </Properties>
</Content>