<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5d651a1-e1e9-45ce-a3fb-c8b8f186104c" Alias="Safer Travel Relaunch Anti-Hate Crime Campaign To Encourage Passenger Reporting" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SaferTravelRelaunchAntiHateCrimeCampaignToEncouragePassengerReporting</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-10-27T10:55:35</CreateDate>
    <NodeName Default="Safer Travel Relaunch Anti-Hate Crime Campaign To Encourage Passenger Reporting" />
    <SortOrder>22</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA["<div class=""main"">]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-01-02T00:00:00]]></Value>
    </date>
  </Properties>
</Content>