<?xml version="1.0" encoding="utf-8"?>
<Content Key="2605e96a-0157-48c0-ac0b-fd344dcabcbc" Alias="Safer Travel Reduce Reoffending Through Restorative Justice" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SaferTravelReduceReoffendingThroughRestorativeJustice</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-11-30T17:02:15</CreateDate>
    <NodeName Default="Safer Travel Reduce Reoffending Through Restorative Justice" />
    <SortOrder>78</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
  </Properties>
</Content>