<?xml version="1.0" encoding="utf-8"?>
<Content Key="2805c64f-c652-4426-bde7-c338d426efc2" Alias="Safer Travel Target Anti-Social Behaviour At Dudley Bus Station" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SaferTravelTargetAntiSocialBehaviourAtDudleyBusStation</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Safer Travel Target Anti-Social Behaviour At Dudley Bus Station" />
    <SortOrder>99</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>We’ve taken action on antisocial behaviour at Dudley bus station.</p>
<p>As soon as we received the reports of WHAT WAS GOING ON we started to investigate.</p>
<p>We’ve now spoken four teenagers aged between 13 and 16 and their parents.</p>
<p>The 3 boys and 1 girl have been given warnings for breaching the public space protection order which covers the bus station. The order gives us additional powers to stop nuisance behaviour which is damaging people’s quality of life.</p>
<p>We’ll take further action if they don’t change their behaviour and continue to cause problems.</p>
<p>Our investigation into identifying other people involved continues.</p>
<p>Insp Rachel Crump, head of &nbsp;the Safer Travel police team said;</p>
<p>‘In proactively identifying these 4 youths we have shown that we will not tolerate behaviour that affects passengers using public transport. The behaviour is unacceptable and we are working with partners to identify other youths who have been acting antisocially’</p>
<p>Reporting antisocial behaviour on bus, trams and trains is easy and makes a difference. Text SeeSay to 81018 what what’s happening – save the number in your phone now.</p>
<p>Safer Travel is a partnership between West Midlands Police, British Transport Police and Transport for West Midlands. We work to stop crime, anti-social and nuisance behaviour on public transport.</p>
<p>We have access to over 1,400 CCTV cameras, which are staffed 24/7 to identify and respond to incidents which are located in bus, train and tram stations.</p>


                            
    
    <img src="/media/st/media/1128/dudley.jpg">


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>