<?xml version="1.0" encoding="utf-8"?>
<Content Key="38a0a2f9-91d8-4c81-b218-f52f130d7bd1" Alias="Safer Travel Release New One-Year Plan With An Increased Team And New Technology" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SaferTravelReleaseNewOneYearPlanWithAnIncreasedTeamAndNewTechnology</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2020-05-08T00:00:00</CreateDate>
    <NodeName Default="Safer Travel Release New One-Year Plan With An Increased Team And New Technology" />
    <SortOrder>87</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>The Safer Travel Partnership has today released a one year Safer Travel Plan which includes a pledge to put four extra special constables on the public transport beat.</p>
<p>The Partnership, which includes West Midlands Police, British Transport Police, Transport for West Midlands (TfWM) and public transport operators is focussed on reducing crime and anti-social behaviour on the bus, train and tram networks across the region.</p>
<p>The 2020-21 plan outlines how the Partnership will continue to deliver the service public expect, protect public transport passengers from harm and address issues which cause them the most concern.</p>
<p>To date, the Partnership has helped reduce crime significantly on all modes of public transport. In the year 2019-20, the Partnership has seen reductions in bus crime of 11% in sexual offences and robberies, as well as reductions in thefts and criminal damage.</p>
<p>Together the partners have achieved an increase in the presence of front-line police officers over the last three years, with plans to add an additional four special constables to the existing thirty-two officer team this year.</p>


                            
    
    <img src="/media/st/media/1107/_dsc6563-2.jpg">


                            
    

<p>The Partnership are also exploring expanding the team to include a TfWM security team, which would include staff with additional powers under the Community Safety Accreditation Scheme (CSAS).</p>
<p>CSAS provides security staff powers to issue Fixed Penalty Notices (FPN’s) for disorder, smoking and littering, as well as powers to take name and address, require persons to surrender alcohol, and also the power to control traffic.</p>
<p>As well as increased CCTV coverage across bus, train and tram services, new technology has also enabled the Partnership to support the safety of passengers through the Covid-19 pandemic.</p>
<p>A new app has been specifically developed for officer’s use when on deployment to record details of passengers directed to leave buses for not using face coverings.</p>
<p>This allows police community support officers and constables to identify any passengers repeatedly ignoring the legislation and issue an appropriate intervention – whether it’s an education on the necessity of face coverings or Fixed Penalty Notice for those passengers refusing to co-operate.</p>
<p>The app also records time and location information which, added to the transport operator data, allows them to focus our resources in the areas where they are most needed.</p>
<p>The Partnership has also introduced a Restorative Justice Programme, which has seen a 0% reoffending rate from participants on-board public transport for two years in a row.</p>
<p>Dedicated officers have delivered a specific education programme to over 61,000 students in two years across 1,100 education establishments in the West Midlands. This is also supported by improved Safer Travel communications on social media and on-board awareness campaigns.</p>
<p>David Jamieson, Police and Crime Commissioner said:</p>
<p>&ldquo;I am committed to ensuring that people are safe when they use public transport. West Midlands Police are working with Safer Travel officers to ensure this happens.</p>
<p>&ldquo;This plan highlights that we are continuing to invest in technology to keep passengers safe and the Partnership is expanding the CCTV network across the transport system.</p>
<p>&ldquo;Throughout the pandemic use of public transport has fallen. Through the Safer Travel Partnership we must ensure that the use of buses, trains and trams is safe. Over the past few weeks Safer Travel officers have been working hard to ensure that people are travelling with a face covering.&rdquo;</p>
<p>Mayor of the West Midlands Andy Street said:</p>
<p>&ldquo;Before the pandemic we were seeing crime falling on buses, trains and trams and that was thanks in large part to the work of the Safer Travel Partnership.</p>
<p>&ldquo;This plans sets out how, as people gradually return to public transport following lockdown, we are continuing to invest in crime-busting technology such as our CCTV network and adding to our Safer Travel team to monitor and enforce.</p>
<p>&ldquo;People will only use public transport if they feel safe, and that is exactly what we are addressing through the Partnership.&rdquo;</p>
<p>The Safer Travel Partnership will now build upon the success of the previous Safer Travel Plan by working together over the coming year towards a series of strategic deliverables which are;</p>
<ul>
<li>Achieving a reduction in Crime, Disorder and Anti-Social Behaviour</li>
<li>Achieving further improvements in public perception of Personal Safety, Passenger Engagement and Communication</li>
<li>Maximising on the benefits of Technology</li>
<li>Ensuring a Co-ordinated Transport Partnership response to Event Planning</li>
<li>Adapting and responding to a new Transport Network</li>
</ul>

<p>Providing an efficient and safe transport network is essential for making the region and its people safe.</p>


                            
    
<p>Download the Safer Travel Plan 2020-21 <a data-udi="umb://media/st/media/44812668daef40bdb8cd2f6389888779" href="/media/st/media/1106/safer-travel-plan-2020-21.pdf" title="Safer Travel Plan 2020-21.pdf">here</a>.</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-05-08T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>