<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2f13dbc-ccff-4162-bd08-4fe8e27076a4" Alias="Safer Travel Launch Campaign To Tackle Unwanted Sexual Behaviour On Transport Network" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SaferTravelLaunchCampaignToTackleUnwantedSexualBehaviourOnTransportNetwork</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Safer Travel Launch Campaign To Tackle Unwanted Sexual Behaviour On Transport Network" />
    <SortOrder>96</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>We are launching a new campaign to encourage victims of unwanted sexual behaviour on the transport network to report to police.</p>
<p>The campaign, Project Empower, will be displayed on buses and at transport hubs across the region. The posters ask people to report behaviours such as inappropriate touching, stalking, harassment and sexual comments. Passengers can report to West Midlands Police by scanning a QR code and opening Live Chat on the force website.</p>
<p>Safer Travel previously ran Project Empower over three years ago, and this year we made the decision to relaunch the campaign with new materials in line with the public call to improve women’s safety in public spaces, following the murder of Sarah Everard earlier this year.</p>
<p>We are placing over 1600 posters on the region’s buses as well as in bus stations, schools, universities and football stadiums. The posters aim to raise awareness of unwanted sexual behaviour and encourage people to speak to police. Transport for West Midlands (TfWM) will also include safety advice and links to report incidents on their Swift app for passengers that are purchasing tickets or planning journeys.</p>
<p>Reporting through Live Chat allows passengers to talk quickly and discreetly about what’s happened to them. It also reduces the chance of being overheard or alerting others nearby, which can sometimes be a barrier to reporting sexual offences.</p>
<p>Our Education Officer also delivers talks to schools, colleges, universities and businesses. The assemblies and workshops involve discussing different types of unwanted sexual behaviour, myth-busting some of the reasons why people may not want to report, and a real-life victim story.</p>
<p>The programme has already been delivered to over 3700 students during September and October by Paula Shortland, Safer Travel’s Education Officer, and both students and teachers told us they found it both useful and timely. The workshops are in high demand and Paula has a full calendar of Project Empower workshops for the rest of the year.</p>
<p>Paula is trained in trauma response, adverse child experiences, vulnerability and challenging behaviour. This means that she can adapt the workshops to suit the needs of individual groups of students. The package can be delivered both reactively and proactively, either at the request of the school or college and also at events such as fresher’s weeks and PHSE days.</p>
<p>We are also developing training for transport staff working on buses and in stations to help them spot the signs of sexual offences and safeguard the victim.</p>


                            
    
    <img src="/media/st/media/1120/empower-1418x1001-space-filler.jpg" alt="Project Empower campaign poster">
        <p class="caption">Project Empower campaign poster</p>


                            
    

<p>The campaign sits within the work West Midlands Police are doing to tackle Violence, Abuse and Intimidation against Women and Girls (VAIWG). It will also accompany the Safer Streets campaign that was launched last week by the West Midlands Police and Crime Commissioner, Simon Foster, which helps to raise awareness of the problems faced by women and change attitudes amongst men and boys.</p>
<p>In just one month on the run up to the launch of Project Empower, Safer Travel police teams have arrested four people in relation to sexual offences. The arrests were for sexual assault, exposure and upskirting, and our officers will continue to work closely with West Midlands Police Public Protection Unit to speed up sexual offence investigations and catch offenders.</p>
<p>Inspector Rachel Crump, head of the Safer Travel police team, said: &ldquo;Many young girls we’ve already spoken to didn’t realise that some of the behaviours they are experiencing regularly are a crime and can be reported to police, which is both saddening but rewarding to know that we are raising awareness and helping them to report what’s happening to them.</p>
<p>&ldquo;We know both anecdotally and through recent surveys that public transport is a place where women and girls can sometimes feel vulnerable and unsafe. Therefore we are working closely with our partners and operators to improve perception of safety and tackle the problem proactively.</p>
<p>&ldquo;With more reports, we can build a truer and more accurate picture of what’s happening on our network and apprehend those who are behaving unacceptably on our transport network.&rdquo;</p>
<p>Anne Shaw, managing director of TfWM, was earlier this year appointed by the Department for Transport as Violence Against Women and Girls Transport Champion to advise and lead on initiatives to improve safety on public transport.</p>
<p>She said: &ldquo;No one should feel vulnerable using public transport which is why we work so closely with police through the Safer Travel Partnership to improve safety. Our Empower campaign will make it easier for women and girls to report unwanted attention, intimidation and harassment discreetly.</p>
<p>&ldquo;It is through both wider reporting of incidents, as well as educating people about appropriate behaviour that we can prevent these sex offences happening in the first place.&rdquo;</p>
<p>The West Midlands Police and Crime Commissioner Simon Foster, said: &ldquo;It is a top priority for me to ensure women feel safe and are safe wherever they are.</p>
<p>&ldquo;That is why it is so important that we get the message across to men that unwanted sexual behaviour will not be tolerated and women are empowered to report this behaviour.</p>
<p>&ldquo;Any reports will be taken seriously, investigated and perpetrators will be held to account.&rdquo;</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>