<?xml version="1.0" encoding="utf-8"?>
<Content Key="5cadccf3-9201-4157-a93e-32d7819af157" Alias="Safer Travel Education Message Reaches 100,000 Students." Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SaferTravelEducationMessageReaches100000Students</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2022-08-11T00:00:00</CreateDate>
    <NodeName Default="Safer Travel Education Message Reaches 100,000 Students." />
    <SortOrder>102</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>Safer Travel is a unique partnership of West Midlands Police, British Transport Police, Transport for West Midlands and all the transport operators, patrolling the region’s bus, train and Metro service including all stops and stations. &nbsp;We have our own Education Officer who visits schools, colleges, universities and businesses across the West Midlands delivering bespoke sessions to help people travel safely, responsibly and confidently.&nbsp; We all have a right to a safe journey whether it be for education, skills, employment or leisure. We also give support and resources to vulnerable travellers to help them feel confident to travel.&nbsp; Our Education Officer, Paula Shortland, has been in post for five years and in that time has just achieved an amazing milestone of delivering inputs/workshops/assemblies to over <u>100,000</u> students. That’s the equivalent of the population of Sutton Coldfield and an incredible 10,000 more than the capacity of Wembley stadium.</p>
<p>Paula said &ldquo;Luckily most students know how to behave when using public transport but it’s always good to remind them of the expected behaviour when travelling.&nbsp; Young people need their independence and are entitled to feel safe when using the bus, train or tram. Our sessions are designed to give individuals an awareness of personal safety, encourage more responsible travelling as well as talking about the effects of antisocial behaviour on others.&rdquo;</p>
<p>Paula also delivers workshops/assemblies on our new campaign, encouraging passengers to report unwanted sexual behaviour which involves discussing different types of unwanted behaviour, myth busting some of the barriers to reporting and real life experience with assemblies and workshops. &nbsp;</p>
<p>Safer Travel manager, Inspector Lee Davies said: &ldquo;This is an incredible achievement and is testament to her passion and enthusiasm that she has been to deliver these important messages to so many young people.&rdquo;</p>
<p>Paula covers the whole of the West Midlands and if your organisation or school would like a visit please get in touch by emailing her here: <a href="mailto:paula.shortland@westmidlands.police.uk">paula.shortland@westmidlands.police.uk</a>.</p>


                </div>
            </div>        </div>
        </div>
    </div>
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
    <img src="/media/st/media/1131/paula-school.jpg">


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-08-11T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>