<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9e3694b-a18a-4c8b-b1f5-5637504d4539" Alias="Safer Travel Success As Oldbury Man Jailed For Possessing A Knife" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SaferTravelSuccessAsOldburyManJailedForPossessingAKnife</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2022-08-12T00:00:00</CreateDate>
    <NodeName Default="Safer Travel Success As Oldbury Man Jailed For Possessing A Knife" />
    <SortOrder>103</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>A 36-year-old man from Oldbury will spend Christmas behind bars after he was sentenced to 30 weeks in prison.</p>
<p>He appeared before Oldbury Magistrates yesterday (7/12) after admitting possessing a bladed article.</p>
<p>Daniel Jones, of Dudley Road East, pleaded guilty to the offence after he was found in possession of a knife during a ‘knife arch’ operation at West Bromwich Bus Station.</p>
<p>Officers from the Safer Travel policing team, supported by colleagues from Sandwell police, conducting the operation as part of our ongoing campaign to reduced knife crime, saw Jones actively attempt to avoid the arch.</p>
<p>Jones, who initially attempted to run off, was detained and searched, with officers recovering a knife. In addition to the prison sentence Jones was ordered to pay a victim surcharge of £187. Magistrates ordered that the knife be destroyed.</p>
<p>Inspector Lee Davies, head of the Safer Travel Policing Team, said: &ldquo;This sentence sends a message that carrying knives will not be tolerated and it also shows the value of our proactive work to reduce the fear of crime and provide reassurance on our public transport network.</p>
<p>&ldquo;We conduct these operations on a regular basis across the region acting on intelligence. Tackling knife crime is a force priority and we will continue to carry out these operations to get knives off our streets and make our communities safer.&rdquo;&nbsp;</p>


                            
    
    <img src="/st/media/1132/picture-jones.jpg">


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-08-12T00:00:00]]></Value>
    </date>
  </Properties>
</Content>