<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ca1bfa5-a3f0-4a6a-b795-43a2d585417e" Alias="Safer Travel Command Centre Wins National Award (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SaferTravelCommandCentreWinsNationalAward1</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Safer Travel Command Centre Wins National Award (1)" />
    <SortOrder>177</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p><span>A pioneering £1.2m command centre dedicated to tackling crime and anti-social behaviour on the&nbsp;West Midlands&nbsp;transport network has landed a prestigious award just five months after its launch.</span></p>
<p><span></span><span>The Safer Travel Command Centre, a joint initiative by transport authority Centro, West Midlands Police and British Transport Police, won the&nbsp;Most Significant Safety Initiative of the Year&nbsp;title at the&nbsp;Light Rail Awardsceremony in&nbsp;London&nbsp;on 3<sup>rd</sup>&nbsp;October.</span></p>
<p><span></span><span>The Safer Travel Command Centre opened in May to provide an operational base dedicated to tackling crime and anti-social behaviour on the Midland Metro and region’s wider transport network.</span><span>It is the first in the&nbsp;UK&nbsp;to have transport authority staff, officers from a regional police force and British Transport Police permanently based together.</span></p>
<p><span></span><span>Working under the region’s Safer Travel Partnership they have helped cut crime on the transport system by more than 65 per cent over the last five years.</span><span>&nbsp;</span><span>Mark Babington, Centro’s safer travel manager,&nbsp;said: &ldquo;This is a fantastic achievement which really highlights how effective this centre has been since opening earlier this year. Having three organisations working so closely together under one roof means we are able to share information seamlessly.</span><span>&ldquo;It is something we had wanted to put in place for a long time and we’re delighted that now it is up and running its success has been recognised with this award.&rdquo;</span><span>Equipped with the latest digital technology, staff at the centre use 50 high definition screens to monitor images, beamed live from more than 800 CCTV cameras covering the region’s bus, rail and tram network.</span></p>
<p><span><img style="width: 500px; height:333.6306868867083px;" src="/st/media/1070/light-rail-award.jpg?width=500&amp;height=333.6306868867083" alt="" data-udi="umb://st/media/d2a0a2e84463462f9bb1f3d2f2d900e0"></span></p>
<p><span>Inspector Lee Gordon from the Safer Travel Partnership and James Aspinall Centro's Finance Director receive the award from&nbsp;Parlimentary Under-Secretary of State for Transport Norman Baker and presenter Nicholas Owen at the&nbsp;Light Rail Awards ceremony.</span></p>
<p><span>The Command Centre also serves as a headquarters for up to 79 officers and staff from the Safer Travel Partnership, which includes West Midlands Police, Centro, bus operator National Express and more recently British Transport Police. Together they stage hundreds of operations each year to deter and combat crime and anti-social behaviour on the transport network.</span></p>
<p><span></span><span>British Transport Police Inspector Lee Gordon, from the Safer Travel Police Team added:&nbsp; &ldquo;It’s great that this project has been recognised on a national level, highlighting the innovative approach to ensuring the safety and security of&nbsp;West Midlands&nbsp;passengers.</span><span>&ldquo;Crime on the network continues to fall and with improved communication and further investment we will keep pushing forward with this.</span><span>&ldquo;The award also recognises that the key to this project is not just two police forces working together but at the same time working closely with the transport industry.&rdquo;</span></p>
<p><span></span><span>Gareth Morris, West Midlands Police Safer Travel Inspector, said: &ldquo;The great thing about this is that it is such a unique project between British Transport Police, West Midlands Police and Centro. It is the first type of cross agency working of its kind.</span><span>&ldquo;It has been incredibly successful so far and we have seen significant decreases in crime across the network.</span><span>&ldquo;Working together in one place eliminates invisible barriers and we have been able to speed up our response times and much more easily monitor offenders moving from one mode of transport to another.&rdquo;</span></p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>