<?xml version="1.0" encoding="utf-8"?>
<Content Key="40e2e4d8-b23b-46b2-a461-bbd34d037296" Alias="Safer Travel Clampdown On Passengers Not Wearing Face Coverings" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SaferTravelClampdownOnPassengersNotWearingFaceCoverings</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-10-27T10:55:24</CreateDate>
    <NodeName Default="Safer Travel Clampdown On Passengers Not Wearing Face Coverings" />
    <SortOrder>30</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA["<div class=""main"">]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-09-07T00:00:00]]></Value>
    </date>
  </Properties>
</Content>