<?xml version="1.0" encoding="utf-8"?>
<Content Key="506d0e87-7bff-471e-9659-985ddd4a9e37" Alias="Safer Travel Relaunch Anti-Hate Crime Campaign To Encourage Passenger Reporting" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SaferTravelRelaunchAntiHateCrimeCampaignToEncouragePassengerReporting</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2021-01-02T00:00:00</CreateDate>
    <NodeName Default="Safer Travel Relaunch Anti-Hate Crime Campaign To Encourage Passenger Reporting" />
    <SortOrder>92</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>Safer Travel has relaunched an anti-hate crime campaign to encourage passengers to report if they are victims of hate crime on their journey.</p>
<p>Following the success of the original campaign which was launched almost two years ago by the Police and Crime Commissioner, David Jamieson, and Mayor of the West Midlands, Andy Street, Safer Travel worked with partners to refresh the materials which are planned to be in place for a further 12 months.</p>


                            
    
    <img src="/media/st/media/1115/hate-crime-twitter-post.jpg">


                            
    

<p>Since the campaign was first launched in February 2019, over 380 hate crimes have been recorded across the West Midlands bus network. In the first month after the launch, reports doubled compared with the previous month.</p>
<p>With this increase in hate crime awareness and reporting, Safer Travel is able to build a truer and more accurate intelligence picture to put officers in areas where they are needed most.</p>
<p>As a result of increased reports, Safer Travel officers will also be focussing on staff assaults, which represent almost a third of all hate crimes reported on the bus network in the past two years.</p>
<p>In October last year, a 19-year-old man was found guilty of racially aggravated common assault after he verbally abused and threatened a bus inspector in Solihull in July 2019. He was sentenced to 12 weeks suspended for 18 months, 200 hours unpaid work, a rehabilitation order as well as compensation costs.</p>
<p>Safer Travel officers plan to conduct joint training with safety managers from National Express West Midlands in order to support transport staff in dealing with hate crimes. The training will cover how to recognise a hate crime, what staff should do if they are a victim of a hate incident and where they can go for support, and how to support passengers if a hate incident occurs during their duties.</p>
<p>Managing Director of National Express West Midlands, David Bradford, said: &ldquo;As part of the Safer Travel Partnership National Express West Midlands works very closely with the Safer Travel team to tackle any form of crime on the bus network, including hate crime.</p>
<p>&ldquo;Hundreds of thousands of journeys are made safely every single day but we will not tolerate anybody who does not respect the right that everybody has to work and travel safely, without fear of assault or intimidation.</p>
<p>&ldquo;By raising awareness and carrying out joint training with the Safer Travel team we’ll help our staff recognise and deal with hate crime, ensuring that incidents are reported, support is given and the perpetrators are identified.</p>
<p><span>​</span>"National Express West Midlands encourages anybody experiencing hate crime on public transport to report it to West Midlands Police. We have crystal clear CCTV on all of our buses and we will make footage available to the police to help with any investigation."</p>
<p>The Police and Crime Commissioner and Mayor of the West Midlands are continuing to support the campaign to increase awareness of hate crime across the transport network.</p>
<p>The West Midlands Police and Crime Commissioner, David Jamieson said: &ldquo;Hate crime has been on the rise in our communities. Through this campaign we have been encouraging anyone who is a victim of hate crime whilst on our transport network to come forward and report it.</p>
<p>&ldquo;I am pleased that more people have been coming forward to report hate crime but nonetheless we must remain vigilant and tackle it.</p>
<p>&ldquo;West Midlands Police will continue to take action against those who feel it is acceptable to commit these crimes on the transport network. It will never be tolerated.&rdquo;</p>
<p>Andy Street, the Mayor of the West Midlands, said: &ldquo;People have a right to travel on our trains, buses, and trams in safety and without being subject to abuse and anti-social behaviour. So the message from myself, the PCC, and this campaign could not be clearer - if you see hate crime or are the victim of hate crime, report it.</p>
<p>&ldquo;We saw a huge response the first time we launched this campaign in 2019 and now, with more people due to return to public transport as the pandemic eases, we are refreshing it to remind people there is help available if they are the victim of hate crime on our public transport network.&rdquo;</p>
<p>The campaign is featured on over 300 National Express West Midlands buses and in all 12 bus stations across the region. The posters aim to increase awareness of hate crime and point victims to West Midlands Police and partner organisations where victims can also report: TellMama, CST and TrueVision.</p>
<p>For more support or advice about hate crime, visit the West Midlands Police website at <a href="http://www.west-midlands.police.uk">www.west-midlands.police.uk</a>.</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-01-02T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>