<?xml version="1.0" encoding="utf-8"?>
<Content Key="23f6f2b4-1150-4de1-9655-e7b762b4a775" Alias="See Something Say Something App Update" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SeeSomethingSaySomethingAppUpdate</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2017-06-04T00:00:00</CreateDate>
    <NodeName Default="See Something Say Something App Update" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p>Unfortunately our See Something Say Something mobile phone app is no longer available to report anti social behaviour.</p>
<p>Please continue to TEXT 83010 to report Anti Social behaviour or report on our website</p>
<p>We will keep you updated when a new mobile version will be available- Keep your eyes peeled.</p>
<p><img style="width: 0px; height:0px;" src="/umbraco/nothing.jpg" alt="" data-udi="umb://st/media/1f6d193b7c9a4aea82cbc03bbbc448f5"><img style="width: 448px; height:289px;" src="/st/media/1042/ssss2016card.jpg?width=448&amp;height=289" alt="" data-udi="umb://st/media/1f6d193b7c9a4aea82cbc03bbbc448f5"></p>
<p><img style="width: 0px; height:0px;" src="/umbraco/nothing.jpg" alt="" data-udi="umb://st/media/cc683b9e1baa411c998cd5ba07d8a132"><img style="width: 423px; height:291px;" src="/st/media/1043/text.png?width=423&amp;height=291" alt="" data-udi="umb://st/media/cc683b9e1baa411c998cd5ba07d8a132"></p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2017-06-04T00:00:00]]></Value>
    </date>
  </Properties>
</Content>