<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7ef6bec-3a6f-465e-acc0-c15a42c9a6c1" Alias="See Something, Say Something Mobile Phone App Launched (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SeeSomethingSaySomethingMobilePhoneAppLaunched1</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2013-06-03T00:00:00</CreateDate>
    <NodeName Default="See Something, Say Something Mobile Phone App Launched (1)" />
    <SortOrder>180</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p class="PressReleaseDataImage">Passengers on the public transport network can instantly report antisocial behaviour over the internet with the launch of a pioneering mobile phone app</p>
<p>The See Something, Say Something app has been unveiled by the Safer Travel Partnership.</p>
<p>More than 230 people have already downloaded it to their Apple and android phones in the latest chapter of the successful See Something, Say Something campaign on the West Midlands bus, train and tram network.</p>
<p>People witnessing antisocial behaviour such as smoking on public transport simply open up the app and upload details of what they have seen.</p>
<p>Sgt Chris Casey of the Safer Travel police team said: &ldquo;This app is the first of its kind in the UK having been successfully used in the United States and it is already attracting interest from other authorities such as Transport for London.</p>
<p>&ldquo;Once a user sends us the details of an incident an officer will get back in touch and gather further information to build a picture or pattern of antisocial behaviour which can then be targeted appropriately.&rdquo;</p>
<p>See Something, Say Something was originally launched on the bus network in 2008 and has since been extended to rail services across the West Midlands and the Midland Metro.</p>
<p>Alternatively to the app, passengers who see nuisance behaviour during their journey can also say something by<span>&nbsp;</span><strong>texting 'bus', 'metro' or ‘rail’</strong><span>&nbsp;</span>followed by a space and then details of the incident including time, date, location and route number to<span>&nbsp;</span><strong>83010</strong>.</p>
<p>They can also give details by logging on the<span>&nbsp;</span><a style="text-decoration: none; margin: 0px; padding: 0px; font-size: 15px; vertical-align: baseline; border: 0px; outline: 0px; color: #448fb4;" href="http://www.safertravel.info/" title="http://www.safertravel.info/http://www.safertravelinfo/blocked::<a href='http://www.safertravelinfo/' target='_blank'>http://www.safertravelinfo/</a><a href='http://www.safertravelinfo/' target='_blank'>http://www.safertravelinfo/</a>">www.safertravel.info</a><span>&nbsp;</span>website or by telephoning British Transport Police on Freefone 0800 40 50 40. In the case of an urgent crime or an emergency, always dial 999.</p>
<p>Thousands of passengers have used the system to provide crucial information that has enabled the Safer Travel Partnership to pinpoint crime and anti-social behaviour hot spots and take appropriate action.</p>
<p>Safer Travel comprises transport authority Centro, West Midlands Police, British Transport Police and transport operators and exists to make public transport in the West Midlands even safer.</p>
<p>Centro chairman, Cllr John McNicholas, said: "Crime on the public transport network is at a record low but anti-social behaviour can ruin someone's journey and also lead to an unfounded fear of crime.</p>
<p>"This app is expanding the valuable role that See Something, Say Something plays in helping us tackle nuisance behaviour and help provide a quiet and relaxing environment for their journey."</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2013-06-03T00:00:00]]></Value>
    </date>
  </Properties>
</Content>