<?xml version="1.0" encoding="utf-8"?>
<Content Key="01b55fcc-6120-4970-94ec-a530e929094e" Alias="Seven New Special Constables Join The Team" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SevenNewSpecialConstablesJoinTheTeam</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-10-27T10:54:41</CreateDate>
    <NodeName Default="Seven New Special Constables Join The Team" />
    <SortOrder>67</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA["<div class=""main"">]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2013-06-03T00:00:00]]></Value>
    </date>
  </Properties>
</Content>