<?xml version="1.0" encoding="utf-8"?>
<Content Key="75dc6c75-9ac0-4234-beaa-83679fb9ddba" Alias="Seven New Special Constables Join The Team" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SevenNewSpecialConstablesJoinTheTeam</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2013-06-03T00:00:00</CreateDate>
    <NodeName Default="Seven New Special Constables Join The Team" />
    <SortOrder>46</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p class="PressReleaseDataContent">The number of volunteer Special Constables on the beat with the Safer Travel Police Team in the West Midlands has been boosted after seven new officers were sworn-in at a ceremony in Birmingham.</p>
<p class="PressReleaseDataContent">The Safer Travel Police Team falls under the Safer Travel Partnership which brings officers from British Transport Police and West Midlands Police together to work closely with staff from transport authority Centro and transport operators with the aim of making travel on trains, trams and buses in the West Midlands even safer.</p>
<p class="PressReleaseDataContent">The team uses a variety of tactics including targeted patrols based on intelligence, random checks such as Gateway operations and undercover patrols. Officers also utilise mobile CCTV cameras, body worn CCTV cameras, drugs sniffer dogs and safety arches to assist them.<br><br>Officers also go into schools regularly to teach children the importance of good behaviour on the public transport network.</p>
<p class="PressReleaseDataContent">The new Special Constables who will be joining the team were officially sworn-in by Magistrate Jill Parker, chair of the Wolverhampton Branch, at Saturday’s ceremony which was held at The Safer Travel Command Centre.</p>
<p class="PressReleaseDataContent">The new recruits were then presented with certificates by Superintendent Allan Gregory, of British Transport Police.</p>
<p class="PressReleaseDataContent">Special Constables have the same uniform and powers as regular police officers and are instrumental to the success of policing teams. They are required to work a minimum of 16 hours per month but most work far more than the minimum required hours, helping to boost the numbers of frontline officers on the beat.</p>
<p class="PressReleaseDataContent">Inspector Lee Gordon, in charge of the Safer Travel Policing Team, said: &ldquo;Saturday was a proud day for the team as well as each of the Special Constables and their families.</p>
<p class="PressReleaseDataContent">&ldquo;Special Constables are an important part of police forces and perform the full-range of policing duties. The contribution made by Special Constables to what we do is invaluable, helping us to make sure that passengers using the transport network in the West Midlands are not only safe, but feel safe.&rdquo;</p>
<p class="PressReleaseDataContent">Centro’s Vice Chair, Cllr Kath Hartley, said: &ldquo;Passengers consistently tell us they want to see more officers on the transport network and that’s why we have helped fund the recruitment of these Specials.</p>
<p class="PressReleaseDataContent">&ldquo;The team will be highly visible on the rail and Metro networks, helping to cut crime and provide a reassuring presence for passengers.&rdquo;</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2013-06-03T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>