<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a429471-16a9-4378-b794-7f0be785db06" Alias="Shropshire &amp; Black Country ‘rail revolution’ could power up region" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/ShropshireBlackCountryRailRevolutionCouldPowerUpRegion</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:27</CreateDate>
    <NodeName Default="Shropshire &amp; Black Country ‘rail revolution’ could power up region" />
    <SortOrder>94</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>