<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d24d8e8-3c06-4ac3-8c29-dc05130d4a0c" Alias="Si Chun Lam" Level="3">
  <Info>
    <Parent Key="9af3708d-9d5e-4145-8d46-137f7ce2a49d">Authors</Parent>
    <Path>/WestMidlandsCombinedAuthority/Authors/SiChunLam</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2023-12-20T12:16:32</CreateDate>
    <NodeName Default="Si Chun Lam" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bio>
      <Value><![CDATA[<p>Si Chun is the Head of Research, Intelligence, and Inclusive Growth at the West Midlands Combined Authority (WMCA), tasked with bringing together the research and intelligence expertise across the West Midlands to build a better connected, more prosperous, fairer, greener and healthier West Midlands. </p>
<p>Before joining the WMCA, Si Chun worked for Coventry City Council in a variety of roles, most recently, leading Coventry’s research, insight, and intelligence function. In this role, Si Chun transformed the Council’s approach to insight, analysis, and data through the development of a citywide intelligence hub and a ‘One Coventry’ approach to performance management. Through nurturing partnerships with local universities, Si Chun championed the development of a flourishing research and intelligence ecosystem in the city.  </p>
<p>Si Chun has contributed to the national conversation on the power of research and intelligence to make a positive impact on our society. Outside of paid employment, Si Chun is part of the Economy of Francesco, a global movement of economists, entrepreneurs and change-makers working to create an economy that works for everyone, with nobody left behind.  </p>
<p>Si Chun completed a master’s degree in Social Sciences Research at Loughborough University and a Bachelor’s degree in Economics and International Development at the University of Bath.  </p>
<p>Si Chun is originally from Hong Kong and is proud and passionate about the amazing potential of the West Midlands. In the past year Si Chun volunteered as a City Host for Coventry’s year as the UK City of Culture, and as a performer for the Birmingham 2022 Commonwealth Games opening and closing ceremonies.</p>]]></Value>
    </bio>
    <facebook>
      <Value><![CDATA[]]></Value>
    </facebook>
    <jobTitle>
      <Value><![CDATA[Head of Research, Intelligence, and Inclusive Growth]]></Value>
    </jobTitle>
    <linkedin>
      <Value><![CDATA[[
  {
    "name": "https://uk.linkedin.com/in/sichunlam",
    "url": "https://uk.linkedin.com/in/sichunlam"
  }
]]]></Value>
    </linkedin>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
  </Properties>
</Content>