<?xml version="1.0" encoding="utf-8"?>
<Content Key="32a1f3d7-001f-4558-86eb-02f84bdbce0e" Alias="Site Properties" Level="2">
  <Info>
    <Parent Key="ef6a9ddd-5683-4bf4-b433-57f9709da781">Change Into Action</Parent>
    <Path>/ChangeIntoAction/SiteProperties</Path>
    <Trashed>false</Trashed>
    <ContentType>sitePropertiesCia</ContentType>
    <CreateDate>2024-06-25T14:28:06</CreateDate>
    <NodeName Default="Site Properties" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customTrackingBody>
      <Value><![CDATA[]]></Value>
    </customTrackingBody>
    <customTrackingHead>
      <Value><![CDATA[]]></Value>
    </customTrackingHead>
    <designSystemSlug>
      <Value><![CDATA[ciads]]></Value>
    </designSystemSlug>
    <designSystemVersion>
      <Value><![CDATA[]]></Value>
    </designSystemVersion>
    <emergencyBannerCopy>
      <Value><![CDATA[]]></Value>
    </emergencyBannerCopy>
    <emergencyBannerLink>
      <Value><![CDATA[]]></Value>
    </emergencyBannerLink>
    <greyscaleTheme>
      <Value><![CDATA[0]]></Value>
    </greyscaleTheme>
    <metaConfiguration>
      <Value><![CDATA[]]></Value>
    </metaConfiguration>
    <searchPlaceholder>
      <Value><![CDATA[]]></Value>
    </searchPlaceholder>
    <showEmergencyBanner>
      <Value><![CDATA[0]]></Value>
    </showEmergencyBanner>
    <siteDescription>
      <Value><![CDATA[]]></Value>
    </siteDescription>
    <siteLogo>
      <Value><![CDATA[[]]]></Value>
    </siteLogo>
    <siteTitle>
      <Value><![CDATA[Change Into Action]]></Value>
    </siteTitle>
    <tagID>
      <Value><![CDATA[]]></Value>
    </tagID>
  </Properties>
</Content>