<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a213950-6d55-46c1-a0f0-8a38c40688be" Alias="Smart ticketing group to meet" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SmartTicketingGroupToMeet</Path>
    <Trashed Parent="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">true</Trashed>
    <ContentType>newsArticleMidlandsConnect</ContentType>
    <CreateDate>2024-01-17T10:51:35</CreateDate>
    <NodeName Default="Smart ticketing group to meet" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5ec009c0-71bd-4732-a1e2-0e15798c7498">NewsArticle11</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-01-15T00:00:00]]></Value>
    </date>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
  </Properties>
</Content>