<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2d4f8b5-16b3-4f90-bad6-ed23c9d0e98e" Alias="ST Police Team On Hand To Deliver Free BikeRegister Bike Marking At Train Stations" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/STPoliceTeamOnHandToDeliverFreeBikeRegisterBikeMarkingAtTrainStations</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="ST Police Team On Hand To Deliver Free BikeRegister Bike Marking At Train Stations" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
        <img src="/media/st/media/1040/st-police-team-on-hand-to-deliver-free-bikeregister-bike-marking-at-train-stations.png" style="max-width:700px" class="img-responsive">
                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>