<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c9f6ba0-a246-4f2b-85b5-39598c882e09" Alias="ST Police Team On Hand To Deliver Free BikeRegister Bike Marking At Train Stations" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/STPoliceTeamOnHandToDeliverFreeBikeRegisterBikeMarkingAtTrainStations</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-10-27T10:54:10</CreateDate>
    <NodeName Default="ST Police Team On Hand To Deliver Free BikeRegister Bike Marking At Train Stations" />
    <SortOrder>94</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA["<div class=""main"">]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>