<?xml version="1.0" encoding="utf-8"?>
<Content Key="167f2394-2be5-4850-a61b-1ac4527fd9c3" Alias="Statement on HS2 cost increase and delay" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/StatementOnHS2CostIncreaseAndDelay</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-09-03T00:00:00</CreateDate>
    <NodeName Default="Statement on HS2 cost increase and delay" />
    <SortOrder>59</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Responding to confirmation that a higher HS2 cost and&nbsp;delay&nbsp;<a href="https://www.parliament.uk/business/publications/written-questions-answers-statements/written-statement/Commons/2019-09-03/HCWS1809/">has been confirmed</a>, Sir John Peace, chair of Midlands Engine and Midlands Connect said:</strong></p>
<p><strong>&nbsp;</strong></p>
<p>“HS2 is the best way to add the extra rail capacity we so desperately need to rebalance our country’s economy. It’s encouraging that the government has confirmed that construction work will continue while the review is ongoing. In the Midlands and the North, we are backing HS2 in full, stand ready to build it in full, and are impatient to start benefiting from it in full.</p>
<p>&nbsp;</p>
<p>“Although any delay is very disappointing, this is a project we will all benefit from for the next hundred years and more. It’s well worth waiting for. Decades from now, when our grandchildren look back at the investment we made in their future, they won’t be concerned with the exact year in which it opened.</p>
<p>&nbsp;</p>
<p>“Now that we have an up-to-date account of how much HS2 will cost, we must also take a closer look at the benefits, which I don’t believe have been fully quantified or appreciated. HS2 will support an enormous amount of economic growth, job creation, increased productivity and swathes of much-needed regeneration, both around the new high-speed stations, but also the existing stations it will serve too. One look at Birmingham and you can see those benefits are real and already here.</p>
<p>&nbsp;</p>
<p>“We must not forget that HS2 will also drive significant environmental benefits, freeing up capacity for 144 extra freight trains per day, allowing more than two million extra lorries’ worth of cargo to be transported on our railways each year. Empowering businesses to move goods in this way is essential if we’re to reduce emissions and meet the government’s pledge of becoming carbon neutral by 2050.</p>
<p>&nbsp;</p>
<p>“Midlands Connect is submitting evidence to the Oakervee review, which will provide a clearer picture of the relationship between the costs and benefits of this transformational project. We have a responsibility to represent the views of all the businesses, councils and partnerships across the Midlands and the North who are eagerly awaiting the connectivity and growth this new railway will bring.</p>
<p>&nbsp;</p>
<p>“I wholly believe that HS2 is a once-in-a-lifetime opportunity to rebalance the UK economy and build a transport network fit for the future. We must all commit to a spirit of candid transparency throughout the project’s delivery. All parties and regions must work together to ensure it is completed in its entirety and as quickly as possible.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-09-03T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>