<?xml version="1.0" encoding="utf-8"?>
<Content Key="7015bead-562d-4ec1-a690-766bccdf92bb" Alias="Steven Carpenter" Level="3">
  <Info>
    <Parent Key="9af3708d-9d5e-4145-8d46-137f7ce2a49d">Authors</Parent>
    <Path>/WestMidlandsCombinedAuthority/Authors/StevenCarpenter</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2024-02-23T16:37:49</CreateDate>
    <NodeName Default="Steven Carpenter" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bio>
      <Value><![CDATA[]]></Value>
    </bio>
    <facebook>
      <Value><![CDATA[]]></Value>
    </facebook>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <jobTitle>
      <Value><![CDATA[Digital Communications Officer]]></Value>
    </jobTitle>
    <linkedin>
      <Value><![CDATA[]]></Value>
    </linkedin>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
  </Properties>
</Content>