<?xml version="1.0" encoding="utf-8"?>
<Content Key="0eacae84-fba6-40ae-900a-75db165cdb6c" Alias="STP Summary Document" Level="3">
  <Info>
    <Parent Key="aa0ea236-e528-43b9-975b-9289669b7f62">Publications</Parent>
    <Path>/MidlandsConnect/Publications/STPSummaryDocument</Path>
    <Trashed>false</Trashed>
    <ContentType>publication</ContentType>
    <CreateDate>2024-01-26T17:11:01</CreateDate>
    <NodeName Default="STP Summary Document" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-02-28T00:00:00]]></Value>
    </date>
    <document>
      <Value><![CDATA[[
  {
    "key": "c53fe44a-ce50-47fd-b110-4edbaa1c620c",
    "mediaKey": "81e13cb4-b27d-4eb4-b6ff-7c9a89c3113f"
  }
]]]></Value>
    </document>
  </Properties>
</Content>