<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc1b06e7-8a52-47fb-b589-9f15b6e708c0" Alias="Striking new images of a future “world class” Birmingham Moor Street station revealed as part of once-in-a-generation transformation plan" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/StrikingNewImagesOfAFutureWorldClassBirminghamMoorStreetStationRevealedAsPartOfOnceInAGenerationTransformationPlan</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:17</CreateDate>
    <NodeName Default="Striking new images of a future “world class” Birmingham Moor Street station revealed as part of once-in-a-generation transformation plan" />
    <SortOrder>45</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>