<?xml version="1.0" encoding="utf-8"?>
<Content Key="de431b48-ba23-4682-817b-9ebbf11962bb" Alias="Student Night Bus Initiative 28th September" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/StudentNightBusInitiative28thSeptember</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Student Night Bus Initiative 28th September" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p style="font-weight: 400;">The night bus initiative will be running on Monday 28<sup>th</sup><span>&nbsp;</span>September and will involve National Express West Midlands and officers from The Safer Travel team providing a free bus service transporting fresher students who are attending the Birmingham City University closing party that’s being held at the O2 Academy in Birmingham city centre to their halls of residence in Perry Barr, as public transport is very limited at that time of night.</p>
<p style="font-weight: 400;">Our aim is to engage with the students, some of which will be new to the city, promote Safer Travel, and raise awareness of Anti-social behaviour issues associated with people consuming too much alcohol, provide crime prevention advice and to promote Project Empower which is a dedicated police team that tackles any unwanted sexual behaviour on the public transport network.</p>
<p style="font-weight: 400;">We will also be working with CRI who are a drug and alcohol outreach team based in the city centre that will on board the bus with ourselves educating students around the dangers of alcohol and drug abuse as well as legal highs.&nbsp;</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>