<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d8ad147-322f-46c3-884b-36440880df74" Alias="Teenagers Ordered To Pay Compensation For Bus Fire" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/TeenagersOrderedToPayCompensationForBusFire</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Teenagers Ordered To Pay Compensation For Bus Fire" />
    <SortOrder>76</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    



                            
    
<p>Three teenage boys who set fire to a bus in May have been ordered to pay £3,000 compensation and given Youth Rehabilitation Orders.</p>

<p>The boys, aged 14, 16 and 17, were found guilty of arson on Tuesday (26 November) at Birmingham Youth Court and ordered to pay compensation costs of £1,000 each, with two boys receiving Youth Rehabilitation Orders and the third referred to a Youth Offending Panel.</p>

<p>The three teenagers, who cannot be named for legal reasons, were captured on the bus CCTV lighting a fire on the top deck, and quickly jumped off using the emergency exit when the flames got out of control.</p>

<p>The number 11A bus, which travels between Perry Barr and Acocks Green, had to pull over on Bromford Lane where all passengers were forced to exit the bus. Thankfully no-one was injured during the blaze.</p>

<p>The CCTV images were taken to the boys’ school where they were identified and subsequently interviewed by Safer Travel officers.</p>

<p>Inspector Rachel Crump, head of policing for Safer Travel, said: &ldquo;This was a dangerous act, we are very fortunate that there were no injuries as a result of the carelessness of these teenage boys.</p>

<p>&ldquo;What started as an irresponsible and thoughtless action resulted in endangering the lives of their fellow passengers and cost implications to National Express. We will not tolerate this type of behaviour and we welcome the sentence they have been given.&rdquo;</p>

<p>David Bradford, Managing Director of National Express West Midlands, said: "Thankfully nobody was hurt on this occasion but this reckless act put people at risk and also meant that our customers couldn't use a bus due to the costly damage caused.</p>

<p>"As part of the Safer Travel Partnership we work very closely with the police to identify those responsible for this kind of unacceptable behaviour.</p>

<p>"All of our 1,600 buses have up to 12 CCTV cameras fitted and by working together in the Safer Travel Partnership our footage has already resulted in a 75 per cent success rate in identifying offenders.&rdquo;</p>



                            
    
    <img src="/st/media/1094/11a-image-2-watermarked.jpg" alt="Fire damage caused by arson on 11A bus in May">
        <p class="caption">Fire damage caused by arson on 11A bus in May</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>