<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9780b8c-b7ff-4262-a343-0de12ced5bde" Alias="Teenage Bus Vandal Hit With £2,000 Costs Order" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/TeenageBusVandalHitWith2000CostsOrder</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Teenage Bus Vandal Hit With £2,000 Costs Order" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p><span>A teenager has been ordered to pay more than £2,000 for a spate of &ldquo;senseless&rdquo; criminal damage that saw him slash bus seats and steal on-board security cameras.</span></p>
<p><br><span>The 16-year-old, from Rowley Regis, struck nine times over a three-week period in August and September on National Express buses in the Halesowen and Stourbridge area.</span></p>
<p><span></span><br><span>Officers from West Midlands Police’s Safer Travel team worked with Nati</span><span class="text_exposed_show">onal Express to investigate the damage and led to the arrest of the teenager last month.</span></p>
<p><span class="text_exposed_show"><br>He went on to admit the offences at Wolverhampton Magistrates Court on 18 October and was given a six-month referral order and ordered to pay costs and compensation totalling £2,100 to National Express.<br>Tom Stables, Managing Director of National Express West Midlands: "We will not tolerate this kind of destructive behaviour. Damaging buses like this puts them out of service while we repair them, and that affects our passengers' journeys.<br>"We work very closely with Safer Travel police and we are grateful for their hard work in bringing this offender to justice."</span></p>
<p><span class="text_exposed_show"><br>PC Chris Milburn, from West Midlands Police’s Safer Travel team, said: &ldquo;We work hard to stamp down this kind of behaviour and this is just an example of the repercussions of these senseless acts.&rdquo;</span></p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>