<?xml version="1.0" encoding="utf-8"?>
<Content Key="62eb41d5-3259-43ee-be00-6feeeaca62d7" Alias="Test" Level="3">
  <Info>
    <Parent Key="fd363a02-365b-4656-b4ca-592b89bb161c">About us</Parent>
    <Path>/MidlandsConnect/AboutUs/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageMidlandsConnect</ContentType>
    <CreateDate>2023-11-21T11:47:57</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/559623c5fecc4a3c99f581b8cff0f494",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/2c1996661b054113a49628e2324ecf5a",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ee23cf2f313b4b34adde0042e82af314",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/5de26d9f47d84f01bb164954d504095c",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/8c459907060b45aba4016e8f001fdf41",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": [
              {
                "contentUdi": "umb://element/f272a1ae72e24614bb5cf77b94b68a7d",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/559623c5fecc4a3c99f581b8cff0f494"
    },
    {
      "contentTypeKey": "88406586-787f-4942-9998-f36b056b1089",
      "udi": "umb://element/f272a1ae72e24614bb5cf77b94b68a7d",
      "showChildLinks": "0",
      "links": "[\r\n  {\r\n    \"name\": \"Strategy\",\r\n    \"udi\": \"umb://document/78d16fd6b8714ad085e3d6be5e882c0c\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/2c1996661b054113a49628e2324ecf5a",
      "richText": "<p>ghfghf fgdfgdfggf</p>\n<p>gfgfg</p>"
    },
    {
      "contentTypeKey": "22cef1cd-4505-4d28-8014-8052036419b6",
      "udi": "umb://element/ee23cf2f313b4b34adde0042e82af314",
      "image": "[\r\n  {\r\n    \"key\": \"4bd301e0-a09e-4238-b74b-2a267e941aca\",\r\n    \"mediaKey\": \"e4a6b27a-6a48-4c65-abe9-aae1eb190d45\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "794222f9-4840-4742-85e4-824fe89f90b5",
      "udi": "umb://element/5de26d9f47d84f01bb164954d504095c",
      "insetText": "<p>hhjhghh</p>\n<p>gfgfg</p>\n<p>f</p>\n<p>gfg</p>"
    },
    {
      "contentTypeKey": "97ddef84-6b73-4b4a-9749-bc529e34c395",
      "udi": "umb://element/8c459907060b45aba4016e8f001fdf41",
      "file": "[\r\n  {\r\n    \"key\": \"543ba316-5cc6-4000-9466-c0398155f9d6\",\r\n    \"mediaKey\": \"4e4ec81b-8646-4afd-8df2-c37b1957e6af\"\r\n  }\r\n]",
      "fileIsNotAccessible": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
  </Properties>
</Content>