<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f8608c2-c073-4c9f-a37d-3826591792fe" Alias="The Midlands Transport Summit" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/TheMidlandsTransportSummit</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-07-04T00:00:00</CreateDate>
    <NodeName Default="The Midlands Transport Summit" />
    <SortOrder>215</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Sessions throughout the day include:</p>
<ul>
<li>The Midlands:cleaner, greener, faster&nbsp;</li>
<li>Maximising economic growth and connectivity through rail</li>
<li>Future proofing the Midlands Road Network - Technology, Autonomous Vehicles and MaaS</li>
<li>The Importance of International Connectivity to the Midlands Economy&nbsp;</li>
</ul>
<p>Laura Shoaf, managing director at Transport for West Midlands is closing the event.&nbsp;</p>
<p>For more information, visit the Transport Times <a href="https://www.transporttimes.co.uk/conferences.php/The-Midlands-Transport-Summit-71/">website</a>.&nbsp;</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-07-04T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            Midlands Connect director Maria Machancoses is opening the one day summit on 4th July.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>