<?xml version="1.0" encoding="utf-8"?>
<Content Key="6516c448-1507-43fc-aac3-fefd2b5a5c80" Alias="The Future of Rural Mobility" Level="3">
  <Info>
    <Parent Key="aa0ea236-e528-43b9-975b-9289669b7f62">Publications</Parent>
    <Path>/MidlandsConnect/Publications/TheFutureOfRuralMobility</Path>
    <Trashed>false</Trashed>
    <ContentType>publication</ContentType>
    <CreateDate>2024-01-26T17:15:06</CreateDate>
    <NodeName Default="The Future of Rural Mobility" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-02-04T00:00:00]]></Value>
    </date>
    <document>
      <Value><![CDATA[[
  {
    "key": "b46e6770-3980-4dad-b28c-55a3d56e966e",
    "mediaKey": "c75cc127-52c5-4137-be53-5347e321c172"
  }
]]]></Value>
    </document>
  </Properties>
</Content>