<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb466afd-1b54-4441-b440-5f481f43dc6c" Alias="The Midlands and the North come together in landmark open letter urging party leaders to publicly commit to completion of HS2 Phase Two" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/TheMidlandsAndTheNorthComeTogetherInLandmarkOpenLetterUrgingPartyLeadersToPubliclyCommitToCompletionOfHS2PhaseTwo</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:16</CreateDate>
    <NodeName Default="The Midlands and the North come together in landmark open letter urging party leaders to publicly commit to completion of HS2 Phase Two" />
    <SortOrder>41</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>