<?xml version="1.0" encoding="utf-8"?>
<Content Key="036b3d09-40a0-4b69-99df-08ba08f5132c" Alias="The Major Road Network and Large Local Majors" Level="5">
  <Info>
    <Parent Key="567022ea-5643-4ad8-9529-261d0a7b67eb">Roads</Parent>
    <Path>/MidlandsConnect/AboutUs/OurProjects/Roads/TheMajorRoadNetworkAndLargeLocalMajors</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageMidlandsConnect</ContentType>
    <CreateDate>2023-11-14T15:57:18</CreateDate>
    <NodeName Default="The Major Road Network and Large Local Majors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9fb7f575212a4470ac4105d5a0b04057",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/51218944b0a147b5bb2d900151d875b0",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/9fb7f575212a4470ac4105d5a0b04057"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/51218944b0a147b5bb2d900151d875b0",
      "richText": "<p>qwerty</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
  </Properties>
</Content>