<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3ac5dfe-083f-4696-8d0c-7c75c8f865eb" Alias="Three projects shortlisted as Midlands Connect’s rural mobility competition moves forward" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/ThreeProjectsShortlistedAsMidlandsConnectSRuralMobilityCompetitionMovesForward</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:31</CreateDate>
    <NodeName Default="Three projects shortlisted as Midlands Connect’s rural mobility competition moves forward" />
    <SortOrder>115</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>Rural mobility competition reaches its second stage with three best entries chosen to share £40,000 to develop plans</li>
<li>The most viable scheme announced at Midlands Connect’s Rural Mobility Conference on 20<sup>th</sup> June</li>
<li>Best idea will receive up to £100,000 to develop the solution to the point where it is ready to seek funding from either public or private sector sources</li>
<li>Shortlisted entries include EV car and chargepoint sharing in Derbyshire, integrated transport planning app in Malvern and demand responsive transport solution in Lincolnshire</li>
</ul>
<p>Three Midlands-based mobility solutions have reached the next stage of a regional project to find new, innovative ways to improve transport in rural areas. The initiative - run by regional transport body Midlands Connect – was launched in January, with businesses encouraged to submit initial ideas for how technology could be deployed to tackle rural transport issues and enhance local connectivity.</p>
<p>Entries were shortlisted with the three best sharing £40,000 (£13,333 each) to develop their ideas further, in partnership with a local authority.</p>
<p>The three entries selected to share £40,000 and progress to the next stage are:</p>
<ul>
<li><strong>EV car and charging point sharing – put forward by Cenex (will now be developed in partnership with Derbyshire County Council)</strong></li>
</ul>
<p>An Electric Vehicle-focused scheme which would use apps to encourage car sharing and the sharing of electric vehicle charging points in the community. This solution is designed to reduce the need for car ownership and remove the barriers to EV use for people without a driveway who would be otherwise unable to charge vehicles close to their home.</p>
<ul>
<li><strong>Demand responsive transport app – submitted by DB Engineering &amp; Consulting (will now be developed in partnership with East Lyndsey District Council and Lincolnshire LEP)</strong></li>
</ul>
<p>A technology-focused scheme that will allow users to pre-order and access demand responsive transport. The service would increase the take up of sustainable transport and reduce isolation by providing shared minibus and car trips where there is no public transport alternative. This could be deployed to access healthcare services, other amenities or local tourism destinations.</p>
<ul>
<li><strong>Integrated journeys app – put forward by City Science (will now be developed in partnership with Malvern District Council)</strong></li>
</ul>
<p>This project is designed to integrate multiple travel apps to provide a more seamless customer experience, making it easier for travellers to plan their journeys – especially those where more than one mode of transport will be used. It would bring together local bus and train services, information on walking routes and cycle hire, to encourage public transport use and allow both locals and visitors to access the amenities and services they need to thrive.</p>
<p>This project is designed to make it easier for travellers to plan their journeys – especially those where more than one mode of transport will be used. It would bring together local bus and train services, information on walking routes and cycle hire, to encourage public transport use and allow both locals and visitors to access the amenities and services they need to thrive.</p>
<p>Once the three schemes have been further developed with their local authority partners, the updated plans will be presented to Midlands Connect in June. The best entry will be selected and announced at the Midlands Connect Rural Mobility conference on the 20<sup>th</sup> June. The winner will receive up to £100,000 to support the detailed development of the solution to a point where it is ready to seek investment funding.</p>
<p><strong>Simon Statham, Chief Technology Officer at Midlands Connect, said:</strong></p>
<p>“We know that communities in rural areas can feel cut off and isolated due to patchy public transport, and this can impact their ability to access the services and amenities they need to succeed. This competition is aimed at removing some of these barriers, using technology and innovation to find new solutions to improve mobility in rural areas across our region. We received three really promising ideas and have now awarded funding to these successful organisations to develop their plans in with a local authority partner. We look forward to seeing these plans take shape and to eventually identifying the most viable solution, which we will announce in at our conference in June.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-03-25T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>