<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb48feb5-bce4-4407-be46-7172c54dec7d" Alias="Ticket Dodger Jailed For Spitting At Bus Driver" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/TicketDodgerJailedForSpittingAtBusDriver</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2020-01-08T00:00:00</CreateDate>
    <NodeName Default="Ticket Dodger Jailed For Spitting At Bus Driver" />
    <SortOrder>86</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>A man who spat at a bus driver while en route to a police appointment has been jailed – as officers from our Safer Travel team warn that attacks on public transport staff won’t be tolerated.</p>
<p>Danny Whelan, of no fixed address, boarded the 31 bus on 24 April on his way to a police station to report for an existing community sentence.</p>
<p>He failed to show a valid ticket and after being challenged by the bus driver ran downstairs, punched the driver’s cab screen and launched a tirade of abuse.</p>
<p>The 23-year-old then spat at the driver before running off.</p>


                            
    
    <img src="/media/st/media/1105/whelan_daniel-wm.jpg" alt="Danny Whelan was sentenced to 42 days in prison">
        <p class="caption">Danny Whelan was sentenced to 42 days in prison</p>


                            
    
<p>He was later identified by officers from CCTV images taken from on-board the bus.</p>
<p>Using images from up to 12 cameras on-board National Express West Midlands buses, Safer Travel identify around 75 per cent of offenders from bus-related incidents.</p>
<p>After pleading guilty to common assault at Wolverhampton Magistrates Court, Whelan was sentenced to 42 days in prison and ordered to pay a £128 victim surcharge.</p>
<p>The court highlighted the seriousness of the incident as it was committed during the CoVID-19 lockdown, when this offence carried potentially life-threatening consequences for the victim.</p>
<p>They also considered that Whelan was already serving a community sentence for an unrelated offence and he was travelling to report to the police station at the time of the incident.</p>
<p>Inspector Rachel Crump, head of the Safer Travel police team, said: &ldquo;This was a disgusting crime committed against a vital front line worker that was simply doing his job to ensure key workers were able to travel to work safely during the lockdown period.</p>
<p>&ldquo;We will not tolerate abusive and aggressive behaviour towards transport staff, and we are pleased to see Whelan face time behind bars for this revolting offence.&rdquo;</p>
<p>David Bradford, Managing Director of National Express West Midlands, said: &ldquo;Spitting is not only disgusting but it is also a criminal offence. Nobody should be subjected to this heinous behaviour.</p>
<p>&ldquo;National Express West Midlands works very closely in partnership with the Safer Travel policing team and CCTV cameras on all of our buses can provide crystal clear images of offenders.</p>
<p>&ldquo;We welcome the sentence given to Whelan which sends a clear message that we will not tolerate offensive behaviour towards any of our staff.&rdquo;</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-01-08T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>