<?xml version="1.0" encoding="utf-8"?>
<Content Key="ffb251d8-d86a-4441-a354-a57cc9de252d" Alias="Ticket To A Safer Ride" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TicketToASaferRide</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-10-27T10:54:11</CreateDate>
    <NodeName Default="Ticket To A Safer Ride" />
    <SortOrder>93</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA["<div class=""main"">]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>