<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a8584c4-878b-4616-a2ae-a2317c204f25" Alias="Time To Talk In Coventry" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/TimeToTalkInCoventry</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticleSaferTravel</ContentType>
    <CreateDate>2024-03-14T15:23:08</CreateDate>
    <NodeName Default="Time To Talk In Coventry" />
    <SortOrder>122</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="44e99593-8d72-4c58-a642-948472667f05">NewsArticleSaferTravel</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-03-14T00:00:00]]></Value>
    </date>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/4056b53b7086481cb7d07cdc190d9f74",
        "areas": [
          {
            "key": "e6998d07-b102-4ced-99b3-5ebfddaca9eb",
            "items": [
              {
                "contentUdi": "umb://element/4fdafb942b894b7fb8ae1f800c9efebc",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ce969e311e0f43598e00d89f799a89bd",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "49373456-513d-4c1b-a358-128aa456068d",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/4056b53b7086481cb7d07cdc190d9f74"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/4fdafb942b894b7fb8ae1f800c9efebc",
      "richText": "<p>Time To Talk' is the message from Safer Travel Police as they invite passengers to join them at Pool Meadow Bus Station in Coventry to discuss any issues that make them feel unsafe whilst using public transport.</p>\n<p>The team will be there between 2pm and 4pm on Thursday 21st March to listen to any concerns people have, as well as explaining how they respond to incidents of Anti-Social Behaviour (ASB) on bus or train.</p>\n<p>Pop along, say hello and find out more about the team and their safety campaigns. </p>\n<p>'If you experience ASB whilst using the bus network you can report it by texting 'SeeSay' to 81018 with full details of the incident, including where, when, service and fleet number.</p>\n<p>This information is then used at our monthly tasking meeting to set patrol priorities for the following month. You can help to ensure police resources are in the right place at the right time by letting us know about issues affecting your journey.</p>"
    },
    {
      "contentTypeKey": "22cef1cd-4505-4d28-8014-8052036419b6",
      "udi": "umb://element/ce969e311e0f43598e00d89f799a89bd",
      "image": "[\n  {\n    \"key\": \"aee6c3a3-b1b5-4ccf-a629-76a182bcee99\",\n    \"mediaKey\": \"ff181a0d-5bc8-4102-bbc2-8439bee31715\"\n  }\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <thumbnail>
      <Value><![CDATA[[
  {
    "key": "5060fbf1-f449-4b9d-b606-8c5dbd025a1c",
    "mediaKey": "ff181a0d-5bc8-4102-bbc2-8439bee31715"
  }
]]]></Value>
    </thumbnail>
  </Properties>
</Content>