<?xml version="1.0" encoding="utf-8"?>
<Content Key="d984e235-5d73-4560-bd60-e64ac72c3c34" Alias="Trojan Tram" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/TrojanTram</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Trojan Tram" />
    <SortOrder>61</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p>In February, officers and PCSO’s from the Safer Travel Police Team undertook Operation Silver Hawk – to combat anti-social behaviour on the Metro system and other ‘line of route’ offences such as stone throwing.</p>
<p>The operation involved the use of a &ldquo;Trojan Tram&rdquo; where plain clothes officers travelled on an out-of-service tram, allowing it to stop at any point along the route to deal with incidents.</p>
<p>In total, 59 people on stops and pathways were spoken during the operation, mostly in relation to loitering and consumption of alcohol – as drinking is prohibited in some public areas, e.g. Sandwell.</p>
<p>Operations such as this are key to making metro passengers feel safer by deterring and detecting anti-social behaviour on the network.</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>