<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1ad17f6-ec6c-4acb-b970-0006b491a5a6" Alias="Troublemakers Caught Out As CCTV Installed On West Midlands Buses" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/TroublemakersCaughtOutAsCCTVInstalledOnWestMidlandsBuses</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-11-30T17:02:07</CreateDate>
    <NodeName Default="Troublemakers Caught Out As CCTV Installed On West Midlands Buses" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
  </Properties>
</Content>