<?xml version="1.0" encoding="utf-8"?>
<Content Key="b05d592b-f70f-4130-8c31-8a2349d41111" Alias="True benefits of HS2 REVEALED for the first time; extra capacity would mean improved rail services for 73 stations on existing network" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/TrueBenefitsOfHS2REVEALEDForTheFirstTimeExtraCapacityWouldMeanImprovedRailServicesFor73StationsOnExistingNetwork</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:20</CreateDate>
    <NodeName Default="True benefits of HS2 REVEALED for the first time; extra capacity would mean improved rail services for 73 stations on existing network" />
    <SortOrder>62</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>