<?xml version="1.0" encoding="utf-8"?>
<Content Key="51fff02f-591c-4002-8adf-ea0490d4f5fb" Alias="Vital A38 upgrades to support thousands of new homes and jobs in Worcestershire" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/VitalA38UpgradesToSupportThousandsOfNewHomesAndJobsInWorcestershire</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-08-08T00:00:00</CreateDate>
    <NodeName Default="Vital A38 upgrades to support thousands of new homes and jobs in Worcestershire" />
    <SortOrder>124</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>The project will generate more than £93 million in economic benefits for local communities in the Midlands, with the improvements directly supporting 1,100 new jobs and the development of 5,500 new homes as the Government continues to grow the economy, helping to address the cost of living.</p>
<p>The A38 currently experiences significant congestion during the weekday rush hour, with severe delays at junctions and unreliable journey times affecting local residents’ ability to travel and get to work.</p>
<p>Planned works will install new lanes at key junctions and widen the existing road, helping to improve traffic flow and reduce the threat of any unnecessary bottlenecks in the region. These upgrades will take place on a 7.5 mile stretch of the route, between the M5 Junction 4 to the north and the A38/B4094 to the south.</p>
<p><strong>Transport Minister Baroness Vere said: </strong></p>
<p>“I know local residents in Worcestershire have been affected by congestion along this key route for too long.</p>
<p>“That’s why we’re investing more than £43 million, providing a huge boost to the area’s economy and ensuring people can get around the region quicker and easier – whether that be for work, education or to see family and friends.</p>
<p>“We’ll continue investing in important transport schemes across the country, just like this one, as we level up, support local economies, and provide people with the world-class infrastructure they deserve.”</p>
<p>The improved traffic flow and lower congestion will also reduce journey times for local buses, making commutes shorter and more reliable. Real time passenger information will be installed at bus stops along the route which will provide passengers with live updates to help them plan their journey, in line with the Government’s <a href="https://www.gov.uk/government/publications/bus-back-better">long term strategy for buses outside London</a>.</p>
<p>Local residents will benefit from improved walking and cycling facilities. A new cycle and pedestrian corridor running parallel to the A38 will be built, while new crossings and overbridges will connect to the wider local cycle network. This will improve safety, provide more options for active travel and support the drive to net zero.</p>
<p>The total cost of the scheme is £49.8 million, with the Department for Transport committing to provide just over £43 million and Worcestershire County Council providing the remainder.</p>
<p><strong>Worcestershire County Council's Leader, Councillor Simon Geraghty, said: </strong></p>
<p>“We are delighted that the A38 project has taken a huge next step forward in the journey towards securing £43 million funding from the Department for Transport.</p>
<p>“This significant investment will help improve everyday journeys around Bromsgrove, easing traffic for local people, as well as boosting the local economy.”</p>
<p>The scheme comes as part of the Government’s drive to level up transport, reduce emissions by boosting opportunities for cycling and walking, and create more opportunities for people right across the country.</p>
<p>It’s the latest in a series of Government investments to boost local transport infrastructure, including <a href="https://www.gov.uk/government/publications/city-region-sustainable-transport-settlements-confirmed-allocations">£5.7 billion for future local transport projects</a> and more <a href="https://www.gov.uk/government/news/major-road-and-bridge-upgrades-to-boost-economic-growth-across-the-country">than £160 million in four major road projects</a> across England.</p>
<p>The local council must now successfully complete the design of the project; identify a preferred contractor; and submit to the Department a Full Business Case for final funding approval. If that is approved works are expected to start in early 2023.</p>
<p><img style="width: 500px; height: 250.29726516052318px;" src="/mc/media/1805/a38-route-enhancement-programme-2.jpg?width=500&amp;height=250.29726516052318" alt="" data-udi="umb://mc/media/77981721f5fe492a973a04e500e76b18"></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-08-08T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/2026/a38-lichfield_burton-0001.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            People in Worcestershire are set to benefit from more than £43 million of Government funding for A38 upgrades to tackle congestion, improve local journeys, and support thousands of new jobs and homes.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>