<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9324cfe-140f-4f13-98c8-8eb5dbd34bad" Alias="Volunteer Police Cadet Scheme" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/VolunteerPoliceCadetScheme</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2015-05-08T00:00:00</CreateDate>
    <NodeName Default="Volunteer Police Cadet Scheme" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p style="font-weight: 400;"><strong><a href="https://www.youtube.com/watch?v=xEKNYd-NPuc">Click here for the VPC video.</a></strong></p>
<p>British Transport Police are piloting two Volunteer Police Cadet Schemes, one in London and a second in Birmingham.&nbsp; These will be part of the national VPC scheme under the ACPO lead of CC Shaun Sawyer (Devon &amp; Cornwall Police) promoting the national aims and principles (see below). &nbsp;Whilst Cadets are not a new concept and have been part of the police service for many decades they were very different and were very much about recruitment with many forces removing the schemes completely.&nbsp;&nbsp;</p>
<p>The VPC is aimed at young people between the ages of 13 and 18, it is not about recruitment as can be seen from the aims, but about developing young people to become good citizens and to be a part of policing.&nbsp; The Cadets will attend a Cadet night each week learning various subjects and skills following a curriculum which is ASDAN accredited and they will be required to do 3 hours per month community work which will be in uniform with Cadet Leaders e.g. crime prevention work, community events or low risk patrols.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>In London the Metropolitan Police have a well established and resourced scheme however BTPs scheme in Birmingham will be a first for the West Midlands as West Midlands Police are currently not part of the VPC scheme.&nbsp; For the first Birmingham cohort Cadets are being recruited from three partners schools (Heartlands Academy, Great Barr and Arch Bishop Ilsley), they will meet at the Safer Travel Command Centre on a Tuesday night for classroom based activities and at one of the schools for PE/sports activities.&nbsp; A tasking process will be established for their community work through which the support of Cadets can be requested and considered.</p>
<p>The VPC will have charitable status so will take part in fund raising events however any partners who are aware of funding streams that could be used for Cadet activities please get in touch.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p><br><img style="width: 144px; height:73px;" src="/media/st/media/1066/vpc.jpg?width=144&amp;height=73" alt="" data-udi="umb://media/st/media/3e28d792c9c64b46b579befcf21eb7af"></p>
<p style="font-weight: 400;"><strong><u>Aims of the VPC</u></strong><br>&nbsp;<br>• &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Promote a practical understanding of&nbsp;policing amongst all young people<br>• &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Encourage a spirit of adventure and&nbsp;good citizenship<br>• &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Support local policing priorities through&nbsp;volunteering and give young people a chance to&nbsp;be heard<br>• &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Inspire young people to participate&nbsp;positively in their communities<br>&nbsp;<br><strong><u>Principles of the VPC</u></strong>&nbsp;</p>
<p style="font-weight: 400;">Each Cadet Unit should:<br>• &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Engage with young people between 13&nbsp;and 18 years old<br>• &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Have 25% of their membership from a&nbsp;&ldquo;Vulnerable&rdquo; background<br>• &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Support their Cadets to volunteer 3&nbsp;hours a month assisting in community and&nbsp;crime prevention events<br>• &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Have a body of Cadets that&nbsp;represents the diversity of their Service Area.<br>&nbsp;<br><a href="http://www.nationalvpc.org/">WWW.NationalVPC.org</a><br>Twitter:<span>&nbsp;</span><a href="https://twitter.com/nationalvpc">@NationalVPC</a></p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2015-05-08T00:00:00]]></Value>
    </date>
  </Properties>
</Content>