<?xml version="1.0" encoding="utf-8"?>
<Content Key="03fa0982-4fc3-4065-a2c5-481036be9b0c" Alias="“We drastically need that funding here”: Siemens’ Lincoln business backs Midlands Connect’s A46 improvement plan" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/WeDrasticallyNeedThatFundingHereSiemensLincolnBusinessBacksMidlandsConnectSA46ImprovementPlan</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:24:18</CreateDate>
    <NodeName Default="“We drastically need that funding here”: Siemens’ Lincoln business backs Midlands Connect’s A46 improvement plan" />
    <SortOrder>50</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Siemens’ Lincoln business is backing Midlands Connect’s 20 year improvement plan for the A46 corridor, saying road investment is essential for the company to create jobs and continue to invest in the city. </strong></p>
<p>The firm, which employs 1,500 people at several bases in Lincoln, services industrial gas turbines from more than 90 countries from its Global Service Operations Centre (GSOC) at Teal Park, located on the A46.</p>
<p>The GSOC, which celebrated its first anniversary in April, stores 30,000 parts and fulfils around 1,200 shipments every month, and relies on the A46 as a prime route for completing deliveries to customers in the UK, and for accessing ports and airports to distribute orders worldwide.</p>
<p>Siemens is supporting Midlands Connect’s 20 year improvement plan for the A46, which covers a 155 mile stretch of the road and highlights Lincoln and Newark amongst the main pinch points on the A46 where average speeds at rush hour are regularly below 20mph.</p>
<p>The A46 is one of the country’s most important trade routes, with more than a fifth of goods produced on the corridor being exported. Investing in the corridor can improve access to airports and ports, including the Humber, accelerate numerous housing and employment sites, and provide a viable alternative to the congested motorway network. Midlands Connect’s overall improvement plan for the A46 corridor, from Lincolnshire to Gloucestershire, could add an estimated £7.1 billion to the UK economy.</p>
<p>One in five businesses in Lincolnshire surveyed by Midlands Connect and Lincolnshire Chamber of Commerce said they have considered relocating due to poor traffic conditions on the A46, and nearly three quarters said they would create new jobs if the road was improved.</p>
<p><strong>Eduardo Pavan, Head of Global Logistics, Siemens Industrial Turbomachinery Ltd said:</strong></p>
<p><em>“We are finding a lot of congestion on the A46 throughout the day, especially around Lincoln and Newark. It can hold traffic up for an hour and a half, if not longer. </em></p>
<p><strong><em>“</em></strong><em>Without the A46 we wouldn’t be able to hit our service pledges to our customers. The main hub for our couriers is East Midlands Airport, and we have to get parts there by 6pm to catch overnight planes to countries outside the UK. If we don’t hit those deadlines due to congestion, we miss a day. </em></p>
<p><em>“It’s a very highly competitive market, and in two years’ time [our customers] might be wanting deliveries within two days rather than three days, and unless we have that rolling infrastructure and investment, we can’t offer our customers that type of service, and Siemens could lose business.”</em></p>
<p>Most urgently, Midlands Connect, alongside its partners at Transport for the East Midlands (TfEM), has repeatedly called for confirmation from the government and Highways England that the much-needed A46 Newark Northern Bypass, first announced in 2014, is completed by 2025, to relieve one of the East Midlands’ worst bottlenecks, facilitate housing and employment sites and improve access for freight traffic.</p>
<p>Longer term, Midlands Connect is looking at the potential for a southern Lincoln bypass, connecting to the under construction eastern bypass, targeted improvements on the A15 north of Lincoln, and junction improvements between the A1 and Lincoln.</p>
<p><strong>Eduardo Pavan from Siemens says investment in the A46 around Lincoln and Newark is essential: </strong></p>
<p><em>“We need investment in the A46 from Lincoln down to Newark. There are several major roundabouts to get to the other side of Newark, and since the majority of our parts are travelling that way, through to East Midlands Airport or down to Dover, we drastically need that funding here. </em></p>
<p><em>“We can create jobs here in Lincoln and for the UK, and therefore we need that investment, for the sustainability of our business, and to continue to provide our customers with the level of service they require. </em></p>
<p><strong>Maria Machancoses, Director, Midlands Connect, said: </strong></p>
<p><em>“Using today’s approach to funding, it could be 40 years before the A46 receives the investment it needs to match the growth in jobs and housing expected along the corridor. We must do things differently and accelerate a long-term investment plan to make sure economic growth isn’t held back. Delivering our vision will not only make our businesses in Lincolnshire more prosperous, it will improve the quality of life of people living and working along the corridor. Doing nothing will hold back this progress.” </em></p>
<p>Midlands Connect is the sub-national transport body for the Midlands, and researches, develops and recommends transport projects with the biggest possible economic and social benefits. The next stage of its A46 corridor study, to further develop the proposed improvements and their respective business cases, is due for release in 2019.</p>
<p>-ENDS</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-05-10T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>