<?xml version="1.0" encoding="utf-8"?>
<Content Key="733f03a1-9b14-4310-84ca-e4a6f87ab707" Alias="&quot;We need the HS2 Handsacre Link”: MPs and leaders from Stoke-on-Trent &amp; Staffordshire unite to urge government to retain high speed services" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/WeNeedTheHS2HandsacreLinkMPsAndLeadersFromStokeOnTrentStaffordshireUniteToUrgeGovernmentToRetainHighSpeedServices</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2020-02-10T00:00:00</CreateDate>
    <NodeName Default="&quot;We need the HS2 Handsacre Link”: MPs and leaders from Stoke-on-Trent &amp; Staffordshire unite to urge government to retain high speed services" />
    <SortOrder>69</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>MPs, council leaders and business groups have united to urge the government to retain the HS2 Handsacre Link that will bring direct high speed services to Stoke-on-Trent and Staffordshire, arguing it is crucial for the area to share in the connectivity and economic benefits of the HS2 network. </strong></p>
<p>The call, made ahead of an imminent government decision on the future of HS2, has been made by Stoke-on-Trent MPs Jack Brereton, Jonathan Gullis and Jo Gideon, Newcastle-under-Lyme MP Aaron Bell, Staffordshire Moorlands MP Karen Bradley, Stoke-on-Trent City Council Leader Abi Brown, Cllr Philip Atkins, Leader of Staffordshire County Council, Stoke-on-Trent &amp; Staffordshire Enterprise Partnership Chairman Alun Rogers and Sara Williams, CEO of Staffordshire Chambers of Commerce.</p>
<p>The Handsacre Link was authorised under law when Phase One of HS2 was granted royal assent in 2017. By connecting to the West Coast Main Line at Handsacre, HS2 trains will cut the Stoke-on-Trent to London journey time from 87 to 65 minutes, and Stafford to London from 75 to just 53 minutes.</p>
<p>The prospect of direct HS2 services for Stafford and Stoke-on-Trent has also accelerated huge regeneration masterplans around its stations. &nbsp;</p>
<p>However, it has been reported that the final HS2 Oakervee review could recommend the removal of the junction. As the government considers its response to the review, MPs and local leaders say the Handsacre Link must be retained to realise ambitious plans for jobs, housing and regeneration.</p>
<p><strong>Jack Brereton, MP for Stoke-on-Trent South, said: </strong></p>
<p>“Stoke-on-Trent and Staffordshire’s cohort of Conservative MPs are working closely with the Government to safeguard the Handsacre Link and the huge benefits it will bring to Staffordshire. More than anywhere high speed rail has the potential to deliver on the Prime Minister’s agenda of levelling up opportunities for our communities and Stoke Station must benefit from HS2 services. It is vital that we don’t lose out on this infrastructure revolution.”</p>
<p><strong>Cllr Abi Brown, Leader of Stoke-on-Trent City Council, said: </strong></p>
<p>“We are the number one city in the UK for employment growth, outstripping 46 major cities and all capital cities. We’ve created 8,000 jobs in the past five years, and have a pipeline of thousands more skilled and higher paid jobs on the way. There is strong momentum and growing confidence in Stoke-on-Trent, and we’re experiencing unprecedented investment. Transport connectivity is at the heart of our future plans. It is essential that we guarantee HS2 connectivity for the city, alongside the public transport improvements we’re bringing forward. It is not a case of one or the other, we need both to allow our great city to compete on the national and international stage.”</p>
<p><strong>Cllr Philip Atkins, Leader, Staffordshire County Council, said: </strong></p>
<p>“HS2 will cut through 45 miles of Staffordshire and from the outset we have ensured our residents voices are heard, championed the cause of Staffordshire in terms of environmental mitigation and in making sure we share in any economic benefits should the scheme go ahead.</p>
<p>“The idea that Staffordshire should suffer pain without any gain is totally unacceptable and we expect the Government and HS2 Ltd to meet its statutory and legal obligations to construct and operate the Handsacre Link for the benefit of the economic growth of Staffordshire.”</p>
<p><strong>Alun Rogers, Chairman of Stoke-on-Trent &amp; Staffordshire Enterprise Partnership, said: </strong></p>
<p>“HS2, and the Handsacre Link in particular, has been a huge springboard for growth in Stoke-on-Trent and Staffordshire. The benefits of HS2 compatible services stopping in Staffordshire cannot be underestimated; it is absolutely integral to our ambitious growth plans.”</p>
<p><strong>Sara Williams, CEO, Staffordshire Chambers of Commerce said: </strong></p>
<p>“High speed rail offers businesses a more time efficient way of connecting to new markets and is a sign of a modern, connected city, willing to grow.&nbsp; That is Stoke-on-Trent’s ambition.&nbsp; We are at the centre of the country, a centre for manufacturing and with a growing service economy.&nbsp; Businesses are seizing new opportunities, so don’t let us be disadvantaged by a cost cutting exercise.”</p>
<p>-ENDS-</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-02-10T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1695/hs2alltheway-03.jpg]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>