<?xml version="1.0" encoding="utf-8"?>
<Content Key="2498c848-d61a-45d3-9046-40eb56095ae5" Alias="West Midlands Combined Authority" Level="3">
  <Info>
    <Parent Key="9af3708d-9d5e-4145-8d46-137f7ce2a49d">Authors</Parent>
    <Path>/WestMidlandsCombinedAuthority/Authors/WestMidlandsCombinedAuthority</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2024-03-20T14:18:56</CreateDate>
    <NodeName Default="West Midlands Combined Authority" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bio>
      <Value><![CDATA[<p>The web content team from the West Midlands Combined Authority</p>]]></Value>
    </bio>
    <facebook>
      <Value><![CDATA[[
  {
    "name": "WMCA Facebook",
    "url": "https://www.facebook.com/westmidlandsca"
  }
]]]></Value>
    </facebook>
    <jobTitle>
      <Value><![CDATA[]]></Value>
    </jobTitle>
    <linkedin>
      <Value><![CDATA[[
  {
    "name": "WMCA LinkedIn",
    "url": "https://www.linkedin.com/company/westmidsca"
  }
]]]></Value>
    </linkedin>
    <twitter>
      <Value><![CDATA[[
  {
    "name": "WMCA Twitter",
    "url": "https://twitter.com/WestMids_CA"
  }
]]]></Value>
    </twitter>
  </Properties>
</Content>