<?xml version="1.0" encoding="utf-8"?>
<Content Key="468cf7b4-81f2-4cc3-8ff5-96125b55e068" Alias="West Midlands Fire Service Teams Up To Safer Travel Restorative Justice Project (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/WestMidlandsFireServiceTeamsUpToSaferTravelRestorativeJusticeProject1</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="West Midlands Fire Service Teams Up To Safer Travel Restorative Justice Project (1)" />
    <SortOrder>220</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p>A groundbreaking scheme teaching young people the error of their ways rather than putting them before the courts has got the firefighters on board.</p>
<p>West Midlands Fire Service (WMFS) has joined West Midlands Safer Travel Partnership’s Restorative Justice programme, and their work is already seeing results.</p>
<p>This scheme cuts reoffending by identifying youngsters who engage in low-level anti-social behaviour, such as vandalism. Rather than prosecuting them, officers make them put right some of the damage they have caused. WMFS has joined the programme to tackle arson and other fire-related offences on buses and trams, such as youngsters smoking, playing with lighters and even setting fire to bus seats.</p>
<p>PCSO Sharon Courtney from the Safer Travel police team said: &ldquo;We already make vandals clean up the buses they have damaged. But we felt something more was needed for these cases.</p>
<p>&ldquo;We had to get the kids to understand the real impact of what could happen when a fire gets out of control.</p>
<p>&ldquo;By teaming up with the WMFS Children and Young People Team, we have been able to adapt our Restorative Justice sessions to show how serious playing with fire can be.&rdquo;</p>
<p>Katrina Harris of WMFS said: &ldquo;Through our prevention work with our communities, we educate young people about the dangers of fire-related activity and the consequences of this behaviour.&rdquo;</p>
<p>Earlier this year, a group of six teenagers from Chelmsley Wood used a cigarette lighter to burn the vehicle’s ‘stop’ buttons, then set fire to the seats.</p>
<p>As the back of the top deck of the bus went up in flames, the teenagers got off at the next stop, leaving the fire to burn.</p>
<p>Luckily a quick-thinking bus driver smelt the smoke, escorted his passengers off the bus and managed to put the flames out without injuring himself or any other passengers.</p>
<p>Safer Travel officers identified the youngsters from the CCTV. They were all interviewed and their parents were shown the footage.</p>
<p>In line with Restorative Justice principles, the officers didn’t think it was appropriate to prosecute the teenagers. Instead, they were all encouraged to take part in a fire safety awareness course.</p>
<p>At the session, the teenagers and the WMFS youth team talked through the consequences of their actions and the impact on other people– not just their families and friends, but the fire crews who have to put out the flames and the people whose bus never arrived as it had to be taken out of service.</p>
<p>They also saw various videos about the effects of playing with fire, including images of people who had been burned.</p>
<p>The girls and their parents left the session with a whole new understanding of the wider dangers and consequences of fire.</p>
<p>One girl, aged 13, said: &ldquo;I thought we would just be coming here for another telling-off. However, it was much more educational. Watching the videos and looking at pictures of children with severe burns really made me understand the consequences and how serious fire can be. We did something silly and I will never do anything like that again.&rdquo;</p>
<p>Restorative Justice was launched by Safer Travel in 2015. In 2016, 46 young people aged between 10 and 18 completed the programme. Only two of them went on to re-offend elsewhere.</p>
<p>The Safer Travel Partnership is a collaboration between Transport for West Midlands- part of the West Midlands Combined Authority - British Transport Police, West Midlands Police and transport operators.</p>
<p>It works to reassure the travelling public and reduce crime and anti-social behaviour on the public transport network.</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
  </Properties>
</Content>