<?xml version="1.0" encoding="utf-8"?>
<Content Key="68f3e929-d00c-48b7-b313-c89086636804" Alias="West Midlands Combined Authority" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WestMidlandsCombinedAuthority</Path>
    <Trashed>false</Trashed>
    <ContentType>homepageWmca</ContentType>
    <CreateDate>2023-08-29T11:56:39</CreateDate>
    <NodeName Default="West Midlands Combined Authority" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3259f0bd-20c5-4589-934c-d91284c612ca">Homepage</Template>
  </Info>
  <Properties />
</Content>