<?xml version="1.0" encoding="utf-8"?>
<Content Key="67a5d323-b043-4e45-a3c7-187a1d848dd3" Alias="What’s inclusive growth?" Level="3">
  <Info>
    <Parent Key="c66668c7-dfd8-4362-8b7f-60d466b2846d">Blog</Parent>
    <Path>/WestMidlandsCombinedAuthority/Blog/WhatSInclusiveGrowth</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-08-03T14:39:39</CreateDate>
    <NodeName Default="What’s inclusive growth?" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9863e759-9a1e-4008-a218-0ffdedf49032">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[umb://document/899e1392e5ce400aa222f33f3317d185]]></Value>
    </author>
    <date>
      <Value><![CDATA[2023-09-12T08:00:00]]></Value>
    </date>
    <hideImageInBlog>
      <Value><![CDATA[0]]></Value>
    </hideImageInBlog>
    <image>
      <Value><![CDATA[[
  {
    "key": "9d1e57af-a5c0-4349-b2cc-ff21841a8f97",
    "mediaKey": "652672f2-55dc-4612-bf07-d291b8febfdf"
  }
]]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[Courses offered by City of Wolverhampton College to give people the skills needed to build a career in the rail and infrastructure sectors are set to be expanded with the opening of an additional training site in Dudley. ]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Skills, education and careers",
  "Life in the West Midlands",
  "Economy"
]]]></Value>
    </tags>
  </Properties>
</Content>