<?xml version="1.0" encoding="utf-8"?>
<Content Key="4af2d8fe-7976-4a39-95da-a12cdc8e00ac" Alias="What we do" Level="3">
  <Info>
    <Parent Key="b4dd3100-1f77-4f37-96b1-e115d8361485">About us</Parent>
    <Path>/SaferTravel/AboutUs/WhatWeDo</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageSaferTravel</ContentType>
    <CreateDate>2023-10-23T12:01:19</CreateDate>
    <NodeName Default="What we do" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1db12431-1a69-4817-9555-0c267059e76c">ContentPage1</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
  </Properties>
</Content>