<?xml version="1.0" encoding="utf-8"?>
<Content Key="4af2d8fe-7976-4a39-95da-a12cdc8e00ac" Alias="What we do" Level="2">
  <Info>
    <Parent Key="fe122f10-4b2d-4c38-b841-a4e3f2f59ef5">Safer Travel</Parent>
    <Path>/SaferTravel/WhatWeDo</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageSaferTravel</ContentType>
    <CreateDate>2023-10-23T12:01:19</CreateDate>
    <NodeName Default="What we do" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1db12431-1a69-4817-9555-0c267059e76c">ContentPage1</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/cb732509a97d48dfbaa1c9cd76417745",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/65a87a450e4346409255ac55c6127df3",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/c70853aa7e7a430eb8e077e636e2eaf1",
                "areas": [
                  {
                    "key": "e6027f5a-2089-4483-8ac1-f2af432e42f6",
                    "items": [
                      {
                        "contentUdi": "umb://element/c0f69a633f95403cbc6983bbc505bac2",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/09e124c11fa0467c9559a66fbb4ca166",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/b561632898094cc78bce7a2c3cb2ba57",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/64a3afaf144a4580b4f18f9e9ea2063a",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/6ccd5be9f90a45dda1ad7953e04f1f73",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/90e5c0d7ad6e42028a4d446bebcd2f08",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/503de8dafcc74bf78531b630dcf833fc",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/014baaf1fbbd40e380ee21e4865fb3a1",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/45640d69e56740f9ac33e70d1bf24ddd",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/cb732509a97d48dfbaa1c9cd76417745"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/65a87a450e4346409255ac55c6127df3",
      "richText": "<p>As well as our usual daily high visibility patrols and day to day policing responsibilities, the team focus on intelligence led operations, with the aim of preventing and reducing crime on the bus/train/tram network.</p>\n<p>Our team is intelligence led, drawn from a number of sources such as the officers, transport operators and reports from the public. The team also have access to over 1400 CCTV cameras, which are staffed 24/7 to identify and respond to incidents which are located in Bus, Rail and Metro stations.</p>"
    },
    {
      "contentTypeKey": "f16dc7da-30b7-4cab-ac6d-7c01fcc5f566",
      "udi": "umb://element/c70853aa7e7a430eb8e077e636e2eaf1"
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/c0f69a633f95403cbc6983bbc505bac2",
      "image": "[\n  {\n    \"key\": \"30d45f45-c672-4b90-8f0b-2d82af2f6027\",\n    \"mediaKey\": \"c70e6d7f-b537-4a02-91e3-507bf3524887\"\n  }\n]",
      "copy": "<p>Tackle cycle crime by offering cycle surgeries throughout the year to raise awareness of bike safety and maintenance, as well as offering free bike marking and registry.</p>"
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/09e124c11fa0467c9559a66fbb4ca166",
      "image": "[\n  {\n    \"key\": \"f8c0ce04-36ad-4c9e-8bcc-6533dfaf419c\",\n    \"mediaKey\": \"441b7e13-20fc-4bf7-afb1-7d7438d0b4e8\"\n  }\n]",
      "copy": "<p>Work alongside National Express to run Trojan bus operations on routes where buses are at risk of criminal damage. The specially adapted National Express vehicle is also used to detain offenders responsible for damage and anti-social behaviour (ASB).</p>"
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/b561632898094cc78bce7a2c3cb2ba57",
      "image": "[\n  {\n    \"key\": \"0bf9b4a8-f39a-48f2-a6e6-2512d192846a\",\n    \"mediaKey\": \"441b7e13-20fc-4bf7-afb1-7d7438d0b4e8\"\n  }\n]",
      "copy": "<p>Provide a problem orientated approach to tackling ASB and nuisance incidents on public transport by using the Safer Travel ASB Team to utilise a range of civil prevention interventions.</p>"
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/64a3afaf144a4580b4f18f9e9ea2063a",
      "image": "[\n  {\n    \"key\": \"4f675b58-1998-4804-a3f4-758cf01ae806\",\n    \"mediaKey\": \"12178ddd-1b80-44ee-be53-cb107a3a70f0\"\n  }\n]",
      "copy": "<p>Help young people aged between 10 to 18 years old, who have been involved in incidents of nuisance or anti-social behaviour and do not have a previous offence history via the Restorative Justice Scheme.</p>"
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/6ccd5be9f90a45dda1ad7953e04f1f73",
      "image": "[\n  {\n    \"key\": \"9c14ff37-1d31-449a-9a9a-18d85db9af10\",\n    \"mediaKey\": \"26ea6616-f0dc-4f2d-a6e6-5b7b27d34783\"\n  }\n]",
      "copy": "<p>Work alongside our 24/7 CCTV control room who have access to over 1,400 cameras, in order to identify and respond immediately to any incidents relating to the bus, train and Metro.</p>"
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/90e5c0d7ad6e42028a4d446bebcd2f08",
      "image": "[\n  {\n    \"key\": \"5e37906d-0942-421c-906c-1b4fff01c2f8\",\n    \"mediaKey\": \"7b08f957-1edf-493d-8d5b-8a06cd959252\"\n  }\n]",
      "copy": "<p>Operate bike trackers, used in areas of high bike theft to track stolen bikes and identify thieves.</p>"
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/503de8dafcc74bf78531b630dcf833fc",
      "image": "[\n  {\n    \"key\": \"d67f73e5-698f-4dfd-b4d8-aa665660e65a\",\n    \"mediaKey\": \"f44246fb-3120-4bcb-9325-15b146e96d5d\"\n  }\n]",
      "copy": "<p>Have single points of contact for policing areas, bus stations, train and metro routes.</p>"
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/014baaf1fbbd40e380ee21e4865fb3a1",
      "image": "[\n  {\n    \"key\": \"b85b7fd9-4952-4eb6-9c29-cd9826c4252b\",\n    \"mediaKey\": \"25ff277c-fdaa-4b0e-995e-1eda68f3bd86\"\n  }\n]",
      "copy": "<p>Guide and advise passengers on the transport on how to look after their property when travelling and to ensure they don't become targets of theft.</p>"
    },
    {
      "contentTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "udi": "umb://element/45640d69e56740f9ac33e70d1bf24ddd",
      "image": "[\n  {\n    \"key\": \"9ace2deb-2059-4494-8b88-95e5306ed2de\",\n    \"mediaKey\": \"ab519fd4-f646-43c4-8a8b-82b269133096\"\n  }\n]",
      "copy": "<p>Conduct covert plain clothes operations to increase the opportunity of an arrest where intelligence suggests a specific time period for offences.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
  </Properties>
</Content>