<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d22765c-50fb-42f9-8fb4-539701df176c" Alias="What training course should I do?" Level="3">
  <Info>
    <Parent Key="c66668c7-dfd8-4362-8b7f-60d466b2846d">Blog</Parent>
    <Path>/WestMidlandsCombinedAuthority/Blog/WhatTrainingCourseShouldIDo</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-05-16T08:29:33</CreateDate>
    <NodeName Default="What training course should I do?" />
    <SortOrder>42</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="9863e759-9a1e-4008-a218-0ffdedf49032">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <hideImageInBlog>
      <Value><![CDATA[]]></Value>
    </hideImageInBlog>
    <hideOpinionMessage>
      <Value><![CDATA[]]></Value>
    </hideOpinionMessage>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>