<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fa36a53-1500-4909-aa2f-ab617f2c168d" Alias="What does inclusive growth mean?" Level="3">
  <Info>
    <Parent Key="c66668c7-dfd8-4362-8b7f-60d466b2846d">Blog</Parent>
    <Path>/WestMidlandsCombinedAuthority/Blog/WhatDoesInclusiveGrowthMean</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-08-01T10:29:05</CreateDate>
    <NodeName Default="What does inclusive growth mean?" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9863e759-9a1e-4008-a218-0ffdedf49032">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[umb://document/9e00edfd6b8d41c2a82c2d1eb54f82e8,umb://document/a860777a42104092bc70e5e5509b2d39]]></Value>
    </author>
    <date>
      <Value><![CDATA[2023-02-01T16:00:00]]></Value>
    </date>
    <hideImageInBlog>
      <Value><![CDATA[0]]></Value>
    </hideImageInBlog>
    <image>
      <Value><![CDATA[[
  {
    "key": "5f11d5ca-4f83-4039-ae3a-57cf1fcbaa0e",
    "mediaKey": "f3bdd832-3bc1-43db-a5fa-1ccbc13291ee"
  }
]]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[A £140 million project to create the UK’s first all-electric bus city by 2025 has taken a major step forward with National Express Coventry now operating 130 new double-decker zero emission all-electric buses in Coventry.  

All 130 Enviro400 electric buses are UK-built in Falkirk by Alexander Dennis on a BYD chassis. The buses produce zero carbon emissions at the tailpipe and are powered by renewable ‘green’ energy thanks to solar panels, a second-life battery and charge-point infrastructure all installed at National Express Coventry’s bus depot by electrification specialist Zenobē. The electric buses take four hours to charge and can run for up to 175 miles depending on the time of year.]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Skills, education and careers",
  "Life in the West Midlands",
  "Economy"
]]]></Value>
    </tags>
  </Properties>
</Content>