<?xml version="1.0" encoding="utf-8"?>
<Content Key="08a512be-e6a4-4f5b-940d-5053a77cb1e3" Alias="Who we are" Level="3">
  <Info>
    <Parent Key="b4dd3100-1f77-4f37-96b1-e115d8361485">About us</Parent>
    <Path>/SaferTravel/AboutUs/WhoWeAre</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageSaferTravel</ContentType>
    <CreateDate>2023-10-22T17:16:49</CreateDate>
    <NodeName Default="Who we are" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1db12431-1a69-4817-9555-0c267059e76c">ContentPage1</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/32e953b4bbf745b880be75f743d19feb",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/d34c82a0aa534bb990bb5248757bda29",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/f22a4897c82843e3a4ad9bceb2abf57e",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/cc3797784cb845ec8fc574373353bfd1",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/11dad518f4514fd9a39c6c1851b7d28b",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3b062172fde14226b8dc008296603832",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/32e953b4bbf745b880be75f743d19feb"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/d34c82a0aa534bb990bb5248757bda29",
      "richText": "<p>Safer Travel is committed to creating a Safer Transport Network in the West Midlands.<br><br>Together, West Midlands Police, British Transport Police and Transport for West Midlands make up the Safer Travel Partnership and work to identify areas of the network vulnerable to crime, anti-social and nuisance behaviour.</p>"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/cc3797784cb845ec8fc574373353bfd1",
      "richText": "<p>Our team is intelligence led, drawn from a number of sources such as the officers, transport operators and reports from the public. The team also have access to over 1400 CCTV cameras, which are staffed 24/7 to identify and respond to incidents which are located in Bus, Rail and Metro stations.</p>"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/11dad518f4514fd9a39c6c1851b7d28b",
      "richText": "<h2>The Team</h2>\n<p>The Safer Travel team is made up of the following groups</p>\n<ul>\n<li>An Inspector</li>\n<li>Community Support Officers</li>\n<li>An Intelligence Analyst</li>\n<li>Constables</li>\n<li>An Education Officer</li>\n<li>Anti-sociable behaviour officers</li>\n<li>Specials</li>\n<li>A Communication Officer</li>\n<li>Sergeants</li>\n<li>An Intelligence Officer</li>\n</ul>"
    },
    {
      "contentTypeKey": "22cef1cd-4505-4d28-8014-8052036419b6",
      "udi": "umb://element/3b062172fde14226b8dc008296603832",
      "image": [
        {
          "key": "5cbfe66c-3be7-4162-a77d-5405f23faa71",
          "mediaKey": "d9d31b61-61aa-4268-8d5e-7c0b42cef515"
        }
      ]
    },
    {
      "contentTypeKey": "25b87395-cb8c-4120-a01c-8a8fc3c946bd",
      "udi": "umb://element/f22a4897c82843e3a4ad9bceb2abf57e",
      "image1": [
        {
          "key": "0519b52d-53ed-482c-8b63-737645e383f8",
          "mediaKey": "8fedcd47-b54e-4d07-bb1d-ff1132eacaed"
        }
      ],
      "image2": [
        {
          "key": "e40b5be2-a6ee-40b7-bcb8-eb388b2bdf50",
          "mediaKey": "7ffdf28d-2919-4798-88fe-4fe5779381ff"
        }
      ],
      "image3": [
        {
          "key": "9b9ba4c9-149b-418c-965a-a445e86e14de",
          "mediaKey": "350bc5a5-9302-4505-a0fb-fe7eeeff56c4"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
  </Properties>
</Content>