<?xml version="1.0" encoding="utf-8"?>
<Content Key="62de5848-4caa-4df0-87ba-e250a6986315" Alias="Who we are" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/WhoWeAre</Path>
    <Trashed Parent="fe122f10-4b2d-4c38-b841-a4e3f2f59ef5">true</Trashed>
    <ContentType>contentPageSaferTravel</ContentType>
    <CreateDate>2023-10-22T16:20:28</CreateDate>
    <NodeName Default="Who we are" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1db12431-1a69-4817-9555-0c267059e76c">ContentPage1</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1a0cb352ae784e03a7d4bc6025103fb1",
        "areas": [
          {
            "key": "4e08de7d-87f9-4da9-b045-c425de71f235",
            "items": [
              {
                "contentUdi": "umb://element/4e11d687dc1646368ac814d6ed064254",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/294f1f5e64b64e4fbd870cbe46a7b232",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/37f23ce8b9d845988bc0e777647c7790",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ef078d98cbbf43b195b8b7e6ca3b8810",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "8d133bdd-99f3-4d93-998a-7537b7a1c950",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1a2d1cba-b5d0-49dd-9894-42ff7cd9c459",
      "udi": "umb://element/1a0cb352ae784e03a7d4bc6025103fb1"
    },
    {
      "contentTypeKey": "cbb2e2c7-5b06-4f11-8798-3ea0194bf7df",
      "udi": "umb://element/4e11d687dc1646368ac814d6ed064254",
      "richText": "<p>Safer Travel is committed to creating a Safer Transport Network in the West Midlands.<br><br>Together, West Midlands Police, British Transport Police and Transport for West Midlands make up the Safer Travel Partnership and work to identify areas of the network vulnerable to crime, anti-social and nuisance behaviour.</p>"
    },
    {
      "contentTypeKey": "cbb2e2c7-5b06-4f11-8798-3ea0194bf7df",
      "udi": "umb://element/294f1f5e64b64e4fbd870cbe46a7b232",
      "richText": "<p>Our team is intelligence led, drawn from a number of sources such as the officers, transport operators and reports from the public. The team also have access to over 1400 CCTV cameras, which are staffed 24/7 to identify and respond to incidents which are located in Bus, Rail and Metro stations.</p>"
    },
    {
      "contentTypeKey": "cbb2e2c7-5b06-4f11-8798-3ea0194bf7df",
      "udi": "umb://element/37f23ce8b9d845988bc0e777647c7790",
      "richText": "<h2>The Team</h2>\n<p>The Safer Travel team is made up of the following groups</p>\n<ul>\n<li>An Inspector</li>\n<li>Community Support Officers</li>\n<li>An Intelligence Analyst</li>\n<li>Constables</li>\n<li>An Education Officer</li>\n<li>Anti-sociable behaviour officers</li>\n<li>Specials</li>\n<li>A Communication Officer</li>\n<li>Sergeants</li>\n<li>An Intelligence Officer</li>\n</ul>"
    },
    {
      "contentTypeKey": "703cafd3-b0d6-418b-8c8a-80ab85ecf216",
      "udi": "umb://element/ef078d98cbbf43b195b8b7e6ca3b8810",
      "image": "[\n  {\n    \"key\": \"cf176350-fd70-4930-a99c-5b0572c278c1\",\n    \"mediaKey\": \"d9d31b61-61aa-4268-8d5e-7c0b42cef515\"\n  }\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
  </Properties>
</Content>