<?xml version="1.0" encoding="utf-8"?>
<Content Key="295fa58e-7e61-4e72-a386-0ea73f534381" Alias="Why life is never too busy to learn: Andre's story" Level="3">
  <Info>
    <Parent Key="c66668c7-dfd8-4362-8b7f-60d466b2846d">Blog</Parent>
    <Path>/WestMidlandsCombinedAuthority/Blog/WhyLifeIsNeverTooBusyToLearnAndresStory</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-05-20T11:16:58</CreateDate>
    <NodeName Default="Why life is never too busy to learn: Andre's story" />
    <SortOrder>45</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="9863e759-9a1e-4008-a218-0ffdedf49032">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <hideImageInBlog>
      <Value><![CDATA[]]></Value>
    </hideImageInBlog>
    <hideOpinionMessage>
      <Value><![CDATA[]]></Value>
    </hideOpinionMessage>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>