<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0f87a2f-3814-4209-b6d7-534aa0ac7a60" Alias="Why it's never too late to get a new qualification: Max’s story" Level="3">
  <Info>
    <Parent Key="c66668c7-dfd8-4362-8b7f-60d466b2846d">Blog</Parent>
    <Path>/WestMidlandsCombinedAuthority/Blog/WhyItsNeverTooLateToGetANewQualificationMaxSStory</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-05-07T15:50:04</CreateDate>
    <NodeName Default="Why it's never too late to get a new qualification: Max’s story" />
    <SortOrder>37</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="9863e759-9a1e-4008-a218-0ffdedf49032">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <hideImageInBlog>
      <Value><![CDATA[]]></Value>
    </hideImageInBlog>
    <hideOpinionMessage>
      <Value><![CDATA[]]></Value>
    </hideOpinionMessage>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>