<?xml version="1.0" encoding="utf-8"?>
<Content Key="d85e3c6a-a2ac-46aa-8213-fb2cca5b1867" Alias="Why is economic growth important? And why is inclusive growth even more important?" Level="3">
  <Info>
    <Parent Key="c66668c7-dfd8-4362-8b7f-60d466b2846d">Blog</Parent>
    <Path>/WestMidlandsCombinedAuthority/Blog/WhyIsEconomicGrowthImportantAndWhyIsInclusiveGrowthEvenMoreImportant</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-08-08T10:16:20</CreateDate>
    <NodeName Default="Why is economic growth important? And why is inclusive growth even more important?" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9863e759-9a1e-4008-a218-0ffdedf49032">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[umb://document/9f2500149e3249ed9d815a12169684fc]]></Value>
    </author>
    <date>
      <Value><![CDATA[2023-08-14T06:00:00]]></Value>
    </date>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <gridTest>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/92f3fc0f92444a458a3402b3702b8b16"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ed620008-27f5-4cb3-a462-7120bd3570d3",
      "udi": "umb://element/92f3fc0f92444a458a3402b3702b8b16",
      "content": "{\"layout\":{\"Umbraco.BlockList\":[{\"contentUdi\":\"umb://element/e270574b607d440face46d2ff0dffe9b\"},{\"contentUdi\":\"umb://element/9fe30635b95944cca6253b3675c8886e\"},{\"contentUdi\":\"umb://element/458bd08a69db45849f109d0eb83a48f8\"}]},\"contentData\":[{\"contentTypeKey\":\"48cee39d-6ba9-4599-b547-147a9bb31a82\",\"udi\":\"umb://element/9fe30635b95944cca6253b3675c8886e\",\"textbox\":\"<p>ghghhghghgh</p>\"},{\"contentTypeKey\":\"b7fb877c-b810-46b8-9743-ab6c228c03dd\",\"udi\":\"umb://element/e270574b607d440face46d2ff0dffe9b\",\"image\":\"[{\\\"key\\\":\\\"2d9708b2-b38e-4174-adf6-e8e12793ec3a\\\",\\\"mediaKey\\\":\\\"e4a6b27a-6a48-4c65-abe9-aae1eb190d45\\\"}]\"},{\"contentTypeKey\":\"18cebe3f-a3c3-42fb-8e16-329b39389c2b\",\"udi\":\"umb://element/458bd08a69db45849f109d0eb83a48f8\",\"youtube\":\"hghghghgh\"}],\"settingsData\":[]}",
      "sidebar": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </gridTest>
    <hideImageInBlog>
      <Value><![CDATA[0]]></Value>
    </hideImageInBlog>
    <image>
      <Value><![CDATA[[
  {
    "key": "092764cf-7152-4004-a9af-9f83fe037e32",
    "mediaKey": "2ec4ad88-5b4c-4234-af2a-6354dd0cbdab"
  }
]]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[Thousands of businesses will get help to cut their energy usage and bills and support the region’s transition to net zero under plans that will be presented to the West Midlands Combined Authority Board on Friday (15 September).]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Skills, education and careers",
  "Life in the West Midlands",
  "Equality and diversity"
]]]></Value>
    </tags>
  </Properties>
</Content>