<?xml version="1.0" encoding="utf-8"?>
<Content Key="5aff46da-d0b3-4638-a3bd-6f4f170437b4" Alias="Why does inclusive growth matter in economics?" Level="3">
  <Info>
    <Parent Key="c66668c7-dfd8-4362-8b7f-60d466b2846d">Blog</Parent>
    <Path>/WestMidlandsCombinedAuthority/Blog/WhyDoesInclusiveGrowthMatterInEconomics</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-08-16T09:48:24</CreateDate>
    <NodeName Default="Why does inclusive growth matter in economics?" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9863e759-9a1e-4008-a218-0ffdedf49032">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[umb://document/9f2500149e3249ed9d815a12169684fc]]></Value>
    </author>
    <date>
      <Value><![CDATA[2023-08-14T06:00:00]]></Value>
    </date>
    <hideImageInBlog>
      <Value><![CDATA[0]]></Value>
    </hideImageInBlog>
    <image>
      <Value><![CDATA[[
  {
    "key": "27c9a605-7bf5-4852-8c05-e5e11888f081",
    "mediaKey": "f27be305-d709-4b5f-8fac-4d426aa25ba1"
  }
]]]></Value>
    </image>
    <introduction>
      <Value><![CDATA[This September marks the celebration of Catch the Bus Month, organised by Bus Users UK, and Transport for West Midlands (TfWM) participated by hosting an event at Millennium Place in Coventry.]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Skills, education and careers",
  "Life in the West Midlands",
  "Equality and diversity"
]]]></Value>
    </tags>
  </Properties>
</Content>