<?xml version="1.0" encoding="utf-8"?>
<Content Key="07c9a6ad-47a8-4389-a34d-2a90e921d891" Alias="World-leading experts help to drive East Midlands’ vision forward" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/WorldLeadingExpertsHelpToDriveEastMidlandsVisionForward</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-06-07T00:00:00</CreateDate>
    <NodeName Default="World-leading experts help to drive East Midlands’ vision forward" />
    <SortOrder>52</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Global specialists have been brought in to help supercharge the East Midlands economy and help drive economic growth, bringing thousands of new jobs and prosperity to the region.</strong></p>
<p>The East Midlands Development Corporation (EMDC), which is currently operating in shadow form, has engaged experts in business development, construction, finance and legal after the Government allocated £2m in funding.</p>
<p>The proposed HS2 station at Toton, East Midlands Airport and the Ratcliffe-on-Soar power station sites have been identified as the region’s most strategically important in building a dynamic regional economy.</p>
<p>Arup, a global engineering&nbsp;and design&nbsp;consultancy headquartered in London which provides engineering, design, planning, project management and consulting services, has been appointed along with leading business and financial adviser Grant Thornton UK LLP (finance and governance) and Pinsent Masons (legal), all of whom will play a key role in shaping the future strategy.</p>
<p>Plans to form the development corporation were announced earlier this year following the allocation of £2m Government funding for the East Midlands.</p>
<p>Once formed, the development corporation’s focus will be on maximising and accelerating these once-in-a-generation opportunities and the strategic connectivity across the region, particularly around the HS2 station, the airport, SEGRO Logistics Park, Chetwynd Barracks and the power station.</p>
<p><strong>Sir John Peace, who chairs the EMDC, said:</strong></p>
<p>“These appointments reflect the scale of the development corporation’s ambition. If we are to genuinely transform the East Midlands’ economy and transform it a great place to live, learn and do business, then we need the best possible advice and support we can get.”</p>
<p>In the coming weeks it is expected that further contracts will be let to firms that will help shape and develop a new and bold vision for the East Midlands which will have national and international appeal.</p>
<p>Members of the EMDC Oversight Board visited the building sites around East Midlands Airport on Monday 3 June. The airport is proving to be an important catalyst for growth in the region primarily because of its status as the UK’s most important for dedicated cargo flights. More than 8,000 new jobs in the logistics sector will be created just to the north of the airport thanks to SEGRO’s East Midlands Gateway development. At the airport itself, work is progressing well on UPS’s new £114m building which will make it one of its largest air hubs in Europe and create 1,000 jobs.</p>
<p><strong>Karen Smart, East Midlands Airport’s managing director, said:</strong></p>
<p>“Work is already happening around us which will have a profound impact on the region’s economy. By building on this progress, the Development Corporation can play a key role in keeping the momentum going and, by doing so, will provide the foundations for a dynamic and exciting regional economy.”</p>
<p>Proposals for the incorporation of the Development Corporation are currently being developed that will set out its powers and responsibilities, including learning from similarly successful corporations from around the world.</p>
<p>A detailed assessment of the economic value of bringing the development sites together will be made, including how the development corporation can accelerate the creation of new jobs, increase productivity and new housing in the region.</p>
<p><strong>Joanna Rowelle, Arup integrated city planning director, said:</strong></p>
<p>“Along with our partners AMION and Cushman &amp; Wakefield, we’re pleased to be part of plans to progress the East Midlands Development Corporation.</p>
<p>“Our strong presence in the East Midlands, having worked here for over 30 years, means we’re well aware of the significant economic opportunities the region has to offer.</p>
<p>“This new body has the potential to drive inward investment and develop a connected and responsive business climate to supercharge the East Midlands economy - bringing jobs, more housing and better transport links for local people. We look forward to getting started.”</p>
<p><span><strong>In a joint statement with Pinsent Masons LLP, Will McWilliams, head of public services advisory at Grant Thornton UK LLP, said:</strong> </span></p>
<p><span>”Unlocking the huge potential for growth in the Midlands is vital if we are to truly bring balance to the UK economy. To successfully&nbsp;reinvigorate our regions we need to work collaboratively to produce sustainable, long-term foundations for future growth. We are proud to be working with the Midlands Engine to deliver on its goal of boosting economic growth across the region by improving&nbsp;transport links, building much needed new homes and creating employment opportunities.”</span></p>
<p>&nbsp;</p>
<p><strong>ENDS</strong></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-06-07T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>