<?xml version="1.0" encoding="utf-8"?>
<Content Key="9401f23a-f85a-4283-8532-ab0586d59b6d" Alias="Your Public Transport Matters Event" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/YourPublicTransportMattersEvent</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2016-08-11T00:00:00</CreateDate>
    <NodeName Default="Your Public Transport Matters Event" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p><span>The Safer Travel's Anti-Social Behaviour&nbsp;team will be in Oldbury on the 25th November to answer your questions. They will be with Transport for West Midlands staff by an exhibition bus near Sainsburys between 12-2pm. If you would like to learn more about the 'See Something Say Something' campaign, enquire how they tackle anti-social behavior on public transport or have any other queries it would be great to see you there.</span></p>
<p><span><img style="width: 345.50084889643466px; height:500px;" src="/st/media/1063/bus-pins-2-oldbury.png?width=345.50084889643466&amp;height=500" alt="" data-udi="umb://st/media/9fd37e94eb934108af0ccb0c4f66e824"></span></p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2016-08-11T00:00:00]]></Value>
    </date>
  </Properties>
</Content>