<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ed1f0e9-e944-4c4a-9d79-d04b09780705" Alias="Your Public Transport Matters" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/YourPublicTransportMatters</Path>
    <Trashed Parent="db564fde-aaca-4039-8fdf-9f58a7543cff">true</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-11-30T17:02:09</CreateDate>
    <NodeName Default="Your Public Transport Matters" />
    <SortOrder>74</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[]]></Value>
    </copy>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
  </Properties>
</Content>