<?xml version="1.0" encoding="utf-8"?>
<Macro Key="8d30c1b1-4c17-4e81-8b3e-74135604dfbf" Alias="insertUForm" Level="0">
  <Name>Insert UFormKit Form</Name>
  <MacroSource>~/Views/MacroPartials/UFormKit.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Form</Name>
      <Alias>formId</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    </Property>
  </Properties>
</Macro>