@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPageMidlandsConnect>
@using ContentModels = Wmca.Models.Content;
@{
	Layout = "MidlandsConnect.cshtml";
}

@await Html.PartialAsync("frontend/components/shared/breadcrumb")

<main id="ds-main-content" class="ds-container">
    <h1 class="ds-col-2-3">@Model.Value("alternativeTitle", fallback: Fallback.ToDefaultValue, defaultValue: Model.Value("pageName"))</h1>

    @* Render the block areas *@
    @await Html.GetBlockGridHtmlAsync(Model, "grid")
</main>