@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Error>
@using ContentModels = Wmca.Models.Content;
@{
	Layout = "Shared.cshtml";
}

<h1>Error 404</h1>