@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Wmca.Models.Content.HomepageWmca>

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "WestMidlandsCombinedAuthority.cshtml";
}


<div class="wmcads-container wmcads-page-header-container">
    <div class="wmcads-page-header-box">
        <h1>Building a better connected, more prosperous, fairer, greener and healthier West Midlands.</h1>
    </div>
</div>

<main id="wmcads-main-content" class="wmcads-container wmcads-m-t-lg homepage">

    @{
        var selection = Umbraco.ContentAtRoot().FirstOrDefault()
        .Children()
        .Where(x => x.IsVisible());
    }
    <ul>
        @foreach (var item in selection)
        {
            <li>
                <a href="@item.Url()">@item.Name()</a>
            </li>
        }
    </ul>

</main>

