@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Wmca.Models.Content.HomepageSaferTravel>
    
@{
	Layout = "SaferTravel.cshtml";
}

@await Html.PartialAsync("frontend/components/homepagebanner")
<main id="ds-main-content" class="ds-container ds-m-t-lg homepage">
    <h2>@Model.Name</h2>
</main>