@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Wmca.Models.Content.HomepageSaferTravel>
    
@{
	Layout = "SaferTravel.cshtml";
}

@await Html.PartialAsync("frontend/components/homepagebanner")
<main id="ds-main-content" class="ds-container ds-m-t-lg homepage">
    <h2>Partners</h2>
    <div class="ds-css-grid-3-col ds-m-b-lg">
        <div class="ds-content-card">
            <img class="ds-content-card__image" src="/media/d2vbaoj4/og-logo-1.png" alt="West Midlands Police logo" />
        </div>
        <div class="ds-content-card">
            <img class="ds-content-card__image" src="/media/zhklj4t3/btp-logo-1.png" alt="British Transport Police logo" />
        </div>
        <div class="ds-content-card">
            <img class="ds-content-card__image" src="/media/hkzcfc14/tfwm-2021-landscape-1.png" alt="Transport for West Midlands logo" />
        </div>
    </div>
</main>