@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomepageLegacyWmnetwork>
@using ContentModels = Wmca.Models.Content;
@{
	Layout = "LegacyWmnetwork.cshtml";
}

<main id="ds-main-content" class="ds-container ds-m-t-lg homepage">

</main>