@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsMidlandsConnect>
@using ContentModels = Wmca.Models.Content;
@{
	Layout = "MidlandsConnect.cshtml";
}

 <script defer="defer" src="~/assets/apps/newsroom/static/js/main.15ba1588.js"></script>
 <link href="~/assets/apps/newsroom/static/css/main.d05f80b7.css" rel="stylesheet" />

 <noscript>You need to enable JavaScript to run this app.</noscript>
 <div id="root"></div>
