@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SearchSaferTravel>
@using ContentModels = Wmca.Models.Content;

@using Examine
@using Umbraco.Cms.Core
@inject IExamineManager ExamineManager

@{
    Layout = "SaferTravel.cshtml";
    var searchQuery = Context.Request.Query["q"];

}

@await Html.PartialAsync("frontend/components/shared/breadcrumb")

<main id="ds-main-content" class="ds-container">
    <div class="sift sift-auto-load-on-page-load data-sift-remember-criteria attribute"
         data-sift-result-partial="frontend/components/search/searchResults"
         data-sift-result-document-type="homepageSaferTravel, contentPageSaferTravel, news, newsArticleSaferTravel, legacyNewsArticle"
         data-sift-result-root="fe122f10-4b2d-4c38-b841-a4e3f2f59ef5"
         data-sift-results-per-page="10">

        <form class="sift-criteria">

            @Html.AntiForgeryToken()

            <div class="ds-m-b-lg">
                <h1 id="ds-main-content" class="ds-hide-mobile">Search results</h1>
                <div class="ds-col-1 ds-col-md-2-3 ds-p-r-xl" style="display:flex">
                    <input aria-label="Search" name="q" type="text" class="ds-search-bar__input ds-fe-input sift-criterion" placeholder="Site search…" value="@searchQuery" data-sift-match-property="nodeName, grid, copy, introduction, summary">
                    <button class="ds-search-bar__btn" type="submit">
                        <svg><title>Search</title><use href="#ds-general-search"></use></svg>
                    </button>
                </div>
            </div>

        </form>

            <div class="ds-grid">
                <div class="main ds-col-1 ds-col-md-2-3 ds-m-b-xl ds-p-r-lg">
                    <div class="sift-result ds-col-1">
                    </div>
                    </div>
                </div>
            </div>
             
</main>


<script src="~/Scripts/sift.js" type="text/javascript"></script>
