<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6f191cd-948c-41f2-8140-a529ab04c93a" Alias="[Media Picker] - Document" Level="1">
  <Info>
    <Name>[Media Picker] - Document</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaArticle",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/87015b49abca4026a32f13ef45071f22",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>