<?xml version="1.0" encoding="utf-8"?>
<DataType Key="601439f3-7de3-4d1a-973e-af4a29c61650" Alias="[Media Picker] - MC - Publication" Level="1">
  <Info>
    <Name>[Media Picker] - MC - Publication</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaArticle",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/49db963636fc46a28f154767e609b01f",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>