<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3235e135-f25b-4147-a262-c092328f6301" Alias="Multi URL Picker - 5 Links" Level="2">
  <Info>
    <Name>Multi URL Picker - 5 Links</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Multi+URL+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 5,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>