<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9023ee44-4101-400e-aa01-73b3ee92d736" Alias="News Article - Thumbnail - Media Picker (1)" Level="1">
  <Info>
    <Name>News Article - Thumbnail - Media Picker (1)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/fa42d7f6b8d54730bf440a66e395f888",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>