@model CMSImport.Core.Models.Mail.LoginMail
@{
    <html>
    <body style="font-family: Verdana; font-size: 12px;">
      A user account is created for you!<br />
      Login with:<br /><br />
      login:@Model.LoginName
      pass:@Model.Password<br /><br />
      Have FUN!!
    </body>
  </html>
  }