<?xml version="1.0" encoding="utf-8"?>
<Content Key="53eada5a-ff2f-4993-b59c-2b6d7d863834" Alias="A46 Corridor Freight &amp; Logistics Workshop, Leicester" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/A46CorridorFreightLogisticsWorkshopLeicester</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-05-13T00:00:00</CreateDate>
    <NodeName Default="A46 Corridor Freight &amp; Logistics Workshop, Leicester" />
    <SortOrder>216</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Midlands Connect – the sub-national transport body for the region - is working with WSP to research, develop and recommend improvements to a 155 mile stretch of the A46 corridor, from the Humber ports in the east&nbsp;to the M5 link in the west. We are seeking the views of businesses who use the route as we progress to the second stage of our corridor study.</p>
<p>To do this, we’d like businesses to input directly in to the study to ensure it considers the needs and aspirations of businesses who either depend on logistics or provide freight services.</p>
<p>We have identified you and your organisation because we feel that your contribution would be very valuable in providing a fuller understanding of freight needs within the corridor.</p>
<p>The second stage of our A46 corridor study will progress the case for improvements to the following specific sections of the A46:</p>
<ul>
<li>Between M5 at Tewkesbury &amp; M40 at Warwick;</li>
<li>Leicester and the surrounding area;</li>
<li>Lincolnshire.</li>
</ul>
<p>We are holding three workshops, one for each area being reviewed, for selected businesses and organisations:</p>
<p><strong>13th May:&nbsp; Leicestershire County Hall, Glenfield, Leicester:&nbsp; 14:00 – 17:00</strong></p>
<p><strong>17th May: Lincolnshire County Council office, Lincoln:&nbsp; 13:00 – 16:00</strong></p>
<p><strong>20th May:&nbsp; Warwickshire County Council, Shire Hall, Warwick:&nbsp; 14:00 – 17:00</strong></p>
<p>The event is by invitation only.</p>
<p>To help us manage numbers, please confirm your attendance, with your preferred date and location, to <a href="mailto:Morag.White@wsp.com">Morag.White@wsp.com</a></p>
<p>For further information on the A46 project please click <a data-udi="umb://document/22d669044c0840acb2db1bfe51628fd0" href="#" title="The A46">here</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-05-13T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            Midlands Connect, working with WSP, is holding a series of workshops along the A46 with businesses who either depend on logistics or provide freight services. 

The workshops will ensure the next stage of our A46 corridor study considers the needs and aspirations of businesses who use the route
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>