<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e68e62a-051c-43db-af79-7172e0759586" Alias="Business and political leaders show support for Worcester rail plans" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/BusinessAndPoliticalLeadersShowSupportForWorcesterRailPlans</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-12-12T00:00:00</CreateDate>
    <NodeName Default="Business and political leaders show support for Worcester rail plans" />
    <SortOrder>142</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>To celebrate the launch of the plans, Worcester MP, Robin Walker, met with Midlands Connect and local stakeholders in the city on Friday afternoon (9th December).</p>
<p><strong>Robin Walker MP, commented on the proposals:</strong></p>
<p>“I’m really delighted to see the proposals put forward to deliver trains which are going to be more regular and a better service for the many people who commute between Worcester and Birmingham.</p>
<p>“It’s something that I’ve been campaigning about for a long time and I’m very happy to support the Midlands Rail Hub.”</p>
<p><strong>Head of Rail at Midlands Connect, Karen Heppenstall, added:</strong></p>
<p>“The Outline Business Case has been years in the making, and it includes proposals which will benefit Hereford and Worcester residents as well as the country as a whole.</p>
<p>“These plans will open up rail capacity from Hereford and Worcester into Birmingham, and ease congestion on existing services.”</p>
<p><strong>Councillor Simon Geraghty, Leader, Worcestershire County Council, said:</strong> “Worcestershire stands to gain hugely from the Midlands Rail Hub plans. I welcome the proposals, as when the Hub is delivered in its entirety, the number of trains between Worcester and Birmingham every hour will increase. Further, enhanced benefits and opportunities for Bromsgrove and Redditch will be created following the upgrading works proposed.</p>
<p>“The new Worcestershire Parkway station will also be better connected to the rest of the country. It could create opportunities for new direct services to Bristol and the South West, as well as connecting Worcestershire to HS2 in Birmingham. So, I am delighted to see that the county will benefit from this Plan.’’</p>
<p><strong>Gary Woodman, Chief Executive of the Worcestershire Local Enterprise Partnership, said:</strong></p>
<p>“The Midlands Rail Hub is great news for Worcestershire as it will bring increased services to popular routes and reduce travel times, which will help businesses, visitors and residents of Worcestershire who utilise the rail network.</p>
<p>“Improving Worcestershire’s physical connectivity is a key aim of the Worcestershire LEP’s 2040 vision for the county and the introduction of the Midlands Rail Hub, alongside projects such as Worcestershire Parkway and the redevelopment of Kidderminster Station, are helping to better connect Worcestershire regionally and nationally.”</p>
<p>Karen and Robin were joined by Colin Major from Rail Future, Gary Woodman, Chief Executive of the Worcestershire Local Enterprise Partnership, Leader of Worcestershire County Council Cllr Simon Geraghty, Mark Smith, President of the Herefordshire and Worcestershire Chambers of Commerce, and Ed Goose, Regional Growth Manager East at Great Western Rail.</p>
<p>Proposed improvements would see one additional train per hour from Hereford to Birmingham, stopping at Bromsgrove, Great Malvern, and Droitwich Spa. This added service would create almost 2 million more train seats per year.</p>
<p>Another additional train per hour between Birmingham and Cardiff would also benefit Worcester Parkway station.</p>
<p>The biggest engineering proposals are between Bordesley and Moor Street, called the West Chord, allowing access to Birmingham Moor Street from South-West and Wales, and making sure services are improved on the Hereford and Worcester corridors.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-12-12T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1914/img_20221209_140929014_hdr.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            This week, Midlands Connect launched its Outline Business Case for the Midlands Rail hub. A package of upgrades which would benefit more than 30 communities across the Midlands, including in Worcestershire.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>