<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bc46e95-3bfe-4c13-a29e-145cf3202f25" Alias="CCTV Released As Tram Stop Murder Investigation Continues" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/CCTVReleasedAsTramStopMurderInvestigationContinues</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2017-03-04T00:00:00</CreateDate>
    <NodeName Default="CCTV Released As Tram Stop Murder Investigation Continues" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<div class="content">
<div id="divcontent" class="body">
<div class="relbody">
<div><span>Updated Sunday 2 April &nbsp;</span></div>

<div>
<div>Detectives have today released CCTV images of a man they would like to speak with in connection with the murder of a man at Soho Benson Road tram stop on Friday 31 March</div>

<div>DCI Paul Langley said: &ldquo;Our investigation is progressing into this incident and we are now issuing images of a man we believe has key information.</div>

<div>&ldquo;Do you recognise the man in the images? If so, please get in touch with us.</div>

<div>&ldquo;I’m still also really keen to speak with anyone who was in the Benson Road area between 4pm and 5pm on Friday. If you haven’t already come forward to police, please do so.&rdquo;</div>

<div>A 31-year-old man has been released from custody and faces no further police action after being earlier arrested in connection with this incident.</div>

<div>Anyone with information is asked to contact British Transport Police on 0800 40 50 40 or text 61016 quoting 503 of 1 April</div>

<div></div>
<div>Previous updates on this incident:</div>

</div>
<div><span>Update Sunday 2 April 1pm:</span></div>
<div>
<div><span>&nbsp;</span></div>
<div><span>A 31-year-old man has been arrested in connection with the murder of a man at Soho Benson Road tram stop.</span></div>
</div>
<div>
<div><span>&nbsp;</span></div>
<div>He is currently in police custody assisting detectives with their enquiries.</div>

<div>
<div><span>Officers are still keen to hear from anyone who may have been in the Benson Road area between 4pm and 5pm on Friday 31 March to call us 0800 40 50 40 or text 61016 quoting 392 of 31 March.</span></div>
</div>


</div>
<div><span>Update Saturday 1 April, 2.15pm:</span></div>
<div>
<div>Detectives are continuing their enquiries into the murder of a man who was found at Soho Benson Road tram stop, Winson Green, yesterday (31 March). Officers now believe the man was stabbed on the footpath leading away from the tram stop.</div>

<div>Anyone who was travelling on the trams or who may have been in the surrounding area at the time is urged to contact British Transport Police if they have information.</div>

<div>Detective Chief Inspector Paul Langley said: &ldquo;We now know that the victim was found collapsed at the tram stop around 4.30pm, having suffered serious stab wounds.</div>

<div>&ldquo;My detectives are trying to establish the events leading up to that point, and crucially, how the man came to sustain these injuries.</div>

<div>&ldquo;We have several lines of enquiry, including &nbsp;reviewing CCTV footage, and we now know the victim got off of the tram alone at Soho Benson Road and we believe he was injured on the footpath leading away from the stop.</div>

<div>&ldquo;This was approaching rush hour on a Friday evening and I’m sure there were many people around who may have seen something that could help us.</div>

<div>&ldquo;Were you travelling on the tram network yesterday afternoon between 4pm and 5pm? Did you see anyone suspicious or an altercation take place in the area around Benson Road? Even if you think the information you have is insignificant, it could really help our investigation.&rdquo;</div>

<div>Please contact British Transport Police on 0800 40 50 40 or text 61016 with information. Alternatively, you can contact the independent charity, Crimestoppers, on 0800 555 111.</div>

</div>

<div><span>Update Friday 31 March 7.06pm:</span></div>
<div>
<div>Detectives from British Transport Police investigating a murder are &nbsp;appealing for witnesses after a man died from stab wounds on Friday 31 March at Benson Road tram stop, Winson Green.</div>
<div><span>&nbsp;</span></div>
<div><span>The incident was reported to police at 4.50pm and officers are still on scene whilst we investigate. The man, thought to be in his fifties, was found collapsed at the tram stop having suffered serious stab wounds and was pronounced dead at the scene.&nbsp;</span></div>
<div></div>
<div><span>DCI Tony Fitzpatrick is leading the investigation in conjunction with officers from West Midlands Police.</span></div>
<div></div>
<div><span>He said: &ldquo;We’re still trying to establish exactly how the man came to receive his injuries. At the moment, it is unclear whether the man was stabbed on the platform approach or sustained his injuries elsewhere.</span></div>
<div></div>
<div><span>&ldquo;The incident occurred around rush hour and I’m certain they would have been people around who can help us find out exactly what happened.</span></div>
<div></div>
<div><span>&ldquo;If you saw anything suspicious around the area, which is near the junction with Talbot Street, please contact us as a matter of urgency.&rdquo;</span></div>
<div></div>
<div><span>Anyone with information is asked to contact British Transport Police on 0800 40 50 40 or text 61016 quoting 392 of 31 March. Alternatively, information can be passed anonymously to the independent charity, Crimestoppers, on 0800 555 111</span></div>
</div>
</div>
</div>
</div>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2017-03-04T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>