<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d05db54-cd61-4a12-84d6-8f596d8b5189" Alias="Consultation launched over 30 year rail investment strategy" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/ConsultationLaunchedOver30YearRailInvestmentStrategy</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-10-19T00:00:00</CreateDate>
    <NodeName Default="Consultation launched over 30 year rail investment strategy" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">A draft strategy to revolutionise rail services across the West Midlands over the next three decades has been unveiled.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">The West Midlands Rail Executive (WMRE) has launched a consultation over its draft strategy for delivering better rail services across the whole region.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">The strategy highlights that rail has a key role to play in connecting people and communities and will support the exciting regeneration and growth plans that exist.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">In this Rail Investment Strategy, the WMRE sets out both medium and long term proposals for developing services, backed by clear economic evidence.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">The region's train services are busier than ever before and this means that we need to constantly evolve the network to meet new challenges.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">Many improvements are already announced and will be delivered by operator West Midlands Railways over the next few years.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">This Rail Investment Strategy highlights WMRE's ambitious plans to improve local rail services and stations and maximise the benefit of HS2.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">The strategy has seven principal components, driven by their value to the West Midlands economy.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;"><strong style="box-sizing: border-box; font-weight: bold;">&nbsp;1.&nbsp;&nbsp;&nbsp; West Midlands Trains franchise quick wins: 2018-2026</strong></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">Working with the West Midlands Railway franchise, which WMRE co-manages with the Department for Transport, to deliver a range of promised improvements including cross-Birmingham connectivity, better Sunday and evening services, new Camp Hill and Walsall-Wolverhampton services, new stations, more train capacity and reliable performance.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">&nbsp;<strong style="box-sizing: border-box; font-weight: bold;">2.&nbsp;&nbsp;&nbsp; High frequency '6-4-2' rail services</strong>&nbsp;</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">These are minimum standards of six, four and two trains per hour at stations.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">&nbsp;<strong style="box-sizing: border-box; font-weight: bold;">3.&nbsp;&nbsp;&nbsp; Midlands Rail Hub: 2026-2032</strong></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">Making the case now for new services across the wider Midlands region maximising use of additional capacity delivered by the Midlands Rail Hub scheme, developed in partnership with Midlands Connect.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">&nbsp;<strong style="box-sizing: border-box; font-weight: bold;">4.&nbsp;&nbsp;&nbsp; Our high growth rail corridors: 2018-2032</strong></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">Developing the high-growth corridors set to see the greatest economic and population growth to 2032 and which can benefit most from new and enhanced connectivity.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;"><strong style="box-sizing: border-box; font-weight: bold;">&nbsp;5.&nbsp;&nbsp;&nbsp; High Speed 2: 2026 and 2033</strong></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">Active support for delivery of both phases of High Speed 2 (HS2) in 2026 and 2033, working closely with HS2 to maximise the capacity and new local and regional opportunities it releases for the West Midlands.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">&nbsp;<strong style="box-sizing: border-box; font-weight: bold;">6.&nbsp;&nbsp;&nbsp; Radical change towards 2047</strong></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">Starting work now to identify the radical infrastructure change needed after delivery of HS2 and the Midlands Rail Hub.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">&nbsp;<strong style="box-sizing: border-box; font-weight: bold;">7.&nbsp;&nbsp;&nbsp; Supporting rail-freight development and growth</strong></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;"><strong style="box-sizing: border-box; font-weight: bold;">Cllr Roger Lawrence, chair of WMRE and leader of City of Wolverhampton Council</strong>, said <em style="box-sizing: border-box;">"Rail is vital to the West Midlands. Our draft strategy outlines how we plan to deliver better rail services across the whole region over the next thirty years.</em></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;"><em style="box-sizing: border-box;">"The strategy will support the exciting regeneration and growth plans that exist across all our partner authorities, recognising the role that rail plays in connecting people, communities and businesses."</em></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;"><strong style="box-sizing: border-box; font-weight: bold;">Malcolm Holmes, executive director, WMRE,</strong>&nbsp;said <em style="box-sizing: border-box;">"Our Strategy shapes the new era for rail travel by West Midlanders. It evidences our ambitious plans to work together with Midlands Connect and the rail industry to transform the train services and physical network to support the needs of the region."</em></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;"><strong style="box-sizing: border-box; font-weight: bold;">Laura Shoaf, managing director, Transport for West Midlands,</strong> said <em style="box-sizing: border-box;">"I am delighted to see the launch of this 30 year strategy for consultation. This&nbsp;presents ambitious proposals for driving forward rail service improvements across the West Midlands.</em></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;"><em style="box-sizing: border-box;">"Investment in our services and network&nbsp;will help make sure that&nbsp;our infrastructure is ready for the growth created by HS2 and creates&nbsp;a transformed rail network to&nbsp;support living, working and investing in our region."</em></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;"><strong style="box-sizing: border-box; font-weight: bold;">Maria Machancoses, director, Midlands Connect</strong> said <em style="box-sizing: border-box;">"We are proud to support this strategy which, alongside our own wider regional vision, will make sure passenger and freight services are transformed for decades to come.</em></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;"><em style="box-sizing: border-box;">"The Midlands is experiencing a rail revolution, with an unprecedented level of collaboration across the region. Passenger services are improving, and HS2 will put the Midlands at the heart of the national network.&nbsp;</em></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;"><em style="box-sizing: border-box;">"But this is just the start; with demand for rail travel growing faster here than in London or the North West, it's important we work together with WMRE and other partners to make sure there is a long term plan for the region's rail network."</em></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">The WMRE wants to hear the views of a wide range of organisations, businesses and individuals on the draft Rail Investment Strategy.</p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">The draft Strategy, questions and consultation details are available at: <a style="background-color: transparent; box-sizing: border-box; color: #337ab7; text-decoration: none;" href="https://urldefense.proofpoint.com/v2/url?u=http-3A__wmre.org.uk_strategy_wmris&amp;d=DwQGaQ&amp;c=cUkzcZGZt-E3UgRE832-4A&amp;r=0cjGUBBRCOw5TxA-Vzif6OlxEY7L-pi7smbQ6rXdmnA&amp;m=-EcXk0zExKtct8GmbvfYyLfPnVzceU1P7NZIpirSc80&amp;s=MXgyfAiVUO3Tfu8M3kYW-bjymqBRNy6Ff0o8OfTMyxU&amp;e="> wmre.org.uk/strategy/wmris&nbsp;</a></p>
<p style="background-color: transparent; box-sizing: border-box; color: #333333; font-family: &amp;quot; droid sans&amp;quot;,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 19.99px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px; margin: 0px 0px 10px 0px;">The consultation is open until noon on Monday November 19, 2018.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-10-19T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>