<?xml version="1.0" encoding="utf-8"?>
<Content Key="15d52a3a-b554-4e84-ac18-b9482810f782" Alias="Contact Form" Level="3">
  <Info>
    <Parent Key="b8bec61c-4d3e-41e1-a4c7-87b3d5386d3c">Contact us</Parent>
    <Path>/MidlandsConnect/ContactUs/ContactForm</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPageMidlandsConnect</ContentType>
    <CreateDate>2024-01-25T10:08:36</CreateDate>
    <NodeName Default="Contact Form" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c758d1c5-58b8-49d2-86d8-404b782df1b7">ContentPage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/73f6152d9f5e421eac7093868b0d59be",
        "areas": [
          {
            "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
            "items": [
              {
                "contentUdi": "umb://element/291851718ac74173a2afb765bcd72b89",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/d5b2ada07d4748f4a7708b2376760bd9",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "udi": "umb://element/73f6152d9f5e421eac7093868b0d59be"
    },
    {
      "contentTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "udi": "umb://element/291851718ac74173a2afb765bcd72b89",
      "richText": "<p>ghghghh</p>"
    },
    {
      "contentTypeKey": "0a2f4184-cfb1-49ca-94f1-ffd53a7b3556",
      "udi": "umb://element/d5b2ada07d4748f4a7708b2376760bd9",
      "formPicker": "umb://document/1ae69831e285413f86e789c62ccb3d91"
    }
  ],
  "settingsData": []
}]]></Value>
    </grid>
  </Properties>
</Content>