<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6ffd1b3-fad5-42fc-b2e4-671d6b4037b1" Alias="Full speed ahead: Bringing high-speed rail to the East Midlands" Level="3">
  <Info>
    <Parent Key="b77b6eda-39c9-49f7-bfe0-d63866dcca2f">Publications</Parent>
    <Path>/MidlandsConnect/Publications/FullSpeedAheadBringingHighSpeedRailToTheEastMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>publication</ContentType>
    <CreateDate>2024-01-24T12:27:50</CreateDate>
    <NodeName Default="Full speed ahead: Bringing high-speed rail to the East Midlands" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2023-07-03T00:00:00]]></Value>
    </date>
    <document>
      <Value><![CDATA[[
  {
    "key": "4b92896a-eca9-4fd6-b5cc-ba0d220ff93d",
    "mediaKey": "08b0f31a-444c-4088-9524-36953d911a35"
  }
]]]></Value>
    </document>
  </Properties>
</Content>