<?xml version="1.0" encoding="utf-8"?>
<Content Key="3759f0cb-a2ba-472c-adbb-9d8c2e77d88a" Alias="Hereford Bypass Consultation Begins" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/HerefordBypassConsultationBegins</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-01-29T00:00:00</CreateDate>
    <NodeName Default="Hereford Bypass Consultation Begins" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <div><img style="width: 480px; height: 383px; float: right; border-width: 0px 0px 15px 15px; border-color: white; border-style: solid;" src="/mc/media/1200/hereford-bypass-fly-through.jpg?width=480&amp;height=383" alt="" data-udi="umb://mc/media/4ac59dbeb81e4ebeb31cf050dbd02e0f">
<p style="text-align: right;"><strong><span style="float: right; border-color: white; border-width: 3px 0px 5px 0px; border-style: solid;">There are seven proposed routes for the Hereford Bypass</span></strong></p>
</div>
<p>Plans for the Hereford Transport Package – the Hereford Bypass and associated walking, cycling, bus and public realm improvements will be exhibited on the 6, 7 and 8 of February 2018. The Bypass was identified as one of Midlands Connect's early priorities in its landmark strategy published in 2017 and has been supporting Herefordshire Council on its proposals.</p>
<p>The exhibition will be available for public view between 11am and 8pm in the pod next to The Coffee Corner at Old Market.</p>
<p>There will also be an evening session on Tuesday 13 February 2018 from 6pm to 9pm at Whitecross High School.</p>
<p>Councillor Philip Price, Cabinet Member Infrastructure said:</p>
<p>“In 2018, there is a real appetite; both locally and regionally to improve connectivity to the West Midlands, South Wales and consequently, the rest of the UK, to create the infrastructure to facilitate business growth, build new housing, develop better options for walking and cycling and alleviate Hereford’s traffic congestion problems.”</p>
<p>“Extensive work has taken place since we first consulted on the scheme in April 2017. The core strategy corridor has been surveyed and assessed. As a result of this work we will be consulting on seven shortlisted routes.”</p>
<p>This is an opportunity for the public to shape how we move forward.”</p>
<p>“I do hope that people will take the time to come and talk to us at Old Market or one of the other venues we’ll be visiting during the consultation period.”</p>
<p>The Hereford Bypass was identified as one of the early priorities of Midlands Connect’s 25 year transport strategy for the region, published in 2017. Since then Midlands Connect has been supporting Herefordshire Council and other partners on these proposals.</p>
<p>Sir John Peace, Midlands Connect Chairman, said:</p>
<p>&nbsp;“We’re supporting these proposals because we believe the Hereford Bypass will benefit the wider Midlands region as well as Hereford itself, improving connectivity between the Midlands, the South West and Wales and helping to power the Midlands Engine.</p>
<p>&nbsp;“Reliable transport links are essential for businesses like Herefordshire’s world-famous food and drink producers to thrive and stay competitive, as well as supporting new job sites such as the Hereford Enterprise Zone and stimulating vital new house building.</p>
<p>&nbsp;“We will continue to work with Herefordshire Council, Highways England and The Marches Local Enterprise Partnership to secure the funds from central government to make these plans a reality.”</p>
<p>&nbsp;The exhibition will move to Hereford Library on Friday 16 February where it will remain for the duration of the consultation period, until Tuesday 20 March.</p>
<p>The exhibition can be viewed during normal library opening hours and staff will be available to answer questions on Saturday 24 February and Saturday 10 March between 11am and 2pm.</p>
<p>The exhibition and film showing the route corridors will be available to view on the council’s website Herefordshire.gov.uk/HTP from Tuesday 6 February.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-01-29T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>