<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebf52ba0-82ec-426c-b722-d5ae6eea5721" Alias="High Speed Rail Industry Leaders (HSRIL) Annual Conference" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/HighSpeedRailIndustryLeadersHSRILAnnualConference</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-06-18T00:00:00</CreateDate>
    <NodeName Default="High Speed Rail Industry Leaders (HSRIL) Annual Conference" />
    <SortOrder>214</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Through a programme of keynote addresses and panel discussions, this free conference will focus on bringing together supporters of HS2 and promoting the connection between HS2, Northern Powerhouse Rail and the Midlands Rail Hub. It will also demonstrate the far-reaching benefits of high speed rail, connecting eight of the ten biggest cities in the country and 30 million people, providing better links for northern cities.</p>
<p>The event will be chaired by Sarah-Jane Mee, co-host of Sky News Sunrise, and joining us will be key policy makers and senior industry and local authority figures from across the UK.</p>
<p>Register here to secure your <a href="https://www.eventbrite.co.uk/e/hsril-summer-conference-hs2-all-the-way-tickets-59110159077">space</a>.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-06-18T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            Midlands Connect and other partners are supporting HSRIL's fourth annual conference in Manchester.
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>