<?xml version="1.0" encoding="utf-8"?>
<Content Key="94d12912-ec87-44c7-9d01-468bc6998dae" Alias="HS2: Don’t dither, don’t delay, deliver HS2 all the way say Midlands Connect" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/HS2DonTDitherDonTDelayDeliverHS2AllTheWaySayMidlandsConnect</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2023-02-28T00:00:00</CreateDate>
    <NodeName Default="HS2: Don’t dither, don’t delay, deliver HS2 all the way say Midlands Connect" />
    <SortOrder>152</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <table border="0" style="height: 1003px;">
<tbody>
<tr style="height: 950px;">
<td style="height: 950px;">
<p><strong>Today, at Midlands Connect’s Annual Conference in Birmingham Midlands Connect’s Chairman Sir John Peace will say ‘Don’t dither, don’t delay, deliver HS2 all the way’ and he says there could be a ‘golden decade of growth and economic prosperity’ for the East Midlands if the project is delivered.</strong></p>
<p>The conference being held at the Exchange will also hear from Minister Ric Holden MP. For more details on the conference please find it here: <a href="/news/midlands-connect-2023-annual-conference/">https://www.midlandsconnect.uk/news/midlands-connect-2023-annual-conference/</a></p>
<p><strong>On HS2 Sir John says:</strong></p>
<p>As I’ve touched on HS2 with the recent noise about the topic means I should probably spend a minute talking about it further.</p>
<p>Colleagues, it wont surprise you, I hope, to know at Midlands Connect we are one of HS2 firmest supporters and backers. We stand foursquare behind the project and do so proudly.</p>
<p>But HS2 isnt some project to be debated and discussed; its is a real project delivering real benefits to communities throughout the Midlands, that is why I back it.</p>
<p>Long before HS2 trains start rolling into the West Midlands, Britain’s biggest infrastructure project is delivering for the region.</p>
<p>I back it because over 6,800 people are now employed in HS2’s construction in the West Midlands, with thousands more jobs supported through the wider supply chain</p>
<p>I back it because 540 people who were out of work in the West Midlands have been helped into jobs on HS2</p>
<p>I back it because over 340 apprentices from the region have started new roles on HS2, and investment in T-Levels recently tripled.</p>
<p>But its more than that…everyone knows that Goldman Sachs, moved in Birmingham, in part, I’m sure, due to their knowledge that HS2 is coming here. And it will be the same for other, big, global firms in the months and years ahead.</p>
<p>I want the same for the East Midlands…that boom that Birmingham is seeing. The East Midlands has the lowest, per head, transport spend for any UK region. We need to lift that up. We need to lift our gaze, lift our aspirations and go for growth.</p>
<p>I am sure the minister, who we will hear from in a minute shares the hopes and ambitions of our region. The Integrated Rail Plan was released over a year ago now and Midlands Connect, councils and other bodies like our colleagues at the Chambers and in the private sector stand ready and eager to deliver the proposals – on HS2, on the Midlands Rail Hub and on trips, ultimately, I hope, up to Leeds</p>
<p>We still have some uncertainty and we would like that to be cleared up, quickly.</p>
<p>But we have heard a lot of noise in the media recently about HS2 so let me make Midlands Connect’s position crystal clear.</p>
<p>Don't dither</p>
<p>Don't delay.</p>
<p>We have to deliver HS2 all the way…</p>
<p>That connection for East Midlands Parkway, Nottingham and Derby plus a new station at Toton would give the East Midlands what we see in the West&nbsp; - a golden decade of growth and economic prosperity. Added to the power of the Midlands Rail hub that all would be truly transformative.</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-02-28T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1582/sir-john-peace-1.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>