<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fd31ae3-a1e2-444d-bbdd-5c896d761afa" Alias="INSIGHTS: What does the Transport Decarbonisation Plan mean for the future of freight?" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/INSIGHTSWhatDoesTheTransportDecarbonisationPlanMeanForTheFutureOfFreight</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-07-27T00:00:00</CreateDate>
    <NodeName Default="INSIGHTS: What does the Transport Decarbonisation Plan mean for the future of freight?" />
    <SortOrder>189</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>The wait is finally over. No, I’m not talking about England getting to the final of a major football tournament. I’m talking about what has been described as the world’s first and long-awaited Transport Decarbonisation Plan (TDP) – Britain’s ‘how-to’ manual for eradicating transport’s contribution to global warming by 2050.</p>
<p>The plan was expected back in November 2020 but due to the unprecedented challenges presented to Government, a delay was inevitable. This point alone captures the current sentiment expressed by much of the population around decarbonisation – let’s worry about current problems before we try to solve climate change. Most people don’t realise the fact that to achieve our target of 2050, which is enshrined in law, we must act now.</p>
<p>So why do we need a plan? As of 2019, transport contributed 27% of the total carbon emissions in Britain and they’ve remained stubbornly high, with only a 3% reduction between 2009 and 2019. The reasons for this are numerous and nuanced, a blog post in its own right; but suffice to say that having a clear plan is crucial. Coordinating efforts with clear objectives is undoubtedly going to result in better outcomes. The TDP carves out a role for Sub-National Transport bodies like Midlands Connect to encourage collaboration across Local Authority borders because the issue of carbon emissions is not confined within them.</p>
<p>What better way to showcase collaboration taking place in the Midlands than the recently announced ‘H2GV Midlands Project’ that sets out - using funding from the Department for Transport and Innovate UK – to produce an initial feasibility study for a hydrogen fuel cell-powered heavy goods vehicle trial. Midlands Connect are working as a partnership with industry, academia and the public sector. This work brings together key businesses such as EDF, Toyota, Cenex and Horiba Mira with organisations like Midlands Engine, Midlands Energy Hub and key Midlands universities to get the wheels in motion for an all-important trial that can serve as a catalyst for decarbonising freight.</p>
<p>Planning for freight is often overlooked; but it’s the lifeblood of the economy. However, freight contributes considerably towards total transport carbon emissions in Britain. We estimate that freight accounts for 21% of the total tail-pipe carbon emissions in the Midlands. This is higher than the national average of 16% (while only accounting for 5% of the total vehicle miles) in 2019. Recognising this challenge, we engaged with industry to understand the key barriers facing businesses regarding the switch to alternative fuels.</p>
<p>While private vehicles had already been given a phase out deadline of 2035 for the sale of new petrol, diesel and hybrid vehicles, freight had no target. The TDP resolves this problem of uncertainty by providing a target of 2040, with consultations taking place to bring deadlines forward if possible.</p>
<p>A major challenge will be that, based on our understanding of HGV lifespans, many of the decisions regarding fleet acquisition need to take place <strong>now</strong> if businesses are to decarbonise as quickly as is required. With only a 10-year gap between the ban on the sale of new diesel HGVs and our 2050 target, comes some obvious further challenges, particularly for SMEs.</p>
<p>As of 2020, 17% of the total licensed HGVs in Britain were over 13 years old and the average age of a HGV was 7.5 years. Many SMEs retain their HGV fleets for longer because they can’t afford to buy newer vehicles.&nbsp; Banning the sale of new diesel HGVs by 2040 is one thing, getting the older vehicles out of the fleet quickly is another challenge.</p>
<p>If we are going to ensure the survival of our SME businesses in the face of these changes, there will need to be assistance and opportunities to facilitate the purchase of green fleets. This support could be provided via tax relief on green fuels or subsidies for purchasing alternatively fuelled vehicles. If we rely solely on the ban of new vehicles alone, I fear that some of our SMEs may struggle to meet expectations and face penalties.</p>
<p>Our conversations with industry found that there is a ‘Mexican stand-off’ happening: without refuelling infrastructure in place businesses are not purchasing alternatively fuelled vehicles; and without the vehicles driving round the road network, fuel infrastructure providers are not investing in new sites. Our work has identified the need for public sector funding to kick start the uptake of alternatively fuelled vehicles through initiating investment in a coherent recharging and refuelling infrastructure network.</p>
<p><a rel="noopener" href="/mc/media/1782/alternative-fuels-summary-report.pdf" target="_blank" title="Alternative fuels">Midlands Connect’s ‘Beyond Fossils’ report</a> outlines an Action Plan for the Midlands and a clear network of recharging and refuelling infrastructure required to meet the demand from the freight and logistics sector by 2040. This network consists of 66 locations across the Midlands with a potential total cost of £800 million. Money well spent I’d say if we are preserving the planet for future generations.</p>
<p>Not only are we doing our part in saving the planet, we are also accelerating the development of an entirely new and exciting alternative fuels market which creates new jobs and reduces pressure on our health care system through reducing pollution. It all seems a no-brainer from where I’m standing but what we need to do is ensure that the transition is as seamless as possible if we are to protect businesses while meeting our objectives.</p>
<p><strong>Steven Scarrott is Principal Transport Planner at Midlands Connect&nbsp;</strong></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-07-27T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Insights"
]]]></Value>
    </tags>
  </Properties>
</Content>