<?xml version="1.0" encoding="utf-8"?>
<Content Key="9795430d-7498-4c31-bd62-2fe84805e52a" Alias="INSIGHTS: Tears in the rain" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/INSIGHTSTearsInTheRain</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-05-21T00:00:00</CreateDate>
    <NodeName Default="INSIGHTS: Tears in the rain" />
    <SortOrder>187</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>I just about remember when they painted the lamp-posts red, and stopped calling it British Rail. It’s not quite “attack ships on fire off the shoulder of Orion”, but the Williams-Shapps Plan for Rail does feel like the end of an era. For many on the railway, it’s all we’ve ever known.</p>
<p>To most people using the railways, the endless rebranding, ever more complicated ticketing, collapsing performance, and a lack of anybody in charge was the essence of privatisation. All that is to be swept away, as we recreate a single national railway: Great British Railways. In truth the railway was nationalised some time ago, we just hadn’t got round to telling anyone.</p>
<p>In the early days of privatisation, the train operators brought new dynamism to running the railways. There were new trains, faster journeys, and staff that knew the meaning of customer service. These were times of a steadily growing economy, and no roadbuilding; ideal conditions for running the railway. We are still benefiting from this. But the private sector wasn’t so good at looking after the track. That’s a real long-term job, needing steady funding, and steady management. And when the economy turned sour in 2008, the whole railway faltered. Operators started to compete with each other, with ever more fares, websites, apps, and complicated timetables in Manchester and Birmingham that should never have seen the light of day. Time for a reset.</p>
<p>On the customer-facing side, all will be dramatically simplified. One website, one app, simpler fares. Working together so that we can speed up the move to electronic ticketing. Timetables that work. In places this will mean running slightly fewer trains, and cutting out some through journeys, just enough to get performance back up to standard. At last, someone will be in charge, and accountable for getting the balance right.</p>
<p>The hard part will be behind the scenes, building a new management structure that stays focused on delivering for customers, both passenger and freight. A lot of the cost of running a railway is in the engineering. Getting those costs down requires a lot of management attention, so it’s all too easy to lose sight of the customer. Finding a way to manage those costs while keeping the focus on the customers is essentially the challenge that has been set to the team that will be setting up GBR.</p>
<p>To me it seems likely that they will have to break things up a bit. Having a single regional division covering commuting into London, Birmingham and Manchester, and at the same time running long-distance trains, is too much. We need a management structure that allows for each market sector to get its own focus, even as they are made to cooperate rather than compete. Maybe it will be broken up into areas, with long-distance overlaid. This is all to be worked out.</p>
<p>At Midlands Connect, our focus is more on the long term, how we develop the railway to make new connections. As the Secretary of State has laid out, railways are critical to making our cities work, and driving economic growth. So as well as wanting today’s railway to deliver, Midlands Connect is looking at how the railway can do more, improving connections between cities, adapting to the arrival of HS2, making sure there’s room for freight and local services. This long term planning still needs to be led by national government – it will cost billions. So we will continue our role, working with national government, and the railway, to identify the needs, and develop value-for-money schemes to meet those needs.</p>
<p>Painting the lamp-posts red was only ever a symbol, that the customer was in charge. Let’s make sure that’s still the case, whatever the colour.</p>
<p><strong>by Richard Mann, Rail Strategy Lead at Midlands Connect</strong></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-05-21T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1767/richard-mann-1.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Insights"
]]]></Value>
    </tags>
  </Properties>
</Content>