<?xml version="1.0" encoding="utf-8"?>
<Content Key="5bf17c52-d932-430c-b165-6607f8523b9c" Alias="INSIGHTS: Electric Avenue – turning good intentions into action" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/INSIGHTSElectricAvenueTurningGoodIntentionsIntoAction</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-09-21T00:00:00</CreateDate>
    <NodeName Default="INSIGHTS: Electric Avenue – turning good intentions into action" />
    <SortOrder>190</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Flick through any newspaper and somewhere in its pages, you’ll probably come across two phrases - COP26 and ‘levelling-up’. Like most of us, I can’t pinpoint the moment I learned about this year’s climate change summit, or when I first heard Boris Johnson pledge to level up the UK, but one thing’s for certain – these two things are cornerstones of Government policy, so ingrained in the public lexicon that they’ve influenced appointments, funding decisions and even department names (RIP MHCLG). Rhetoric raises awareness, but we need action to meet the challenge of climate change – we must install a truly comprehensive public charging network for Electric Vehicles.</p>
<p>The transport sector is now the UK’s biggest emitter, and unlike other industries has been slow to decarbonise. A simple glance at the stats highlights the scale of the problem, since 1990 the energy sector has reduced CO2 emissions by 62%, while the transport sector has managed just a 5% reduction in the same timeframe. Legislation to ban the sale of new petrol and diesel vehicles from 2030 is the biggest signal yet that change is coming, our projections predict a boom in EV use before the end of the decade, suggesting the proportion of EVs will rise from 1 in 100 vehicles now to more than 1 in 4 by 2030.</p>
<p>Research with 3,000 Midlands motorists reveals that 77% are considering buying an EV as their next car purchase, but that this good intention is not without its doubts. Over half were worried by a lack of public charging points and a lack of battery range. This issue of charging is vitally important – if EV growth goes ahead as planned we’ll need seriously ramp up the speed of public EV charger installations. We need to install 11 new public chargers every day, or nearly 4,000 a year until 2030 to meet demand. Putting it nicely, we need to get a wriggle on and go at six times the current pace.</p>
<p>We know that rolling out public chargers will level the playing field for EV owners both socio-economically and geographically. 93% of EV owners have a driveway, meaning they can charge their vehicle at home. What about motorists that live in terraced housing or don’t have a parking space (that’s about 40% of Midlands households)? We need to follow the example of local authorities like Coventry City Council that have focused efforts on installing public charge points in residential areas dominated by terraced housing, encouraging locals to make the switch.</p>
<p>By the end of the decade, EV chargers should be like post boxes – available everywhere to everyone, regardless of whether you’re in a city or village or whether some are used more frequently than others. At the moment, a lack of joined up strategy means that private companies snap up the most commercially viable sites, in service stations and out of town shopping malls, and local authorities are left to manage less profitable sites in residential areas. This isn’t sustainable. Local authorities are keener to badge up a mixture of sites in partnerships with private providers known as ‘concessionary deals’, but they are held back by a lack of long-term funding certainty. It’s clear that if we’re to meet this challenge, both the public and private sectors must play an active role.</p>
<p>It’s also worth mentioning that despite Londoners being 40% less likely to own a car, they have access to over twice as many public chargers than any other UK region. UK-wide support for local authorities will help to redress the balance.</p>
<p>As we approach COP26, we’ll see Government draw more lines in the sand, as it signals to the rest of the world its intention to lead the charge to net zero. The take up of electric vehicles must form a central part of this, and levelling up the opportunity to purchase an EV, through tax breaks, incentives and crucially a comprehensive UK-wide charging network, must be a priority. If we’re successful, it won’t just be Government slogans we notice, but shiny new charge points in our villages, towns and cities.</p>
<p><strong>Sophie Zumbe is External Affairs Manager at Midlands Connect</strong></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-09-21T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Insights"
]]]></Value>
    </tags>
  </Properties>
</Content>