<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2e3065f-1939-433e-8c97-ab34e951dc9b" Alias="Labour Party Conference | The Future is Rail" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/LabourPartyConferenceTheFutureIsRail</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-09-24T00:00:00</CreateDate>
    <NodeName Default="Labour Party Conference | The Future is Rail" />
    <SortOrder>220</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><em>The rail industry is undergoing a root and branch review. The shadow rail minister discusses her strategic vision for the future of track and train. Includes an audience Q&amp;A.</em></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-09-24T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            Midlands Connect fringe event at the Labour Party's Annual Conference 2019
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>