<?xml version="1.0" encoding="utf-8"?>
<Content Key="bca9c305-21e0-46ae-b375-a6147e4b7e9b" Alias="Liberal Democrats Party Conference | Midlands Connect; the Centre Ground of UK Transport" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/LiberalDemocratsPartyConferenceMidlandsConnectTheCentreGroundOfUKTransport</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-09-16T00:00:00</CreateDate>
    <NodeName Default="Liberal Democrats Party Conference | Midlands Connect; the Centre Ground of UK Transport" />
    <SortOrder>219</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><em>A drinks reception to celebrate transport across the Midlands, and show how working together we can influence change.</em></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-09-16T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            Midlands Connect fringe event at Liberal Democrats Party Conference
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>