<?xml version="1.0" encoding="utf-8"?>
<Content Key="a860777a-4210-4092-bc70-e5e5509b2d39" Alias="Lucas Frost" Level="3">
  <Info>
    <Parent Key="9af3708d-9d5e-4145-8d46-137f7ce2a49d">Authors</Parent>
    <Path>/WestMidlandsCombinedAuthority/Authors/LucasFrost</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2023-08-09T12:25:26</CreateDate>
    <NodeName Default="Lucas Frost" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bio>
      <Value><![CDATA[<p>This is a test</p>]]></Value>
    </bio>
    <facebook>
      <Value><![CDATA[]]></Value>
    </facebook>
    <jobTitle>
      <Value><![CDATA[Bibliographer]]></Value>
    </jobTitle>
    <linkedin>
      <Value><![CDATA[[
  {
    "name": "https://linkedin.com/",
    "url": "https://linkedin.com/"
  }
]]]></Value>
    </linkedin>
    <twitter>
      <Value><![CDATA[[
  {
    "name": "https://twitter.com/",
    "url": "https://twitter.com/"
  }
]]]></Value>
    </twitter>
  </Properties>
</Content>