<?xml version="1.0" encoding="utf-8"?>
<Content Key="b21ef5ac-170d-4e43-a06c-a61cb9a8dc90" Alias="Making freight work for the Midlands" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MakingFreightWorkForTheMidlands</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-08-30T00:00:00</CreateDate>
    <NodeName Default="Making freight work for the Midlands" />
    <SortOrder>129</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Freight is really important to the Midlands; it uses our infrastructure and contributes a significant amount to our regional economy. Freight is the lifeline for huge numbers of jobs in sectors such as logistics, automotive industries, food production and businesses importing and exporting goods through our airports and neighbouring ports. Due to our central location, the Midlands is home to the ‘Golden Triangle’ with large numbers of firms operating warehousing in the region and many logistic companies choosing to base here.</p>
<p>Did you know…</p>
<ul>
<li>80% of all freight in the UK goes through the Midlands in some way – mainly on our road and rail networks. The great majority of goods consumers and businesses buy in the shops and sell to Europe and further afield spends some portion of its time in our region.</li>
<li>Much of the UK is within a 4 hours’ drive of the Midlands – and one of the reasons for the ‘Golden Triangle’ for logistics being based here.</li>
<li>East Midlands Airport is second only to Heathrow Airport for freight. During covid it played a vital role in getting medical equipment to the right places.</li>
<li>Road freight accounts for 35% of transport carbon emissions nationally. Many of our rural counties have much higher emissions than you might expect because motorways and key roads run through them.</li>
</ul>
<p>There is a huge amount about freight that works really well; we are able to order goods right to our door for the <a href="/news/next-day-delivery-why-the-online-shopping-boom-means-big-changes-for-the-midlands/">next day,</a> or even the same day. But we also know that it could work better. Our roads locally and regionally are becoming more congested with the levels of goods being moved around. And roads are often used by default because they appear to be the most convenient method of travel. Many would like to use rail freight more (and did so during the pandemic) but getting access and understanding the process can be hugely challenging if you don’t have the resources, and we also have issues with capacity on the rail network.</p>
<p>But what if we thought about the whole end to end journey? Made sure there were better interchanges between road, rail, air, and ports? Thought about which form of transport makes the most sense and how we get the infrastructure right?</p>
<p>That is broadly what we’re aiming to tackle with our freight programme at Midlands Connect.</p>
<p>We’ve just released the first issue of our <a href="/publications/our-freight-routemap-for-the-midlands/">Freight Routemap</a>. This combines what we know about freight in the region, but it is very much a starting point for our work.</p>
<p>Over the next year or so we’ll be focusing on the following key areas:</p>
<ul>
<li><em>What is being moved around the country?</em> At the moment we don’t truly understand the full journey that goods make in and around the UK. By modelling how goods move we can better understand how it can be done more effectively.</li>
<li><em>Alternative fuels. </em>From 2040 HGVs will need to be zero emission, and rail, air and maritime are all looking at how they move to sustainable alternatives. This means we’ll need new refuelling infrastructure. We’re bringing together various strands of our work to understand the most strategic locations in the region for this.</li>
<li><em>Partnership and stakeholder work.</em> We’ll be working with the Midlands Connect Partnership and key stakeholders in the sector to understand the current challenges and barriers they have to working differently, and how these might be addressed.</li>
</ul>
<p>This includes a Freight Forum for the Midlands so we can interact more easily and come together on the key cross-cutting issues which will help our region.</p>
<p>This is a programme which impacts on so many areas of work, and across the Partnership and Midlands there is a huge amount of work taking place. The plan is that we will release the second issue of the Freight Routemap once the modelling and analysis work has been completed – sometime next year. In the meantime, if you want to find out more about what we’re doing please get in touch.</p>
<p>&nbsp;</p>
<p><em>Alexandra Dodds is Principal Policy Officer at Midlands Connect</em></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-08-30T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1871/alex-dodds.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>