<?xml version="1.0" encoding="utf-8"?>
<Content Key="27f272f0-00d2-4a76-b9ae-962464558a04" Alias="Man Charged After Coughing On Bus Driver" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/ManChargedAfterCoughingOnBusDriver</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Man Charged After Coughing On Bus Driver" />
    <SortOrder>79</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>A 19-year-old man has been charged with common assault following an incident on a Birmingham bus last month.</p>

<p>It is alleged that he coughed on and verbally abused a bus driver after attempting to use a fraudulent ticket.</p>

<p>Allister Hay, of Mitton Avenue, Birmingham, was charged on Thursday (9 April) and is due to appear at Birmingham Magistrates Court on 1 July.</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>