<?xml version="1.0" encoding="utf-8"?>
<Content Key="20a65086-fe41-4968-8949-31163855154d" Alias="Midlands Connect reveals 20-year improvement plan for the A46" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectReveals20YearImprovementPlanForTheA46</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-11-07T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect reveals 20-year improvement plan for the A46" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>&nbsp;</p>
<ul>
<li><strong><em>For first time, “corridor approach” proposed to improve A46 from M5 in Gloucestershire to Lincolnshire coast;</em></strong></li>
<li><strong><em>Evesham, Stratford-upon-Avon, Coventry, Leicester, Newark &amp; Lincoln identified as priority areas for investment;</em></strong></li>
<li><strong><em>Time savings, reduced business costs and improved productivity from coordinated infrastructure investment could boost economy by £7.1bn over 60 years; </em></strong></li>
<li><strong><em>Almost all (97%) of businesses surveyed along the route say a more reliable A46 would boost productivity; two thirds (65%) will create new jobs if the road is improved; one in five (19%) have considered relocating due to current conditions on the A46.</em></strong></li>
</ul>
<p><strong><em>&nbsp;</em></strong></p>
<p>Taking a “corridor approach” to improving the whole A46 through the Midlands could boost the economy by £7.1 billion, says Sub-national Transport Body Midlands Connect. The pan-Midlands transport agency is calling for urgent, co-ordinated action to improve traffic flows on one of the country’s most important trade routes.</p>
<p>Midlands Connect has released the first ever improvement plan for the entire A46 corridor, with a 20-year vision to future-proof the route and boost the national economy. Stage One of the A46 Corridor Study recommends the acceleration of coordinated investment at key congestion hotspots - including <strong>Evesham, Stratford-upon-Avon, Coventry, Leicester, Newark and Lincoln</strong> - where rush hour average speeds regularly fall below 20mph.</p>
<p>The A46 corridor stretches for 155 miles from Gloucestershire to Lincolnshire, is home to 5.5 million people and 2.9 million jobs, with an economic output of £115 billion a year, equivalent to 9% of the English economy.</p>
<p>As well as serving local and regional traffic between the towns and cities along it, the A46 corridor is a vital trade and export route, providing access to Birmingham and East Midlands airports and with major ports on the Bristol Channel and the Humber at either end. Its economy is dominated by advanced manufacturing, aerospace, automotive, agriculture, distribution and textiles industries, which depend on a reliable road network to succeed. 22% of goods produced along the corridor are exported, well above the UK average of 15%, with the A46 corridor responsible for more than half of the Midlands’ exports.</p>
<p>The Office of National Statistics forecasts an increase of 600,000 new residents and 250,000 new homes within the corridor by 2041. With 150,000 new jobs on the line too, Midlands Connect says only a comprehensive, holistic solution to improving the A46 can support this growth.</p>
<p><strong><u>Suggested improvements </u></strong></p>
<p>Midlands Connect supports all the current and planned interventions to improve the A46, including already planned delivery of improvements to junctions at Walsgrave and Binley in Coventry. In addition, Midlands Connect has identified a number of potential improvement schemes across the Midlands, with input from Highways England and local authorities. These options will be evaluated in more detail in Stage Two of the corridor study. The current priorities include:</p>
<ul>
<li><strong>Gloucestershire &amp; Worcestershire</strong>
<ul>
<li>Possible interventions and options for new bypasses in Ashchurch, Beckford and Evesham to provide a high-quality dual carriageway standard between the M5 and M40</li>
</ul>
</li>
<li><strong>Coventry &amp; Warwickshire </strong>
<ul>
<li>Alcester to Warwick Expressway</li>
<li>Possible interventions around Stratford-upon-Avon</li>
<li>&nbsp;</li>
</ul>
</li>
<li><strong>Leicestershire </strong>
<ul>
<li>Potential for a Leicester Eastern/Southern Bypass, including a link from M69 J2 and a new M1 J20A</li>
<li>Upgrading Leicester Western Bypass</li>
<li>Improving Hobbyhorse Interchange at Syston</li>
</ul>
</li>
<li><strong>Newark </strong>
<ul>
<li>Support acceleration of Newark Bypass proposal</li>
<li>Overcome congestion hotspots to lock in benefits of previous upgrades</li>
</ul>
</li>
<li><strong>Lincolnshire </strong>
<ul>
<li>Potential for southern Lincoln bypass, connecting to the under construction eastern bypass</li>
<li>Targeted improvements on the A15 north of Lincoln.</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<p>Midlands Connect’s improvement plan builds on the work already being done by Highways England and local authorities to improve pinch points along the A46, and on the success of the A46 Partnership – a coalition of LEPs and councils between Gloucestershire and Leicestershire – in promoting the route as one of local, regional, national and international significance.</p>
<p>Investing in a corridor-wide package of improvements could transform the performance of the route by:</p>
<ul>
<li>Cutting journey times and offering more reliable connections for businesses and residents;</li>
<li>Helping to accelerate numerous housing and employment sites along the route; and</li>
<li>Providing a viable alternative to the congested motorway network, especially the M1, M5, M6 and M42.</li>
</ul>
<p><strong><u>The Economic Prize </u></strong></p>
<p>Forecasts suggest that corridor-wide improvement of the A46 could bring economic benefits of £7.1 billion over the next 60 years through quicker journeys and improved productivity. This doesn’t include the potential growth from new jobs and housing, meaning the overall benefits could be significantly higher.</p>
<p><strong><u>Businesses back A46 improvements</u></strong></p>
<p>As part of the study, Midlands Connect worked with chambers of commerce to survey more than 250 businesses based within a few miles of the A46. 97% said an improved A46 would boost their productivity, while two thirds (65%) said it would enable them to create new jobs. Three quarters (75%) said current traffic conditions negatively impact their business performance, and 71% said traffic has got worse in the last 5 years. Significantly, one in five (19%) have considered relocating due to conditions on the A46.</p>
<p><strong>Maria Machancoses, Director, Midlands Connect, said: </strong></p>
<p>“Using today’s approach to funding, it could be 40 years before the A46 receives the investment it needs to match the growth in jobs and housing expected along the corridor. We must do things differently and accelerate a long-term investment plan to make sure economic growth isn’t held back. Delivering our vision will not only make our businesses more prosperous, it will improve the quality of life of millions of people living and working along the corridor. Doing nothing will hold back this progress.”</p>
<p><strong>Nigel Huddleston, MP for Mid Worcestershire and Midlands Connect’s A46 Champion, said:</strong></p>
<p>“Upgrading the A46 isn’t just a Midlands priority, it’s a national priority and this initial report will help get it higher up on the national agenda. We will only be successful in promoting the case for this corridor by working together – cross-Midlands, cross-sector, and cross-party. As Midlands Connect’s A46 Champion, it’s my job to support that collaboration in any way I can. We must find a way to stop thinking about major transport improvements as either or – either Northern Powerhouse Rail or HS2; either Cambridge-Oxford connections or upgrading East-West Midlands connections – in order to support a sustainable 21st century economy, we need them all.</p>
<p>“This report clearly states why the A46 is so important and deserves national attention. We need to unleash housing development sites, solve road safety black spots and take heavy traffic out of places it doesn’t belong. The next stage of the report being released next year will go into more detail about exactly where work should be focused, what it will entail and how it should be phased. That’s when we’ll need assurances that some of the roads funding which the Chancellor announced in the Budget will be allocated to this nationally-important project”.</p>
<p><strong>Pantos Logistics distributes LG products across the UK, Ireland and Europe from its depot in Ryton, Coventry, close to the A46. Robert Arnold, Transport Team Leader, said: </strong></p>
<p>“We typically run up to 90 HGVs in and out of our depot every day, and the A46 is absolutely vital to our operation. Around 70% of our deliveries will use the road, but it can be stationary at peak times. Congestion can mean a high value load is turned away and returned to the depot, which impacts our hauliers, our own team, and obviously LG’s sales. If the A46 was improved I can see us being able to move more deliveries more efficiently, with greater accuracy.”</p>
<p><strong>Dave Roberts, Managing Director of Newark-based Rototek, which makes plastic mouldings, said: </strong></p>
<p>“We deliver all over the UK, exclusively using the road network, and the A46 is a crucial corridor to access the south of the country and the motorway network. We have around 20 deliveries coming in and going out each day, and half of those will use the A46, but there are often massive tailbacks around Newark, which is a bottleneck where it becomes a single carriageway, and where it joins the A1.</p>
<p>“Congestion can cause unscheduled delays in supplies getting to us and getting our products to customers; if the A46 was dualled around Newark, it could make our journeys quicker and more reliable and bring our transport costs down.”</p>
<p><strong>Sir Peter Soulsby, Leicester City Mayor, said: </strong></p>
<p>“The A46 is locally, regionally and nationally significant. Improvements to the road will serve a vital local purpose, freeing up land to develop badly needed housing. Businesses along the corridor are crying out for us to help them to move freely right along the A46; it’s essential to them and the nation that it becomes a reliable link across the centre of the country. We have at last got ourselves joined up, now the government must help us join up the Midlands, and join us to the rest of the nation.”</p>
<p><strong>Network planning director for Highways England, Jeremy Bloom, said:</strong></p>
<p>“We recognise the importance of the A46 corridor to the Strategic Road Network and the contribution it makes to the Midlands economy and beyond. We also support a more strategic approach to long-term investment and will continue to work closely with Midlands Connect to develop potential solutions for the route and to make the case for investment within the context of our national remit.”</p>
<p>The second stage of Midlands Connect’s A46 corridor study will further develop the proposed improvements and their respective business cases, and is due for release in 2019.</p>
<p>-ENDS-</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-11-07T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            Report reveals potential £7.1billion boost to the economy by taking a corridor-wide approach to improving "one of the country's most important trade routes"
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>