<?xml version="1.0" encoding="utf-8"?>
<Content Key="453b98e2-add8-49d4-82e6-686fa951da2d" Alias="Midlands Connect will work with councils and Government to help secure “transformational” HS2 deal for Staffordshire" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectWillWorkWithCouncilsAndGovernmentToHelpSecureTransformationalHS2DealForStaffordshire</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-03-12T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect will work with councils and Government to help secure “transformational” HS2 deal for Staffordshire" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p><strong>Midlands Connect will work with councils and Government to help secure “transformational” HS2 deal for Staffordshire</strong></p>
<p>Midlands Connect says it will work with its regional partners and the Government to help Staffordshire get the best HS2 deal possible, following the Department for Transport’s commitment to run HS2 services through Stoke-on-Trent.</p>
<p>The Department for Transport has backed the Crewe Hub vision which means platform extensions and a redesigned junction will allow classic compatible HS2 services to serve Stoke-on-Trent. Stafford is already scheduled to receive classic compatible HS2 trains from 2026.</p>
<p>Midlands Connect is the pan-regional transport partnership, representing 22 local authorities, 9 local enterprise partnerships, chambers of commerce and airports in the West and East Midlands, alongside HS2 Ltd, Network Rail and Highways England.</p>
<p><strong>Midlands Connect Chairman Sir John Peace said:</strong></p>
<p>"Midlands Connect looks forward to working with its local authority partners and the franchise holder West Coast Partnership to develop plans for a high-speed service serving Stoke-on-Trent and Stafford, which could be transformational for the area.</p>
<p>"This commitment from the Government will help unlock the Constellation Partnership's vision for an additional 100,000 homes and 120,000 jobs across&nbsp;Staffordshire and&nbsp;Cheshire by 2040.</p>
<p>"We will continue to work on options for enhanced regional road and rail improvements, including a study this year looking at the case for investment on the A50/A500 this year. We’ll also continue to support Stoke-on-Trent and Staffordshire’s ambitions to attract national and international investment which will enhance opportunities for businesses and residents in the area."</p>
<p><strong>Mark Winnington, Staffordshire County Council’s Cabinet Member for Economic Growth, said:</strong></p>
<p>“From the outset as a county council we have been committed to ensuring Staffordshire’s voice is heard and that we get the best deal for the counties and our communities in terms of mitigation, compensation, share of economic benefits and connectivity.</p>
<p>“In Phase One, we were successful in securing the Handsacre Link to allow residents to access HS2 compatible trains via Stafford from 2026 and now the Government has confirmed proposals for Stoke-on-Trent to be a stop for HS2 compatible trains.</p>
<p>“While we need to look at the proposals in more details, &nbsp;this does appear to mean that more people and businesses in Staffordshire will be able to benefit from quicker journeys to London and Birmingham Airport for example and to the North in the &nbsp;future via HS2 compatible trains.”</p>
<p><strong>Councillor Daniel Jellyman, Stoke-on-Trent City Council cabinet member for regeneration, transport and heritage, said:</strong></p>
<p>&nbsp;“We welcome the Department for Transport’s announcement that Stoke-on-Trent will get a HS2 service. We have lobbied government hard for this, provided detailed responses to their consultation and worked with them for a number of months to get to this position. A HS2 stop for the city will grow our economy, bring investment and jobs, and will provide much needed improved services for commuters. We will continue to work hard with the DfT and HS2 to firm up the services from Stoke-on-Trent including the overall implementation timetable, to maximise the value of the service for our city.</p>
<p>“In addition to this we will continue to work with partners to set out our ambition and opportunities that can be delivered now as our city grows and footfall through the station increases, this includes the West Coast Partnership, which from next year will be developing train timetables for HS2 services from 2026.</p>
<p>“We’re securing the future for Stoke-on-Trent, bringing in investment, delivering jobs and homes, and this work is being recognised nationally. HS2 connectivity further strengthens our position and continued journey as a core city within the UK.”</p>
<p>&nbsp;</p>
<p>-ENDS-</p>
<p><strong>For media enquiries, please contact James Bovill on 0121 214 7944,&nbsp;07384 249164 or email&nbsp;</strong><a href="mailto:jamesbovill@midlandsconnect.uk"><strong>jamesbovill@midlandsconnect.uk</strong></a></p>
<p>The Department for Transport’s press release can be found here:</p>
<p><a href="https://www.gov.uk/government/news/government-confirms-commitment-to-crewe-hub-vision">https://www.gov.uk/government/news/government-confirms-commitment-to-crewe-hub-vision</a></p>
<p>Midlands Connect is a pan-regional partnership of 22 local authorities, 9 Local Enterprise Partnerships, chambers of commerce and airports, alongside Highways England, Network Rail, HS2 Ltd and our sponsor, the Department for Transport. Our landmark 25 year strategy to transform transport in the region was published in March 2017.</p>
<p><strong>Midlands Connect</strong>,&nbsp;in collaboration with central government, brings together&nbsp;local authorities and local enterprise partnerships from across the Midlands. Together, the Midlands Connect Partnership and the Department for Transport have developed a transport strategy that identifies&nbsp;the major infrastructure projects needed to improve the connectivity&nbsp;of&nbsp;our&nbsp;region’s key locations so we can help drive economic growth&nbsp;and power the Midlands Engine.</p>
<p>The Midlands Connect Strategy can be downloaded here:</p>
<p><a href="/publications/">https://www.midlandsconnect.uk/publications/</a></p>
<p>Our latest news and views can be found via our Twitter feed @midsconnect</p>
<p>As the transport pillar of Midlands Engine, Midlands Connect is contributing to achieving our ambition to add £54 billion to the Midlands and UK economies by 2030, powering post-Brexit growth, not just for the benefit of the Midlands but for the whole UK.</p>
<p>The Midlands Engine Vision for Growth can be downloaded here:</p>
<p><a href="https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf">https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-03-12T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>