<?xml version="1.0" encoding="utf-8"?>
<Content Key="85fab35f-fd67-486b-ac5a-9dba09d66029" Alias="Midlands Connect agrees priorities for East Midlands Hub Station with Government" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/MidlandsConnectAgreesPrioritiesForEastMidlandsHubStationWithGovernment</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-01-12T00:00:00</CreateDate>
    <NodeName Default="Midlands Connect agrees priorities for East Midlands Hub Station with Government" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p style="text-align: right;"><strong><img style="width: 320px; height: 256px; float: right; border: 4px solid white;" src="/mc/media/1201/toton-cgi.jpg?width=320&amp;height=256" alt="" data-udi="umb://mc/media/b1c61557a4db4d49ab8b69f4afd89220"></strong></p>
<p><strong>GOVERNMENT, MIDLANDS CONNECT &amp; EAST MIDLANDS COUNCILS AGREE PRIORITIES TO MAXIMISE THE BENEFITS OF HS2 AND IMPROVE SERVICES ON THE MIDLAND MAIN LINE</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
<p><strong>The partial opening of the East Midlands Hub Station in Toton, several years before HS2 arrives in 2033, is part of a package of priorities the Department for Transport has agreed to work on with Midlands Connect and East Midlands Councils to maximise the economic benefits of HS2.</strong></p>
<p>A commitment to work together to achieve four key outcomes was made following a meeting between the Secretary of State for Transport Chris Grayling and representatives of Midlands Connect and East Midlands Councils in Nottingham.</p>
<p>For the first time, all parties have agreed to work towards:</p>
<ul>
<li>Partially opening the East Midlands Hub station at Toton in the 2020s, at least for Network Rail services, to support and stimulate the development of the planned Innovation Campus nearby, which has the potential to create 10,000 new jobs;</li>
<li>Early delivery of road infrastructure around the Hub to support the early phases of the Innovation Campus;</li>
<li>Relocating the Network Rail/DB Cargo depot in Toton to another site within the East Midlands to facilitate the development of the Innovation Campus;</li>
<li>Establishing an East Midlands “delivery body” to realise the potential of the Innovation Campus and associated Garden Village housing developments.</li>
</ul>
<p>In addition to these four priorities, Midlands Connect and East Midlands Councils will continue to press the Department for Transport to ensure a link between the Midland Main Line and HS2 Phase 2b is operational for the start of HS2, to ensure classic compatible trains can serve the north of England from the East Midlands. This would benefit Leicester in particular, which is currently poorly served by direct services to the north.</p>
<p>All parties have also agreed to work together to improve services on the Midland Main Line following the decision not to electrify the line between Kettering and Sheffield.</p>
<p><strong>Commenting on the progress that’s been made, Midlands Connect Chairman Sir John Peace said:</strong></p>
<p>“We have said for a long time that more investment in transport and infrastructure in the East Midlands can have a transformative impact on its economy and the quality of life of the millions of people who live here. I’m therefore pleased that the Government is already in dialogue with the Midlands Connect team and East Midlands Councils to accelerate connectivity around the HS2 Hub station at Toton. This is a once-in-a-generation opportunity for the region and I am looking forward to further meetings early in 2018 to keep up the momentum.”</p>
<p><strong>Chris Grayling, Transport Secretary, said:</strong></p>
<p><strong>&nbsp;</strong>“HS2 will become the backbone of our national rail network – supporting growth and regeneration, bringing passengers faster journey times and delivering an estimated 74,000 jobs and adding nearly £4billion to the East Midlands economy by 2043.</p>
<p>“I welcome the ambitious growth strategy put forward by the East Midlands leaders to maximise the benefits of HS2 through the development of an Innovation Campus, garden settlements and better connections at Toton. We have also invested £25 million to help Midlands Connect develop a transformational transport strategy, and will work with them on their proposals.”</p>
<p>It is hoped that by working more closely with the Government on the East Midlands Hub and Midland Main Line that regional communities and businesses will receive more certainty about the future of transport and infrastructure developments, to rebalance investment across the country.</p>
<p>-ENDS-</p>
<p><strong>&nbsp;</strong></p>
<p><strong>NOTES TO EDITORS</strong></p>
<p><strong>For media enquiries, please contact James Bovill on 0121 214 7944,<span>&nbsp;</span></strong><strong>07384 249164 or email<span>&nbsp;</span><a href="mailto:jamesbovill@midlandsconnect.uk">jamesbovill@midlandsconnect.uk</a></strong></p>
<p><strong>Midlands Connect</strong>,&nbsp;in collaboration with central government, brings together&nbsp;local authorities and local enterprise partnerships from across the Midlands. Together, the Midlands Connect Partnership and the Department for Transport have developed a transport strategy that identifies&nbsp;the major infrastructure projects needed to improve the connectivity&nbsp;of&nbsp;our&nbsp;region’s key locations so we can help drive economic growth&nbsp;and power the Midlands Engine.</p>
<p>The Midlands Connect Strategy can be downloaded here:</p>
<p><a href="/publications/">https://www.midlandsconnect.uk/publications/</a></p>
<p><span>Our latest news and views can be found via our Twitter feed @midsconnect</span></p>
<p>As the transport pillar of Midlands Engine, Midlands Connect is contributing to achieving our ambition to add £54 billion to the Midlands and UK economies by 2030, powering post-Brexit growth, not just for the benefit of the Midlands but for the whole UK.</p>
<p>The Midlands Engine Vision for Growth can be downloaded here:</p>
<p><a href="https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf">https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf</a></p>
<p><strong>East Midlands Councils</strong><span>&nbsp;</span>is the consultative forum for local authorities in the region. It provides support to Councils to improve their services and is a strong voice for the East Midlands.<span>&nbsp;</span><a href="http://www.emcouncils.gov.uk/">www.emcouncils.gov.uk</a>. East Midlands Councils provides the secretariat for Transport for the East Midlands (TfEM) which brings together lead members for the nine local transport authorities within the East Midlands.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-01-12T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>