<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f" Alias="News" Level="2">
  <Info>
    <Parent Key="ba5299dd-422e-4f18-8dbf-d981c34ef23c">Midlands Connect</Parent>
    <Path>/MidlandsConnect/News</Path>
    <Trashed>false</Trashed>
    <ContentType>newsMidlandsConnect</ContentType>
    <CreateDate>2023-11-30T12:05:20</CreateDate>
    <NodeName Default="News" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1fef72dc-6719-455c-9cc5-cc2f643c26a2">News1</Template>
  </Info>
  <Properties>
    <tags>
      <Value><![CDATA[[
  "News",
  "Insights",
  "Newsletter",
  "Podcasts",
  "Event"
]]]></Value>
    </tags>
  </Properties>
</Content>