<?xml version="1.0" encoding="utf-8"?>
<Content Key="acb50794-75dc-43b8-baae-1a567b235582" Alias="Nottingham to Lincoln rail route: Businesses urged to have their say on upgrade plans" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/NottinghamToLincolnRailRouteBusinessesUrgedToHaveTheirSayOnUpgradePlans</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2022-01-18T00:00:00</CreateDate>
    <NodeName Default="Nottingham to Lincoln rail route: Businesses urged to have their say on upgrade plans" />
    <SortOrder>110</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Regional transport body Midlands Connect has launched an <a href="https://midlandsconnect.consultationonline.co.uk/lincoln-nottingham/">online consultation</a> to get business’ views on improvements to the rail route between Nottingham, Newark and Lincoln. The survey asks firms to give their views on current rail connectivity and to outline how improving them would impact their trade, productivity and access to skilled workers.</p>
<p>Midlands Connect is urging as many businesses as possible to get involved and make their views heard.</p>
<p>The potential improvement plans would see the number of hourly train services between Nottingham, Newark and Lincoln double from one, to two trains every hour. As well as this, improvements to signalling and track would improve journey times, reducing end to end trips from 55 minutes to 45 minutes.</p>
<p>Line speed work is expected to be completed between 2022 and 2026, while Midlands Connect is examining ways to improve service frequency in the medium term.</p>
<p>The consultation is being supported by MPs Karl McCartney and Lilian Greenwood, local councils including Nottinghamshire County Council and Lincolnshire County Council as well the Lincolnshire Chambers of Commerce and the Federation of Small Business.</p>
<p>The survey is open until Friday 11th February at 5pm and can be accessed here: <a href="https://midlandsconnect.consultationonline.co.uk/lincoln-nottingham/">https://midlandsconnect.consultationonline.co.uk/lincoln-nottingham/</a></p>
<p>Commenting, Head of Rail Karen Heppenstall said:</p>
<p>"We are calling on employers and businesses to get involved in our online consultation to let us know their views. We want to know what the impact could be on them if we improve the rail route and specifically, if it could lead to more jobs and growth in the local economy.&nbsp;</p>
<p>“The case for upgrades on this route is clear: slow and infrequent rail services between Nottingham and Lincoln mean that only a small proportion of journeys along this corridor are made by train. Midlands Connect is committed to changing that and to gathering the best possible evidence outlining why these improvements are so sorely needed."</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2022-01-18T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>