<?xml version="1.0" encoding="utf-8"?>
<Content Key="cdaa02df-24e2-423b-b527-c9dc592f3c8b" Alias="Plans submitted for Midlands-wide ‘tap and cap’ payment platform for public transport" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/PlansSubmittedForMidlandsWideTapAndCapPaymentPlatformForPublicTransport</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2020-09-30T00:00:00</CreateDate>
    <NodeName Default="Plans submitted for Midlands-wide ‘tap and cap’ payment platform for public transport" />
    <SortOrder>79</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>
<p>Smart platform would integrate payments for rail, bus and tram journeys</p>
</li>
<li>
<p>Trips subject to daily fare ‘cap’ boosting value for money</p>
</li>
<li>
<p>System would work across the whole Midlands region, including in Coventry, Wolverhampton, Birmingham, Leicester, Derby and Nottingham</p>
</li>
<li>
<p>Midlands region is home to over ten million people</p>
</li>
<li>
<p>Supports public transport use and flexible working patterns in aftermath of COVID-19</p>
</li>
<li>
<p>£20million funding sought from Government to implement plans</p>
</li>
</ul>
<p>Leaders from across the Midlands are calling on Government to fund a region-wide smart ticketing platform, which would revolutionise the way passengers use and pay for public transport.</p>
<p>A ‘tap and cap’ system, similar to the platform used by Transport for London, would allow travellers to seamlessly pay for trips on the rail, bus and tram network via their smartphone, travel pass or bank card. A new payment model would ‘cap’ the payments at a daily or weekly limit, enhancing value for money for those travelling across the whole Midlands region, regardless of travel mode or transport operator.</p>
<p>The smart platform could also be adapted to include emerging transport modes such as electric bike hire and the rental of e-scooters.</p>
<p>While smart ticketing initiatives exist in some form in Nottingham, via the Robin Hood travel card and in parts of the West Midlands via ‘Swift’, the UK’s second biggest public transport payment system after London’s Oyster scheme, this new platform would be the first to function at a Midlands-wide level, and encompass all public transport operators.</p>
<p>Post COVID-19, new payment models are seen as essential in supporting more flexible work and travel patterns, with season tickets likely to represent poor value for money for many commuters. This new contactless system would also make payments completely touch free.</p>
<p><span>The development of the smart ticketing platform, which will be based on ‘Swift’ payment technologies, will be led by Transport for West Midlands (TfWM) with&nbsp;initial rollout of the plans being implemented by TfWM and Nottingham City Council. Strategic regional transport body Midlands Connect will work with&nbsp;other&nbsp;local authorities across the region to&nbsp;integrate more areas into the scheme, which could be operational by 2022.&nbsp;</span></p>
<p>Regional leaders are calling on Government to provide the £20million in funding required to turn these plans into reality.</p>
<p><strong>Andy Street, the Mayor of the West Midlands, said: </strong></p>
<p>“The introduction of the Swift card in the West Midlands has been a great success, with more than 50 million journeys undertaken last year. But although the card is the biggest of its kind outside of London, we must always look to keep improving.</p>
<p>“Not only will this funding from Government allow us to cap payments to ensure better value for money, but it also means we could integrate the technology with our new e-scooter trial and soon-to-be announced bike share scheme, allowing seamless travel on all modes of transport across the region.</p>
<p>“With work habits changing in the face of the Coronavirus pandemic we must support more flexible travel patterns, and this scheme would allow us to do exactly that. I will be pressing the case to Government.”</p>
<p><strong>Cllr Ian Ward, leader of Birmingham City Council and transport portfolio lead for the West Midlands Combined Authority, said:</strong></p>
<p>“The way we work, live and travel is changing – this smart ticketing platform will mean better value for money, more convenient ways to pay and crucially, more people using our public transport network. Government must deliver on its promises to ‘level-up’ and support passengers in Birmingham and the wider Midlands, as it has done in London.”</p>
<p><strong>Cllr David Mellen, leader of Nottingham City Council said: </strong></p>
<p>“This platform will allow seamless travel between the towns and cities of the Midlands, and for those travelling to and from more rural areas, ensuring that public transport is both a practical and affordable option for passengers. While the effects of COVID-19 may see more of us working from the office part time, for policymakers, tackling climate change must remain a priority. This solution will help us to meet both of these challenges.”</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-09-30T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>