<?xml version="1.0" encoding="utf-8"?>
<Content Key="80fd0783-e28f-4521-ae35-f099d7e1693f" Alias="PM urged to back £3.5bn Midlands Engine Rail, as region’s rail revolution takes a leap forward" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/PMUrgedToBack35bnMidlandsEngineRailAsRegionSRailRevolutionTakesALeapForward</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-09-12T00:00:00</CreateDate>
    <NodeName Default="PM urged to back £3.5bn Midlands Engine Rail, as region’s rail revolution takes a leap forward" />
    <SortOrder>61</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li>£3.5 billion plan to revolutionise Midlands rail network, comprised of seven projects</li>
<li>Up to 60 locations across the UK could benefit from improved services</li>
<li>736 more passenger trains on the network each day</li>
<li>Plans are fully integrated with HS2 and will be submitted to Oakervee Review</li>
<li>Creates space for an additional 1 million lorries’ worth of cargo to be transported by rail each year</li>
<li>Designed to boost productivity, social mobility and economic growth across the Midlands Engine</li>
<li>Chair of Midlands Engine, Sir John Peace urges Prime Minister to give the Midlands the ‘long-overdue investment’ it deserves</li>
</ul>
<p><strong>Dozens of towns and cities across the UK could benefit from Midlands Engine Rail, a £3.5 billion improvement programme to transform the region’s rail network, launched today by Sub-national Transport Body Midlands Connect.</strong></p>
<p>Made up of seven projects spanning the East and West Midlands, the programme is strategically-important in supercharging the Midlands Engine economy and is designed to drive sustainability, productivity and social mobility across the whole region. It also includes and builds upon the flagship <a data-udi="umb://document/a298e9b7f6f84986ba961a3042f239ca" href="#" title="Midlands Rail Hub June 2019">Midlands Rail Hub </a>scheme; aimed at boosting east-west connectivity, which was submitted to Government in June 2019.</p>
<p>Set to be delivered in stages from 2022 to the completion of HS2 Phase Two, Midlands Engine Rail will provide a much-needed capacity boost for national, local and regional rail services, creating space for 736 more passenger trains on the network each day. Over the past two years, rail passenger numbers have risen faster in the Midlands than anywhere else in the UK.<a name="_ftnref1" href="#_ftn1">[1]</a></p>
<p>Up to 60 locations could benefit from improved services, including Birmingham, Leicester, Coventry, Nottingham, Derby, Stoke-on-Trent, Crewe, Shrewsbury, Lincoln, Worcester and Wolverhampton.</p>
<p>Due to the Midlands’ central position at the heart of the UK transport network, the programme is also nationally-significant, driving benefits as far afield as Cardiff, Bristol, Newcastle, Kettering and Sheffield.</p>
<p>Midlands Engine Rail is fully integrated with HS2 and includes plans for two new conventional-compatible services that will directly link Nottingham and Leicester city centres to the new high speed network.</p>
<p>Improvements will increase the speed and frequency of existing services as well as introducing new direct services; for example, linking Leicester to the cities of Leeds and Coventry. It is also designed to reduce carbon emissions and encourage both passengers and freight off the roads and onto the railways.</p>
<p>Civic and business leaders are now calling on Prime Minister Boris Johnson to back Midlands Engine Rail, fund the next stage of its development (£45.5 million over the next three years), and to display the same enthusiasm for infrastructure investment in the Midlands as he has in the North.</p>
<p><strong>Sir John Peace, chair of Midlands Connect and Midlands Engine said:</strong></p>
<p>“In the Midlands, more people are travelling on the railways than ever before. We now need investment from Government to allow our people, businesses and infrastructure to reach their full potential, and to drive a further boost in passenger numbers. Midlands Engine Rail is essential in creating a more sustainable, productive and mobile Midlands.</p>
<p>“Whether they live in Shrewsbury, Lincoln, Birmingham or Leicester, our communities deserve the opportunity to make greener choices, to access a world-class education and to reach the widest possible variety of career opportunities. We must create a transport network that helps our businesses to grow, not holds them back”</p>
<p>“My message to the Prime Minister is clear; it’s time you made a long-overdue commitment to the future of our rail network. Ten million Midlanders are counting on you; invest in their futures, turn our vision into reality, back Midlands Engine Rail.”</p>
<p><strong>Robert Nisbet, director of nations &amp; regions at the Rail Delivery Group, which represents rail companies, said:</strong></p>
<p>“Millions of train journeys are made in the Midlands every week and rail companies are working together to improve services, with new and refurbished trains being introduced to run more services. Further investment as part of Midlands Engine Rail will improve journeys for passengers between towns and cities across the region and power economic growth by unlocking new business opportunities.”</p>
<p>-ENDS-</p>
<p>To read the full report, click <a data-udi="umb://document/5c37ce7351df48eab276aae4aa843878" href="#" title="Midlands Engine Rail Summary">here</a></p>
<p><a name="_ftn1" href="#_ftnref1">[1]</a> <u><a href="https://orr.gov.uk/__data/assets/pdf_file/0003/26598/Regional-Rail-Usage-2016-17.pdf">https://orr.gov.uk/__data/assets/pdf_file/0003/26598/Regional-Rail-Usage-2016-17.pdf </a></u><a href="https://orr.gov.uk/__data/assets/pdf_file/0011/40520/regional-rail-usage-2017-18.pdf">https://orr.gov.uk/__data/assets/pdf_file/0011/40520/regional-rail-usage-2017-18.pdf</a></p>
<p>&nbsp;</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-09-12T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>