<?xml version="1.0" encoding="utf-8"?>
<Content Key="172c98cf-8118-495d-974d-4a44529d8640" Alias="Rail Sector Deal recognises need for &quot;local solutions to local challenges&quot;" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/RailSectorDealRecognisesNeedForLocalSolutionsToLocalChallenges</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2018-12-07T00:00:00</CreateDate>
    <NodeName Default="Rail Sector Deal recognises need for &quot;local solutions to local challenges&quot;" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>The Department for Business, Energy and Industrial Strategy has published its <a rel="noopener" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/762190/181205_BEIS_Rail_Sector_Deal_web.pdf" target="_blank" title="Rail Sector Deal">Rail Sector Deal</a></p>
<p>A Midlands Connect spokesperson said:</p>
<p>The Rail Sector Deal rightly recognises the value brought by local solutions to local challenges, a principle at the heart of the Midlands Connect and Midlands Engine strategies.&nbsp;</p>
<p>We will continue to work with the UK’s rail experts to ensure our plans future-proof the Midlands’ rail network, are informed by comprehensive data, are appropriately costed, and are deliverable in terms of skills, resource and timescales.</p>
<p>We therefore welcome the deal’s three pilot schemes in the Midlands: a rail data platform to provide a complete picture of the user experience, a programme supporting high potential SMEs in the supply chain, and a skills programme on shared apprenticeships and schools engagement.</p>
<p>We share this deal’s focus on the potential of the railway as a driver of economic growth, and the importance of making the Midlands’ already highly competitive supply chain more focused, efficient and productive through investment in skills and capital.</p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2018-12-07T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>