<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ba61c56-03af-4208-98f4-9a73289c9e28" Alias="Rail Station Cycle 'Surgeries'" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/RailStationCycleSurgeries</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Rail Station Cycle 'Surgeries'" />
    <SortOrder>56</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p>The Safer Travel Police Team will be running a number of cycle surgeries at rail stations this summer. The aim will be to raise awareness of cycle crime prevention and to provide an opportunity for cycle owners to have their cycle marked with a unique identification mark and to be registered on a national database. The marking has been shown to deter theft and the registration allows the police to quickly trace the owner of the cycle if it is found after being lost or stolen. The surgeries will be at the following stations on the dates shown:</p>
<table border="0" width="327" style="font-weight: 400;">
<tbody>
<tr>
<td width="176"><strong>RAIL STATION</strong></td>
<td width="66"><strong>DATE</strong></td>
<td width="85"><strong>TIME</strong></td>
</tr>
<tr>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td>
<td><strong>&nbsp;</strong></td>
</tr>
<tr>
<td>Canley &nbsp;&nbsp;&nbsp;</td>
<td>29th May</td>
<td>1600-1900hrs</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Birmingham&nbsp;New Street</td>
<td>6th June</td>
<td>0730-1030hrs</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Stourbridge&nbsp;Junction &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>8th June</td>
<td>1600-1900hrs</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Coventry&nbsp;</td>
<td>12th June</td>
<td>1600-1900hrs</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Selly Oak&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>13th June</td>
<td>1600-1900hrs</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Rowley Regis&nbsp;&nbsp;</td>
<td>15th June</td>
<td>1600-1900hrs</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Wolverhampton&nbsp;</td>
<td>19th June</td>
<td>1600-1900hrs</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Cradley Heath &nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>20th June</td>
<td>1600-1900hrs</td>
</tr>
</tbody>
</table>
<p>The Safer Travel Partnership, in conjunction with Network West Midlands, are also able to offer police approved cycle security locks at a reduced price (while stocks last). Please ask the Safer Travel Police team at any of the surgeries if you would like any further information about this offer.</p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>