<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1796b9a-3cc2-473e-9ed0-03572f1bd9c2" Alias="Restorative Justice" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/RestorativeJustice</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Restorative Justice" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
        <img src="/media/st/media/1037/rj-1.png" style="max-width:700px" class="img-responsive">
<p>We currently have a total of 29 youngsters going through our Restorative Justice scheme at the moment.&nbsp;</p>
<div></div>
<div>They are taking part in the scheme for various offences on the public transport network, from Grievous Bodily Harm and Anti Social Behaviour- to arson and criminal damage.</div>
<div></div>
<div>We have also issued 12 first stage warning letters to offenders for low level ASB on the network.&nbsp;</div>
<div></div>
<div>This behaviour will not be tolerated on our network and our scheme has so far proven to be very successful.&nbsp;</div>
<div></div>
<div>If passengers witness any ASB on public transport we encourage you to text 'bus' followed by a space to 83010, with a message giving as much information as possible about the nature of the incident.&nbsp;</div>
<div></div>
<div>Anyone witnessing criminal behaviour should ring 999 as they would do normally.</div>
<div></div>
<div>A dedicated Safer Travel Anti-Social Behaviour team investigates each report it receives.</div>
<div></div>
<div>Rail and Midland Metro passenger should use the British Transport Police equivalent number- 61010.&nbsp;</div>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>