<?xml version="1.0" encoding="utf-8"?>
<Content Key="b86079d9-1237-4a6d-98ca-6f1278ed5a7d" Alias="Safer Travel Relaunch Text Service For Reporting Antisocial Behaviour" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SaferTravelRelaunchTextServiceForReportingAntisocialBehaviour</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Safer Travel Relaunch Text Service For Reporting Antisocial Behaviour" />
    <SortOrder>94</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>Safer Travel has relaunched their See Something Say Something campaign, a text service for bus users to report incidents of antisocial behaviour (ASB) on their journey.</p>
<p>Passengers simply text the words &ldquo;SeeSay&rdquo; along with details of what’s happened to 81018.</p>


                            
    
    <img src="/media/st/media/1117/ssss-1001x1418-timetable-space-filler.jpg">


                            
    

<p>A dedicated team of antisocial behaviour officers from West Midlands Police and British Transport Police investigate every report and use a range of methods including community resolutions to deter and tackle nuisance behaviour on the bus network.</p>
<p>Each report helps the team to build an intelligence picture of antisocial behaviour and identify patterns in reporting on specific routes, areas or times. In addition to community resolutions, police officers conduct patrols and work within communities to reduce problematic behaviour and assure passengers on their journey.</p>
<p>The text service has previously run for 12 years, and received around 1200 reports in 2019. A passenger’s text report of antisocial behaviour on an Erdington bus previously led to a prolific offender being identified via National Express West Midlands CCTV and sent back to prison. The service has also contributed to easing pressure on West Midlands Police’s control room and reduced the number of calls made to 101 for low-level nuisance behaviour.</p>
<p>The relaunched campaign features a new text number, 81018, and redesigned posters which have been placed on over 2,500 buses across the region as well as at bus stations and stops. Antisocial behaviour covers a wide range of behaviours including smoking, littering, playing loud music, being rude to other passengers or staff, drinking alcohol in public spaces and other behaviour which causes others to feel uncomfortable or alarmed.</p>
<p>Among other tactics, community resolutions are an effective method for police to tackle low-level nuisance behaviour, which is often committed by first-time offenders, without entering them into the criminal system unnecessarily. Safer Travel’s Restorative Justice Programme is a successful example, resulting in a zero per cent reoffending rate on-board public transport for over two years.</p>
<p>A number of other community resolutions are also available to tackle ASB such as warning letters, Community Protection Notices and Criminal Behaviour Orders, breaches of which can lead to further police action if the nuisance behaviour continues.</p>
<p>Antisocial behaviour officers and Safer Travel’s Education Officer also work closely with schools and organisations to encourage responsible travel and increase awareness of antisocial behaviour and the effect it can have on other passengers.</p>
<p>Inspector Rachel Crump, head of the Safer Travel policing team, said:</p>
<p>&ldquo;Our See Something Say Something campaign is a crucial service which provides passengers with the opportunity to discreetly report behaviour which is making them feel uncomfortable without drawing attention to themselves.</p>
<p>&ldquo;Our ASB officers are experts in using a range of methods to reduce negative behaviour which can have a huge impact on a bus passenger’s journey, sometimes deterring them from using public transport entirely. Every passenger has the right to travel comfortably without feeling harassed or distressed, and we are pleased to support our colleagues in Control Rooms by reducing the number of calls to 101 and instead offering an easy-to-use, free reporting service dedicated to bus users.&rdquo;&nbsp;</p>
<p>Transport operators also play a key role in assisting officers with identifying offenders. Using on-board CCTV from up to 12 cameras on each bus, often with crystal clear video and audio, Safer Travel has identified around 75 per cent of offenders from bus-related incidents.</p>
<p>Managing Director of National Express West Midlands, David Bradford, said:</p>
<p>&ldquo;As part of the Safer Travel Partnership National Express West Midlands works very closely with the police teams to tackle any form of antisocial behaviour or crime on the bus network.</p>
<p>&ldquo;Hundreds of thousands of journeys are made safely every single day but we will not tolerate anybody who makes others feel uncomfortable while travelling with us.</p>
<p>&ldquo;We encourage anybody who witnesses any antisocial behaviour to text the new 81018 See Something Say Something number and help the Safer Travel teams to target any particular hotspots so they can take appropriate action.</p>
<p>&ldquo;All of our buses have high-definition CCTV onboard and we will continue to make footage available to the police to help them identify anybody involved in this nuisance behaviour."</p>
<p>Safer Travel is a partnership of officers and staff from West Midlands Police, British Transport Police, Transport for West Midlands and transport operators.</p>
<p>The text service is a non-emergency service and lines are monitored between 9am-5pm Monday to Friday.</p>
<p>In an emergency, always dial 999.&nbsp;</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>