<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d1f8424-e7ff-419b-8d1b-c7339186cdb1" Alias="Safer Travel Clampdown On Passengers Not Wearing Face Coverings" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/SaferTravelClampdownOnPassengersNotWearingFaceCoverings</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2020-09-07T00:00:00</CreateDate>
    <NodeName Default="Safer Travel Clampdown On Passengers Not Wearing Face Coverings" />
    <SortOrder>84</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
    <img src="/media/st/media/1103/face-coverings-officers_censored-1.jpg">


                            
    

<p>Safer Travel have launched a clampdown on passengers who refuse to wear face coverings when travelling on public transport.</p>
<p>The operation follows the government announcement that from 15 June the use of face coverings is now compulsory on all public transport journeys.</p>
<p>The transport-based policing teams are using the four E’s approach when talking to passengers: engage, explain, educate and enforce.</p>
<p>However, after an initial adjustment period which focused on passenger education, Safer Travel have decided to adopt a stricter approach.</p>
<p>Passengers that refuse to wear a face covering after being asked are now being directed to leave the transport and face receiving a Fixed Penalty Notice.</p>
<p>The new approach began on 29 June and since then the team has directed 533 passengers to leave the bus, train or metro.</p>
<p>Of those, three Fixed Penalty Notices have been issued, and one passenger has been arrested.</p>
<p>The clampdown has been timed to coincide with the launch of a new app available to police officers on their mobile devices which enables officers to record the information of passengers that have been directed to leave the vehicle or received a Fixed Penalty Notice.</p>
<p>This allows officers to identify any repeat offenders and issue appropriate interventions, whether that is simply providing a mask from a supply generously donated by National Express, or issuing a fine to deter future offending.</p>


                            
    
    <img src="/media/st/media/1101/dtl-app.jpg" alt="The new app enables officers to check for passengers that have been previously directed to leave transport">
        <p class="caption">The new app enables officers to check for passengers that have been previously directed to leave transport</p>


                            
    

<p>The teams receive daily intelligence from a variety of sources including transport operators, CCTV Control Rooms and Transport for West Midlands. The data includes details such as locations, routes, stops or stations that are receiving the lowest compliance in the use of face coverings.</p>
<p>This information is vital in helping Safer Travel to target patrols in problematic routes or areas that are identified, with additional support from National Express staff that have returned to work specifically to assist with tackling non-compliance.</p>
<p>Sergeant Fergal Sharkey, from the Safer Travel team, said: &ldquo;The majority of people are complying, which is great. We are grateful to those wearing face coverings and helping to keep everyone safe.&rdquo;</p>
<p>However, members of the public wanting to report passengers not wearing a face covering should visit the Safer Travel website <a href="http://www.safertravel.info">www.safertravel.info</a> and complete the online ‘Report an Incident’ form.</p>
<p>Passengers are advised not to call 101 or use Live Chat for reporting non-compliance of face coverings.</p>
<p>It is now a legal requirement to wear a face covering when onboard bus, train or tram services and you may be refused travel without one, however some people with medical conditions are exempt.</p>
<p>For more information on safety advice while travelling, passengers can visit <a href="https://www.networkwestmidlands.com/plan-your-journey/network-overview/advice-while-travelling-during-the-coronavirus-outbreak/face-coverings/">https://www.networkwestmidlands.com/plan-your-journey/network-overview/advice-while-travelling-during-the-coronavirus-outbreak/face-coverings/</a>.</p>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2020-09-07T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>