<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ebf1d84-977f-41b6-bc75-bd82793aa3f7" Alias="Six councils receive funding to develop the case for local road improvements" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/SixCouncilsReceiveFundingToDevelopTheCaseForLocalRoadImprovements</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-10-12T00:00:00</CreateDate>
    <NodeName Default="Six councils receive funding to develop the case for local road improvements" />
    <SortOrder>101</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <div class="summary">
<ul>
<li><strong>Coventry’s Ring Road, Lincolnshire’s A17, Staffordshire’s A511, Sandwell’s A461 near Great Bridge, Dudley’s A461 between Dudley, Brierley Hill and Stourbridge and Leicestershire County Council will all benefit from Midlands Connect support</strong></li>
</ul>
</div>
<div class="body">
<p><strong>Midlands Connect is giving six local authorities in the region up to £50,000 to develop the case for investment in local roads. Critically, this cash will allow local councils to assess the feasibility of key schemes in their area, potentially paving the way to seeking Government support for these improvements if viable options can be found.</strong></p>
<p>The Major Road Network (MRN) forms a middle tier of the country’s busiest and most economically-important local authority ‘A’ roads. The schemes supported today will all reduce congestion, support housing and employment growth, encourage people to walk, cycle and use public transport, and provide better links to motorways and major trunk roads.</p>
<p>These schemes, submitted by local authorities, were assessed for their feasibility, deliverability and ability to ease congestion. Each of the improvements is linked to wider regional priorities and objectives, including securing economic renewal, boosting productivity and supporting new housing development, as well as encouraging active travel such as walking and cycling.</p>
<p>Midlands Connect is giving the following schemes funding and support to understand the options and opportunities to bring forward improvements:</p>
<table border="0">
<tbody>
<tr>
<td width="301">
<p><strong>Council</strong></p>
</td>
<td width="301">
<p><strong>Scheme</strong></p>
</td>
</tr>
<tr>
<td width="301">
<p>Coventry City Council</p>
</td>
<td width="301">
<p>Coventry Ring Road Junctions 9 – 5</p>
</td>
</tr>
<tr>
<td width="301">
<p>Lincolnshire County Council</p>
</td>
<td width="301">
<p>A17 Corridor - Heckington</p>
</td>
</tr>
<tr>
<td width="301">
<p>Staffordshire County Council</p>
</td>
<td width="301">
<p>A511 between A50 and County Boundary (east of Burton on-Trent), and A5121 between A38 junction at Branston and A38 junction at Claymills</p>
</td>
</tr>
<tr>
<td width="301">
<p>Sandwell Metropolitan Borough Council</p>
</td>
<td width="301">
<p>A461 between Castlegate Island (Dudley) and Navigation Roundabout (Great Bridge)</p>
</td>
</tr>
<tr>
<td width="301">
<p>Dudley Metropolitan Borough Council</p>
</td>
<td width="301">
<p>A461 Dudley – Brierley Hill – Stourbridge</p>
</td>
</tr>
<tr>
<td width="301">
<p>Leicestershire County Council</p>
</td>
<td width="301">
<p>Leicestershire’s Major Road Network - Strategic Study</p>
</td>
</tr>
</tbody>
</table>
<p>As well providing this critical funding, Midlands Connect will work with local councils to offer expertise in building their case to Government. This is the first of three planned rounds of support for local councils to promote local schemes.</p>
<p>In recent times Midlands Connect in conjunction with local councils has been able to secure £206 million for a series of projects throughout the region like the North Hykeham Relief Road in Lincolnshire, Birchley Island in Sandwell, A511 in Leicestershire and the A614 in Nottinghamshire. Midlands Connect hopes that these schemes, given funding today, could enjoy the same fate in the future.</p>
<p>The cash given to these local authorities comes from the Midlands Connect ‘MRN preparation fund’, which forms part of the organisations core funding given to them from the Department for Transport.</p>
<p><strong>Commenting on the funding award, MRN &amp; Strategic Roads Manager Swati Mittal said:</strong></p>
<p>“We are delighted to support these critical schemes throughout the region, using our expertise to allow Local Authorities to make the case to Government for funding.</p>
<p>“Midlands Connect explores, develops and recommends transport projects which will provide the biggest possible economic, environmental and social benefits for the Midlands. These projects will deliver economic uplift, jobs and development opportunities throughout the region.</p>
<p>“We will also be examining how these schemes can contribute to decarbonisation, the take up of public transport and active travel. It’s essential that all road investments have these objectives at their heart.”</p>
<p><strong>Dudley Councillor Karen Shakespeare, cabinet member for public realm, said:</strong></p>
<p>“The A461 is a very popular corridor for motorists in Dudley borough, and we would like to look at ways of reducing congestion while making it easier and safer for people to walk, cycle and use public transport on this route.</p>
<p>“We welcome the news of this £50,000 funding, which will help us to explore opportunities and we are looking forward to working with Black Country Transport and Midlands Connect to work on this project.”</p>
<p><strong>Staffordshire County Council leader Alan White said:</strong></p>
<p>"Improving our transport routes is vital for continued economic growth and the ongoing regeneration of our towns. Through this package of measures, we would see improved traffic flow which will support future employment and housing development, encouraging more inward investment in Burton. More reliable travel times together with reduced delays helps improve productivity for businesses. This is an exciting time for Burton with a range of Towns Fund project proposals and new developments. This funding will help us to further strengthen our growth corridors."</p>
<p><strong>Cllr Richard Davies, executive member for highways at Lincolnshire County Council, said:</strong></p>
<p>"This is fantastic news for Lincolnshire since it means we can start developing a Strategic Outline business case looking at dualling the A17 near Heckington, which would provide a new overtaking opportunity, improve journey times and safety, and help future-proof the A17 as more and more vehicles use it over the coming years.</p>
<p>"Developing schemes like this will hopefully help Lincolnshire, and the rest of the Midlands, secure a bigger share of roads funding in the years to come."</p>
<p><strong>Coventry Councillor Jim O’Boyle, cabinet member for jobs, regeneration and climate change said:</strong></p>
<p>“I’m really pleased that we have secured £50,000 in funding from Midlands Connect. It will enable us to review the section of Ring road between junction 5 and 9.</p>
<p>“Our Ring road is much loved and it is very effective in keeping traffic moving – but we also need to see what can be done to make it easier for other users including pedestrians and cyclists to navigate.&nbsp; This work will build on previous investment in the improvement of junction 6 by the railway station – which enabled us to remove most of the subways – making a seamless connection to the city centre and our plans for junction 7 as part of the Local Air Quality Action Plan.”</p>
</div>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-10-12T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>