<?xml version="1.0" encoding="utf-8"?>
<Content Key="5bae1d45-43fe-4010-9045-c6fd64985e5c" Alias="Stocking the shelves for Christmas – from the Lincolnshire Food Valley to your table" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/StockingTheShelvesForChristmasFromTheLincolnshireFoodValleyToYourTable</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-12-15T00:00:00</CreateDate>
    <NodeName Default="Stocking the shelves for Christmas – from the Lincolnshire Food Valley to your table" />
    <SortOrder>194</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <p>Over the course of the pandemic, many of us have come to appreciate the things we’d taken for granted. Despite the far-reaching effects of COVID, Brexit or global supply chain disruption caused by a blockage in the Suez Canal, mercifully (bar a few temporary shortages) our supermarket shelves have stayed stocked throughout.</p>
<p>Maintaining access to life’s essentials is a complex process, one that steps up during the festive season as an army of pickers, processors, and drivers work around the clock to deliver the ingredients and gifts we need this Christmas. You may be surprised to learn that the Midlands is home to the country’s biggest food producing area, in the Lincolnshire ‘UK Food Valley’ over 28,000 people and 40% of local jobs are based in food processing and production.</p>
<p>The importance of the food valley is now being recognised, with over £700m invested in strengthening the food chain in South Lincolnshire over the past five years.&nbsp; This generates 18 million tonnes of goods along the A16, 16 million tonnes along the A17 and 1,200 lorries leave Spalding every day - in the run up to Christmas, this rises to 3,000 per day.</p>
<p>We’ve been talking to local businesses to discuss just how important South Lincolnshire is to the Midlands and the UK. Midlands Connect is working to ensure that not only the right capacity and technology is available on our strategic road and rail network but also how important it is for us to work with partners to get goods efficiently to and from the food valley.</p>
<p>To help illustrate, I’ll talk you through the journey of my potato from the fertile Boston soil to a roastie on my plate for Christmas day. At first it seems as easy as jumping over the road and digging it out of the ground but actually, the process is far more complicated and technology driven.&nbsp;</p>
<p>My potato’s journey starts from being picked out of the soil. Lack of labour during the pandemic has forced farmers to turn to greater automation in potato harvesting, which continues through to the quality check - what was six human quality checkers becomes one human camera operator. This continues along a production line similar to making cars with half the workers now needed within the potato factory. Whilst the factory is less reliant on human labour, just one point of failure along the production line could cause my potato to get severely delayed.</p>
<p>At this time, there are simply no longer the right people available to take these jobs. The producers are working their way through automation teething problems and we should be grateful for their hard work in keeping potato production and processing going. Businesses have warned us however about the ongoing lack of staff that is leading to exploitation of foreign workers, something they are also desperately trying to tackle.</p>
<p>Finally, my potato is loaded to be moved from Holbeach to the Spalding distribution hub. This must be on time or it will miss its slot with the distribution company at Spalding - this 15-mile trip can become the least predictable time for my potato. The local roads are a labyrinth of single carriageway major and minor priority junctions, with lorries getting stuck at give-ways. &nbsp;We are now working with our partners to discover how technology can help solve these long-standing congestion issues.</p>
<p>Technology is also helping digitise the journey from the factory and along the route to the waiting distribution lorry. Such digitised, well established routes could also be the prime routes to see greater vehicle automation in a drive to improve safety, reduce costs and provide more reliable journey times. &nbsp;If we can make these crucial 15 miles easier and more predictable, we can then have more realistic talks about using freight trains in Spalding to get some of these lorries off the A16 and A17. That could be very important as the area around the UK Food Valley is not served by dual carriageways or trunk roads.</p>
<p>The hub also provides a great opportunity to help transition vehicle fleets to alternative fuels for producers and distribution companies in and around Spalding. Midlands Connect have been asked to lead the country in planning how we can transition to alternative fuels and Spalding could become part of a wider network of refuelling and recharging hubs around the country.&nbsp; For heavy duty vehicles, hydrogen could support longer journeys and we could see local hydrogen production, storage and distribution. Electric vehicles with ultra-rapid charging at hubs could support shorter journeys. This could have broader implications for the area not only in transitioning away from fossil fuels but also developing the UK’s Green Economy.</p>
<p>Eventually, my potato finds its way to the M&amp;S depot, which is finally shifted on its pallet to the M&amp;S store for me to buy in time for Christmas. This last part of my potato’s journey also will benefit from &nbsp;working with our partners to implement our freight improvement plan to make this whole journey as easy, as cheap and as green as possible.</p>
<p>The UK Food Valley is a crucial industrial centre, one that is finally being viewed with the importance it deserves. By working alongside businesses and our partners to understand the challenges of food processing, logistics and delivery challenges, we can ensure that whatever comes our way, we’ll keep our shelves stocked, employees in jobs and our carbon footprint down.</p>
<p><strong><em>Richard Bradley is Head of Strategy at Midlands Connect</em></strong></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-12-15T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[/mc/media/1830/richard-bradley.jpg]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "Insights"
]]]></Value>
    </tags>
  </Properties>
</Content>