<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea7d3156-bba5-416a-b71d-36f553d1076a" Alias="True benefits of HS2 REVEALED for the first time; extra capacity would mean improved rail services for 73 stations on existing network" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/TrueBenefitsOfHS2REVEALEDForTheFirstTimeExtraCapacityWouldMeanImprovedRailServicesFor73StationsOnExistingNetwork</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2019-09-26T00:00:00</CreateDate>
    <NodeName Default="True benefits of HS2 REVEALED for the first time; extra capacity would mean improved rail services for 73 stations on existing network" />
    <SortOrder>62</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <ul>
<li><em>Revealed for the first time, 73 stations on the existing rail network stand to benefit from improved passenger services as a direct result of the capacity released by HS2, including 54 stations with no direct HS2 services;</em></li>
<li><em>Evidence submitted to the Oakervee HS2 Review by Midlands Connect;</em></li>
<li><em>High speed line will take long-distance rail journeys off the existing network, providing capacity for new routes, as well as faster and more frequent local and inter-regional services;</em></li>
<li><em>HS2 will create space for 576,000 extra seats per day on the high speed network, reducing overcrowding on existing lines;</em></li>
<li><em>Released capacity essential to deliver major regional transport plans Midlands Engine Rail and Northern Powerhouse Rail;</em></li>
<li><em>HS2 frees up space for 144 extra freight trains per day, enough to transport over 2.5million more lorries’ worth of cargo on our railways each year.</em></li>
</ul>
<p><strong>HS2 will free up enough space on the existing railway network to improve rail services for 73 stations across the country, technical analysis by Sub-national Transport Body Midlands Connect has revealed for the first time. </strong></p>
<p>The extra capacity provided by the new high speed line will create space on the existing network to introduce faster and more frequent services, reduce crowding and introduce new services between destinations that do no currently have a direct rail link.</p>
<p>Of the 73 locations that could benefit from HS2’s released capacity, 54 are stations not served by HS2 trains.</p>
<p>By moving long-distance traffic from our current rail infrastructure onto the new high speed line, HS2 will create the extra room needed to improve local and inter-regional services.</p>
<p>Meanwhile HS2 trains will be able to carry 576,000 people per day, reducing overcrowding on the existing network.</p>
<p>These benefits will be felt in dozens of villages, towns and cities across the country, including Coventry, Shrewsbury, Leicester, Leamington Spa, Nottingham, Newark, Newcastle and Macclesfield.</p>
<p>HS2’s capacity-releasing effects on the conventional network mean that Coventry will benefit from; new direct connections to and from Derby, Sheffield, York and Newcastle; more frequent services to and from Shrewsbury, Telford, Leamington Spa and along the Coventry-Birmingham commuter corridor; as well as enjoying less crowded trains on existing services to and from London.</p>
<p>Benefits will also spread to stations such as Lincoln, where additional capacity can be deployed to provide more frequent connections to and from Newark, Grantham, Stevenage and London. Passengers travelling to and from Milton Keynes via London, Manchester and the West Midlands will benefit from reduced crowding – these routes regularly offer standing room only, despite commuter passes costing upwards of £5,000 per year.</p>
<p>The increased capacity HS2 frees up on the traditional rail network also has massive implications for the rail freight industry. Space will be created for 144 extra freight trains per day, which could carry over 2.5 million lorries’ worth of cargo each year. Transporting freight by rail rather than on our roads produces 76 per cent less CO2<a name="_ftnref1" href="#_ftn1">[1]</a>.</p>
<p>The benefits of HS2 released capacity have been calculated using the projections outlined in local rail strategies, existing rail models and the Midlands Connect technical programme. It is operationally possible to achieve every single one of the benefits outlined in the analysis through changes to timetabling and services post-HS2.</p>
<p>Over the past twelve years, the number of journeys undertaken by train in the UK has more than doubled<a name="_ftnref2" href="#_ftn2">[2]</a>. Government-sponsored studies suggest alternative upgrades on existing lines such as the West Coast Main Line would require 14 years’ worth of disruptive weekend closures<a name="_ftnref3" href="#_ftn3">[3]</a>, and would prove hugely expensive due to the proximity of existing settlements.</p>
<p>HS2 underpins transformational regional rail plans Midlands Engine Rail and Northern Powerhouse Rail, both of which require the released capacity and new infrastructure it provides. Neither would be wholly technically or financially feasible should HS2 be cancelled.</p>
<p><strong>Sir John Peace, chair of Midlands Connect and Midlands Engine said:</strong></p>
<p>“The benefits of HS2 will be felt by millions of people across the UK, including passengers that never set foot on a high speed train. Regional and local rail services are in desperate need of improvement and it’s time we face facts, without the space and flexibility created by HS2, the transformational change needed is not possible.</p>
<p>“It is the capacity released by the line – not just its speed – that will give the whole network a desperately needed overhaul. We haven’t built a new inter-city railway north of London in a century – piecemeal interventions will do no more than paper over the cracks of an overloaded, tired network. Left unchanged, these deficiencies will stifle growth and prosperity for decades to come. Our message to Government is clear; commit to HS2, commit to the regions you serve and give us a transport network fit for the future.”</p>
<p><strong>Henri Murison, director of the Northern Powerhouse Partnership commented:</strong></p>
<p>“HS2 is not just about speed or getting to London more quickly, it is about bringing the Northern Powerhouse closer to the great cities of the Midlands. It will create more capacity for local services, the same way Northern Powerhouse Rail does for freight and local passengers across the Pennines.</p>
<p>“Connecting Britain will be a major factor in rebalancing the economy – new lines both to the north west from Birmingham and up the eastern side of the UK, will expand labour markets, grow jobs, helping the North and Midlands to become as prosperous and successful as London. New direct links from a city like Coventry to Sheffield, York and Newcastle, by upgrades to the existing network, demonstrate that even those who don’t use an HS2 service will still see the benefits.”</p>
<p><strong>Tom Thackray, CBI Director of Infrastructure, said:</strong></p>
<p>“The business message on HS2 is clear-cut - back it, build it, benefit from it. The first phase of HS2 has already led to record levels of investment in the West Midlands and created thousands of jobs.</p>
<p>“We firmly believe committing to HS2 in full will spur further investment, boost productivity and in turn bring huge benefits to the whole country.”</p>
<p><strong>Darren Caplan, Chief Executive of the Railway Industry Association, said: </strong></p>
<p>“The evidence produced today by Midlands Connect is welcome by the Railway Industry Association. It shows just how transformational HS2 can be to the UK’s connectivity and its ability to significantly free up capacity elsewhere in the UK rail network.</p>
<p>“The scheme will release capacity not just along the HS2 route, but across the entire country, taking high speed intercity traffic off the existing network, and leaving it open for new passenger and freight services. By doing so, HS2 also creates huge levels of investment, boosting jobs and economic growth across the UK, and it ensures we have a modern rail system fit for the future.”</p>
<p><strong>Lindsay Durham, head of rail strategy at Freightliner added: </strong></p>
<p>“Our biggest challenge is success and that means trying to get more capacity to move more trains. Businesses are asking us all the time to move more of their materials by train, they want to reduce their carbon footprint, and actually moving freight by rail uses 76% less carbon compared with the equivalent road movement.”</p>
<p><strong>ENDS</strong></p>
<p>&nbsp;</p>
<p><a name="_ftn1" href="#_ftnref1">[1]</a> DfT Rail Freight Strategy: September 2016.</p>
<p><a name="_ftn2" href="#_ftnref2">[2]</a> <a href="https://dataportal.orr.gov.uk/mc/media/1122/regional-rail-usage-2017-18.pdf">https://dataportal.orr.gov.uk/mc/media/1122/regional-rail-usage-2017-18.pdf</a></p>
<p><a name="_ftn3" href="#_ftnref3">[3]</a> <a href="https://www.theguardian.com/uk-news/2013/oct/27/hs2-weekend-rail-closures-cost-backbench-mps">https://www.theguardian.com/uk-news/2013/oct/27/hs2-weekend-rail-closures-cost-backbench-mps</a></p>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2019-09-26T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>