<?xml version="1.0" encoding="utf-8"?>
<Content Key="5db0f185-cc32-4535-8712-c2413495799d" Alias="Tyrese Wins The Name Game With Operation Bale" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/TyreseWinsTheNameGameWithOperationBale</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="Tyrese Wins The Name Game With Operation Bale" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p><span>Birmingham youngster Tyrese Nelson has left his mark on the buses after winning a competition promoting safer travel.</span></p>
<p><span>The 11-year-old got to name a bus after his baby niece as part of the annual Operation Bale initiative run by the West Midlands Safer Travel Partnership.</span></p>
<p><span>Operation Bale is run every September with the start of the new school year and educates children beginning senior school on how to use and behave on public transport.</span></p>
<p><span>The competition asked youngsters why they thought it was important to behave while using public transport.</span></p>
<p><span>His winning answer was:&nbsp;‘You should behave on buses because they are not your property to damage.&nbsp; You should never distract the drivers or cause them any harm and never harass anyone in general’.</span></p>
<p><span>Tyrese is a pupil at Perry Beeches The Academy (CORR) in Perry Beeches, Birmingham, and named the National Express West Midlands bus ‘Talasia-Rose’ after his two-year-old niece.</span></p>
<p><span>‘Talasia-Rose’ will operate from the Perry Barr bus depot in Birmingham. Tyrese also received £100 in Amazon vouchers.</span></p>
<p><span>Tyrese, who works on his school’s safer travel team, said: &ldquo;I want to be a bus driver when I am older so I’m really pleased to have won.&rdquo;</span></p>
<p><span>Inspector Rachel Crump of the Safer Travel police team said: "Tyrese gave a brilliant answer and his attitude towards how you should use public transport is spot-on, he’s a credit to his family and his school.&rdquo;</span></p>
<p><span>This year’s Operation Bale has seen a 20% reduction in ASB on the same period last year.</span></p>
<p><span>Officers from the Safer Travel Partnership met with youngsters at bus stations and interchanges across the West Midlands and visited more than 50 schools between September 9 and 16.</span></p>
<p><span>They also went on buses with pupils to advise on staying safe whilst travelling, what to do if they do get into difficulties, and highlighting the impact anti-social behaviour (ASB) can have on other passengers.</span></p>
<p><span>Three plain clothed operations were held both on bus/tram services and within the bus stations in an attempt to identify students behaving inappropriately.</span></p>
<p><span>Cycle surgeries were also carried out at train stations delivering crime prevention advice to new students.</span></p>
<p><span>The team encouraged youngsters and other passengers to use the See Something Say Something service to report ASB anonymously on the bus network.</span></p>
<p><span>Passengers can text 'bus' followed by a space and then details of the incident including time, date, location and route number to 83010.</span></p>
<p><span>The information sent can help police pinpoint nuisance behaviour hotspots, carry out undercover operations and assist the Partnership's dedicated ASB team in identifying trouble makers to take appropriate action.</span></p>
<p><span>Where perpetrators are identified ASB officers take appropriate action, often in conjunction with a school and parents.</span></p>
<p><span>This can an include payback or reparation for their behaviour in the form of cleaning buses and other work via the Restorative Justice scheme.</span></p>
<p><span><img style="width: 500px; height:333.4714167357084px;" src="/media/st/media/1060/bale-winner-and-rachel-2.jpg?width=500&amp;height=333.4714167357084" alt="" data-udi="umb://media/st/media/30d2eb13fa454e02b7a9e0e0745a729d"></span></p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>