<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9091bcf-b2d3-48a7-ac29-d2476d7affa6" Alias="Union Connectivity Review: Boosting Shropshire-Wales connections raised with government" Level="3">
  <Info>
    <Parent Key="9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f">News</Parent>
    <Path>/MidlandsConnect/News/UnionConnectivityReviewBoostingShropshireWalesConnectionsRaisedWithGovernment</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticleMidlandsConnect</ContentType>
    <CreateDate>2021-01-20T00:00:00</CreateDate>
    <NodeName Default="Union Connectivity Review: Boosting Shropshire-Wales connections raised with government" />
    <SortOrder>81</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c676a606-d74a-42d6-964f-0504bdc8fb82">LegacyNewsArticle1</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[
            <div class="wrapper">
<div class="news-details">
<div class="body">
<p><strong>A call for greater cross-border connectivity between Wales and England was ‘heard in the heart of Whitehall’ about the Union Connectivity Review.</strong></p>
<p>North Shropshire MP Owen Paterson, Councillor Steve Davenport, cabinet member for highways at Shropshire Council, and Midlands Connect director Maria Machancoses joined Sir Peter Hendy CBE, chair of the Union Connectivity Review, to discuss the review with Department for Transport officials.</p>
<p>The Union Connectivity Review will make recommendations on how the UK government can level up transport infrastructure and improve connectivity between Scotland, Wales, Northern Ireland and England, boosting access to opportunities and improving people’s everyday connections.</p>
<p>The roundtable focused on strategic road and rail improvements that would alleviate the issues that affect cross-border journeys between Wales and England. Previous studies including the Midlands Connect/ Shropshire Council&nbsp;<em>‘Cross Border Strategy’ (2019)&nbsp;</em>and The Marches Local Enterprise Partnership (LEP)<em>&nbsp;Strategic Transport Corridors in the Marches Report (2016)</em>&nbsp;have highlighted the lengthy journey times and significant safety concerns that have negatively impacted on the wellbeing of both urban and rural cross-border communities.</p>
<p>Upgrades to the existing network would also support the freight and logistics sector. The current routes to the Port of Holyhead in Wales, a strategic international gateway serving the UK, Ireland and wider Europe, struggle with the current levels of traffic. At present, connectivity west of the M54 motorway and A5 dual carriageway at Shrewsbury is hindered by a single-carriageway route, running between the A5 Shrewsbury bypass and the A483.</p>
<p><strong>Commenting on the roundtable, MP for North Shropshire Owen Paterson said:</strong></p>
<p>“The Government's proposal to improve connectivity between the regions of the UK with a network of key strategic roads similar to the European TEN model is a really good initiative which I totally support.</p>
<p>“The A5 links the Republic of Ireland, the industrial areas of North Wales, North West England and Merseyside with the West Midlands with the South and Eastern and Channel ports to Europe.</p>
<p>“It is a key strategic road which is totally inadequate. We had a good meeting with Sir Peter Hendy CBE and agreed to write to him strongly the supporting this initiative.”</p>
<p><strong>Commenting further, Director of Midlands Connect Maria Machancoses added:</strong></p>
<p>“The Midlands is at the heart of the UK and our recommendations to the Union Connectivity Review highlight the critical transport routes that require funding. In the last five years, we have worked with our partners to make the case for greater cross-border connectivity, unlocking the economic potential of the Midlands and the UK.</p>
<p>“The evidence we have shared is backed by our region’s political and business leaders. With a focus on improving infrastructure as part of the Government’s ‘build back better’ ambition, we want the review to consider our recommendations for delivery as quickly as possible.</p>
<p>“The discussions with the Sir Peter Hendy were positive and we look forward to continuing our engagement with his officials and the Department for Transport.”</p>
<p><strong>Ends</strong></p>
</div>
<div class="contacts">
<h2>Contact Information</h2>
<div class="contact-info">
<p><strong>Paul Butters<br></strong> <a href="mailto:paulbutters@midlandsconnect.uk">paulbutters@midlandsconnect.uk</a></p>
</div>
</div>
<div class="editor-notes">
<h2>Notes to editors</h2>
<p><strong>Notes to editors -&nbsp;</strong>Midlands Connect’s submission to the Union Connectivity Review, delivered before Christmas, made the case for cross-border connections and other series of investment priorities that they believe will help to support UK connectivity further through the delivery of key initiatives. These include:&nbsp;</p>
<ul>
<li><strong>HS2&nbsp;</strong>– completion of the full high-speed network will improve connectivity to Scotland, provide a low carbon alternative to domestic air travel and release capacity on existing lines such as the East Coast mainline to further enhance connectivity from the Midlands to Scotland, the North and London.</li>
<li><strong>Midlands Engine Rail&nbsp;</strong>– our plans for the Midlands Rail Hub will improve connectivity across the Midlands but specific relevance to this consultation is the benefit of connecting the professional services sectors of South Wales and the Midlands by enhanced rail services.</li>
<li><strong>Access to Airports&nbsp;</strong>– our range of strategic highway and rail schemes will improve surface access to our international gateways at Birmingham and East Midlands Airports and the onward domestic connectivity they offer. This improved access to East Midlands is key to both the region and the nation due to its role in the freight sector.</li>
<li><strong>Supporting Freight across the UK&nbsp;</strong>– Connecting our international gateways including the Humber ports and facilitating the growth of economic sectors across the nations of the UK through fast and efficient freight connectivity will require investment in the Midlands. Freeports will boost the activity in these areas and we fully support their development. Key to the development of a successful freight network is the development of our corridors including the A50/500, A46 and A5.</li>
</ul>
<p>Midlands Connect’s submission has also called for bringing non-motorway sections of the road up to a better standard will improve average journey times, perhaps more significantly, it would also reduce journey time variability. By investing in this section of the A1 corridor and providing a high-quality route, the A1 could provide improved connectivity to international markets through the Humber ports; a reliable strategic corridor connecting the north and south; and improved strategic links into cross country routes like the A46 and A606.</p>
<p>For details about the Union Connectivity Review please find them here:&nbsp;<a href="https://www.gov.uk/government/consultations/union-connectivity-review-call-for-evidence">https://www.gov.uk/government/consultations/union-connectivity-review-call-for-evidence</a></p>
</div>
<div class="boilerplate">
<div class="boilerplate">
<h3>About Midlands Connect</h3>
<p><strong>Midlands Connect is the transport partner of the Midlands Engine, and the Midlands’ Sub-national Transport Body.</strong></p>
<p>Midlands Connect researches, develops and champions long-term transport projects which will provide the biggest possible economic, social and environmental benefits for the Midlands and the rest of the UK.</p>
<p>We examine every option for improving major transport infrastructure in our region. The fundamental aim of these improvements is to transform regional and UK gateways, bringing the Midlands closer together and accelerating cost-effective improvements to unlock east-west connectivity that will enable the Midlands’ economies to work more effectively together.</p>
<p>Our 25-year transport strategy for the region has the potential to add £5 billion a year to the UK economy, contributing to the Midlands Engine vision of creating 300,000 additional jobs by 2030 and growing the economy by £54 billion.</p>
<p>Our partnership is made up of 22 local authorities, nine Local Enterprise Partnerships, East Midlands and Birmingham airports, and chambers of commerce stretching from the Welsh border to the Lincolnshire coast. The partnership also includes the Department for Transport, Network Rail, Highways England and HS2 Ltd, who we work alongside to drive an unprecedented level of collaboration for the good of the Midlands and the UK.</p>
<p>The Midlands Connect Strategy, as well as its latest reports, can be downloaded here: <a href="/publications/">https://www.midlandsconnect.uk/publications/</a></p>
<p>The Midlands Engine Vision for Growth can be downloaded here: <a href="https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf">https://www.midlandsengine.org/wp-content/uploads/Midlands-Engine-Vision-for-Growth.pdf</a></p>
</div>
</div>
</div>
</div>
]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2021-01-20T00:00:00]]></Value>
    </date>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <imageAlternativeText>
      <Value><![CDATA[]]></Value>
    </imageAlternativeText>
    <introduction>
      <Value><![CDATA[
            
]]></Value>
    </introduction>
    <tags>
      <Value><![CDATA[[
  "News"
]]]></Value>
    </tags>
  </Properties>
</Content>