<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed39fdb0-5483-44f4-8795-a675d3051492" Alias="&quot;We’re Very Lucky To Have Special People Like You Come To Our School&quot;" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/WeReVeryLuckyToHaveSpecialPeopleLikeYouComeToOurSchool</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="&quot;We’re Very Lucky To Have Special People Like You Come To Our School&quot;" />
    <SortOrder>73</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">

    <div class="umb-grid">
                <div class="grid-section">
    <div>
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>Safer Travel attended an Aspire to Shine workshop at Henley Green Primary School in Coventry. The workshop was designed to give Year 6 students the opportunity to meet professionals from a variety of industries.&nbsp;</p>
<p>Two Safer Travel PCs and Education Officer Paula Shortland attended, and it’s safe to say that Safer Travel Police were a hit!</p>
<p>The pupils tried on some standard Police Officer uniform along with a variety of riot gear. They also got to grips with handcuffs and learned about the specialist kit officers carry with them every day.</p>
<p>Following the workshop on 18 June, Safer Travel PC Chris Milburn received a big thank you following the visit.</p>



                            
    
    <img src="/media/st/media/1088/henley-green-letter.jpg">


                            
    



                            
    

<p>The letter said:</p>
<p>"Dear Mr Milburn,</p>
<p>I am writing to say thank you so much for coming to Henley Green Primary School last Tuesday. We, especially I, appreciated it. We were very lucky to have special people like you come into our school. The minute I saw you I thought I would not be interested but when I tried on the outfits and the handcuffs (that I can slip out of!) I thought that this job might be fun. I am a fast runner but not the fastest.</p>
<p>I play cops and robbers with my friends (I am always the cop!). Despite always wanting to be a street dancer or a cook, you guys inspired me to be a Crime Review Officer. I think it would be fun.&nbsp;</p>
<p>Thank you again and hopefully one day I could be a Crime Review Officer."</p>

<p>Hopefully this pupil will be a future recruit of WMP!</p>
<p>If you'd like to speak to our Education Officer about a visit to your school or college, get in touch with Paula on p.shortland@west-midlands.pnn.police.uk</p>


                            
    
    <img src="/media/st/media/1089/hg-1.jpg">


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>


                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>