<?xml version="1.0" encoding="utf-8"?>
<Content Key="72c15a5e-ab5e-4491-ae3d-a8d844c7da09" Alias="West Midlands Safer Travel Restorative Justice Scheme Goes From Strength To Strength" Level="3">
  <Info>
    <Parent Key="db564fde-aaca-4039-8fdf-9f58a7543cff">News</Parent>
    <Path>/SaferTravel/News/WestMidlandsSaferTravelRestorativeJusticeSchemeGoesFromStrengthToStrength</Path>
    <Trashed>false</Trashed>
    <ContentType>legacyNewsArticle</ContentType>
    <CreateDate>2023-08-22T00:00:00</CreateDate>
    <NodeName Default="West Midlands Safer Travel Restorative Justice Scheme Goes From Strength To Strength" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f076067-6d77-4efe-8f90-865d31c246a5">LegacyNewsArticle</Template>
  </Info>
  <Properties>
    <copy>
      <Value><![CDATA[<div class="main">
<p><span>A scheme which tackles anti-social behaviour (ASB) such as vandalism by young people on public transport across the West Midlands has celebrated another successful year.</span></p>
<p><span>The Restorative Justice programme run by the West Midlands Safer Travel Partnership encourages young people to recognise, understand and pay back for what they have done rather than prosecuting them.</span></p>
<p><span>The scheme currently receives funding from the Office of the Police and Crime Commissioner for the West Midlands.</span></p>
<p><span>Since 2016, 46 young people aged between 10-18 years completed the programme. This means a total of 78 since the project first started as a pilot in 2014 in conjunction with Birmingham City Council’s Youth Offending service.</span></p>
<p><span>None of those attending the programme have since re-offended on public transport and only four have re-offended elsewhere.</span></p>
<p><span>Insp Rachel Crump of West Midlands Police’s Safer Travel team said: &ldquo;A five per cent re-offending rate demonstrates how effective the Restorative Justice programme really is.</span></p>
<p><span>&nbsp;</span><span>&ldquo;These sessions are an effective way of making these young people understand how their behaviour was not acceptable and that the ASB team are targeting the right individuals to work with.</span></p>
<p><span>&nbsp;</span><span>&ldquo;It is also very cost effective, saving the criminal justice system an estimated £9 for every £1 spent on the programme.&rdquo;</span></p>
<p><span>&nbsp;</span><span>The re-offending rate so far of five per cent compares favourably with the national average for young people of around 32%.</span></p>
<p><span>&nbsp;</span><span>Youngsters caught committing ASB are assessed by Safer Travel officers to see if they are suitable to join the programme.</span></p>
<p><span>&nbsp;</span><span>If selected, they take part in activities such as intensive cleaning of buses and talk to bus company staff, who tell them about the effect their ASB can have on workers and other passengers.</span></p>
<p><span>&nbsp;</span><span>The Safer Travel Partnership is a collaboration between Transport for West Midlands, part of the West Midlands Combined Authority (WMCA), British Transport Police, West Midlands Police and transport operators.</span></p>
<p><span>&nbsp;I</span><span>t works to reassure the travelling public and reduce crime and anti-social behaviour on the public transport network. </span></p>
<p><span>&nbsp;</span><span>Cllr Judith Rowley, lead member for safe and sustainable travel for the WMCA’s transport delivery committee, said: &ldquo;The Restorative Justice programme is an excellent way for young people to put right the damage they have caused and at the same time learn from their mistakes without having to be taken to court.</span></p>
<p><span>&nbsp;</span><span>&ldquo;These figures show the programme is an innovative and very effective way of tackling behaviour such as this and I am delighted to see it is proving its worth.</span></p>
<p><span>&nbsp;P</span><span>eter Coates, managing director of National Express West Midlands, said: "The Safer Travel Partnership's Restorative Justice scheme goes from strength to strength and is a great way to get young people who vandalise our buses to pay back for the damage they've done. </span></p>
<p><span>&ldquo;It shows them the effect their anti-social behaviour has on other people and also gives them a chance to make amends while staying out of the criminal justice system."</span></p>                    </div>]]></Value>
    </copy>
    <date>
      <Value><![CDATA[2023-08-22T00:00:00]]></Value>
    </date>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
  </Properties>
</Content>