<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54be9c31-9b50-4b4c-98cb-4a24ee4d818f" Alias="publications" Level="3">
  <Info>
    <Name>Publications</Name>
    <Icon>icon-forms-file-pdf color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sites/Midlands+Connect</Folder>
    <Compositions />
    <DefaultTemplate>Publications</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f0299d2c-9482-436b-ad1b-0990125cf1d7">Publications</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="eb746012-e447-43b2-947c-84fb777cb963" SortOrder="0">publication</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>