<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c5786cc-7daa-4f11-9b09-9cec83a12831" Alias="[Block Grid] Homepage (MC)" Level="3">
  <Info>
    <Name>[Block Grid] Homepage (MC)</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Grid/Midlands+Connect</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 4
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockGridEditor.DefaultCustomViews/safertravel/contentCard.html",
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "2879c7df-944d-41a0-8707-92fd333098f3"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 12,
      "areas": [
        {
          "key": "0e241478-78b6-40ad-81b4-79c621909620",
          "alias": "Content Cards",
          "createLabel": null,
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 1,
          "maxAllowed": 3,
          "specifiedAllowance": [
            {
              "elementTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
              "groupKey": null,
              "minAllowed": 1,
              "maxAllowed": 3
            }
          ]
        }
      ],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f16dc7da-30b7-4cab-ac6d-7c01fcc5f566",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "2d10a368-11d6-41a8-9316-2459be5ebb56"
    }
  ],
  "BlockGroups": [
    {
      "key": "2d10a368-11d6-41a8-9316-2459be5ebb56",
      "name": "Layouts"
    },
    {
      "key": "2879c7df-944d-41a0-8707-92fd333098f3",
      "name": "Components"
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": 1
  },
  "UseLiveEditing": false,
  "MaxPropertyWidth": "100%",
  "GridColumns": null,
  "LayoutStylesheet": null,
  "CreateLabel": null
}]]></Config>
</DataType>