<?xml version="1.0" encoding="utf-8"?>
<DataType Key="310acba9-1349-46f7-8079-08bdf7c55e82" Alias="[Block Grid] Home Page" Level="3">
  <Info>
    <Name>[Block Grid] Home Page</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Grid/Shared</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 3,
      "areas": [
        {
          "key": "0941ec01-f42e-48a9-9864-c411d1bc7584",
          "alias": "Main",
          "createLabel": null,
          "columnSpan": 2,
          "rowSpan": 1,
          "minAllowed": 1,
          "maxAllowed": null,
          "specifiedAllowance": [
            {
              "elementTypeKey": null,
              "groupKey": "973d1e7c-a7d8-433d-b6c0-6d019927c6be",
              "minAllowed": null,
              "maxAllowed": null
            },
            {
              "elementTypeKey": "f16dc7da-30b7-4cab-ac6d-7c01fcc5f566",
              "groupKey": null,
              "minAllowed": null,
              "maxAllowed": null
            }
          ]
        },
        {
          "key": "5745f18c-c659-4a3e-ac87-b47dd25a5662",
          "alias": "Right",
          "createLabel": null,
          "columnSpan": 1,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null,
          "specifiedAllowance": [
            {
              "elementTypeKey": "88406586-787f-4942-9998-f36b056b1089",
              "groupKey": null,
              "minAllowed": 0,
              "maxAllowed": 1
            }
          ]
        }
      ],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "caf65d1d-0168-4152-8a01-f1da2f914b2a",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockGridEditor.DefaultCustomViews/rightSidebarGridBlock.html",
      "stylesheet": null,
      "label": "Page with right sidebar",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0c75e249-a329-4cf8-ac47-98c4f43dd43f"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "bb963f8a-f611-4180-ad56-a3c8f122a64d",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockGridEditor.DefaultCustomViews/contentGridBlock.html",
      "stylesheet": null,
      "label": "Content  ({{richText | ncRichText | truncate:true:36}})",
      "editorSize": "large",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "973d1e7c-a7d8-433d-b6c0-6d019927c6be"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "22cef1cd-4505-4d28-8014-8052036419b6",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockGridEditor.DefaultCustomViews/imageGridBlock.html",
      "stylesheet": null,
      "label": "Image",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "973d1e7c-a7d8-433d-b6c0-6d019927c6be"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "25b87395-cb8c-4120-a01c-8a8fc3c946bd",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockGridEditor.DefaultCustomViews/threeImagesGridBlock.html",
      "stylesheet": null,
      "label": "Row of 3 images",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "973d1e7c-a7d8-433d-b6c0-6d019927c6be"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 6
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 12,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockGridEditor.DefaultCustomViews/safertravel/contentCard.html",
      "stylesheet": null,
      "label": "{{copy | truncate:true:36}}",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "973d1e7c-a7d8-433d-b6c0-6d019927c6be"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": 3,
      "areas": [
        {
          "key": "e6027f5a-2089-4483-8ac1-f2af432e42f6",
          "alias": "Content Cards",
          "createLabel": null,
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 1,
          "maxAllowed": null,
          "specifiedAllowance": [
            {
              "elementTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
              "groupKey": null,
              "minAllowed": null,
              "maxAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f16dc7da-30b7-4cab-ac6d-7c01fcc5f566",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Content Cards Section",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0c75e249-a329-4cf8-ac47-98c4f43dd43f"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "88406586-787f-4942-9998-f36b056b1089",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockGridEditor.DefaultCustomViews/shared/relatedLinksGridBlock.html",
      "stylesheet": null,
      "label": "Related Links",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "8ad06055-66fe-4283-913d-d5822144aa3f"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "c7c0a355-010d-4ff5-be1d-e223b2766b61",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockGridEditor.DefaultCustomViews/shared/pageContentsGridBlock.html",
      "stylesheet": null,
      "label": "Page Contents",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "8ad06055-66fe-4283-913d-d5822144aa3f"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "0e036bae-9e85-4f47-80b7-2513b3e299f7",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockGridEditor.DefaultCustomViews/shared/videoGridBlock.html",
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "973d1e7c-a7d8-433d-b6c0-6d019927c6be"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 3
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": 3,
      "areas": [
        {
          "key": "7a962a14-8990-4514-bd22-8562737a32f1",
          "alias": "Accordions",
          "createLabel": null,
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null,
          "specifiedAllowance": [
            {
              "elementTypeKey": "4d9a794f-5bf1-489e-b736-a96373d1c25d",
              "groupKey": null,
              "minAllowed": null,
              "maxAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "d7edde0c-d22b-45c6-bf01-be0a9788bad3",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0c75e249-a329-4cf8-ac47-98c4f43dd43f"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "4d9a794f-5bf1-489e-b736-a96373d1c25d",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "973d1e7c-a7d8-433d-b6c0-6d019927c6be"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "97ddef84-6b73-4b4a-9749-bc529e34c395",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockGridEditor.DefaultCustomViews/shared/fileDownloadGridBlock.html",
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "973d1e7c-a7d8-433d-b6c0-6d019927c6be"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "794222f9-4840-4742-85e4-824fe89f90b5",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/BlockGridEditor.DefaultCustomViews/shared/insetTextGridBlock.html",
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "973d1e7c-a7d8-433d-b6c0-6d019927c6be"
    }
  ],
  "BlockGroups": [
    {
      "key": "0c75e249-a329-4cf8-ac47-98c4f43dd43f",
      "name": "Layouts"
    },
    {
      "key": "973d1e7c-a7d8-433d-b6c0-6d019927c6be",
      "name": "Components"
    },
    {
      "key": "8ad06055-66fe-4283-913d-d5822144aa3f",
      "name": "Sidebar components"
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": 1
  },
  "UseLiveEditing": false,
  "MaxPropertyWidth": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "CreateLabel": null
}]]></Config>
</DataType>