<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58ee8aef-4f17-4418-a5eb-6e8c0f04ba89" Alias="Blog Article - Sidebar" Level="1">
  <Info>
    <Name>Blog Article - Sidebar</Name>
    <EditorAlias>Limbo.Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "9ef83c89-ee0a-4a79-87c8-05ee0a0910f5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CacheLevel": null,
  "IsSinglePicker": false,
  "MaxPropertyWidth": null,
  "TypeConverter": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>