<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bffa5350-eacf-4eb2-9791-4ac1358de0e1" Alias="[Content Picker] -  Form Picker" Level="1">
  <Info>
    <Name>[Content Picker] -  Form Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": true,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/eb290aafb5aa4b12a53ba535ee615f69"
}]]></Config>
</DataType>