<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee86e0bf-6acd-44f1-ab12-0e74eb2a03a1" Alias="[Dropdown] - Image Position" Level="1">
  <Info>
    <Name>[Dropdown] - Image Position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Top"
    },
    {
      "id": 4,
      "value": "Right"
    },
    {
      "id": 3,
      "value": "Bottom"
    },
    {
      "id": 5,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Center"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>