<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a465c437-6a54-4493-8030-32f5cfa23923" Alias="DS Icons" Level="2">
  <Info>
    <Name>DS Icons</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Icon+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>