<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01177b4b-c9de-4cdc-8c13-7f2ffc4652c0" Alias="Homepage - Block Grid" Level="1">
  <Info>
    <Name>Homepage - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f16dc7da-30b7-4cab-ac6d-7c01fcc5f566",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": null
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "2741af3d-87cf-4377-9df7-4b28f1225a1d",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "230c4d89-0384-47bf-bbaa-145b436ca12f"
    }
  ],
  "BlockGroups": [
    {
      "key": "230c4d89-0384-47bf-bbaa-145b436ca12f",
      "name": "Unnamed group"
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "MaxPropertyWidth": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "CreateLabel": null
}]]></Config>
</DataType>