<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bcb483a-ff20-4be3-8f39-3c6d8c4f4e90" Alias="Material Icons" Level="2">
  <Info>
    <Name>Material Icons</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Icon+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>