<?xml version="1.0" encoding="utf-8"?>
<DataType Key="859e31ff-2e2d-4101-a76f-aea78fc2a8d9" Alias="Multi URL Picker - 1 Link" Level="2">
  <Info>
    <Name>Multi URL Picker - 1 Link</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Multi+URL+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>