<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5182ff35-8257-43ce-a965-37ceeddd5eb3" Alias="News Article - Thumbnail - Media Picker" Level="1">
  <Info>
    <Name>News Article - Thumbnail - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/4dd44f767774486188ef8d0e9242fad5",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>