<?xml version="1.0" encoding="utf-8"?>
<DataType Key="badfe825-eaf4-4ed7-bcf7-35a187ef406d" Alias="Rich Text Editor - Links" Level="1">
  <Info>
    <Name>Rich Text Editor - Links</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": null,
  "Editor": {
    "toolbar": [
      "bold",
      "link",
      "unlink"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>