<?xml version="1.0" encoding="utf-8"?>
<DataType Key="851caf2e-bbda-4f18-a2cc-aee39773c57c" Alias="[Rich Text Editor] Copy Only" Level="1">
  <Info>
    <Name>[Rich Text Editor] Copy Only</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "styles",
      "bold",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>