<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53861d2c-512d-4e60-9025-c2666d4cd701" Alias="Rich Text Editor - Source" Level="1">
  <Info>
    <Name>Rich Text Editor - Source</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>