<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ed7f8ac-ca16-4702-905f-628504d89b87" Alias="[Tags] News (MC)" Level="3">
  <Info>
    <Name>[Tags] News (MC)</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Tags/Midlands+Connect</Folder>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "newsMc",
  "StorageType": 1
}]]></Config>
</DataType>