<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a26bf11-1732-4962-87c8-28a96b926ed9" Alias="Tags - Blog" Level="2">
  <Info>
    <Name>Tags - Blog</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Tags</Folder>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "blog",
  "StorageType": 1
}]]></Config>
</DataType>